### 최종

In [ ]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime

# display option (float 자리수)
pd.options.display.float_format = lambda x: f'{x:.4f}'


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# PNU별 매출액
sql = '''
with date as (
  select '202209' as base_ym
)
select substring(A.bd_mgt_sn, 1, 19) as pnu, substring(A.bd_mgt_sn, 1, 10), A.ftc_cate2_cd, round(A.pred_slng_amt/D.income, 4) as sales_per_income
from (    -- 건물당 매출액, 업종코드
	select *
	from m1.kt_bldg_sales
	where base_ym = (select base_ym from date)
	and pred_slng_amt notnull
	and pred_slng_amt > 0
) A
join (    -- 반경 500m 설정
	select *
	from m1.pnu
) B
	on ST_DWithin(B.poly::geometry, B.poly::geometry, 500)
join (    -- 실제 건물 여부 확인
	select distinct sigungu_cd||bjdong_cd||case when plat_gb_cd = '0' then '1' else plat_gb_cd end||bun||ji as pnu
	from m1.bld_rgst
	where base_ym = (select base_ym from date)
) C
	on substring(A.bd_mgt_sn, 1, 19) = C.pnu
join (    -- PNU별 소득
	select pnu, (emd_mon_income * pnu_pop_cnt) as income
	from m2.live_pop
	where base_ym = (select base_ym from date)
) D
	on substring(A.bd_mgt_sn, 1, 19) = D.pnu
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df = pd.DataFrame(rows)
df.columns = ['pnu','emd_cd','industry_cd','sales_per_income']

# 작업일(업데이트일) 및 작업자 추가
df['create_at'] = datetime.today().strftime("%Y-%m-%d")
df['update_at'] = datetime.today().strftime("%Y-%m-%d")
df['work_user'] = 'du.Park'

In [ ]:
### 2. DB INSERT
import datetime

table = 'm2.datadam_sales_per_income'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

In [ ]:
df