In [1]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime

# display option (float 자리수)
pd.options.display.float_format = lambda x: f'{x:.4f}'


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# PNU별 평당 분양가
sql = '''
select pnu, substring(pnu,1,10) as emd_cd, (min_price_1 + max_price_1)/2 as price 
  from m2.cremao_price
 where base_ym = '202208'
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df = pd.DataFrame(rows)
df.columns = ['pnu','emd_cd','price']

# 작업일 및 업데이트일, 작업자 추가
df['create_at'] = datetime.today().strftime("%Y-%m-%d")
df['update_at'] = datetime.today().strftime("%Y-%m-%d")
df['work_user'] = 'du.Park'


### 2. DB INSERT
import datetime

table = 'm2.datadam_price'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-11-09 18:05:49.005641  :  0
2022-11-09 18:05:50.602277  :  10000
2022-11-09 18:05:52.323404  :  20000
2022-11-09 18:05:53.893834  :  30000
2022-11-09 18:05:55.469178  :  40000
2022-11-09 18:05:57.473055  :  50000
2022-11-09 18:05:59.359680  :  60000
2022-11-09 18:06:01.427026  :  70000
2022-11-09 18:06:03.488304  :  80000
2022-11-09 18:06:05.160326  :  90000
2022-11-09 18:06:06.735483  :  100000
2022-11-09 18:06:08.320187  :  110000
2022-11-09 18:06:10.233300  :  120000
2022-11-09 18:06:12.018628  :  130000
2022-11-09 18:06:13.885892  :  140000
2022-11-09 18:06:15.473286  :  150000
2022-11-09 18:06:17.063137  :  160000
2022-11-09 18:06:18.714315  :  170000
2022-11-09 18:06:20.505460  :  180000
2022-11-09 18:06:22.269091  :  190000
2022-11-09 18:06:24.312432  :  200000
2022-11-09 18:06:25.992954  :  210000
2022-11-09 18:06:27.729133  :  220000
2022-11-09 18:06:29.557434  :  230000
2022-11-09 18:06:31.283013  :  240000
2022-11-09 18:06:33.224047  :  250000
2022-11-09 18:06:34.866221  :  260000
2022-11-09 18:06:36.469831  :  270000
2022-11-09 18:06:38.238601  :  280000
2022-11-09 18:06:39.800706  :  290000
2022-11-09 18:06:41.813333  :  300000
2022-11-09 18:06:43.764951  :  310000
2022-11-09 18:06:45.534289  :  320000
2022-11-09 18:06:47.327753  :  330000
2022-11-09 18:06:49.050131  :  340000
2022-11-09 18:06:50.708253  :  350000
2022-11-09 18:06:52.303133  :  360000
2022-11-09 18:06:53.918227  :  370000
2022-11-09 18:06:55.692182  :  380000
2022-11-09 18:06:57.221931  :  390000
2022-11-09 18:06:58.888137  :  400000
2022-11-09 18:07:01.077915  :  410000
2022-11-09 18:07:04.617283  :  420000
2022-11-09 18:07:06.263099  :  430000
2022-11-09 18:07:07.948955  :  440000
2022-11-09 18:07:09.952263  :  450000
2022-11-09 18:07:11.664485  :  460000
2022-11-09 18:07:13.569404  :  470000
2022-11-09 18:07:15.178494  :  480000
2022-11-09 18:07:16.801258  :  490000
2022-11-09 18:07:18.961919  :  500000
2022-11-09 18:07:20.769375  :  510000
2022-11-09 18:07:22.708446  :  520000
2022-11-09 18:07:24.709449  :  530000
2022-11-09 18:07:26.280114  :  540000
2022-11-09 18:07:27.858399  :  550000
2022-11-09 18:07:29.932456  :  560000
2022-11-09 18:07:31.456325  :  570000
2022-11-09 18:07:33.026786  :  580000
2022-11-09 18:07:35.046181  :  590000
2022-11-09 18:07:36.652574  :  600000
2022-11-09 18:07:38.210164  :  610000
2022-11-09 18:07:39.901022  :  620000
2022-11-09 18:07:42.124422  :  630000
2022-11-09 18:07:43.835662  :  640000
2022-11-09 18:07:45.503585  :  650000
2022-11-09 18:07:47.233599  :  660000
2022-11-09 18:07:48.918850  :  670000
2022-11-09 18:07:50.694527  :  680000
2022-11-09 18:07:52.279596  :  690000
2022-11-09 18:07:53.849741  :  700000
2022-11-09 18:07:55.749546  :  710000
2022-11-09 18:07:57.646970  :  720000
2022-11-09 18:07:59.146248  :  730000
2022-11-09 18:08:00.779997  :  740000
2022-11-09 18:08:02.583430  :  750000
2022-11-09 18:08:04.183041  :  760000
2022-11-09 18:08:05.772330  :  770000
2022-11-09 18:08:07.639206  :  780000
2022-11-09 18:08:09.101346  :  790000
2022-11-09 18:08:10.681715  :  800000
2022-11-09 18:08:12.310081  :  810000
2022-11-09 18:08:14.278010  :  820000
2022-11-09 18:08:16.335207  :  830000
2022-11-09 18:08:17.937579  :  840000
2022-11-09 18:08:20.097471  :  850000
2022-11-09 18:08:21.745167  :  860000
2022-11-09 18:08:23.382440  :  870000
2022-11-09 18:08:25.041495  :  880000
2022-11-09 18:08:26.744600  :  890000
2022-11-09 18:08:28.528349  :  900000
2022-11-09 18:08:30.748198  :  910000
2022-11-09 18:08:32.599382  :  920000
2022-11-09 18:08:34.142943  :  930000
2022-11-09 18:08:36.023012  :  940000
2022-11-09 18:08:37.693781  :  950000
2022-11-09 18:08:39.229217  :  960000
2022-11-09 18:08:41.182053  :  970000
2022-11-09 18:08:42.865528  :  980000
2022-11-09 18:08:44.599751  :  990000
2022-11-09 18:08:46.287071  :  1000000
2022-11-09 18:08:48.077158  :  1010000
2022-11-09 18:08:49.878729  :  1020000
2022-11-09 18:08:51.529384  :  1030000
2022-11-09 18:08:53.033418  :  1040000
2022-11-09 18:08:54.660558  :  1050000
2022-11-09 18:08:56.771664  :  1060000
2022-11-09 18:08:58.345781  :  1070000
2022-11-09 18:09:00.384369  :  1080000
2022-11-09 18:09:04.554783  :  1090000
2022-11-09 18:09:06.083188  :  1100000
2022-11-09 18:09:07.761711  :  1110000
2022-11-09 18:09:09.401202  :  1120000
2022-11-09 18:09:11.010648  :  1130000
2022-11-09 18:09:12.627358  :  1140000
2022-11-09 18:09:14.393109  :  1150000
2022-11-09 18:09:16.142045  :  1160000
2022-11-09 18:09:17.864320  :  1170000
2022-11-09 18:09:19.872704  :  1180000
2022-11-09 18:09:21.417737  :  1190000
2022-11-09 18:09:23.033041  :  1200000
2022-11-09 18:09:25.060781  :  1210000
2022-11-09 18:09:26.931282  :  1220000
2022-11-09 18:09:28.540854  :  1230000
2022-11-09 18:09:30.175692  :  1240000
2022-11-09 18:09:31.785981  :  1250000
2022-11-09 18:09:33.501739  :  1260000
2022-11-09 18:09:35.589580  :  1270000
2022-11-09 18:09:37.193408  :  1280000
2022-11-09 18:09:39.358016  :  1290000
2022-11-09 18:09:41.112334  :  1300000
2022-11-09 18:09:43.191802  :  1310000
2022-11-09 18:09:44.746811  :  1320000
2022-11-09 18:09:46.833817  :  1330000
2022-11-09 18:09:47.869692  :  1340000
1343443

In [2]:
df

,pnu,emd_cd,price,create_at,update_at,work_user
0,1111011600100320001,1111011600,170841799.5678,2022-11-09,2022-11-09,du.Park
1,1111011600100600000,1111011600,149032889.7790,2022-11-09,2022-11-09,du.Park
2,1111011600100950001,1111011600,176084657.3915,2022-11-09,2022-11-09,du.Park
3,1111011600101100001,1111011600,179274800.2062,2022-11-09,2022-11-09,du.Park
4,1111011600101480003,1111011600,173401867.9081,2022-11-09,2022-11-09,du.Park
...,...,...,...,...,...,...
1343438,5013032022103550005,5013032022,105384253.6414,2022-11-09,2022-11-09,du.Park
1343439,5013032022103570001,5013032022,97070546.8239,2022-11-09,2022-11-09,du.Park
1343440,5013032022104610004,5013032022,112045670.0223,2022-11-09,2022-11-09,du.Park
1343441,5013032022104610007,5013032022,101290751.3812,2022-11-09,2022-11-09,du.Park
1343442,5013032022105550001,5013032022,104503135.9288,2022-11-09,2022-11-09,du.Park

In [3]:
df['price'].mean()

31791746.817458145