In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import datetime
import numpy as np
from urllib.parse import quote

# 개발서버
# 'mysql+pymysql://root:'+'ktbigdata1234!!'+'@rvai-kt-bigdata-staged.c9ltawyu5lhq.ap-northeast-2.rds.amazonaws.com:0000/kt-data?charset=utf8',encoding='utf-8'

# 운영서버
# 'mysql+pymysql://ktdata:+'ktoasis13579!@#'+'@rvai-kt-bigdata-prod.c9ltawyu5lhq.ap-northeast-2.rds.amazonaws.com:3306/kt-datacharset=utf8',encoding='utf-8'

In [2]:
df = pd.read_csv('/media/taehyun/Hard_Disk/상권데이터/상권_2106_2206/202206_2/dp_frc_basexy_ftc_m_sum_202206.csv',sep='|')

/home/taehyun/anaconda3/envs/TH/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (1,3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,base_ym,sido_cd,sido_nm,sig_cd,sig_nm,emd_cd,emd_nm,base_xycrd,ftc_cate2_cd,groth,...,aces,aces_avg,stbiz,stbiz_avg,prftb,prftb_avg,liqdt,liqdt_avg,mkt_perd,mkt_perd_avg
0,202206,50,제주특별자치도,50110,제주시,50110253,애월읍,126.32433.398,B15,5.0,...,7.0,6.0,4.0,3.0,6,5,5.0,5.0,NaN,NaN
1,202206,11,서울특별시,11650,서초구,11650108,서초동,127.02737.496,A04,5.0,...,1.0,1.0,9.0,7.0,3,5,1.0,1.0,6.9,97.5
2,202206,48,경상남도,48820,고성군,48820250,고성읍,128.32334.974,A01,4.0,...,2.0,4.0,8.0,6.0,6,6,2.0,4.0,14.1,14.6
3,202206,44,충청남도,44760,부여군,44760340,내산면,126.76836.283,A14,8.0,...,9.0,8.0,6.0,6.0,6,5,7.0,6.0,NaN,NaN
4,202206,41,경기도,41133,성남시 중원구,41133106,여수동,127.12537.417,B10,7.0,...,4.0,4.0,7.0,7.0,5,4,3.0,3.0,9.2,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4457375,202206,42,강원도,42130,원주시,42130310,소초면,127.96037.422,B07,2.0,...,8.0,8.0,7.0,7.0,7,5,6.0,6.0,NaN,NaN
4457376,202206,45,전라북도,45130,군산시,45130144,나운동,126.71035.968,A01,8.0,...,4.0,3.0,8.0,6.0,5,5,3.0,2.0,9.0,48.9
4457377,202206,41,경기도,41461,용인시처인구,41461253,모현읍,127.18037.333,B02,4.0,...,6.0,6.0,5.0,5.0,5,5,5.0,4.0,NaN,NaN
4457378,202206,47,경상북도,47170,안동시,47170430,녹전면,128.78336.748,A05,10.0,...,10.0,10.0,10.0,10.0,5,4,10.0,10.0,NaN,NaN
4457379,202206,30,대전광역시,30140,중구,30140116,문화동,127.40436.309,B06,8.0,...,5.0,4.0,6.0,5.0,4,5,4.0,3.0,9.6,217.2

In [4]:
columns = ['id',
 'created_at',
 'updated_at',
 'aces',
 'aces_avg',
 'base_xycrd',
 'base_ym',
 'bd_mgt_sn',
 'emd_cd',
 'emd_nm',
 'ftc_cate2_cd',
 'groth',
 'groth_avg',
 'liqdt',
 'liqdt_avg',
 'mkt_perd',
 'mkt_perd_avg',
 'prftb',
 'prftb_avg',
 'sido_cd',
 'sido_nm',
 'sig_cd',
 'sig_nm',
 'stbiz']

In [5]:
df['id'] = np.nan*len(df)
df['created_at'] = [datetime.datetime(2022, 8, 6, 1, 3, 49)]*len(df)
df['updated_at'] = [datetime.datetime(2022, 8, 6, 1, 3, 49)]*len(df)

In [6]:
df['bd_mgt_sn'] = ['0000000000000000000000000']*len(df)

In [7]:
df = df[columns]

In [8]:
engine = create_engine('mysql+pymysql://ktdata:%s@rvai-kt-bigdata-prod.c9ltawyu5lhq.ap-northeast-2.rds.amazonaws.com:3306/kt-data?charset=utf8'% quote('ktoasis13579!@#'),encoding='utf-8')
#engine = create_engine('mysql+pymysql://root:%s@rvai-kt-bigdata-staged.c9ltawyu5lhq.ap-northeast-2.rds.amazonaws.com:0000/kt-data?charset=utf8'% quote('ktbigdata1234!!'),encoding='utf-8')

In [9]:
conn = engine.connect()

In [10]:
df.to_sql(name='building_commercial_area', con=engine, if_exists='append', index=False)