In [1]:
# 웹 관련 임포트
import time
import requests
import urllib
from urllib.request import urlopen
from html_table_parser import parser_functions

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.select import Select

# 데이터 프레임 관련 임포트
import numpy as np
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt

# 경고 및 한글처리
import warnings
warnings.filterwarnings('ignore')
plt.rc('font', family='Malgun Gothic')

# 최종

* 주의: 6시간 정도 소요됨

In [ ]:
# 첫번째 기업이 반복된다. -> 셀레니움이 너무 빨리 넘어가서 그럼
# 방법1. for문의 마지막에 time.sleep(1) 주면 해결됨

In [3]:
driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('http://gs25.gsretail.com/gscvs/ko/store-services/locations#;')

corp_list = [] # 매장명
addr_list = [] # 주소

for page in tqdm(range(3151)):
    for corp_index in range(1,6):
        corp = driver.find_element_by_xpath(f'//*[@id="storeInfoList"]/tr[{corp_index}]/td[1]/a').get_attribute('text')
        addr = driver.find_element_by_xpath(f'//*[@id="storeInfoList"]/tr[{corp_index}]/td[2]/a').get_attribute('text')
        
        time.sleep(1)
        corp_list.append(corp)
        addr_list.append(addr)
        
    driver.find_element_by_xpath('//*[@id="pagingTagBox"]/a[3]').click()
    time.sleep(1)

driver.close()

100%|███████████████████████████████████████████████████████████████████████████▉| 3150/3151 [5:24:36<00:06,  6.18s/it]

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="storeInfoList"]/tr[3]/td[1]/a"}
  (Session info: chrome=103.0.5060.66)

In [4]:
corp_list

['GS252테크노파크점',
 'GS2538선휴게소점',
 'GS25CBS점',
 'GS25CJ대전HUB점',
 'GS25CJ덕양SUB점',
 'GS25DDMC점',
 'GS25DMC가재울점',
 'GS25DXLAB점',
 'GS25GIDC광명역점',
 'GS25GS상당점',
 'GS25GS칼텍스점',
 'GS25G강화가나안점',
 'GS25G고덕점',
 'GS25G광주거북이점',
 'GS25G국회대로점',
 'GS25G내촌부자점',
 'GS25G대구대림공단점',
 'GS25G대전갑천점',
 'GS25G대전톨게이트점',
 'GS25G동탄샤인점',
 'GS25G둔산우리점',
 'GS25G목포합동점',
 'GS25G서초연일점',
 'GS25G세종로점',
 'GS25G스마트MTV점',
 'GS25G시화공단점',
 'GS25G시흥정다운점',
 'GS25G시흥하우로점',
 'GS25G신방우리네점',
 'GS25G신사남서울점',
 'GS25G여의도점',
 'GS25G오토피아점',
 'GS25G옥길로점',
 'GS25G유성온천',
 'GS25G은현IC점',
 'GS25G일신동양점',
 'GS25G정왕IC점',
 'GS25G창원관문점',
 'GS25G춘천푸른강산점',
 'GS25G파주조인점',
 'GS25G황금캐슬점',
 'GS25HR아팰리스점',
 'GS25KD사옥점',
 'GS25KNU산과대점',
 'GS25KT대구은행역점',
 'GS25LGD구미A1점',
 'GS25LGD구미복지동점',
 'GS25LGD구미점',
 'GS25LGD동락원점',
 'GS25LGD파주A1동점',
 'GS25LGD파주A2동점',
 'GS25LGD파주A3동점',
 'GS25LGD파주R&D점',
 'GS25LGD파주복지동A점',
 'GS25LGD파주복지동B점',
 'GS25LG광화문점',
 'GS25LG복지동점',
 'GS25LG사랑점',
 'GS25LG사이언스파크점',
 'GS25LG생산기술원점',
 'GS25LG연구동점',
 'GS25LG유플러스용산점',
 'GS25LG이노텍3점',
 'GS25LG인화원점',
 'GS25LG전자구미1점',
 'GS25LG전자기숙사점',
 'GS25LG전자창원2점',
 'GS25LG전자창원3점',
 'GS25LS엠트론점',
 'GS25LS타워점',
 'GS25NC소프트점',
 'GS25R강동4점',
 'GS25R강동5점',
 'GS25R강북6점',
 'GS25R광주4점',
 'GS25R구리5점',
 'GS25R대구3점',
 'GS25R도봉4점',
 'GS25R도봉8점',
 'GS25R럭키빌남단1점',
 'GS25R럭키빌중앙2점',
 'GS25R럭키빌중앙4점',
 'GS25R부경2',
 'GS25R부경3점',
 'GS25R부산관람대1점',
 'GS25R부산연제3점',
 'GS25R부산연제4점',
 'GS25R분당3점',
 'GS25R분당4점',
 'GS25R서울강남4점',
 'GS25R서울구남3점',
 'GS25R서울구남4점',
 'GS25R서울구북2점',
 'GS25R서울구북3점',
 'GS25R서울구북4점',
 'GS25R서울박물관점',
 'GS25R서울신북3점',
 'GS25R서울신중3점',
 'GS25R선릉7점',
 'GS25R안산9점',
 'GS25R영등포4점',
 'GS25R영등포6점',
 'GS25R영등포8점',
 'GS25R의정부5점',
 'GS25R인천연수5점',
 'GS25R인천연수6점',
 'GS25R인천중구5점',
 'GS25R일산마사4층점',
 'GS25R일산마사5층점',
 'GS25R일산마사6층점',
 'GS25R제주구관람대2점',
 'GS25R제주신관람대2점',
 'GS25R제주예시장점',
 'GS25S6고려대역점',
 'GS25S6공덕역점',
 'GS25S6광흥창역점',
 'GS25S6구산역점',
 'GS25S6녹사평역점',
 'GS25S6대흥역점',
 'GS25S6돌곶이역점',
 'GS25S6동묘앞역점',
 'GS25S6마포구청역점',
 'GS25S6보문역점',
 'GS25S6봉화산역점',
 'GS25S6삼각지역점',
 'GS25S6상수역점',
 'GS25S6상암DMC역2점',
 'GS25S6상월곡역점',
 'GS25S6석계역점',
 'GS25S6신당역점',
 'GS25S6안암역점',
 'GS25S6약수역점',
 'GS25S6연신내역점',
 'GS25S6월곡역점',
 'GS25S6응암역점',
 'GS25S6이태원역점',
 'GS25S6증산역점',
 'GS25S6창신역점',
 'GS25S6한강진역점',
 'GS25S6합정역점',
 'GS25S6화랑대역점',
 'GS25S6효창공원앞역점',
 'GS25S8가락시장역점',
 'GS25S8강동구청역점',
 'GS25S8남한산성입구역점',
 'GS25S8단대오거리역점',
 'GS25S8몽촌토성역점',
 'GS25S8문정역점',
 'GS25S8복정역점',
 'GS25S8산성역점',
 'GS25S8석촌역점',
 'GS25S8송파역점',
 'GS25S8수진역점',
 'GS25S8신흥역점',
 'GS25S8암사역점',
 'GS25S8장지역점',
 'GS25S9가양역점',
 'GS25S9개화역점',
 'GS25S9고속터미널역점',
 'GS25S9공항시장역점',
 'GS25S9구반포역점',
 'GS25S9국회의사당역점',
 'GS25S9김포공항역점',
 'GS25S9노들역점',
 'GS25S9노량진역점',
 'GS25S9당산역점',
 'GS25S9동작역점',
 'GS25S9등촌역점',
 'GS25S9마곡나루역점',
 'GS25S9봉은사역점',
 'GS25S9사평역점',
 'GS25S9삼성중앙역점',
 'GS25S9삼전역점',
 'GS25S9샛강역점',
 'GS25S9석촌역점',
 'GS25S9선유도역점',
 'GS25S9송파나루역점',
 'GS25S9신논현역점',
 'GS25S9신목동역점',
 'GS25S9신반포역점',
 'GS25S9신방화역점',
 'GS25S9양천향교역점',
 'GS25S9언주역점',
 'GS25S9여의도역점',
 'GS25S9염창역점',
 'GS25S9올림픽공원역점',
 'GS25S9종합운동장역점',
 'GS25S9중앙보훈병원역점',
 'GS25S9증미역점',
 'GS25S9한성백제역점',
 'GS25S9흑석역점',
 'GS25SDI점',
 'GS25SH상암1호점',
 'GS25SK반월주유소점',
 'GS25SK항만주유소점',
 'GS25S가산디지털단지역점',
 'GS25S강남구청역점',
 'GS25S강남역1호점',
 'GS25S강남역2호점',
 'GS25S강남역3호점',
 'GS25S건대입구역점',
 'GS25S검암역점',
 'GS25S경성부경대역점',
 'GS25S계양역점',
 'GS25S고속터미널역점',
 'GS25S공덕역점',
 'GS25S공릉역점',
 'GS25S공항화물청사역점',
 'GS25S광교역점',
 'GS25S광교중앙역점',
 'GS25S광명사거리역점',
 'GS25S군자역점',
 'GS25S굴포천역점',
 'GS25S김포공항역점',
 'GS25S까치울역점',
 'GS25S남구로역점',
 'GS25S남성역점',
 'GS25S내방역점',
 'GS25S노원역점',
 'GS25S논현역점',
 'GS25S뉴정부청사점',
 'GS25S당산역1호점',
 'GS25S당산역2호점',
 'GS25S대림역점',
 'GS25S대전용문역점',
 'GS25S동천역점',
 'GS25S디지털미디어시티역',
 'GS25S마곡나루역점',
 'GS25S마들역점',
 'GS25S매봉역점',
 'GS25S매헌역점',
 'GS25S먹골역점',
 'GS25S메트로금호점',
 'GS25S면목역점',
 'GS25S반포역점',
 'GS25S보라매역점',
 'GS25S부산광안역점',
 'GS25S부산명륜역점',
 'GS25S부산벡스코역점',
 'GS25S부산자갈치역점',
 'GS25S부산해운대역점',
 'GS25S부천시청역점',
 'GS25S부천운동장역점',
 'GS25S사가정역점',
 'GS25S삼산체육관역점',
 'GS25S상도역점',
 'GS25S상동역점',
 'GS25S상봉역점',
 'GS25S상현역점',
 'GS25S서면역점',
 'GS25S서면중앙몰점',
 'GS25S서울역1호점',
 'GS25S서울역2호점',
 'GS25S성복역점',
 'GS25S센텀시티역점',
 'GS25S수락산역점',
 'GS25S수지구청역점',
 'GS25S숭실대입구역점',
 'GS25S신대방삼거리역점',
 'GS25S신중동역점',
 'GS25S신풍역점',
 'GS25S양산역점',
 'GS25S양재역1호점',
 'GS25S양재역2호점',
 'GS25S어린이대공원역점',
 'GS25S연산역점',
 'GS25S온수역점',
 'GS25S용마산역점',
 'GS25S운서역점',
 'GS25S이수역점',
 'GS25S장산역점',
 'GS25S장승배기역점',
 'GS25S정자역점',
 'GS25S종합운동장역점',
 'GS25S중계역점',
 'GS25S중곡역점',
 'GS25S중화역점',
 'GS25S천왕역점',
 'GS25S철산역점',
 'GS25S청계산역점',
 'GS25S청담역점',
 'GS25S청라국제도시역점',
 'GS25S춘의역점',
 'GS25S태릉입구역점',
 'GS25S토성역점',
 'GS25S판교역점',
 'GS25S하계역점',
 'GS25S학동역점',
 'GS25S홍대역사점',
 'GS25S홍대입구역점',
 'GS25T타운점',
 'GS25W타워점',
 'GS25YG신사옥점',
 'GS25가경대로점',
 'GS25가경세원점',
 'GS25가경자이점',
 'GS25가경파크점',
 'GS25가경프라임점',
 'GS25가경하나점',
 'GS25가경한마음점',
 'GS25가경행복점',
 'GS25가경휴먼시아점',
 'GS25가남삼거리점',
 'GS25가남행복점',
 'GS25가능로드점',
 'GS25가능문화점',
 'GS25가능빌리지점',
 'GS25가능우미점',
 'GS25가능타운점',
 'GS25가능행복점',
 'GS25가든파이브점',
 'GS25가락금호점',
 'GS25가락대로점',
 'GS25가락명성점',
 'GS25가락몰점',
 'GS25가락미륭점',
 'GS25가락본점',
 'GS25가락센타점',
 'GS25가락스타점',
 'GS25가락우정점',
 'GS25가락으뜸점',
 'GS25가락제일점',
 'GS25가락중대로점',
 'GS25가락중앙점',
 'GS25가락진흥점',
 'GS25가락타운점',
 'GS25가리봉사랑점',
 'GS25가리봉역점',
 'GS25가산V1점',
 'GS25가산대륭점',
 'GS25가산두산점',
 'GS25가산디폴리스점',
 'GS25가산미소점',
 'GS25가산백상점',
 'GS25가산본점',
 'GS25가산세진점',
 'GS25가산소복이점',
 'GS25가산스타점',
 'GS25가산에이스점',
 'GS25가산엘지점',
 'GS25가산정교점',
 'GS25가산태양점',
 'GS25가산포스트6차점',
 'GS25가산프리미어점',
 'GS25가산하이엔드점',
 'GS25가산하이힐점',
 'GS25가수원드림점',
 'GS25가수원사랑',
 'GS25가수원스타점',
 'GS25가수원은아점',
 'GS25가야가평점',
 'GS25가야공원점',
 'GS25가야그린점',
 'GS25가야대학교점',
 'GS25가야도항점',
 'GS25가야벽산점',
 'GS25가야사랑점',
 'GS25가야아이파크점',
 'GS25가야점',
 'GS25가야참빛점',
 'GS25가야플러스점',
 'GS25가양2점',
 'GS25가양7단지점',
 'GS25가양8단지점',
 'GS25가양글로벌점',
 'GS25가양더리브점',
 'GS25가양데시앙점',
 'GS25가양메르디앙점',
 'GS25가양빌리지점',
 'GS25가양센터점',
 'GS25가양우성점',
 'GS25가양큰별점',
 'GS25가양큰솔점',
 'GS25가양테크노점',
 'GS25가양향교점',
 'GS25가오은어송점',
 'GS25가오중앙점',
 'GS25가운주공점',
 'GS25가장래미안점',
 'GS25가장산단점',
 'GS25가장행복점',
 'GS25가재울아이파크점',
 'GS25가재울현대점',
 'GS25가정본점',
 'GS25가정센트럴점',
 'GS25가정타운점',
 'GS25가정풍경채점',
 'GS25가좌건지점',
 'GS25가좌겸이점',
 'GS25가좌공원점',
 'GS25가좌대로점',
 'GS25가좌대우점',
 'GS25가좌베스트점',
 'GS25가좌벽산점',
 'GS25가좌센터점',
 'GS25가좌스마트점',
 'GS25가좌스카이점',
 'GS25가좌시티뷰점',
 'GS25가좌신명점',
 'GS25가좌신현대점',
 'GS25가좌으뜸점',
 'GS25가좌제일점',
 'GS25가좌중앙점',
 'GS25가좌진주점',
 'GS25가좌축산점',
 'GS25가좌하늘점',
 'GS25가좌한신점',
 'GS25가좌행복점',
 'GS25가주초교점',
 'GS25가진해변점',
 'GS25가창점',
 'GS25가천대가천관점',
 'GS25가천대역점',
 'GS25가평군청점',
 'GS25가평남이섬점',
 'GS25가평달전로점',
 'GS25가평대로점',
 'GS25가평대성점',
 'GS25가평더베이점',
 'GS25가평레일점',
 'GS25가평맹호점',
 'GS25가평산유점',
 'GS25가평상천점',
 'GS25가평설악점',
 'GS25가평신상리점',
 'GS25가평역점',
 'GS25가평자라섬점',
 'GS25가평조종점',
 'GS25가평중앙점',
 'GS25가평창의점',
 'GS25가평코아루점',
 'GS25가평파란채점',
 'GS25가평풀빌라온점',
 'GS25가평현리점',
 'GS25가포LH점',
 'GS25가현로드점',
 'GS25각산데시앙점',
 'GS25각화글로벌점',
 'GS25간석갤럭시점',
 'GS25간석나래점',
 'GS25간석드림점',
 'GS25간석래미안점',
 'GS25간석로얄점',
 'GS25간석마루점',
 'GS25간석미래점',
 'GS25간석벽돌막점',
 'GS25간석본점',
 'GS25간석서해점',
 'GS25간석석산길점',
 'GS25간석영풍점',
 'GS25간석오거리점',
 'GS25간석오피앙점',
 'GS25간석월드점',
 'GS25간석이화점',
 'GS25간석주공점',
 'GS25간석중앙점',
 'GS25간석타임점',
 'GS25간석태화점',
 'GS25간석현대점',
 'GS25간현유원지점',
 'GS25갈마계룡로점',
 'GS25갈마둔원점',
 'GS25갈마드림점',
 'GS25갈마빌리지점',
 'GS25갈마스타점',
 'GS25갈마으뜸점',
 'GS25갈마중문점',
 'GS25갈마중앙점',
 'GS25갈마푸른점',
 'GS25갈매사랑점',
 'GS25갈매신성점',
 'GS25갈매주공점',
 'GS25갈매중앙스타점',
 'GS25갈매퍼스트점',
 'GS25갈매푸르지오점',
 'GS25갈매한덕점',
 'GS25갈매행운점',
 'GS25갈산공단점',
 'GS25갈산본점',
 'GS25갈산빌리지점',
 'GS25갈산사거리점',
 'GS25갈산역점',
 'GS25갈산제일점',
 'GS25갈산중앙점',
 'GS25갈산행운점',
 'GS25갈삼대로점',
 'GS25갈월하늘점',
 'GS25갈현대성점',
 'GS25갈현럭키점',
 'GS25갈현사랑점',
 'GS25갈현센터점',
 'GS25갈현제일점',
 'GS25갈현중앙점',
 'GS25갈현코어점',
 'GS25갈현파크점',
 'GS25갈현포인트점',
 'GS25갈현하늘점',
 'GS25갈현행복점',
 'GS25갈현행운점',
 'GS25감계덕산점',
 'GS25감계힐스4차점',
 'GS25감곡센터점',
 'GS25감곡오향점',
 'GS25감곡정원점',
 'GS25감곡주공점',
 'GS25감만동일점',
 'GS25감만점',
 'GS25감만판테라',
 'GS25감만현대점',
 'GS25감북서하남로점',
 'GS25감삼점',
 'GS25감삼중앙점',
 'GS25감삼청실점',
 'GS25감삼타운점',
 'GS25감삼희망점',
 'GS25감일대박점',
 'GS25감일한라점',
 'GS25감일행복1호점',
 'GS25감전고려점',
 'GS25감전대동점',
 'GS25감전밸리점',
 'GS25감천사거리점',
 'GS25감천유림점',
 'GS25감천한우리점',
 'GS25감천한일점',
 'GS25갑천트리풀점',
 'GS25강경중앙점',
 'GS25강남N타워점',
 'GS25강남YBM점',
 'GS25강남개포점',
 'GS25강남나누리점',
 'GS25강남대점',
 'GS25강남대행복점',
 'GS25강남동원점',
 'GS25강남드림하이점',
 'GS25강남로데오점',
 'GS25강남리츠칼튼점',
 'GS25강남메트로점',
 'GS25강남본점',
 'GS25강남사랑점',
 'GS25강남상록회관점',
 'GS25강남성심병원점',
 'GS25강남세곡점',
 'GS25강남센타점',
 'GS25강남쉐르빌점',
 'GS25강남시티힐점',
 'GS25강남신사점',
 'GS25강남쌍용점',
 'GS25강남아트점',
 'GS25강남에이스타워점',
 'GS25강남역삼점',
 'GS25강남영동점',
 'GS25강남유블레스점',
 'GS25강남쥬비스점',
 'GS25강남청담점',
 'GS25강남타운점',
 'GS25강남태강점',
 'GS25강남태양점',
 'GS25강남프리미엄점',
 'GS25강남한티점',
 'GS25강남헤븐리치점',
 'GS25강내예가점',
 'GS25강대사랑점',
 'GS25강동강변점',
 'GS25강동개나리점',
 'GS25강동기쁨점',
 'GS25강동대타운점',
 'GS25강동둔촌점',
 'GS25강동래미안점',
 'GS25강동리버점',
 'GS25강동리버힐점',
 'GS25강동명일역점',
 'GS25강동베르네점',
 'GS25강동베스트점',
 'GS25강동삼성점',
 'GS25강동상생점',
 'GS25강동성내점',
 'GS25강동성심점',
 'GS25강동성일점',
 'GS25강동세무서점',
 'GS25강동스마일비치점',
 'GS25강동아이파크점',
 'GS25강동암사점',
 'GS25강동원일점',
 'GS25강동으뜸점',
 'GS25강동제일점',
 'GS25강동천일점',
 'GS25강동트레벨점',
 'GS25강동파크점',
 'GS25강동펠리스점',
 'GS25강동효성점',
 'GS25강릉IC점',
 'GS25강릉강동점',
 'GS25강릉강문점',
 'GS25강릉공군점',
 'GS25강릉공단점',
 'GS25강릉관동중점',
 'GS25강릉교동점',
 'GS25강릉교동중앙점',
 'GS25강릉교동현대점',
 'GS25강릉금학점',
 'GS25강릉남항진점',
 'GS25강릉내곡점',
 'GS25강릉노암점',
 'GS25강릉노암한라점',
 'GS25강릉단오공원점',
 'GS25강릉대로점',
 'GS25강릉대타운점',
 'GS25강릉로얄점',
 'GS25강릉명주점',
 'GS25강릉문화점',
 'GS25강릉사랑점',
 'GS25강릉사천해변점',
 'GS25강릉센트럴점',
 'GS25강릉송정주공점',
 'GS25강릉신도점',
 'GS25강릉아이파크점',
 'GS25강릉안목점',
 'GS25강릉에이스점',
 'GS25강릉역점',
 'GS25강릉연곡캠핑장점',
 'GS25강릉영동대점',
 'GS25강릉옥천점',
 'GS25강릉온누리점',
 'GS25강릉용강점',
 'GS25강릉원주대점',
 'GS25강릉유천점',
 'GS25강릉유천택지점',
 'GS25강릉율곡점',
 'GS25강릉이편한점',
 'GS25강릉임당점',
 'GS25강릉입암점',
 'GS25강릉입암코아루점',
 'GS25강릉제일점',
 'GS25강릉중앙시장점',
 'GS25강릉지변점',
 'GS25강릉터미널점',
 'GS25강릉포남점',
 'GS25강릉포남중앙점',
 'GS25강릉하평해변점',
 'GS25강릉현대점',
 'GS25강릉홍제점',
 'GS25강릉화부산로점',
 'GS25강릉회산점',
 'GS25강문삼거리점',
 'GS25강변동원점',
 'GS25강북구청점',
 'GS25강북동수점',
 'GS25강북미아점',
 'GS25강북믿음점',
 'GS25강북벽산점',
 'GS25강북수유점',
 'GS25강북우이점',
 'GS25강북최고점',
 'GS25강북한천점',
 'GS25강서IT밸리점',
 'GS25강서LG사이언스2점',
 'GS25강서LG사이언스점',
 'GS25강서가락점',
 'GS25강서강동점',
 'GS25강서공항로점',
 'GS25강서공항점',
 'GS25강서까치산점',
 'GS25강서낚시밸리점',
 'GS25강서드림점',
 'GS25강서등마루점',
 'GS25강서등촌점',
 'GS25강서라마다점',
 'GS25강서로우장산점',
 'GS25강서메디칼점',
 'GS25강서메르디앙점',
 'GS25강서메트로칸점',
 'GS25강서명지점',
 'GS25강서방화점',
 'GS25강서범방원룸점',
 'GS25강서베리굿점',
 'GS25강서봉림점',
 'GS25강서부영점',
 'GS25강서사랑점',
 'GS25강서센트레점',
 'GS25강서송정역점',
 'GS25강서송정점',
 'GS25강서신덕점',
 'GS25강서신호사랑점',
 'GS25강서안강점',
 'GS25강서우림점',
 'GS25강서우장점',
 'GS25강서으뜸점',
 'GS25강서자이타워점',
 'GS25강서죽림점',
 'GS25강서중앙점',
 'GS25강서지사점',
 'GS25강서퀸덤점',
 'GS25강서타운점',
 'GS25강서타워점',
 'GS25강서트레벨점',
 'GS25강서평강점',
 'GS25강서하늘점',
 'GS25강서한빛점',
 'GS25강서현대점',
 'GS25강서화곡로점',
 'GS25강서화곡점',
 'GS25강서희망점',
 'GS25강서힐스테이트점',
 'GS25강선마을점',
 'GS25강원대기숙사점',
 'GS25강원대정문점',
 'GS25강원도청점',
 'GS25강원평창점',
 'GS25강일14단지점',
 'GS25강일4단지점',
 'GS25강일6단지점',
 'GS25강일9단지점',
 'GS25강일MK점',
 'GS25강일뉴타운점',
 'GS25강일리버점',
 'GS25강일성산점',
 'GS25강일타운점',
 'GS25강정LH점',
 'GS25강진마량점',
 'GS25강진보은점',
 'GS25강진서성점',
 'GS25강촌방곡로드점',
 'GS25강촌중앙점',
 'GS25강화교동점',
 'GS25강화길상점',
 'GS25강화나들길점',
 'GS25강화남문점',
 'GS25강화대로점',
 'GS25강화대성점',
 'GS25강화도서관점',
 'GS25강화동막점',
 'GS25강화동문안점',
 'GS25강화드림점',
 'GS25강화베리점',
 'GS25강화블루점',
 'GS25강화빌리지점',
 'GS25강화사랑점',
 'GS25강화산단점',
 'GS25강화서문점',
 'GS25강화세광점',
 'GS25강화소방서점',
 'GS25강화솔정점',
 'GS25강화초지점',
 'GS25강화카페해양점',
 'GS25강화타운점',
 'GS25강화한옥점',
 'GS25개금동서점',
 'GS25개금백병원점',
 'GS25개금원룸점',
 'GS25개금큰시장점',
 'GS25개금펜테리움점',
 'GS25개금플라워점',
 'GS25개나리SK점',
 'GS25개봉가늠점',
 'GS25개봉당곡점',
 'GS25개봉로점',
 'GS25개봉성심점',
 'GS25개봉역점',
 'GS25개봉으뜸점',
 'GS25개봉중앙점',
 'GS25개봉타운점',
 'GS25개봉푸르지오점',
 'GS25개봉한마을점',
 'GS25개봉현대점',
 'GS25개신3단지점',
 'GS25개신삼익점',
 'GS25개신주공점',
 'GS25개신한솔점',
 'GS25개포경남점',
 'GS25개포늘푸른점',
 'GS25개포럭키점',
 'GS25개포미래점',
 'GS25개포빌리지점',
 'GS25개포사랑점',
 'GS25개포소망점',
 'GS25개포타운점',
 'GS25개포포레스트점',
 'GS25개화산역점',
 'GS25개화행복점',
 'GS25거두안길점',
 'GS25거모사랑점',
 'GS25거모행복점',
 'GS25거여삼호점',
 'GS25거여세신점',
 'GS25거여센타점',
 'GS25거여우리점',
 'GS25거여초교점',
 'GS25거제SK뷰점',
 'GS25거제고현점',
 'GS25거제고현한성점',
 'GS25거제구조라점',
 'GS25거제능포점',
 'GS25거제다숲점',
 'GS25거제대교점',
 'GS25거제대로점',
 'GS25거제대우점',
 'GS25거제대우조선점',
 'GS25거제더샵점',
 'GS25거제덕포비치점',
 'GS25거제두모점',
 'GS25거제문동점',
 'GS25거제벽산솔렌스점',
 'GS25거제사곡자이온점',
 'GS25거제삼도점',
 'GS25거제삼성점',
 'GS25거제상동벽산점',
 'GS25거제성원점',
 'GS25거제센트럴점',
 'GS25거제쉐르빌점',
 'GS25거제시장점',
 'GS25거제아델하임점',
 'GS25거제아이파크점',
 'GS25거제아주덕진점',
 'GS25거제아주로점',
 'GS25거제아주센텀점',
 'GS25거제아주점',
 'GS25거제아주점',
 'GS25거제아주점',
 'GS25거제아주점',
 'GS25거제아주중앙로점',
 'GS25거제연초점',
 'GS25거제오션자이점',
 'GS25거제옥포점',
 'GS25거제원룸점',
 'GS25거제일운점',
 'GS25거제자이점',
 'GS25거제장평점',
 'GS25거제제일점',
 'GS25거제중곡점',
 'GS25거제하청점',
 'GS25거제해금강점',
 'GS25거제해맞이로점',
 'GS25거제해오름점',
 'GS25거제현대홈타운점',
 'GS25거제힐스테이트점',
 'GS25거진항점',
 'GS25거창가조점',
 'GS25거창대평점',
 'GS25거창럭키점',
 'GS25거창보고점',
 'GS25거창상림점',
 'GS25거창소만점',
 'GS25거창승강기밸리점',
 'GS25거창여고점',
 'GS25거창원룸점',
 'GS25거창주공점',
 'GS25거창중앙점',
 'GS25거창창동점',
 'GS25거창푸르지오점',
 'GS25건건E편한점',
 'GS25건국점',
 'GS25건대기숙사점',
 'GS25건대동문회관점',
 'GS25건대모시래점',
 'GS25건대몰점',
 'GS25건대수정점',
 'GS25건대제일점',
 'GS25건대호수점',
 'GS25건산주공점',
 'GS25건산중앙점',
 'GS25건양대병원점',
 'GS25건양대점',
 'GS25건양대학사점',
 'GS25건입현대점',
 'GS25건천터미널점',
 'GS25걸포오스타점',
 'GS25걸포운양점',
 'GS25걸포자이광장점',
 'GS25걸포자이메디점',
 'GS25걸포자이에듀점',
 'GS25걸포자이타운점',
 'GS25검단4동점',
 'GS25검단더휴점',
 'GS25검단동아점',
 'GS25검단로뎀점',
 'GS25검단본점',
 'GS25검단블루텍점',
 'GS25검단산단점',
 'GS25검단솔보점',
 'GS25검단스타점',
 'GS25검단시그니처점',
 'GS25검단아이원점',
 'GS25검단어울림점',
 'GS25검단완정로점',
 'GS25검단우림점',
 'GS25검단원흥점',
 'GS25검단유호점',
 'GS25검단으뜸점',
 'GS25검단정석점',
 'GS25검단중앙점',
 'GS25검단펠리체점',
 'GS25검산점',
 'GS25검상공단점',
 'GS25검암공원점',
 'GS25검암사랑점',
 'GS25검암승학점',
 'GS25검암역2호점',
 'GS25검암제일점',
 'GS25검암타운점',
 'GS25검준산업점',
 'GS25경기광주도평점',
 'GS25경기대서울점',
 'GS25경기대점',
 'GS25경기도청역점',
 'GS25경남대고운관점',
 'GS25경남대사랑점',
 'GS25경남대학사점',
 'GS25경남대후문점',
 'GS25경대기숙사점',
 'GS25경대응급실점',
 'GS25경대제일점',
 'GS25경리단길점',
 'GS25경민대정문점',
 'GS25경복대남양주점',
 'GS25경복대점',
 'GS25경북대GP점',
 'GS25경북대도서관점',
 'GS25경북대로점',
 'GS25경북대복지관점',
 'GS25경북대복현회관점',
 'GS25경북대생활관점',
 'GS25경북대인재원점',
 'GS25경북대점',
 'GS25경북대정문점',
 'GS25경북대첨성관점',
 'GS25경북전문대점',
 'GS25경산공단점',
 'GS25경산공원점',
 'GS25경산대림점',
 'GS25경산대평점',
 'GS25경산대학로점',
 'GS25경산동신점',
 'GS25경산미래점',
 'GS25경산박물관점',
 'GS25경산백천점',
 'GS25경산부영점',
 'GS25경산부적점',
 'GS25경산사동점',
 'GS25경산사동팰리스점',
 'GS25경산삼북점',
 'GS25경산상방점',
 'GS25경산서상점',
 'GS25경산세명점',
 'GS25경산압량점',
 'GS25경산역전점',
 'GS25경산영대점',
 'GS25경산옥곡대로점',
 'GS25경산옥산점',
 'GS25경산옥산타운점',
 'GS25경산와촌점',
 'GS25경산이안점',
 'GS25경산정평점',
 'GS25경산중방점',
 'GS25경산중앙점',
 'GS25경산파밀리에점',
 'GS25경산펜타힐즈점',
 'GS25경산호반점',
 'GS25경상대생활관점',
 'GS25경상대스포츠센터점',
 'GS25경상대의대점',
 'GS25경상대정문점',
 'GS25경상대학사점',
 'GS25경상희망점',
 'GS25경서베스트점',
 'GS25경서타운점',
 'GS25경서태평점',
 'GS25경성스카이점',
 'GS25경성중앙점',
 'GS25경안안길점',
 'GS25경운대글로벌점',
 'GS25경운대점',
 'GS25경의교차로점',
 'GS25경의선책거리점',
 'GS25경의초교점',
 'GS25경인교대역점',
 'GS25경일대정문점',
 'GS25경장행복점',
 'GS25경주IC휴게소점',
 'GS25경주감포나정점',
 'GS25경주고속점',
 'GS25경주구어공단점',
 'GS25경주구어점',
 'GS25경주구정점',
 'GS25경주금장점',
 'GS25경주노서점',
 'GS25경주동성점',
 'GS25경주동천스타점',
 'GS25경주동천점',
 'GS25경주두산위브점',
 'GS25경주모화점',
 'GS25경주문무로점',
 'GS25경주문무왕릉점',
 'GS25경주백률점',
 'GS25경주북군점',
 'GS25경주북천점',
 'GS25경주산대점',
 'GS25경주산업로점',
 'GS25경주삼보점',
 'GS25경주삼익점',
 ...]

In [5]:
addr_list

['경기 부천시 오정구 석천로345,  300동 114호(삼정동 365)',
 '강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)',
 '서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)',
 '대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)',
 '경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)',
 '서울 마포구 매봉산로75, 1층 107호 (상암동 1610)',
 '서울 서대문구 가재울미래로2, 203동 101호 (남가좌동 385, 2단지)',
 '서울 강남구 테헤란로223, 1층 101호 (역삼동 677-25, 큰길타워빌딩)',
 '경기 광명시 일직로43, GIDC광명역 G244호 (일직동 514)',
 '충북 청주시 상당구 호미로165번길64 (용암동 2682)',
 '전남 여수시 여수산단로918(적량동 1320)',
 '인천 강화군 화도면 해안남로2351 (장화리 1106-2)',
 '서울 강동구 고덕로39 (암사3동 441-14)',
 '경기 광주시 경충대로2108 (중대동 290-3)',
 '서울 영등포구 국회대로746 (여의도동 17-2)',
 '경기 포천시 내촌면 금강로3185 (신팔리 135-6)',
 '대구 달서구 달서대로403 (호림동 482-2)',
 '대전 대덕구 아리랑로55번길187 (신대동 426)',
 '대전 대덕구 동서대로1762 (비래동 557-6)',
 '경기 화성시 경기동로527, 1층 (장지동 861-6)',
 '대전 서구 청사로224 (둔산2동 916)',
 '전남 목포시 영산로696 (석현동 489-2)',
 '서울 서초구 남부순환로2451 (서초1동 1426-13, 연일주유소)',
 '세종 세종로1328 (아름동 816)',
 '경기 안산시 단원구 시화호수로841번길4 (성곡동 851-7)',
 '경기 시흥시 공단1대로256, 102호(정왕1동 1367-2, 시화공단3다)',
 '경기 시흥시 역전로318, 101호 (정왕동 876-420, SK정왕주유소)',
 '경기 시흥시 하우로26-1, 1층 (대야동 57-5, S-OIL하우고개주유소)',
 '충남 천안시 동남구 서부대로235 (신방동 49-25, 우리네주유소)',
 '서울 서초구 나루터로83 (잠원동 13-6, 남서울주유소)',
 '서울 영등포구 은행로64, GS칼텍스內편의점(여의도동 10-1)',
 '인천 중구 축항대로291번길10 (신흥동3가 33-35)',
 '경기 부천시 옥길로6 (옥길동 767-2)',
 '대전 유성구 도안대로583 (봉명동 554-6)',
 '경기 양주시 은현면하패리 250번지',
 '인천 부평구 경인로1130 (일신동 109-12)',
 '경기 시흥시 서해안로590(정왕동 1112-2)',
 '경남 창원시 성산구 공단로22 (신촌동 19-1)',
 '강원 춘천시 춘천로22 (퇴계동 1187)',
 '경기 파주시 창곡동길27 (야동동 151-12)',
 '대구 수성구 청수로172 (지산동 932)',
 '광주 남구 제석로104, 201동 102호 (봉선동 1095)',
 '서울 성동구 왕십리로125 (성수동1가 656-292)',
 '충남 예산군 예산읍 대학로54 (대회리 1, 학생회관)',
 '대구 수성구 달구벌대로2280, 1층 (수성동1가 89-42)',
 '경북 구미시 3공단2로209 (진평동 642-3, LG디스플레이1공장)',
 '경북 구미시 3공단2로174, 1층 (시미동 163, 복지동)',
 '경북 구미시 3공단2로181, 1층 (시미동 162)',
 '경북 구미시 수출대로337, 1층 동락원기숙사관리동  (임수동 401-3)',
 '경기 파주시 월롱면 엘지로245, A1동 2층 (덕은리 1239)',
 '경기 파주시 월롱면 엘지로245, A2동 2층 (덕은리 1239)',
 '경기 파주시 월롱면 엘지로245, A3동 (덕은리 1239)',
 '경기 파주시 월롱면 엘지로245, RD동 15층 (덕은리 1239)',
 '경기 파주시 월롱면 엘씨디로201, 1층 매점 (덕은리 1253)',
 '경기 파주시 월롱면 엘씨디로231, G/H동 3층 (덕은리 1251)',
 '서울 종로구 새문안로58, 지하2층 (신문로2가 92, LG광화문빌딩)',
 '경기 평택시 진위면 엘지로222, M동 1층 (청호리 1)',
 '경기 파주시 월롱면 엘씨디로241번길8-5 (덕은리 1248-3)',
 '서울 강서구 마곡중앙10로10, 지하1층 (마곡동 770, 엘지사이언스파크)',
 '경기 평택시 진위면 엘지로222(청호리 19-1, LG디지털파크)',
 '경기 평택시 진위면 엘지로222, (R1동(연구동)) (청호리 19-1, 엘지전자(주))',
 '서울 용산구 한강대로32, 지하1층 (한강로3가 65-228, 엘지유플러스)',
 '경기 파주시 문산읍 월롱산단2길19(내포리 1636-4)',
 '경기 이천시 마장면 지산로167-72, 1층 일부 (해월리 165-1)',
 '경북 구미시 수출대로168, LG전자 구미1공장 내  (공단동 191-5)',
 '경북 구미시 칠성로2길19 (신평동 150-27)',
 '경남 창원시 성산구 완암로84 (성산동 76, LG전자창원2공장)',
 '경남 창원시 성산구 공단로473번길33 (성산동 74, LG전자창원3공장)',
 '경기 안양시 동안구 엘에스로116번길39(호계1동 555-16)',
 '경기 안양시 동안구 엘에스로127, 지하1층 (호계동 1026-6, LS타워)',
 '경기 성남시 분당구 대왕판교로644번길12, 지하1층 (삼평동 668, (주)엔씨소프트판교RD센터)',
 '서울 강동구 구천면로200, 강동지사 4층 (천호동 419-3, 한국마사회)',
 '서울 강동구 구천면로200, 마사회 강동지사 5층 (천호동 419-3)',
 '서울 강북구 도봉로302, 6층 (번동 449-6, 한국마사회강북지점)',
 '광주 동구 구성로257, 4층 (계림동 293-4)',
 '경기 구리시 안골로105, 5층 (수택동 424-21, 은산빌딩)',
 '대구 달성군 가창면 가창로175길6 (냉천리 27-17)',
 '서울 도봉구 노해로67길14, 4층 (창동 8, 한국마사회)',
 '서울 도봉구 노해로67길14, 8층 (창동 8, 한국마사회창동지점)',
 '경기 과천시 경마공원대로107, 1층 (주암동 685, 럭키빌)',
 '경기 과천시 경마공원대로107, 2층 (주암동 685, 럭키빌)',
 '경기 과천시 경마공원대로107, 4층 (주암동 685, 럭키빌)',
 '경남 김해시 가락대로929-1, 2층 (수가동 1333)',
 '경남 김해시 가락대로929-1 (수가동 1333)',
 '경남 김해시 가락대로929-1(수가동 1333)',
 '부산 연제구 월드컵대로164번길26, 3층 (연산동 1127-1, 장연빌딩)',
 '부산 연제구 월드컵대로164번길26, 4층 (연산동 1127-1, 장연빌딩)',
 '경기 성남시 분당구 황새울로311번길37, , 마사회 분당지사 3층 (서현동 259-1)',
 '경기 성남시 분당구 황새울로311번길37, 4층 (서현동 259-1, 마사회분당지사)',
 '서울 강남구 도산대로529, 4층 (청담동 125-17, KRA프라자)',
 '경기 과천시 경마공원대로107, 2층 (주암동 685, 해피빌)',
 '경기 과천시 주암동렛츠런파크서울 해피빌 구관 4층 남단',
 '경기 과천시 경마공원대로107, 2층 (주암동 685, 렛츠런파크해피빌)',
 '경기 과천시 경마공원대로107, 렛츠런파크서울 해피빌 3층 북단 (주암동 685)',
 '경기 과천시 주암동렛츠런파크서울 해피빌 구관 4층 북단',
 '경기 과천시 경마공원대로107 (주암동 685)',
 '경기 과천시 경마공원대로107 (주암동 685, 신관람대3층북단)',
 '경기 과천시 경마공원대로107 (주암동 685, 신관람대3층 중앙)',
 '서울 강남구 테헤란로416, 마사회선릉지사 7층 (대치동 890-8, 연봉빌딩)',
 '경기 안산시 단원구 삼일로310, 9층 GS25 R안산9 (선부동 1077)',
 '서울 영등포구 영중로8길14, 4층 (영등포동3가 18, 영등포케이빌딩)',
 '서울 영등포구 영중로8길14, 6층 (영등포동3가 18, 영등포케이빌딩)',
 '서울 영등포구 영중로8길14, 8층 (영등포동3가 18, 마사회)',
 '경기 의정부시 시민로45, 5층 (가능동 754-21)',
 '인천 연수구 벚꽃로114, 5층 일부 (연수동 592, 브랫슬)',
 '인천 연수구 벚꽃로114, 6층 일부 (연수동 592, 브랫슬)',
 '인천 중구 신포로23번길49, 5층 (중앙동3가 4-41, 중앙프라자)',
 '경기 고양시 일산동구 중앙로1275번길60-19, 4층 일부 (장항동 756-4)',
 '경기 고양시 일산동구 중앙로1275번길60-19, 5층 일부 (장항동 756-4)',
 '경기 고양시 일산동구 중앙로1275번길60-19, 6층 일부 (장항동 756-4, 로데오 메탈릭타워 II)',
 '제주 제주시 애월읍 평화로2144, 2층 (유수암리 1206, 구관람대)',
 '제주 제주시 애월읍 평화로2144, 2층 (유수암리 1206, 신관람대)',
 '제주 제주시 애월읍 평화로2144, 예시장 (유수암리 1206)',
 '서울 성북구 종암로지하 1, 6호선 고려대역 지하철역사 (종암동 29-18)',
 '서울 마포구 백범로지하 200, 지하1층 (공덕동 439, 공덕역)',
 '서울 마포구 독막로지하 165, 6호 호선 광흥창역 (창전동 145-17)',
 '서울 은평구 연서로지하 137-1, 6호선 구산역 지하1층 1001호 (구산동)',
 '서울 용산구 녹사평대로지하 195, 지하 (용산동4가 4)',
 '서울 마포구 대흥로지하 85, 6호 호선 대흥역 (대흥동 128-1)',
 '서울 성북구 화랑로지하 243, 지하철 역사 (석관동 349-8, 6호선)',
 '서울 종로구 지봉로지하 24 (숭인동 316-3)',
 '서울 마포구 월드컵로지하 190 (성산동 592, 마포구청역)',
 '서울 성북구 보문로지하 116 (보문동1가 127-1, 6호선 보문역역사)',
 '서울 중랑구 신내로지하 232, 지하철역사내 (신내동 643-1, 6호선)',
 '서울 용산구 한강대로지하 185, 지하3층 (한강로1가 228-1, 6호선 삼각지역)',
 '서울 마포구 독막로지하 85, 6호 호선 상수역 (상수동 309-10)',
 '서울 은평구 수색로지하 175, 6호선 디지털미디어시티역 지하1층 (증산동 223-25)',
 '서울 성북구 화랑로지하 157, 지하철 6호선 상월곡역 역사 내 (상월곡동 26-1)',
 '서울 노원구 화랑로지하 347-1, 월계동 석계역 6호선 (월계동 25-2)',
 '서울 중구 다산로지하 260, 지하  (흥인동 162-1, 신동역 6호선)',
 '서울 성북구 인촌로지하 89, 6호선 지하철 역사 내 (안암동5가 146-1)',
 '서울 중구 다산로지하 115, 지하층  (신당동 369-2, 약수역 6호선)',
 '서울 은평구 통일로지하 849, 6호선 연신내역 지하1층 1001호  (갈현동)',
 '서울 성북구 월곡로지하 107, 6호선 월곡역 역사 (하월곡동 35-1)',
 '서울 은평구 증산로지하 477, 지하2층 2001호(6호선 응암역) (역촌동 85-41)',
 '서울 용산구 이태원로지하 177, 이태원역 B1 1001호 (이태원동 119-23)',
 '서울 은평구 증산로지하 306, 6호선 증산역 지하1층 1001호 (증산동 199-8)',
 '서울 종로구 지봉로지하 112 (창신동 20-8)',
 '서울 용산구 이태원로지하 287, 지하1층 (한남동 726-494, 6호선 한강진역)',
 '서울 마포구 양화로지하 45, 6호선 지하1층 편의점  (합정동)',
 '서울 노원구 화랑로지하 510, 지하철 역사 내 (공릉동 285-2)',
 '서울 용산구 백범로지하 287, 6호선 효창공원앞역 지하1층 (효창동)',
 '서울 송파구 송파대로지하 257, 8호선 지하철 역사 (가락동 184-23)',
 '서울 강동구 올림픽로지하 550, 8호선 지하철 역사 내 (성내동)',
 '경기 성남시 수정구 산성대로지하 445, 8호선 지하철 역사 내 (단대동)',
 '경기 성남시 수정구 산성대로지하 365, 단대오거리역 지하 GS25 (신흥동 2467)',
 '서울 송파구 올림픽로지하 383, 신천동 8호선 지하철 역사 (신천동 19)',
 '서울 송파구 장지동56번지 8호선 지하철 역사 내부',
 '서울 송파구 장지동600 8호선지하철역사 내',
 '경기 성남시 수정구 수정로지하 365, 8호선 산성역 역사 내 (신흥동)',
 '서울 송파구 송파대로지하 439, 8호선 지하철 역사 (석촌동 209)',
 '서울 송파구 송파대로지하 354, (8호선 지하철 역사내) (가락동 459-4)',
 '경기 성남시 수정구 산성대로203, 8호선 수진역 역사 내 (수진동)',
 '경기 성남시 수정구 산성대로지하 204-2, 8호선 신흥역 역사 내 (신흥동)',
 '서울 강동구 올림픽로지하 776, 지하철 8호선 암사역 역사 내 (암사동 501)',
 '서울 송파구 송파대로지하 82 (장지동 201-5)',
 '서울 강서구 양천로지하 485 (가양동 14-61)',
 '서울 강서구 개화동로8길38, 내 지하층 (개화동 388-1, 개화역사)',
 '서울 서초구 신반포로지하 188 (반포동 19-11)',
 '서울 강서구 방화동로지하 30 (공항동 산20-2, 공항시장역내)',
 '서울 서초구 신반포로지하 17, 구반포역 역사 내 (반포동 817)',
 '서울 영등포구 국회대로지하 758, 지하철역 (여의도동 1-6)',
 '서울 강서구 하늘길지하 77, 김포공항역 지하 (방화동 886)',
 '서울 동작구 노량진로지하 238, 노들역 역사 내 (본동 475-1)',
 '서울 동작구 노량진로지하 130 (노량진동 60-11)',
 '서울 영등포구 양평로지하 40, 당산역 내부  (당산동6가 227-1)',
 '서울 동작구 현충로지하 220 (동작동 326)',
 '서울 강서구 공항대로지하 529 (등촌동 666-94, 등촌역 내)',
 '서울 강서구 마곡중앙5로지하 2 (마곡동 760-3, 마곡나루역내)',
 '서울 강남구 봉은사로지하 601, , 9호선봉은사역 내 (삼성동 111-8)',
 '서울 서초구 사평대로지하 285 (반포동 128-7)',
 '서울 강남구 봉은사로지하 501 (삼성동 111-147)',
 '서울 송파구 백제고분로187 (잠실동 250-5, 파크인-수)',
 '서울 영등포구 의사당대로지하 166 (여의도동 5-6)',
 '서울 송파구 송파대로지하 439, 지하철9호선 석촌역 (석촌동 209)',
 '서울 영등포구 양평로지하 124, 선유도역 내부 (양평동5가 66-1)',
 '서울 송파구 송파동3, 지하철 9호선 송파나루역',
 '서울 강남구 봉은사로지하 102, 9호선 신논현역 지하 상가 (역삼동)',
 '서울 양천구 목동중앙로지하 217 (목동 136-2, 신목동역 내)',
 '서울 서초구 신반포로지하 105, 신반포역 역사 내 (반포동 128-1)',
 '서울 강서구 방화대로지하 301 (방화동 217-156, 신방화역 내)',
 '서울 강서구 양천로지하 341 (가양동 159-3)',
 '서울 강남구 봉은사로지하 201, 지하 1층 926-1호  (논현동 279-165, 9호선 언주역)',
 '서울 영등포구 의사당대로지하 101 (여의도동 2-6)',
 '서울 강서구 공항대로지하 631 (염창동 284-84)',
 '서울 송파구 방이동88-26 지하철9호선 올림픽공원역 B1층',
 '서울 송파구 올림픽로지하 23, 9호선 종합운동장역 역사 (잠실동 122)',
 '서울 강동구 둔촌동6-3 9호선 중앙보훈병원역 B1층',
 '서울 강서구 양천로지하 560 (등촌동 666-40, 증미역내)',
 '서울 송파구 위례성대로51, 지하철9호선 한성백제역 지하1층 (방이동 88-21)',
 '서울 동작구 현충로지하 90, 9호선 흑석역 역사내 (흑석동 4)',
 '울산 울주군 삼남면 반구대로158(방기리 59-20)',
 '서울 마포구 월드컵북로434, 107호 (상암동 1590, 상암ITTower)',
 '경기 화성시 동탄원천로447, 1동 (반월동 686-2)',
 '경기 평택시 포승읍 서동대로524, SK항만주유소 (신영리 413-11)',
 '서울 금천구 벚꽃로309, 7호선 가산디지털단지역 내 상가 3002 (가산동 468-4)',
 '서울 강남구 삼성동1 7호선강남구청역내',
 '서울 강남구 강남대로390, 지하1층 9호 (역삼동 825, 미진프라자)',
 '서울 강남구 강남대로390, B3층 38호  (역삼동 825)',
 '서울 강남구 강남대로390, 지하3층 (역삼동 825, 신분당선)',
 '서울 광진구 능동로지하 110, 지하3층 X-22,23호 (화양동 6-3)',
 '인천 서구 검바위로26, 1층 (검암동 414-204, 검암역(공항철도))',
 '부산 남구 수영로지하 324 (대연동 77)',
 '인천 계양구 다남로24, 1층 (귤현동 451-264)',
 '서울 서초구 반포동19-3 7호선고속버스터미널',
 '서울 마포구 마포대로지하 92, 지하3층 (도화동 25-13, 공덕역)',
 '서울 노원구 동일로지하 1074, 내 (공릉동 385-4, 7호선공릉역)',
 '인천 중구 공항동로135번길86, 자하1층  (운서동 2844-7, 공항화물청사역)',
 '경기 수원시 영통구 대학로55, 1층 광교역사 내 상가 (이의동 740-1, 지상)',
 '경기 수원시 영통구 도청로지하 45 (이의동 177-18)',
 '경기 광명시 오리로지하 980, 7호선 광명사거리역 GS25S광명사거리역점 (광명동 158-211)',
 '서울 광진구 능동로277, 지하1층 (군자동 1-9, 군자역내)',
 '인천 부평구 길주로지하 623, 내  (삼산동 466, 굴포천역)',
 '서울 강서구 하늘길지하 77, 내 (방화동 886, 김포공항역사)',
 '경기 부천시 길주로지하 626, 까치울역 GS25 (춘의동 3-1)',
 '서울 구로구 도림로지하 7, 7호선 남구로역 내 상가 1001 (구로동 801-95)',
 '서울 동작구 사당로14가길19, 사당동, 7호선 남성역 내 (사당동 250-1)',
 '서울 서초구 서초대로지하 103 (방배동 874-16, 7호선내방역내)',
 '서울 노원구 동일로지하 1409, 713동 1016호 (상계동 729, 노원역 7호선)',
 '서울 강남구 학동로지하 102, 지하1층, GS25 S논현역점(논현역 상가1004) (논현동 279-67)',
 '대전 서구 한밭대로지하 744, 대전도시철도 1호선 정부청사역 구내상가 지하 1층 (둔산동 1515-1)',
 '서울 영등포구 양평로지하 40, 내선 8번  (당산동6가 227-1)',
 '서울 영등포구 양평로지하 40, 외선7번 (당산동6가 227-1)',
 '서울 영등포구 도림로지하 137, 7호 호선 대림역 (대림동 1050-17)',
 '대전 서구 계룡로지하 644, 지하1층 (용문동 262)',
 '경기 용인시 수지구 신수로지하 760, 내 상가 (동천동 323-4, 동천역사)',
 '서울 마포구 성암로지하 184, 지하 상가 (상암동 1140, 디지털미디어시티역사)',
 '서울 강서구 마곡중앙로지하 135, 공항철도 마곡나루역 지하 1층 (마곡동 373-14)',
 '서울 노원구 한글비석로530, (7호선마들역내)  (상계9동 647, 상계주공12단지아파트)',
 '서울 강남구 남부순환로지하 2744, 매봉역내 333-03호 (도곡동 179-2)',
 '서울 서초구 매헌로지하 116, 지하층 매장 2호 (양재동 233-2)',
 '서울 중랑구 동일로지하 901, 2001호 (묵동 189-5, 먹골역)',
 '서울 성동구 동호로지하 104, 324-09호 (금호동4가)',
 '서울 중랑구 겸재로171-5, 면목역 지하1층 GS25 S면목역점 (면목동 120-17)',
 '서울 서초구 신반포로지하 241, 반포역 상가1054 (잠원동 103)',
 '서울 영등포구 신풍로113(신길6동 508)',
 '부산 수영구 수영로지하 576, 지하구내층  (광안동 205, 도시철도 광안역)',
 '부산 동래구 중앙대로1414, 지하철 명륜역 (온천동 489-4)',
 '부산 해운대구 해운대로지하 396, 벡스코지하철역 (우동 1086-3)',
 '부산 중구 구덕로지하 80 (남포동6가 117-1)',
 '부산 해운대구 해운대로지하 626, 지하철 해운대역 (우동 656)',
 '경기 부천시 원미구 길주로지하 202, 중동 7호선부천시청역내 (중동 1243, 부천시청역)',
 '경기 부천시 원미구 길주로지하 502, 지하층 (춘의동 15-1, 부천종합운동장)',
 '서울 중랑구 사가정로지하 393, 지하철 7호선 사가정역 (면목동 495)',
 '인천 부평구 길주로지하 713, 삼산동 7호선삼산체육관역내 (삼산2동 466, 삼산체육관역 7호선)',
 '서울 동작구 상도로지하 272, 상도역내 지하 1층 (상도1동 702-1)',
 '경기 부천시 원미구 길주로지하 104, 상동 7호선상동역내 (상동 633, 상동역)',
 '서울 중랑구 망우로297, 상봉역 7호선 지하2층 GS25 S상봉역점 (상봉동 100-9)',
 '경기 용인시 수지구 광교중앙로지하 312, 상현역사 내 상가 (상현동 502-10)',
 '부산 부산진구 중앙대로지하 730, 서면역구내 (부전동 573-1)',
 '부산 부산진구 가야대로777, (중앙몰,J29) (부전동 486-12, 서면지하도상가)',
 '서울 용산구 청파로378, 1층 (동자동 43-205, 한국철도공사)',
 '서울 용산구 청파로378, 지하3층 (동자동 43-205, 한국철도공사)',
 '경기 용인시 수지구 수지로지하 134, 내 상가 (성복동 720-6, 성복역사)',
 '부산 해운대구 우동1524 지하철 센텀시티역(센텀대남로 지하 76)',
 '서울 노원구 동일로지하 1662, 수락산역 (상계동 1132-9)',
 '경기 용인시 수지구 풍덕천동1045 수지구청역사 내 상가',
 '서울 동작구 상도로지하 378, 7호선 숭실대입구역 내 상가 1001 (상도동)',
 '서울 동작구 상도로지하 76, 7호선 신대방삼거리역 내 상가 1001 (대방동 406-10)',
 '경기 부천시 원미구 길주로지하 314, 중동 7호선신중동역내 (중1동 1140-6, 신중동역)',
 '서울 영등포구 신풍로지하 27 (신길6동 3599)',
 '경남 양산시 강변로441, 양산역구내임대상가 2층 D204 (중부동 475-1)',
 '서울 서초구 양재동12-1 신분당선양재역내 B1-27',
 '서울 서초구 남부순환로지하 2585, B3-41호  (서초2동 1366-9, 신분당선양재역내)',
 '서울 광진구 능동로지하 210, 어린이대공원 역 상가1001 (화양동 164-1, 세종대)',
 '부산 연제구 중앙대로지하 1101, 연산지하철 역사내 (연산동 1515-1)',
 '서울 구로구 온수동73 7호선온수역내',
 '서울 중랑구 용마산로지하 227, 용마산역 상가1001 (면목동 1316-5)',
 '인천 중구 흰바위로59번길26, 1층 (운서동 1427-27, 대합실)',
 '서울 동작구 사당로지하 310, 7호선內(사당2동 144-4)',
 '부산 해운대구 해운대로지하 820, 장산지하철역 (좌동 1491)',
 '서울 동작구 상도로지하 188, 장승배기 역사 내 (상도동 26-20)',
 '경기 성남시 분당구 성남대로지하 333, 신분당선 정자역 지하1층 GS25 S정자역점 (정자동 95-1)',
 '서울 송파구 올림픽로지하 23, 2호선 종합운동장역 지하상가 4호 (잠실동)',
 '서울 노원구 중계동512 7호선역사',
 '서울 광진구 능동로415-1, 7호 호선중곡역내  (중곡3동 167-1)',
 '서울 중랑구 동일로지하 797 (중화1동 50-3)',
 '서울 구로구 오리로지하 1154 (오류동 174-5, 7호선 청왕역내)',
 '경기 광명시 철산로지하 13 (철산3동 526)',
 '서울 서초구 청계산로지하 179, 청계산입구역 지하1층 GS25 S청계산역점 (신원동 270-25)',
 '서울 강남구 학동로87길7, (7호선청담역)  (청담동 75-1, 현대아파트)',
 '인천 서구 에코로151, 1층 공항철도 청라국제도시역 (청라동 7-2)',
 '경기 부천시 원미구 길주로지하 406, 춘의동 7호선춘의역사내 (춘의동 145, 춘의역)',
 '서울 노원구 동일로지하 992-1, 717동 1002호 (공릉동 616-4, 태릉입구역)',
 '부산 서구 구덕로지하 170 (토성동3가 11-3)',
 '경기 성남시 분당구 판교역로지하 160, 지하1층 GS25 S판교역점 (백현동 19-2)',
 '서울 노원구 동일로지하 1196, 지하1층 GS25 (하계동 273-5)',
 '서울 강남구 학동로지하 180 (논현동 279-67, 지하상가)',
 '서울 마포구 양화로지하 160, 홍대입구역(2) 239-108호 (동교동 165)',
 '서울 마포구 양화로지하 188, B2F R01호 (동교동 190-1)',
 '서울 마포구 마포대로144 (공덕동 252-5, 마포티타운)',
 '부산 해운대구 구남로46 (중1동 1391-66, 웨이브타운)',
 '서울 마포구 희우정로1길7, 2층 (합정동 397-9)',
 '충북 청주시 흥덕구 가경로123(가경동 171-55)',
 '충북 청주시 흥덕구 가경로140, 월드마트 (가경동 1510)',
 '충북 청주시 흥덕구 서현로32, 1층 106호 (가경동 644-5)',
 '충북 청주시 흥덕구 풍산로25번길28(가경동 1388)',
 '충북 청주시 흥덕구 강서로119(강서동 479)',
 '충북 청주시 흥덕구 경산로4 (가경동 1461-1)',
 '충북 청주시 흥덕구 장구봉로71, 15동 101호 (가경동 1515, 상가제)',
 '충북 청주시 흥덕구 가경로173번길1 (가경동 1188)',
 '충북 청주시 흥덕구 서현중로32번길21, 1층 (가경동 2010)',
 '경기 여주시 가남읍 설가로869, 외 1필지 (태평리 476)',
 '경기 여주시 가남읍 경충대로1472-33, 외 1필지 상가9호10호11호12호 (신해리 620-17)',
 '경기 의정부시 호국로1069 (가능동 585-15)',
 '경기 의정부시 가능로118, 1층 (의정부동 417)',
 '경기 의정부시 태평로214번길19-18, 1층 (가능동 15-279)',
 '경기 의정부시 흥선로41번길14 (가능동 718)',
 '경기 의정부시 의정로140, 1층 (가능2동 737)',
 '경기 의정부시 둔야로62-1(가능2동 749-17)',
 '서울 송파구 충민로66(문정2동 634, 가든파이브라이프패션관B1-1028호)',
 '서울 송파구 송파대로32길15 (가락본동 95-1, 가락금호아파트)',
 '부산 강서구 가락대로397 (송정동 737-13)',
 '서울 송파구 송이로23길18, 1층 (가락2동 144-20)',
 '서울 송파구 양재대로932, 1층 1호 (가락동 600, 업무동)',
 '서울 송파구 동남로11길12, 1층 (가락동 135-24)',
 '서울 송파구 오금로36길69-14, 1층 (가락동 49-10)',
 '서울 송파구 오금로44가길9 (가락동 170)',
 '서울 송파구 송파대로30길16,  110호(가락본동 98, 두산위브센티움)',
 '서울 송파구 중대로23길20,  104호(가락본동 8-1, 우정에쉐르)',
 '서울 송파구 오금로36길46, 1층 (가락본동 41, 덕봉빌딩)',
 '서울 송파구 동남로13길50 (가락2동 123-17)',
 '서울 송파구 송이로24길15 (가락동 116-8)',
 '서울 송파구 송파대로30길3, 1층(가락본동 96-18)',
 '서울 송파구 양재대로66길44, 1층 (가락본동 35-10, 진흥빌딩)',
 '서울 송파구 양재대로62길47,  101호(가락본동 76-9)',
 '서울 구로구 구로동로7길57, 1층 (가리봉동 13-37)',
 '서울 금천구 벚꽃로286,  1층 107호(가산동 60-15, 리더스타워)',
 '서울 금천구 가산디지털1로171, 114호 (가산동 371-41, 가산에스케이브이원센터)',
 '서울 금천구 가산디지털1로25 (가산동 670)',
 '서울 금천구 가산로3길113(독산1동 335-14)',
 '서울 금천구 서부샛길606, 107호 (가산동 543-1, 대성디폴리스지식산업센터)',
 '서울 금천구 서부샛길528, 1층 103호 (가산동 550-17, 미소지움)',
 '서울 금천구 디지털로9길65,  102호(가산동 60-17, 드림타워9차)',
 '서울 금천구 남부순환로112길15 (가산동 147-25)',
 '서울 금천구 벚꽃로278,  B138호(가산동 60-19, 세진테크노빌)',
 '경북 칠곡군 가산면 인동가산로737 (학하리 525-3)',
 '서울 금천구 디지털로9길99,  126호(가산동 60-11, 스타밸리)',
 '서울 금천구 가산디지털2로173, 103호 (가산동 459-23)',
 '서울 금천구 가산디지털1로51(가산동 327-23)',
 '경기 포천시 가산면 정금로188, GS25가산정교점 (정교리 240-5)',
 '서울 금천구 시흥대로153길89, 1층 (가산동 149-27)',
 '서울 금천구 벚꽃로298, 125호 (가산동 50-3, 대륭포스트타워6차)',
 '서울 금천구 가산디지털1로88, 1층 , 103호 (가산동 345-50, IT프리미어타워)',
 '서울 금천구 가산디지털1로233, 107호 (가산동 481-2, 에이스하이엔드타워9차)',
 '서울 금천구 디지털로12길21(가산동 143-44)',
 '대전 서구 가수원로83, 1층 (가수원동 1392)',
 '대전 서구 벌곡로1321-10 (가수원동 793-4)',
 '대전 서구 용소로50번길13, 1층 (가수원동 1190)',
 '대전 서구 가수원로65번길2(가수원동 776-3)',
 '부산 부산진구 가야대로482번길62 (개금동 594-16)',
 '부산 부산진구 가야공원로34 (가야동 596-12)',
 '부산 부산진구 엄광로238번길4(가야동 388-1)',
 '경남 김해시 삼계로208, 1층 (삼계동 60, 평생교육관)',
 '경남 함안군 가야읍 함마대로1500(도항리 322-3)',
 '부산 부산진구 엄광로68, 상가 146호, 116호 (가야동 669-9)',
 '부산 부산진구 엄광로212(가야동 408-4)',
 '경남 김해시 해반천로168번길19, 107호 (삼계동 1439-5, 화정마을아이파크가야아파트)',
 '부산 부산진구 가야대로600(가야1동 377-10)',
 '부산 부산진구 대학로78(가야동 416-9)',
 '부산 부산진구 가야대로572번길18, 1층 GS25 가야플러스점 (가야동 297-2)',
 '서울 강서구 허준로47, 상가(가양1동 1461, 가양도시개발공사아파트)',
 '서울 강서구 허준로209 (가양동 1486)',
 '서울 강서구 허준로176 (가양동 1482)',
 '서울 강서구 화곡로72길62, 107호 (가양동 448-11, 가양글로벌퍼스트)',
 '서울 강서구 양천로400-12, 1층 105호 (가양동 54-6, 더리브골드타워)',
 '서울 강서구 양천로418, 1층 일부 (등촌동 10-14)',
 '서울 강서구 양천로516, 103호 (등촌동 720)',
 '대전 동구 동대전로248번길143, 1층 (가양동 159-36)',
 '대전 동구 동대전로284번길44, 1층 (가양동 392-8)',
 '서울 강서구 양천로57길10-20,  상가 104호(가양2동 1480-5, 이스타빌)',
 '대전 동구 가양로134, 1층 (가양동 428-42)',
 '대전 동구 우암로312번길16, 1층 (가양2동 171-30)',
 '서울 강서구 화곡로68길15, , 22번지  103호 (등촌동 628-7, 아벨테크노지식산업센터)',
 '서울 강서구 양천로49길54, 101호 (가양동 194-2, 양천향교지웰에스테이트)',
 '대전 동구 은어송로116, 102호 (가오동 555, 은어송4단지상가))',
 '대전 동구 은어송로52번길5-4, 101호 (가오동 654)',
 '경기 남양주시 가운로2길14,  상가동 104호(가운동 671, 휴먼시아)',
 '대전 서구 가장로106, 삼성래미안아파트 재해리상가동 101호  (가장동 55, 삼성래미안아파트)',
 '경기 오산시 가장산업동로32 (가장동 375-1)',
 '대전 서구 괴정로134번길23, 1층 (가장동 57-51)',
 '서울 서대문구 가재울미래로2, 103동 102호 (남가좌동 385, 1단지)',
 '서울 서대문구 모래내로15길50, 1층 (남가좌동 197-5)',
 '인천 서구 원창로237 (가정동 508-12)',
 '인천 서구 봉오재1로36, 상가동 102호,102호 (신현동 306-1, 엘에이치루원시티센트럴타운)',
 '인천 서구 염곡로498번안길31 (가정동 615-4)',
 '인천 서구 봉오재3로11, 상가1동 106호 107호 (가정동 603-1, 루원제일풍경채아파트)',
 '인천 서구 건지로334번길22, 1층전체 (가좌3동 193-2, 한마음교회)',
 '인천 서구 가석로126번안길21 (가좌동 206-75)',
 '인천 서구 장고개로268, 1층 (가좌동 326-5)',
 '인천 서구 염곡로39, 1층 (가좌동 178-278)',
 '경기 고양시 일산서구 가좌3로45, 상가동 101,102호 (가좌동 1089, 가좌마을)',
 '인천 서구 가정로107-1, 1층 일부 (가좌동 146-21)',
 '경기 고양시 일산서구 가좌1로8, 상가 101~2(가좌동 1087, 가좌마을)',
 '인천 서구 열우물로235, 1층103호, 104호  (가좌동 455-21)',
 '인천 서구 백범로681, 제1005호 (가좌동 541-1, 주안스마트테크노타워)',
 '인천 서구 건지로250번길2 (가좌동 104-5)',
 '인천 서구 원적로63 (가좌동 212-8)',
 '인천 서구 건지로250번길29-4, 1층 (가좌1동 139-6)',
 '인천 서구 원적로47번길35, 신현대아파트 상가동 104,105,106 (가좌동 217)',
 '경기 고양시 일산서구 가좌2로20, 상가동 1층 112호 (가좌동 1086, 가좌마을6단지)',
 '인천 서구 건지로402, 외2필지 403동 101호 (가좌2동 7, 한신휴플러스)',
 '경남 진주시 진주대로554 (가좌동 448-7)',
 '인천 서구 장고개로293번길17 (가좌동 241-14)',
 '인천 서구 가좌로84번길24, 101호 (가좌3동 484)',
 '인천 서구 건지로284번길11-1 (가좌동 111-36)',
 '인천 서구 장고개로337번길16,  종합상가 401동 114호(가좌2동 11, 한신)',
 '서울 마포구 성암로28, 110호 (성산동 134-2, 가좌역행복주택)',
 '서울 송파구 오금로40길44, 1층 (가락동 154-19)',
 '강원 고성군 죽왕면 가진해변길85, 1층 (가진리 26)',
 '대구 달성군 가창면 가창로1109 (용계리 9-2)',
 '경기 성남시 수정구 성남대로1342, 가천관 2층 (복정동 620-2, 가천대학교)',
 '경기 성남시 수정구 성남대로1330, 1층 103호 (태평1동 5113-7, 일성오퍼스원)',
 '경기 가평군 가평읍 석봉로163 (읍내리 495-32)',
 '경기 가평군 가평읍 북한강변로1049-1, 1층 (달전리 118-2)',
 '경기 가평군 가평읍 달전로58 (달전리 334-15)',
 '경기 가평군 가평읍 가화로160, A동 101호 (읍내리 626-13)',
 '경기 가평군 청평면 경춘로254, 2층 (대성리 344-19, 토종순대국)',
 '경기 가평군 가평읍 북한강변로190 (금대리 554-1)',
 '경기 가평군 가평읍 가화로98 (읍내리 475-24)',
 '경기 가평군 조종면 운악청계로127 (현리 92-7)',
 '경기 가평군 가평읍 호반로1700, 1동 (산유리 99-3)',
 '경기 가평군 청평면 경춘로1151, 1동 (상천리 1156-4)',
 '경기 가평군 설악면 신천중앙로129(신천리 458-4)',
 '경기 가평군 하면신상리 131-1번지',
 '경기 가평군 가평읍 문화로13-39 (달전리 591-1)',
 '경기 가평군 가평읍 자라섬로60, 1층 (대곡리 27-14, 자라섬캠핑장수상클럽하우스)',
 '경기 가평군 조종면현리 410-14번지',
 '경기 가평군 가평읍 석봉로209,  105호(읍내리 637-6, 준수빌딩)',
 '경기 가평군 설악면 한서로150, 1층 (창의리 115-4)',
 '경기 가평군 가평읍 석봉로191번길18 (읍내리 583-1)',
 '경기 가평군 가평읍 가화로225 (읍내리 767)',
 '경기 가평군 청평면 호반로740, A동 2층 (호명리 342-6)',
 '경기 가평군 하면 현창로38번길10(현리 264-32)',
 '경남 창원시 마산합포구 가포본동5길37, 상가 101호, 102호 (가포동 58-2)',
 '경기 김포시 통진읍 율마로235, 가동 1층 (가현리 430-5)',
 '대구 동구 반야월북로123, 상가동 105호 (각산동 905, 각산태영데시앙)',
 '광주 북구 월동로92 (각화동 152-25)',
 '인천 남동구 남동대로921번길1, 1층 (간석1동 277-1)',
 '인천 남동구 풀무로20, 1층 전체 (간석동 77)',
 '인천 남동구 석산로9번길69 (간석동 388-30)',
 '인천 남동구 남동대로860, , 상가4동 제107호 (간석동 939-1)',
 '인천 남동구 경인로644번길80(간석3동 117-14)',
 '인천 남동구 구월로8번길98, 1층 (간석1동 508-25)',
 '인천 남동구 경원대로972, A동 1층 107호 (간석동 617-22, 신원아침도시아파텔)',
 '인천 남동구 벽돌말로3번길1, 1층 (간석동 574-14)',
 '인천 남동구 용천로197-1, 1층 (간석동 54-23)',
 '인천 남동구 구월로137번길26 (간석동 356)',
 '인천 남동구 석산로112 (간석동 458-10)',
 '인천 남동구 백범로248번길9, 1층 (간석동 921-3)',
 '인천 남동구 백범로404, 105호 (간석동 216-11, 도시에 창)',
 '인천 남동구 경인로617, 오피앙B 제1층101호(간석4동 249-5)',
 '인천 남동구 석정로461(간석4동 616-98)',
 '인천 남동구 남동대로916번길40, 1층 (간석2동 182-13)',
 '인천 남동구 용천로176번길90 (간석3동 224, 간석휴먼시아아파트2블럭2상가101호)',
 '인천 남동구 경인로524번길24, 1층 8,9,13,14,15,17,18,19호 (간석동 519-4)',
 '인천 남동구 백범로331(간석3동 123-1)',
 '인천 남동구 호구포로888번길9-19, 1층 (간석3동 919-2)',
 '인천 남동구 경인로524번길43(간석1동 518-69)',
 '강원 원주시 지정면 소금산길22, 1층 (간현리 1056-13)',
 '대전 서구 계룡로349번길10, 1층 (갈마동 263-29)',
 '대전 서구 괴정로11번길33 (갈마동 1289)',
 '대전 서구 갈마로13-32, 대전 서구 갈마로 13-32 (갈마동 313-9)',
 '대전 서구 갈마역로25번길73, 102호 (갈마동 266-85, 혜성타운)',
 '대전 서구 대덕대로161번길13, 1층상가전체(갈마2동 1034)',
 '대전 서구 계룡로354번길31 (갈마동 306-1)',
 '대전 서구 계룡로320번길40(갈마1동 297-26)',
 '대전 서구 신갈마로113번길28, 1층(갈마1동 391-22)',
 '대전 서구 갈마로105(갈마2동 404-9)',
 '경기 구리시 갈매중앙로185-4, 1층 109호,110호,111호 (갈매동 518-2)',
 '경기 구리시 산마루로24, 106호 (갈매동 320-18, 신성타워)',
 '경기 구리시 갈매중앙로132, 상가동 1층 108호  (갈매동 77, LH이스트힐)',
 '경기 구리시 산마루로11-12, 113호 (갈매동 281)',
 '경기 구리시 갈매순환로96 (갈매동 658)',
 '경기 구리시 갈매중앙로16, 상가동 106호 (갈매동 산101-1, 대우푸르지오아파트)',
 '경기 구리시 갈매동601-2번지 한덕프라자 107호',
 '경기 구리시 갈매순환로204번길8-34 (갈매동 534-2)',
 '대구 달서구 성서동로320(장기동 150-1)',
 '인천 부평구 새갈로22, 1층 (갈산동 21-7)',
 '경기 이천시 갈산로114, 1동 103호 (갈산동 219-10)',

In [6]:
# 데이터프레임 생성
corp = pd.DataFrame({'매장명':corp_list, '매장주소':addr_list})
corp.head()

            매장명                                            매장주소
0   GS252테크노파크점          경기 부천시 오정구 석천로345,  300동 114호(삼정동 365)
1   GS2538선휴게소점  강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)
2      GS25CBS점          서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)
3  GS25CJ대전HUB점               대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)
4  GS25CJ덕양SUB점         경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)

In [3]:
# 엑셀 파일로 저장
corp.to_excel('./GS편의점_주소_및_매장명(원본).xlsx', index=True)
corp

NameError: name 'corp' is not defined

# 기존 데이터와 주소, 매장명 매칭

In [6]:
df_kt = pd.read_csv('./data/dp_frc_basexy_ftc_m_sum_202205.csv',sep='|')
df_kt

,base_ym,sido_cd,sido_nm,sig_cd,sig_nm,emd_cd,emd_nm,base_xycrd,ftc_cate2_cd,groth,...,aces,aces_avg,stbiz,stbiz_avg,prftb,prftb_avg,liqdt,liqdt_avg,mkt_perd,mkt_perd_avg
0,202205,27,대구광역시,27290,달서구,27290105,호림동,128.48635.841,B16,10.0,...,7.0,7.0,6.0,6.0,4,5,5.0,5.0,NaN,NaN
1,202205,11,서울특별시,11680,강남구,11680111,세곡동,127.09237.468,A11,4.0,...,4.0,4.0,6.0,6.0,8,6,4.0,3.0,NaN,NaN
2,202205,43,충청북도,43113,청주시 흥덕구,43113113,가경동,127.43236.626,A13,7.0,...,2.0,3.0,9.0,6.0,10,5,2.0,2.0,8.5,60.5
3,202205,41,경기도,41220,평택시,41220330,고덕면,127.04837.007,C07,5.0,...,8.0,5.0,7.0,6.0,5,5,6.0,5.0,NaN,NaN
4,202205,41,경기도,41461,용인시처인구,41461253,모현읍,127.16937.344,C07,7.0,...,5.0,5.0,5.0,5.0,6,5,5.0,5.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4379674,202205,26,부산광역시,26320,북구,26320102,화명동,129.02435.241,B04,9.0,...,7.0,2.0,3.0,5.0,5,5,6.0,2.0,12.6,190.1
4379675,202205,41,경기도,41190,부천시,41190110,소사본동,126.78937.479,A05,3.0,...,3.0,2.0,6.0,6.0,4,6,2.0,2.0,5.0,6.6
4379676,202205,11,서울특별시,11500,강서구,11500104,가양동,126.86237.562,C03,9.0,...,5.0,2.0,7.0,7.0,5,5,4.0,2.0,NaN,NaN
4379677,202205,29,광주광역시,29110,동구,29110112,남동,126.91935.144,B20,10.0,...,7.0,7.0,3.0,2.0,7,6,5.0,5.0,NaN,NaN
4379678,202205,50,제주특별자치도,50130,서귀포시,50130310,안덕면,126.32333.303,B03,4.0,...,8.0,7.0,3.0,4.0,2,5,6.0,5.0,2050.8,176.9

In [7]:
gs_df = pd.read_excel('./GS편의점_주소_및_매장명(원본).xlsx')
gs_df

,Unnamed: 0,매장명,매장주소
0,0,GS252테크노파크점,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)"
1,1,GS2538선휴게소점,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)"
2,2,GS25CBS점,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)"
3,3,GS25CJ대전HUB점,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)"
4,4,GS25CJ덕양SUB점,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)"
...,...,...,...
15747,15747,S2상왕십리역점,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)"
15748,15748,S4동작역점,"서울 동작구 현충로257, 431-02호 (동작동 327-1, 4호선 동작역 Do..."
15749,15749,경희프라자점,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)"
15750,15750,나만의냉장고,서울 강남구 논현로508 (역삼동 679)
15751,15751,샛별이PPL점,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)"

In [8]:
gs_df = gs_df.drop(['Unnamed: 0'], axis=1, inplace=False)
gs_df

                매장명                                               매장주소
0       GS252테크노파크점             경기 부천시 오정구 석천로345,  300동 114호(삼정동 365)
1       GS2538선휴게소점     강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)
2          GS25CBS점             서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)
3      GS25CJ대전HUB점                  대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)
4      GS25CJ덕양SUB점            경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)
...             ...                                                ...
15747      S2상왕십리역점  서울 성동구 왕십리로지하 374, 207-02호  (하왕십리동 946-14, 상왕십리역)
15748        S4동작역점  서울 동작구 현충로257, 431-02호  (동작동 327-1, 4호선 동작역 Do...
15749        경희프라자점       서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)
15750        나만의냉장고                            서울 강남구 논현로508 (역삼동 679)
15751       샛별이PPL점          경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)

[15752 rows x 2 columns]

In [14]:
corp[corp['매장명'].isin(['나만의냉장고'])]

          매장명                     매장주소
15750  나만의냉장고  서울 강남구 논현로508 (역삼동 679)

In [17]:
# 특정 컬럼 조회
tmp = corp.query('매장명 == ["나만의냉장고"]')
tmp

          매장명                     매장주소
15750  나만의냉장고  서울 강남구 논현로508 (역삼동 679)

In [ ]:
# 오름차순 정렬
corp.sort_values(by='매장주소',ascending=True)

# 법정동 변환

In [276]:
df_addr = pd.read_excel('./gs_법정동.xlsx')
df_addr

,매장명,주소,지번주소,도로명주소,관할주민센터,우편번호
0,GS252테크노파크점,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)",경기도 부천시 삼정동 365 부천테크노파크,경기도 부천시 석천로 345(삼정동),경기도 부천시 오정동,14501.0
1,GS2538선휴게소점,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)",NaN,NaN,NaN,NaN
2,GS25CBS점,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)",서울특별시 양천구 목동 917-1,서울특별시 양천구 목동서로 159-1(목동),서울특별시 양천구 목1동,7997.0
3,GS25CJ대전HUB점,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)",대전광역시 대덕구 문평동 140 대한통운,대전광역시 대덕구 대덕대로1447번길 39(문평동),대전광역시 대덕구 목상동,34301.0
4,GS25CJ덕양SUB점,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",경기도 고양시 일산동구 사리현동 151-1,경기도 고양시 일산동구 성현로 615(사리현동),경기도 고양시 일산동구 고봉동,10261.0
...,...,...,...,...,...,...
15747,S2상왕십리역점,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",NaN,NaN,NaN,NaN
15748,S4동작역점,"서울 동작구 현충로257, 431-02호 (동작동 327-1, 4호선 동작역 Do...",NaN,NaN,NaN,NaN
15749,경희프라자점,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)",NaN,NaN,NaN,NaN
15750,나만의냉장고,서울 강남구 논현로508 (역삼동 679),서울특별시 강남구 역삼동 679 GS강남타워,서울특별시 강남구 논현로 508(역삼동),서울특별시 강남구 역삼1동,6141.0
15751,샛별이PPL점,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)",NaN,NaN,NaN,NaN

### 법정동 없는 주소지 동 자르기

In [278]:
df_addr['주소'].str.split(' ').str[1]

0         부천시
1         양양군
2         양천구
3         대덕구
4         고양시
         ...
15747     성동구
15748     동작구
15749    동대문구
15750     강남구
15751     이천시
Name: 주소, Length: 15752, dtype: object

In [192]:
df_addr['시군구'] = df_addr['주소'].str.split(' ').str[0] + ' ' + df_addr['주소'].str.split(' ').str[1]

In [288]:
df_addr['시도'] = df_addr['주소'].str.split(' ').str[0]
df_addr['군구'] = df_addr['주소'].str.split(' ').str[1]

In [287]:
df_addr['동'] = df_addr['법정동'].str.split(' ').str[0]

In [290]:
df_addr['시도'] +' '+df_addr['군구']+' '+df_addr['동']

0          경기 부천시 삼정동
1          강원 양양군 잔교리
2          서울 양천구 목1동
3          대전 대덕구 문평동
4         경기 고양시 사리현동
             ...
15747    서울 성동구 하왕십리동
15748      서울 동작구 동작동
15749     서울 동대문구 회기동
15750      서울 강남구 역삼동
15751      경기 이천시 죽당리
Length: 15752, dtype: object

In [291]:
df_addr['시군구동'] = df_addr['시도'] +' '+df_addr['군구']+' '+df_addr['동']

In [292]:
df_addr

,매장명,주소,지번주소,도로명주소,관할주민센터,우편번호,법정동,동,시도,군구,시군구동
0,GS252테크노파크점,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)",경기도 부천시 삼정동 365 부천테크노파크,경기도 부천시 석천로 345(삼정동),경기도 부천시 오정동,14501.0,삼정동 365,삼정동,경기,부천시,경기 부천시 삼정동
1,GS2538선휴게소점,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)",NaN,NaN,NaN,NaN,"잔교리 41-10, 38휴게소",잔교리,강원,양양군,강원 양양군 잔교리
2,GS25CBS점,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)",서울특별시 양천구 목동 917-1,서울특별시 양천구 목동서로 159-1(목동),서울특별시 양천구 목1동,7997.0,"목1동 917-1, CBS방송국1층",목1동,서울,양천구,서울 양천구 목1동
3,GS25CJ대전HUB점,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)",대전광역시 대덕구 문평동 140 대한통운,대전광역시 대덕구 대덕대로1447번길 39(문평동),대전광역시 대덕구 목상동,34301.0,문평동 140,문평동,대전,대덕구,대전 대덕구 문평동
4,GS25CJ덕양SUB점,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",경기도 고양시 일산동구 사리현동 151-1,경기도 고양시 일산동구 성현로 615(사리현동),경기도 고양시 일산동구 고봉동,10261.0,"사리현동 151-1, CJ대한통운",사리현동,경기,고양시,경기 고양시 사리현동
...,...,...,...,...,...,...,...,...,...,...,...
15747,S2상왕십리역점,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",NaN,NaN,NaN,NaN,"하왕십리동 946-14, 상왕십리역",하왕십리동,서울,성동구,서울 성동구 하왕십리동
15748,S4동작역점,"서울 동작구 현충로257, 431-02호 (동작동 327-1, 4호선 동작역 Do...",NaN,NaN,NaN,NaN,"동작동 327-1, 4호선 동작역 Dongjak s.t",동작동,서울,동작구,서울 동작구 동작동
15749,경희프라자점,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)",NaN,NaN,NaN,NaN,"회기동 1-5, 전면플라자",회기동,서울,동대문구,서울 동대문구 회기동
15750,나만의냉장고,서울 강남구 논현로508 (역삼동 679),서울특별시 강남구 역삼동 679 GS강남타워,서울특별시 강남구 논현로 508(역삼동),서울특별시 강남구 역삼1동,6141.0,역삼동 679,역삼동,서울,강남구,서울 강남구 역삼동
15751,샛별이PPL점,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)",NaN,NaN,NaN,NaN,죽당리 98-11,죽당리,경기,이천시,경기 이천시 죽당리

In [279]:
df_addr['법정동'] = [add.split('(')[-1:] for add in df_addr['주소']]

In [280]:
df_addr['법정동'] = df_addr['법정동'].str[0]

In [281]:
df_addr['법정동']

0                               삼정동 365)
1                      잔교리 41-10, 38휴게소)
2                   목1동 917-1, CBS방송국1층)
3                               문평동 140)
4                    사리현동 151-1, CJ대한통운)
                      ...
15747               하왕십리동 946-14, 상왕십리역)
15748    동작동 327-1, 4호선 동작역 Dongjak s.t)
15749                    회기동 1-5, 전면플라자)
15750                           역삼동 679)
15751                         죽당리 98-11)
Name: 법정동, Length: 15752, dtype: object

In [282]:
df_addr['법정동'] = [df_addr['법정동'][i].split(')')[0] for i in range(len(df_addr['법정동']))]

In [283]:
df_addr['법정동']

0                               삼정동 365
1                      잔교리 41-10, 38휴게소
2                   목1동 917-1, CBS방송국1층
3                               문평동 140
4                    사리현동 151-1, CJ대한통운
                      ...
15747               하왕십리동 946-14, 상왕십리역
15748    동작동 327-1, 4호선 동작역 Dongjak s.t
15749                    회기동 1-5, 전면플라자
15750                           역삼동 679
15751                         죽당리 98-11
Name: 법정동, Length: 15752, dtype: object

In [293]:
# 엑셀 파일로 저장
df_addr.to_excel('./GS편의점_전체매장_원본.xlsx', index=False)
df_addr

,매장명,주소,지번주소,도로명주소,관할주민센터,우편번호,법정동,동,시도,군구,시군구동
0,GS252테크노파크점,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)",경기도 부천시 삼정동 365 부천테크노파크,경기도 부천시 석천로 345(삼정동),경기도 부천시 오정동,14501.0,삼정동 365,삼정동,경기,부천시,경기 부천시 삼정동
1,GS2538선휴게소점,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)",NaN,NaN,NaN,NaN,"잔교리 41-10, 38휴게소",잔교리,강원,양양군,강원 양양군 잔교리
2,GS25CBS점,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)",서울특별시 양천구 목동 917-1,서울특별시 양천구 목동서로 159-1(목동),서울특별시 양천구 목1동,7997.0,"목1동 917-1, CBS방송국1층",목1동,서울,양천구,서울 양천구 목1동
3,GS25CJ대전HUB점,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)",대전광역시 대덕구 문평동 140 대한통운,대전광역시 대덕구 대덕대로1447번길 39(문평동),대전광역시 대덕구 목상동,34301.0,문평동 140,문평동,대전,대덕구,대전 대덕구 문평동
4,GS25CJ덕양SUB점,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",경기도 고양시 일산동구 사리현동 151-1,경기도 고양시 일산동구 성현로 615(사리현동),경기도 고양시 일산동구 고봉동,10261.0,"사리현동 151-1, CJ대한통운",사리현동,경기,고양시,경기 고양시 사리현동
...,...,...,...,...,...,...,...,...,...,...,...
15747,S2상왕십리역점,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",NaN,NaN,NaN,NaN,"하왕십리동 946-14, 상왕십리역",하왕십리동,서울,성동구,서울 성동구 하왕십리동
15748,S4동작역점,"서울 동작구 현충로257, 431-02호 (동작동 327-1, 4호선 동작역 Do...",NaN,NaN,NaN,NaN,"동작동 327-1, 4호선 동작역 Dongjak s.t",동작동,서울,동작구,서울 동작구 동작동
15749,경희프라자점,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)",NaN,NaN,NaN,NaN,"회기동 1-5, 전면플라자",회기동,서울,동대문구,서울 동대문구 회기동
15750,나만의냉장고,서울 강남구 논현로508 (역삼동 679),서울특별시 강남구 역삼동 679 GS강남타워,서울특별시 강남구 논현로 508(역삼동),서울특별시 강남구 역삼1동,6141.0,역삼동 679,역삼동,서울,강남구,서울 강남구 역삼동
15751,샛별이PPL점,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)",NaN,NaN,NaN,NaN,죽당리 98-11,죽당리,경기,이천시,경기 이천시 죽당리

### 참고

In [13]:
df_addr['지번주소'].isnull().sum()

3731

In [26]:
type(df_addr['지번주소'][0])

str

In [64]:
type(df_addr['지번주소'][1]) != str

True

In [65]:
 df_addr['지번주소'][1]

nan

In [49]:
a =  []
a.append(df_addr['지번주소'][0])

In [50]:
a

['경기도 부천시 삼정동 365 부천테크노파크']

In [56]:
len(df_addr['지번주소'])

15752

In [72]:
corp_ = []
addr_ = []

for i in range(len(df_addr['지번주소'])):
    if type(df_addr['지번주소'][i]) != str:
        addr_.append(df_addr['주소'][i])
        corp_.append(df_addr['매장명'][i])

In [74]:
corp_

['GS2538선휴게소점',
 'GS25GIDC광명역점',
 'GS25G여의도점',
 'GS25LGD동락원점',
 'GS25LGD파주복지동A점',
 'GS25LGD파주복지동B점',
 'GS25LG광화문점',
 'GS25LG사이언스파크점',
 'GS25LG연구동점',
 'GS25LG유플러스용산점',
 'GS25LG인화원점',
 'GS25LG전자구미1점',
 'GS25LS타워점',
 'GS25NC소프트점',
 'GS25R강동4점',
 'GS25R강동5점',
 'GS25R분당3점',
 'GS25R서울구남4점',
 'GS25R서울구북3점',
 'GS25R서울구북4점',
 'GS25R선릉7점',
 'GS25R안산9점',
 'GS25R인천연수5점',
 'GS25R인천연수6점',
 'GS25R일산마사4층점',
 'GS25R일산마사5층점',
 'GS25R일산마사6층점',
 'GS25R제주예시장점',
 'GS25S6고려대역점',
 'GS25S6공덕역점',
 'GS25S6광흥창역점',
 'GS25S6구산역점',
 'GS25S6녹사평역점',
 'GS25S6대흥역점',
 'GS25S6돌곶이역점',
 'GS25S6봉화산역점',
 'GS25S6삼각지역점',
 'GS25S6상수역점',
 'GS25S6상암DMC역2점',
 'GS25S6상월곡역점',
 'GS25S6석계역점',
 'GS25S6안암역점',
 'GS25S6연신내역점',
 'GS25S6월곡역점',
 'GS25S6응암역점',
 'GS25S6이태원역점',
 'GS25S6증산역점',
 'GS25S6한강진역점',
 'GS25S6합정역점',
 'GS25S6화랑대역점',
 'GS25S6효창공원앞역점',
 'GS25S8가락시장역점',
 'GS25S8강동구청역점',
 'GS25S8남한산성입구역점',
 'GS25S8단대오거리역점',
 'GS25S8몽촌토성역점',
 'GS25S8문정역점',
 'GS25S8복정역점',
 'GS25S8산성역점',
 'GS25S8석촌역점',
 'GS25S8수진역점',
 'GS25S8신흥역점',
 'GS25S8암사역점',
 'GS25S9개화역점',
 'GS25S9공항시장역점',
 'GS25S9구반포역점',
 'GS25S9국회의사당역점',
 'GS25S9노들역점',
 'GS25S9당산역점',
 'GS25S9봉은사역점',
 'GS25S9사평역점',
 'GS25S9샛강역점',
 'GS25S9석촌역점',
 'GS25S9선유도역점',
 'GS25S9송파나루역점',
 'GS25S9신논현역점',
 'GS25S9신반포역점',
 'GS25S9언주역점',
 'GS25S9여의도역점',
 'GS25S9올림픽공원역점',
 'GS25S9종합운동장역점',
 'GS25S9중앙보훈병원역점',
 'GS25S9한성백제역점',
 'GS25S9흑석역점',
 'GS25SDI점',
 'GS25SK항만주유소점',
 'GS25S가산디지털단지역점',
 'GS25S강남구청역점',
 'GS25S강남역1호점',
 'GS25S강남역3호점',
 'GS25S건대입구역점',
 'GS25S고속터미널역점',
 'GS25S공덕역점',
 'GS25S공릉역점',
 'GS25S공항화물청사역점',
 'GS25S광교역점',
 'GS25S광명사거리역점',
 'GS25S군자역점',
 'GS25S굴포천역점',
 'GS25S김포공항역점',
 'GS25S까치울역점',
 'GS25S남구로역점',
 'GS25S남성역점',
 'GS25S내방역점',
 'GS25S논현역점',
 'GS25S뉴정부청사점',
 'GS25S당산역1호점',
 'GS25S당산역2호점',
 'GS25S대림역점',
 'GS25S대전용문역점',
 'GS25S동천역점',
 'GS25S디지털미디어시티역',
 'GS25S마곡나루역점',
 'GS25S매봉역점',
 'GS25S매헌역점',
 'GS25S메트로금호점',
 'GS25S면목역점',
 'GS25S반포역점',
 'GS25S부산광안역점',
 'GS25S부산명륜역점',
 'GS25S부산벡스코역점',
 'GS25S부산해운대역점',
 'GS25S부천시청역점',
 'GS25S사가정역점',
 'GS25S삼산체육관역점',
 'GS25S상도역점',
 'GS25S상동역점',
 'GS25S상봉역점',
 'GS25S상현역점',
 'GS25S서면역점',
 'GS25S서울역2호점',
 'GS25S성복역점',
 'GS25S수지구청역점',
 'GS25S숭실대입구역점',
 'GS25S신대방삼거리역점',
 'GS25S신중동역점',
 'GS25S양산역점',
 'GS25S양재역1호점',
 'GS25S양재역2호점',
 'GS25S어린이대공원역점',
 'GS25S연산역점',
 'GS25S온수역점',
 'GS25S용마산역점',
 'GS25S이수역점',
 'GS25S장산역점',
 'GS25S장승배기역점',
 'GS25S정자역점',
 'GS25S종합운동장역점',
 'GS25S중계역점',
 'GS25S중곡역점',
 'GS25S청계산역점',
 'GS25S청라국제도시역점',
 'GS25S춘의역점',
 'GS25S판교역점',
 'GS25S하계역점',
 'GS25S홍대입구역점',
 'GS25가경세원점',
 'GS25가남삼거리점',
 'GS25가남행복점',
 'GS25가산정교점',
 'GS25가야벽산점',
 'GS25가야플러스점',
 'GS25가양2점',
 'GS25가양데시앙점',
 'GS25가양우성점',
 'GS25가양테크노점',
 'GS25가장래미안점',
 'GS25가정센트럴점',
 'GS25가정풍경채점',
 'GS25가좌건지점',
 'GS25가좌대우점',
 'GS25가좌베스트점',
 'GS25가좌벽산점',
 'GS25가좌신현대점',
 'GS25가좌으뜸점',
 'GS25가좌제일점',
 'GS25가좌한신점',
 'GS25가천대가천관점',
 'GS25가평신상리점',
 'GS25가평현리점',
 'GS25가포LH점',
 'GS25가현로드점',
 'GS25각산데시앙점',
 'GS25간석나래점',
 'GS25간석래미안점',
 'GS25간석오피앙점',
 'GS25간석중앙점',
 'GS25갈마스타점',
 'GS25갈매주공점',
 'GS25갈매푸르지오점',
 'GS25갈산사거리점',
 'GS25갈삼대로점',
 'GS25갈현사랑점',
 'GS25감계덕산점',
 'GS25감계힐스4차점',
 'GS25감곡주공점',
 'GS25감만판테라',
 'GS25감만현대점',
 'GS25감일행복1호점',
 'GS25강경중앙점',
 'GS25강남N타워점',
 'GS25강남성심병원점',
 'GS25강남세곡점',
 'GS25강남시티힐점',
 'GS25강남역삼점',
 'GS25강남유블레스점',
 'GS25강남헤븐리치점',
 'GS25강동기쁨점',
 'GS25강동스마일비치점',
 'GS25강동아이파크점',
 'GS25강동트레벨점',
 'GS25강동펠리스점',
 'GS25강릉교동현대점',
 'GS25강릉송정주공점',
 'GS25강릉신도점',
 'GS25강릉원주대점',
 'GS25강릉현대점',
 'GS25강릉홍제점',
 'GS25강릉회산점',
 'GS25강북미아점',
 'GS25강북한천점',
 'GS25강서LG사이언스점',
 'GS25강서까치산점',
 'GS25강서등마루점',
 'GS25강서로우장산점',
 'GS25강서부영점',
 'GS25강서우림점',
 'GS25강서하늘점',
 'GS25강서한빛점',
 'GS25강서힐스테이트점',
 'GS25강원대기숙사점',
 'GS25강일14단지점',
 'GS25강일6단지점',
 'GS25강일9단지점',
 'GS25강일리버점',
 'GS25강일타운점',
 'GS25강정LH점',
 'GS25강화세광점',
 'GS25강화카페해양점',
 'GS25개금큰시장점',
 'GS25개금펜테리움점',
 'GS25개봉성심점',
 'GS25개봉한마을점',
 'GS25개신주공점',
 'GS25개포늘푸른점',
 'GS25개포빌리지점',
 'GS25개포포레스트점',
 'GS25개화행복점',
 'GS25거제SK뷰점',
 'GS25거제더샵점',
 'GS25거제삼도점',
 'GS25거제성원점',
 'GS25거제센트럴점',
 'GS25거제쉐르빌점',
 'GS25거제아델하임점',
 'GS25거제아이파크점',
 'GS25거제아주센텀점',
 'GS25거제자이점',
 'GS25거제힐스테이트점',
 'GS25거창주공점',
 'GS25거창푸르지오점',
 'GS25건국점',
 'GS25건산주공점',
 'GS25걸포오스타점',
 'GS25걸포자이광장점',
 'GS25걸포자이타운점',
 'GS25검단본점',
 'GS25검단산단점',
 'GS25검단솔보점',
 'GS25검단시그니처점',
 'GS25검단아이원점',
 'GS25검단어울림점',
 'GS25검단완정로점',
 'GS25검단원흥점',
 'GS25검단중앙점',
 'GS25검준산업점',
 'GS25경기대서울점',
 'GS25경복대남양주점',
 'GS25경북대도서관점',
 'GS25경북대로점',
 'GS25경북대생활관점',
 'GS25경북대첨성관점',
 'GS25경산사동팰리스점',
 'GS25경산이안점',
 'GS25경산파밀리에점',
 'GS25경산호반점',
 'GS25경상대생활관점',
 'GS25경상대학사점',
 'GS25경운대글로벌점',
 'GS25경운대점',
 'GS25경의교차로점',
 'GS25경의선책거리점',
 'GS25경주동천스타점',
 'GS25경주두산위브점',
 'GS25경주문무왕릉점',
 'GS25경주삼익점',
 'GS25경주엑스포점',
 'GS25경포라카이점',
 'GS25경포현대점',
 'GS25경포호수점',
 'GS25경희공학관점',
 'GS25경희궁자이점',
 'GS25경희대기숙사점',
 'GS25경희대학사점',
 'GS25경희원룸점',
 'GS25경희전자국제위성점',
 'GS25경희전자국제점',
 'GS25경희체육경영위성점',
 'GS25경희체육경영점',
 'GS25계룡대실와노점',
 'GS25계룡두산점',
 'GS25계룡파라디아점',
 'GS25계룡허브점',
 'GS25계림금호점',
 'GS25계명아트점',
 'GS25계양대로점',
 'GS25계양대원점',
 'GS25계양본점',
 'GS25계양학마을점',
 'GS25계양현대점',
 'GS25고강엘파크점',
 'GS25고강우영점',
 'GS25고대안산병원점',
 'GS25고대중앙광장점',
 'GS25고대플라자점',
 'GS25고덕갈평점',
 'GS25고덕골든점',
 'GS25고덕그라시움점',
 'GS25고덕그랜드점',
 'GS25고덕대광점',
 'GS25고덕미래점',
 'GS25고덕빌리지점',
 'GS25고덕센트럴점',
 'GS25고덕센트레빌점',
 'GS25고덕아르테온점',
 'GS25고덕에이스점',
 'GS25고덕우성점',
 'GS25고덕원희캐슬점',
 'GS25고덕자이점',
 'GS25고덕중앙점',
 'GS25고덕타운점',
 'GS25고덕태평점',
 'GS25고덕테헤란점',
 'GS25고덕풍경채점',
 'GS25고덕하늘채점',
 'GS25고덕행복점',
 'GS25고덕호반정문점',
 'GS25고덕호수공원점',
 'GS25고등타운점',
 'GS25고령점',
 'GS25고림내안애점',
 'GS25고림빌리지점',
 'GS25고봉로장고개점',
 'GS25고산쌍용점',
 'GS25고산지석점',
 'GS25고산행복',
 'GS25고색거산점',
 'GS25고색리치아노점',
 'GS25고성동외점',
 'GS25고성센트럴점',
 'GS25고신의과대학점',
 'GS25고암주공점',
 'GS25고암휴먼시아점',
 'GS25고양백마점',
 'GS25고양상지석길점',
 'GS25고양원당로점',
 'GS25고양지축점',
 'GS25고양휴게소1호점',
 'GS25고양휴게소2호점',
 'GS25고읍주공점',
 'GS25고읍한내들점',
 'GS25고읍행복점',
 'GS25고잔광덕점',
 'GS25고잔보배점',
 'GS25고잔엘아이점',
 'GS25고잔주공점',
 'GS25고잔푸른마을점',
 'GS25고창주공점',
 'GS25고척센츄리점',
 'GS25고촌캐슬점',
 'GS25고촌현대점',
 'GS25고현타운점',
 'GS25곤지암리조트2호점',
 'GS25곤지암리조트점',
 'GS25공덕대우점',
 'GS25공덕삼성점',
 'GS25공덕제니스점',
 'GS25공덕파크자이점',
 'GS25공도그랑블점',
 'GS25공릉라이프점',
 'GS25공릉삼익점',
 'GS25공릉청솔점',
 'GS25공릉화랑점',
 'GS25공릉효성점',
 'GS25공주우남점',
 'GS25공주웅진점',
 'GS25공주월송점',
 'GS25공주중앙점',
 'GS25공주현대점',
 'GS25공항로캐슬점',
 'GS25과천래미안점',
 'GS25과천삼성점',
 'GS25과천센트럴점',
 'GS25과천자이점',
 'GS25관교삼환점',
 'GS25관교한신점',
 'GS25관대장마트점',
 'GS25관산그린점',
 'GS25관악대원점',
 'GS25관악배수지점',
 'GS25관악법원단지점',
 'GS25관악보라매점',
 'GS25관악세봉점',
 'GS25관악스카이점',
 'GS25관악스타힐스점',
 'GS25관악아미움점',
 'GS25관악원앙점',
 'GS25관악장원(빨래방)점',
 'GS25관악장원점',
 'GS25관악한빛점',
 'GS25관악해바라기점',
 'GS25관저7단지점',
 'GS25관저9단지점',
 'GS25관저대자연점',
 'GS25관저리슈빌점',
 'GS25관저예미지점',
 'GS25관저천년나무점',
 'GS25관평네오미점',
 'GS25관평비즈센터점',
 'GS25관평세이점',
 'GS25관평파밀리에점',
 'GS25광교62단지점',
 'GS25광교대학로점',
 'GS25광교래미안점',
 'GS25광교메디톡스점',
 'GS25광교산자이점',
 'GS25광교센타점',
 'GS25광교아울렛점',
 'GS25광교원천점',
 'GS25광교중앙로점',
 'GS25광교중앙점',
 'GS25광교중흥점',
 'GS25광교하나점',
 'GS25광교호반점',
 'GS25광덕온누리점',
 'GS25광명M클러스터점',
 'GS25광명녹원점',
 'GS25광명센트럴자이점',
 'GS25광명써밋점',
 'GS25광명아크포레점',
 'GS25광명철산점',
 'GS25광명충현점',
 'GS25광명파크자이점',
 'GS25광명한사랑점',
 'GS25광명현진점',
 'GS25광명휴먼시아점',
 'GS25광안스위첸점',
 'GS25광안역1번점',
 'GS25광안유림점',
 'GS25광양제품부두점',
 'GS25광운문화관점',
 'GS25광장삼성점',
 'GS25광장학산점',
 'GS25광주SK뷰점',
 'GS25광주고산점',
 'GS25광주곤지암점',
 'GS25광주광여로점',
 'GS25광주금교점',
 'GS25광주금부점',
 'GS25광주노대점',
 'GS25광주대림점',
 'GS25광주도천점',
 'GS25광주동막점',
 'GS25광주매월점',
 'GS25광주문형점',
 'GS25광주미라클점',
 'GS25광주삼백점',
 'GS25광주삼성점',
 'GS25광주서방점',
 'GS25광주선운점',
 'GS25광주신시청점',
 'GS25광주쌍령현대점',
 'GS25광주양산유탑점',
 'GS25광주클리닉점',
 'GS25광주플래티넘점',
 'GS25광주호반점',
 'GS25광진더클래식점',
 'GS25광진마루점',
 'GS25광진아차산역',
 'GS25광평푸르지오점',
 'GS25광혜원목화점',
 'GS25괘릉휴게소점',
 'GS25괴정고개점',
 'GS25괴정오성점',
 'GS25교대상록점',
 'GS25교동삼거리점',
 'GS25교동주공점',
 'GS25교문대우점',
 'GS25교직원공제회점',
 'GS25교통대생활관점',
 'GS25교하도서관점',
 'GS25교하본점',
 'GS25교하사랑점',
 'GS25구남동원점',
 'GS25구드래공원점',
 'GS25구래마스터점',
 'GS25구래본점',
 'GS25구래탑점',
 'GS25구래푸르지오점',
 'GS25구래호수점',
 'GS25구래힐점',
 'GS25구례중앙점',
 'GS25구로래미안점',
 'GS25구로럭키점',
 'GS25구로미래점',
 'GS25구로사거리점',
 'GS25구로연지점',
 'GS25구로유앤아이점',
 'GS25구로제일점',
 'GS25구로지타워몰점',
 'GS25구로천왕점',
 'GS25구로철길점',
 'GS25구로타운점',
 'GS25구로하나점',
 'GS25구로행복점',
 'GS25구로현대점',
 'GS25구리갈매점',
 'GS25구리대명점',
 'GS25구리데시앙점',
 'GS25구리부자점',
 'GS25구미4공단점',
 'GS25구미고아대로점',
 'GS25구미공단점',
 'GS25구미구평부영점',
 'GS25구미구평사랑점',
 'GS25구미뜨란채점',
 'GS25구미문성지점',
 'GS25구미봉곡드림점',
 'GS25구미사곡타운점',
 'GS25구미산단점',
 'GS25구미산동점',
 'GS25구미상모한울점',
 'GS25구미송동로점',
 'GS25구미신당점',
 'GS25구미옥계더힐점',
 'GS25구미점보점',
 'GS25구미중흥점',
 'GS25구미진평주공점',
 'GS25구미차병원점',
 'GS25구미파크점',
 'GS25구미형곡서로점',
 'GS25구미황실점',
 'GS25구서롯데2단지점',
 'GS25구서롯데캐슬점',
 'GS25구서역점',
 'GS25구성래미안점',
 'GS25구영우미린점',
 'GS25구월아트뷰점',
 'GS25구월중앙점',
 'GS25구월프라자점',
 'GS25구의타운점',
 'GS25구일우성점',
 'GS25구지디에트르점',
 'GS25구지청아람점',
 'GS25구파발점',
 'GS25구평자유점',
 'GS25국일관점',
 'GS25군산나눔점',
 'GS25군산더샵점',
 'GS25군산랜드마크점',
 'GS25군산메트로점',
 'GS25군산송정점',
 'GS25군산오션점',
 'GS25군산월명점',
 'GS25군산의료원본점',
 'GS25군산지곡점',
 'GS25군산클래스점',
 'GS25군산푸르지오점',
 'GS25군포고점',
 'GS25군포대야미점',
 'GS25군포번영점',
 'GS25군포삼익점',
 'GS25군포설악점',
 'GS25군포스카이점',
 'GS25군포용호점',
 'GS25궁동로데오점',
 'GS25궁동우신점',
 'GS25권선빌리지점',
 'GS25권선삼천리점',
 'GS25권선아이파크점',
 'GS25권선최강점',
 'GS25그라시움샘터점',
 'GS25금강로하스점',
 'GS25금강서희점',
 'GS25금곡로드점',
 'GS25금곡삼익점',
 'GS25금곡신성점',
 'GS25금곡자이점',
 'GS25금곡주공점',
 'GS25금당대광점',
 'GS25금당우미점',
 'GS25금산대원점',
 'GS25금암나래점',
 'GS25금오공대점',
 'GS25금오그린빌점',
 'GS25금오브래뉴점',
 'GS25금오신도점',
 'GS25금왕테크노밸리점',
 'GS25금정AK점',
 'GS25금정주공점',
 'GS25금천구청점',
 'GS25금천벽산타운점',
 'GS25금천사랑점',
 'GS25금천센트럴점',
 'GS25금천스타즈점',
 'GS25금천우림점',
 'GS25금천장자점',
 'GS25금천해가든점',
 'GS25금천현대점',
 'GS25금촌2동귀빈점',
 'GS25금촌사랑점',
 'GS25금촌원앙점',
 'GS25금촌초교점',
 'GS25금촌팜스프링점',
 'GS25금촌한별점',
 'GS25금호극동점',
 'GS25금호로자이점',
 'GS25금호시영점',
 'GS25금호역점',
 'GS25기산래미안점',
 'GS25기산뷰파크점',
 'GS25기장고교점',
 'GS25기장대로점',
 'GS25기장서부점',
 'GS25기흥도서관점',
 'GS25기흥밸리점',
 'GS25기흥보라마을점',
 'GS25기흥상하점',
 'GS25기흥서천점',
 'GS25기흥써니점',
 'GS25기흥파크뷰점',
 'GS25기흥풍림점',
 'GS25기흥한양점',
 'GS25기흥해링턴나점',
 'GS25기흥힉스점',
 'GS25길동하이브점',
 'GS25길음뉴타운점',
 'GS25길음동부점',
 'GS25길음래미안',
 'GS25길음센터피스점',
 'GS25길음역점',
 'GS25김제대방점',
 'GS25김제주공점',
 'GS25김천남면점',
 'GS25김천대기숙사점',
 'GS25김천대월드비전점',
 'GS25김천대흥점',
 'GS25김천부곡드림점',
 'GS25김천시청대로점',
 'GS25김천신부곡점',
 'GS25김천실라점',
 'GS25김천아포대로점',
 'GS25김천율곡점',
 'GS25김천자이점',
 'GS25김천지례점',
 'GS25김천천년나무점',
 'GS25김포리버시티점',
 'GS25김포마송점',
 'GS25김포무지개점',
 'GS25김포스위트점',
 'GS25김포우남점',
 'GS25김포우미린점',
 'GS25김포초당점',
 'GS25김포타운점',
 'GS25김포탑점',
 'GS25김포프라자점',
 'GS25김포학운점',
 'GS25김포향산점',
 'GS25김해삼계서희점',
 'GS25김해아이스퀘어점',
 'GS25김해이편한점',
 'GS25김해푸르지오점',
 'GS25김해활천대박점',
 'GS25꿈에그린2호점',
 'GS25나눔구평점',
 'GS25나눔김포감정점',
 'GS25나눔동탄스타점',
 'GS25나눔마송점',
 'GS25나눔부평힐스점',
 'GS25나눔신평점',
 'GS25나눔위례호반점',
 'GS25나운청솔점',
 'GS25나인파크점',
 'GS25나주달무리점',
 'GS25나주달빛마을점',
 'GS25낙안캐슬점',
 'GS25남가좌창덕점',
 'GS25남구도화점',
 'GS25남구로점',
 'GS25남구문학점',
 'GS25남구숭의점',
 'GS25남동청능대로점',
 'GS25남동청류지산점',
 'GS25남동충전소점',
 'GS25남동탄타운점',
 'GS25남동현대점',
 'GS25남사봉무로점',
 'GS25남사북리점',
 'GS25남산삼성점',
 'GS25남산현대점',
 'GS25남산휴먼점',
 'GS25남서울오토점',
 'GS25남악베아체점',
 'GS25남악부영점',
 'GS25남악사랑점',
 'GS25남악센트레빌점',
 'GS25남악신동아점',
 'GS25남악에드가점',
 'GS25남악채움점',
 'GS25남악회룡점',
 'GS25남양가운점',
 'GS25남양주공점',
 'GS25남양주대림점',
 'GS25남양주도곡점',
 'GS25남양주동부점',
 'GS25남양주본점',
 'GS25남양주세무서점',
 'GS25남양주신우점',
 'GS25남양주퇴계원점',
 'GS25남양타운점',
 'GS25남원더라우점',
 'GS25남이천IC점',
 'GS25남창역점',
 'GS25남천금호점',
 'GS25남촌중앙점',
 'GS25남촌풍림점',
 'GS25남통이편한점',
 'GS25남평강변점',
 'GS25남평리버시티점',
 'GS25남한산성점',
 'GS25남해남양점',
 'GS25남해대로점',
 'GS25남현으뜸점',
 'GS25낭월사랑점',
 'GS25낭월제일점',
 'GS25내각창조점',
 'GS25내당점',
 'GS25내동굿모닝점',
 'GS25내동롯데점',
 'GS25내동한진점',
 'GS25내외대우점',
 'GS25내유중앙점',
 'GS25내유최고점',
 'GS25내포모아엘가점',
 'GS25내포상록점',
 'GS25내포스타클래스점',
 'GS25내포시현점',
 'GS25내포아너스빌점',
 'GS25내포아르페온점',
 'GS25내포중흥클래스점',
 'GS25노량진수산시장점',
 'GS25노블파크점',
 'GS25노원스타점',
 'GS25노원아이파크점',
 'GS25노원웰빙점',
 'GS25노원포레나점',
 'GS25노은광장점',
 'GS25노은미르점',
 'GS25노형에비뉴점',
 'GS25노형한빛점',
 'GS25녹번본점',
 'GS25녹번파크점',
 'GS25녹번푸르지오점',
 'GS25녹번현대점',
 'GS25녹번힐스점',
 'GS25녹양행복점',
 'GS25녹양휴먼시아점',
 'GS25녹천본점',
 'GS25논산강산점',
 'GS25논산송림점',
 'GS25논산수린나점',
 'GS25논산주공점',
 'GS25논산퍼스트점',
 'GS25논산휴먼시아점',
 'GS25논현꿈에그린점',
 'GS25논현다연점',
 'GS25논현본점',
 'GS25논현사리울점',
 'GS25논현소래점',
 'GS25논현숲속점',
 'GS25논현스카이점',
 'GS25논현신영점',
 'GS25논현청능점',
 'GS25논현최강점',
 'GS25논현하늘소점',
 'GS25논현해피점',
 'GS25논현향촌점',
 'GS25뉴가재울삼성점',
 'GS25뉴계룡삼진점',
 'GS25뉴고대민주광장점',
 'GS25뉴공주의료원점',
 'GS25뉴광주삼동역점',
 'GS25뉴금천유진점',
 'GS25뉴김포걸포동점',
 'GS25뉴남포역점',
 'GS25뉴내발산점',
 'GS25뉴대구각산점',
 'GS25뉴대구상인점',
 'GS25뉴대구운동장점',
 'GS25뉴대전인동점',
 'GS25뉴동안산병원점',
 'GS25뉴동탄캐슬점',
 'GS25뉴마곡14단지점',
 'GS25뉴부산시청점',
 'GS25뉴북면중앙점',
 'GS25뉴상동아크로점',
 'GS25뉴서귀포의료원점',
 'GS25뉴서울CC점',
 'GS25뉴세종모닝점',
 'GS25뉴소담수자인점',
 'GS25뉴송파스타힐스점',
 'GS25뉴시흥대로점',
 'GS25뉴오창비발디점',
 'GS25뉴완도터미널점',
 'GS25뉴우송센터점',
 'GS25뉴을지로입구점',
 'GS25뉴자양대동점',
 'GS25뉴전주탄소점',
 'GS25뉴제천대원대점',
 'GS25뉴첨단지구점',
 'GS25뉴청당부영점',
 'GS25뉴충무로명보점',
 'GS25뉴카이스트점',
 'GS25뉴탄현제니스점',
 'GS25뉴평창파크팰리스점',
 'GS25뉴평화미소점',
 'GS25뉴포항해운센타점',
 'GS25뉴하대동진점',
 'GS25능곡휴먼시아점',
 'GS25능동사랑점',
 'GS25능동이너매스점',
 'GS25다가그랑블점',
 'GS25다대노을점',
 'GS25다대포현대점',
 'GS25다사주공점',
 'GS25다산리코빌점',
 'GS25다산부영점',
 'GS25다산센트럴파크점',
 'GS25다산에일린점',
 'GS25다산채움점',
 'GS25다산파크점',
 'GS25다원가좌두산점',
 'GS25다원김포자이점',
 'GS25다원송도점',
 'GS25다원은여울점',
 'GS25다정제일점',
 'GS25다정한신점',
 'GS25단양가곡점',
 'GS25단원선부점',
 'GS25달동주공점',
 'GS25달맞이길점',
 'GS25달빛마을4단지점',
 'GS25달산원룸점',
 'GS25달서강산점',
 'GS25달서상인점',
 'GS25달성건영점',
 'GS25달성옥포점',
 'GS25달성청아람점',
 'GS25달성현풍로점',
 'GS25달성현풍점',
 'GS25답십리동아점',
 'GS25답십리역점',
 'GS25답십리우성점',
 'GS25답십리청마루점',
 'GS25당감태화현대점',
 'GS25당리제일점',
 'GS25당산SK점',
 'GS25당산강변점',
 'GS25당산계룡점',
 'GS25당산래미안점',
 'GS25당산쉐르빌점',
 'GS25당산양평점',
 'GS25당산효성점',
 'GS25당정센터점',
 'GS25당진동광점',
 'GS25당진로드점',
 'GS25당진부경점',
 'GS25당진석문주공점',
 'GS25당진석문천년점',
 'GS25당진세한대점',
 'GS25당진수청중흥점',
 'GS25당진한성필점',
 'GS25당진힐스테이트점',
 'GS25대가대기숙사점',
 'GS25대곡다솜점',
 'GS25대곡역래미안점',
 'GS25대곡풍경채점',
 'GS25대공원리프트점',
 'GS25대공원월드점',
 'GS25대곶대능점',
 'GS25대구M월드점',
 'GS25대구검단대로점',
 'GS25대구경대로점',
 'GS25대구구암센터점',
 'GS25대구국우점',
 'GS25대구남산점',
 'GS25대구내당광장점',
 'GS25대구내당희망점',
 'GS25대구노원대로점',
 'GS25대구대베스트점',
 'GS25대구도남점',
 'GS25대구명덕로점',
 'GS25대구보건대점',
 'GS25대구복현이편한점',
 'GS25대구복현태왕점',
 'GS25대구북구유림점',
 'GS25대구북구해링턴점',
 'GS25대구북비산점',
 'GS25대구비산그린점',
 'GS25대구비산대로점',
 'GS25대구비산센터점',
 'GS25대구비산희망점',
 'GS25대구사수LH점',
 'GS25대구사수점',
 'GS25대구사수행복점',
 'GS25대구산격대로점',
 'GS25대구산격센타점',
 'GS25대구산격희망점',
 'GS25대구서성로점',
 'GS25대구선수촌점',
 'GS25대구성당로점',
 'GS25대구시티센터점',
 'GS25대구에일린점',
 'GS25대구역점',
 'GS25대구연경동화점',
 'GS25대구죽전점',
 'GS25대구칠곡미래점',
 'GS25대구칠곡부영점',
 'GS25대구칠곡태왕점',
 'GS25대구컨벤션센터점',
 'GS25대구평리서도점',
 'GS25대구평리센터점',
 'GS25대구평리중앙점',
 'GS25대구함지점',
 'GS25대구혁신LH점',
 'GS25대덕7단지점',
 'GS25대동휴먼시아점',
 'GS25대림쌍용점',
 'GS25대림우성점',
 'GS25대림제일점',
 'GS25대림춘혜점',
 'GS25대림파밀리에점',
 'GS25대명대덕점',
 'GS25대명빌리지점',
 'GS25대명캠프점',
 'GS25대방덕산2차점',
 'GS25대방승화점',
 'GS25대방현대점',
 'GS25대부바다점',
 'GS25대부펜션타운점',
 'GS25대소이안점',
 'GS25대신푸르지오2차점',
 'GS25대연롯데점',
 'GS25대우그린점',
 'GS25대장본점',
 'GS25대장으뜸점',
 'GS25대장중앙점',
 'GS25대저생태공원점',
 'GS25대전구봉점',
 'GS25대전동성점',
 'GS25대전맑은아침점',
 'GS25대전메이드점',
 'GS25대전목양점',
 'GS25대전서문로점',
 'GS25대전석촌점',
 'GS25대전송림점',
 'GS25대전어울림점',
 'GS25대전에코포레점',
 'GS25대전엑슬루점',
 'GS25대전열매점',
 'GS25대전오룡점',
 'GS25대전월평점',
 'GS25대전해링턴점',
 'GS25대전현충로점',
 'GS25대정한신점',
 'GS25대진대사랑점',
 'GS25대청병원점',
 'GS25대촌오네뜨점',
 'GS25대치SK타운점',
 'GS25대치삼성타운점',
 'GS25대치오토웨이점',
 'GS25대화신우점',
 'GS25대화장성점',
 'GS25더블유스퀘어점',
 'GS25덕계금광점',
 'GS25덕례덕진점',
 'GS25덕명네오미점',
 'GS25덕산주공점',
 'GS25덕산한천점',
 'GS25덕양성사점',
 ...]

In [75]:
len(corp_)

3731

In [76]:
len(addr_)

3731

In [78]:
df = pd.DataFrame({'매장명':corp_,'도로명주소':addr_})
df

                 매장명                                              도로명주소
0        GS2538선휴게소점     강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)
1       GS25GIDC광명역점              경기 광명시 일직로43, GIDC광명역 G244호 (일직동 514)
2          GS25G여의도점                서울 영등포구 은행로64, GS칼텍스內편의점(여의도동 10-1)
3        GS25LGD동락원점          경북 구미시 수출대로337, 1층 동락원기숙사관리동  (임수동 401-3)
4     GS25LGD파주복지동A점               경기 파주시 월롱면 엘씨디로201, 1층 매점 (덕은리 1253)
...              ...                                                ...
3726    GS25힐스테이트위브점  부산 해운대구 좌동순환로433번길30, 상가 101호 (중동 1525-1, 힐스테이...
3727        S2상왕십리역점  서울 성동구 왕십리로지하 374, 207-02호  (하왕십리동 946-14, 상왕십리역)
3728          S4동작역점  서울 동작구 현충로257, 431-02호  (동작동 327-1, 4호선 동작역 Do...
3729          경희프라자점       서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)
3730         샛별이PPL점          경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)

[3731 rows x 2 columns]

In [79]:
df['도로명주소']

0          강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)
1                   경기 광명시 일직로43, GIDC광명역 G244호 (일직동 514)
2                     서울 영등포구 은행로64, GS칼텍스內편의점(여의도동 10-1)
3               경북 구미시 수출대로337, 1층 동락원기숙사관리동  (임수동 401-3)
4                    경기 파주시 월롱면 엘씨디로201, 1층 매점 (덕은리 1253)
                              ...
3726    부산 해운대구 좌동순환로433번길30, 상가 101호 (중동 1525-1, 힐스테이...
3727    서울 성동구 왕십리로지하 374, 207-02호  (하왕십리동 946-14, 상왕십리역)
3728    서울 동작구 현충로257, 431-02호  (동작동 327-1, 4호선 동작역 Do...
3729         서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)
3730            경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)
Name: 도로명주소, Length: 3731, dtype: object

In [82]:
# 엑셀 파일로 저장
df.to_excel('./GS편의점_주소_없는_매장(3731).xlsx', index=False)
df

                 매장명                                              도로명주소
0        GS2538선휴게소점     강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)
1       GS25GIDC광명역점              경기 광명시 일직로43, GIDC광명역 G244호 (일직동 514)
2          GS25G여의도점                서울 영등포구 은행로64, GS칼텍스內편의점(여의도동 10-1)
3        GS25LGD동락원점          경북 구미시 수출대로337, 1층 동락원기숙사관리동  (임수동 401-3)
4     GS25LGD파주복지동A점               경기 파주시 월롱면 엘씨디로201, 1층 매점 (덕은리 1253)
...              ...                                                ...
3726    GS25힐스테이트위브점  부산 해운대구 좌동순환로433번길30, 상가 101호 (중동 1525-1, 힐스테이...
3727        S2상왕십리역점  서울 성동구 왕십리로지하 374, 207-02호  (하왕십리동 946-14, 상왕십리역)
3728          S4동작역점  서울 동작구 현충로257, 431-02호  (동작동 327-1, 4호선 동작역 Do...
3729          경희프라자점       서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)
3730         샛별이PPL점          경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)

[3731 rows x 2 columns]

In [3]:
df = pd.read_excel('./GS편의점_주소_없는_매장(3731).xlsx')
df

                 매장명                                              도로명주소
0        GS2538선휴게소점     강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)
1       GS25GIDC광명역점              경기 광명시 일직로43, GIDC광명역 G244호 (일직동 514)
2          GS25G여의도점                서울 영등포구 은행로64, GS칼텍스內편의점(여의도동 10-1)
3        GS25LGD동락원점          경북 구미시 수출대로337, 1층 동락원기숙사관리동  (임수동 401-3)
4     GS25LGD파주복지동A점               경기 파주시 월롱면 엘씨디로201, 1층 매점 (덕은리 1253)
...              ...                                                ...
3726    GS25힐스테이트위브점  부산 해운대구 좌동순환로433번길30, 상가 101호 (중동 1525-1, 힐스테이...
3727        S2상왕십리역점  서울 성동구 왕십리로지하 374, 207-02호  (하왕십리동 946-14, 상왕십리역)
3728          S4동작역점  서울 동작구 현충로257, 431-02호  (동작동 327-1, 4호선 동작역 Do...
3729          경희프라자점       서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)
3730         샛별이PPL점          경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)

[3731 rows x 2 columns]

In [143]:
df['매장명']

0          GS2538선휴게소점
1         GS25GIDC광명역점
2            GS25G여의도점
3          GS25LGD동락원점
4       GS25LGD파주복지동A점
             ...
3726      GS25힐스테이트위브점
3727          S2상왕십리역점
3728            S4동작역점
3729            경희프라자점
3730           샛별이PPL점
Name: 매장명, Length: 3731, dtype: object

In [4]:
df[df['매장명'] == 'GS25S9국회의사당역점']

              매장명                                도로명주소
66  GS25S9국회의사당역점  서울 영등포구 국회대로지하 758, 지하철역 (여의도동 1-6)

### 네이버 크롤링

In [105]:
corp_

['GS2538선휴게소점',
 'GS25GIDC광명역점',
 'GS25G여의도점',
 'GS25LGD동락원점',
 'GS25LGD파주복지동A점',
 'GS25LGD파주복지동B점',
 'GS25LG광화문점',
 'GS25LG사이언스파크점',
 'GS25LG연구동점',
 'GS25LG유플러스용산점',
 'GS25LG인화원점',
 'GS25LG전자구미1점',
 'GS25LS타워점',
 'GS25NC소프트점',
 'GS25R강동4점',
 'GS25R강동5점',
 'GS25R분당3점',
 'GS25R서울구남4점',
 'GS25R서울구북3점',
 'GS25R서울구북4점',
 'GS25R선릉7점',
 'GS25R안산9점',
 'GS25R인천연수5점',
 'GS25R인천연수6점',
 'GS25R일산마사4층점',
 'GS25R일산마사5층점',
 'GS25R일산마사6층점',
 'GS25R제주예시장점',
 'GS25S6고려대역점',
 'GS25S6공덕역점',
 'GS25S6광흥창역점',
 'GS25S6구산역점',
 'GS25S6녹사평역점',
 'GS25S6대흥역점',
 'GS25S6돌곶이역점',
 'GS25S6봉화산역점',
 'GS25S6삼각지역점',
 'GS25S6상수역점',
 'GS25S6상암DMC역2점',
 'GS25S6상월곡역점',
 'GS25S6석계역점',
 'GS25S6안암역점',
 'GS25S6연신내역점',
 'GS25S6월곡역점',
 'GS25S6응암역점',
 'GS25S6이태원역점',
 'GS25S6증산역점',
 'GS25S6한강진역점',
 'GS25S6합정역점',
 'GS25S6화랑대역점',
 'GS25S6효창공원앞역점',
 'GS25S8가락시장역점',
 'GS25S8강동구청역점',
 'GS25S8남한산성입구역점',
 'GS25S8단대오거리역점',
 'GS25S8몽촌토성역점',
 'GS25S8문정역점',
 'GS25S8복정역점',
 'GS25S8산성역점',
 'GS25S8석촌역점',
 'GS25S8수진역점',
 'GS25S8신흥역점',
 'GS25S8암사역점',
 'GS25S9개화역점',
 'GS25S9공항시장역점',
 'GS25S9구반포역점',
 'GS25S9국회의사당역점',
 'GS25S9노들역점',
 'GS25S9당산역점',
 'GS25S9봉은사역점',
 'GS25S9사평역점',
 'GS25S9샛강역점',
 'GS25S9석촌역점',
 'GS25S9선유도역점',
 'GS25S9송파나루역점',
 'GS25S9신논현역점',
 'GS25S9신반포역점',
 'GS25S9언주역점',
 'GS25S9여의도역점',
 'GS25S9올림픽공원역점',
 'GS25S9종합운동장역점',
 'GS25S9중앙보훈병원역점',
 'GS25S9한성백제역점',
 'GS25S9흑석역점',
 'GS25SDI점',
 'GS25SK항만주유소점',
 'GS25S가산디지털단지역점',
 'GS25S강남구청역점',
 'GS25S강남역1호점',
 'GS25S강남역3호점',
 'GS25S건대입구역점',
 'GS25S고속터미널역점',
 'GS25S공덕역점',
 'GS25S공릉역점',
 'GS25S공항화물청사역점',
 'GS25S광교역점',
 'GS25S광명사거리역점',
 'GS25S군자역점',
 'GS25S굴포천역점',
 'GS25S김포공항역점',
 'GS25S까치울역점',
 'GS25S남구로역점',
 'GS25S남성역점',
 'GS25S내방역점',
 'GS25S논현역점',
 'GS25S뉴정부청사점',
 'GS25S당산역1호점',
 'GS25S당산역2호점',
 'GS25S대림역점',
 'GS25S대전용문역점',
 'GS25S동천역점',
 'GS25S디지털미디어시티역',
 'GS25S마곡나루역점',
 'GS25S매봉역점',
 'GS25S매헌역점',
 'GS25S메트로금호점',
 'GS25S면목역점',
 'GS25S반포역점',
 'GS25S부산광안역점',
 'GS25S부산명륜역점',
 'GS25S부산벡스코역점',
 'GS25S부산해운대역점',
 'GS25S부천시청역점',
 'GS25S사가정역점',
 'GS25S삼산체육관역점',
 'GS25S상도역점',
 'GS25S상동역점',
 'GS25S상봉역점',
 'GS25S상현역점',
 'GS25S서면역점',
 'GS25S서울역2호점',
 'GS25S성복역점',
 'GS25S수지구청역점',
 'GS25S숭실대입구역점',
 'GS25S신대방삼거리역점',
 'GS25S신중동역점',
 'GS25S양산역점',
 'GS25S양재역1호점',
 'GS25S양재역2호점',
 'GS25S어린이대공원역점',
 'GS25S연산역점',
 'GS25S온수역점',
 'GS25S용마산역점',
 'GS25S이수역점',
 'GS25S장산역점',
 'GS25S장승배기역점',
 'GS25S정자역점',
 'GS25S종합운동장역점',
 'GS25S중계역점',
 'GS25S중곡역점',
 'GS25S청계산역점',
 'GS25S청라국제도시역점',
 'GS25S춘의역점',
 'GS25S판교역점',
 'GS25S하계역점',
 'GS25S홍대입구역점',
 'GS25가경세원점',
 'GS25가남삼거리점',
 'GS25가남행복점',
 'GS25가산정교점',
 'GS25가야벽산점',
 'GS25가야플러스점',
 'GS25가양2점',
 'GS25가양데시앙점',
 'GS25가양우성점',
 'GS25가양테크노점',
 'GS25가장래미안점',
 'GS25가정센트럴점',
 'GS25가정풍경채점',
 'GS25가좌건지점',
 'GS25가좌대우점',
 'GS25가좌베스트점',
 'GS25가좌벽산점',
 'GS25가좌신현대점',
 'GS25가좌으뜸점',
 'GS25가좌제일점',
 'GS25가좌한신점',
 'GS25가천대가천관점',
 'GS25가평신상리점',
 'GS25가평현리점',
 'GS25가포LH점',
 'GS25가현로드점',
 'GS25각산데시앙점',
 'GS25간석나래점',
 'GS25간석래미안점',
 'GS25간석오피앙점',
 'GS25간석중앙점',
 'GS25갈마스타점',
 'GS25갈매주공점',
 'GS25갈매푸르지오점',
 'GS25갈산사거리점',
 'GS25갈삼대로점',
 'GS25갈현사랑점',
 'GS25감계덕산점',
 'GS25감계힐스4차점',
 'GS25감곡주공점',
 'GS25감만판테라',
 'GS25감만현대점',
 'GS25감일행복1호점',
 'GS25강경중앙점',
 'GS25강남N타워점',
 'GS25강남성심병원점',
 'GS25강남세곡점',
 'GS25강남시티힐점',
 'GS25강남역삼점',
 'GS25강남유블레스점',
 'GS25강남헤븐리치점',
 'GS25강동기쁨점',
 'GS25강동스마일비치점',
 'GS25강동아이파크점',
 'GS25강동트레벨점',
 'GS25강동펠리스점',
 'GS25강릉교동현대점',
 'GS25강릉송정주공점',
 'GS25강릉신도점',
 'GS25강릉원주대점',
 'GS25강릉현대점',
 'GS25강릉홍제점',
 'GS25강릉회산점',
 'GS25강북미아점',
 'GS25강북한천점',
 'GS25강서LG사이언스점',
 'GS25강서까치산점',
 'GS25강서등마루점',
 'GS25강서로우장산점',
 'GS25강서부영점',
 'GS25강서우림점',
 'GS25강서하늘점',
 'GS25강서한빛점',
 'GS25강서힐스테이트점',
 'GS25강원대기숙사점',
 'GS25강일14단지점',
 'GS25강일6단지점',
 'GS25강일9단지점',
 'GS25강일리버점',
 'GS25강일타운점',
 'GS25강정LH점',
 'GS25강화세광점',
 'GS25강화카페해양점',
 'GS25개금큰시장점',
 'GS25개금펜테리움점',
 'GS25개봉성심점',
 'GS25개봉한마을점',
 'GS25개신주공점',
 'GS25개포늘푸른점',
 'GS25개포빌리지점',
 'GS25개포포레스트점',
 'GS25개화행복점',
 'GS25거제SK뷰점',
 'GS25거제더샵점',
 'GS25거제삼도점',
 'GS25거제성원점',
 'GS25거제센트럴점',
 'GS25거제쉐르빌점',
 'GS25거제아델하임점',
 'GS25거제아이파크점',
 'GS25거제아주센텀점',
 'GS25거제자이점',
 'GS25거제힐스테이트점',
 'GS25거창주공점',
 'GS25거창푸르지오점',
 'GS25건국점',
 'GS25건산주공점',
 'GS25걸포오스타점',
 'GS25걸포자이광장점',
 'GS25걸포자이타운점',
 'GS25검단본점',
 'GS25검단산단점',
 'GS25검단솔보점',
 'GS25검단시그니처점',
 'GS25검단아이원점',
 'GS25검단어울림점',
 'GS25검단완정로점',
 'GS25검단원흥점',
 'GS25검단중앙점',
 'GS25검준산업점',
 'GS25경기대서울점',
 'GS25경복대남양주점',
 'GS25경북대도서관점',
 'GS25경북대로점',
 'GS25경북대생활관점',
 'GS25경북대첨성관점',
 'GS25경산사동팰리스점',
 'GS25경산이안점',
 'GS25경산파밀리에점',
 'GS25경산호반점',
 'GS25경상대생활관점',
 'GS25경상대학사점',
 'GS25경운대글로벌점',
 'GS25경운대점',
 'GS25경의교차로점',
 'GS25경의선책거리점',
 'GS25경주동천스타점',
 'GS25경주두산위브점',
 'GS25경주문무왕릉점',
 'GS25경주삼익점',
 'GS25경주엑스포점',
 'GS25경포라카이점',
 'GS25경포현대점',
 'GS25경포호수점',
 'GS25경희공학관점',
 'GS25경희궁자이점',
 'GS25경희대기숙사점',
 'GS25경희대학사점',
 'GS25경희원룸점',
 'GS25경희전자국제위성점',
 'GS25경희전자국제점',
 'GS25경희체육경영위성점',
 'GS25경희체육경영점',
 'GS25계룡대실와노점',
 'GS25계룡두산점',
 'GS25계룡파라디아점',
 'GS25계룡허브점',
 'GS25계림금호점',
 'GS25계명아트점',
 'GS25계양대로점',
 'GS25계양대원점',
 'GS25계양본점',
 'GS25계양학마을점',
 'GS25계양현대점',
 'GS25고강엘파크점',
 'GS25고강우영점',
 'GS25고대안산병원점',
 'GS25고대중앙광장점',
 'GS25고대플라자점',
 'GS25고덕갈평점',
 'GS25고덕골든점',
 'GS25고덕그라시움점',
 'GS25고덕그랜드점',
 'GS25고덕대광점',
 'GS25고덕미래점',
 'GS25고덕빌리지점',
 'GS25고덕센트럴점',
 'GS25고덕센트레빌점',
 'GS25고덕아르테온점',
 'GS25고덕에이스점',
 'GS25고덕우성점',
 'GS25고덕원희캐슬점',
 'GS25고덕자이점',
 'GS25고덕중앙점',
 'GS25고덕타운점',
 'GS25고덕태평점',
 'GS25고덕테헤란점',
 'GS25고덕풍경채점',
 'GS25고덕하늘채점',
 'GS25고덕행복점',
 'GS25고덕호반정문점',
 'GS25고덕호수공원점',
 'GS25고등타운점',
 'GS25고령점',
 'GS25고림내안애점',
 'GS25고림빌리지점',
 'GS25고봉로장고개점',
 'GS25고산쌍용점',
 'GS25고산지석점',
 'GS25고산행복',
 'GS25고색거산점',
 'GS25고색리치아노점',
 'GS25고성동외점',
 'GS25고성센트럴점',
 'GS25고신의과대학점',
 'GS25고암주공점',
 'GS25고암휴먼시아점',
 'GS25고양백마점',
 'GS25고양상지석길점',
 'GS25고양원당로점',
 'GS25고양지축점',
 'GS25고양휴게소1호점',
 'GS25고양휴게소2호점',
 'GS25고읍주공점',
 'GS25고읍한내들점',
 'GS25고읍행복점',
 'GS25고잔광덕점',
 'GS25고잔보배점',
 'GS25고잔엘아이점',
 'GS25고잔주공점',
 'GS25고잔푸른마을점',
 'GS25고창주공점',
 'GS25고척센츄리점',
 'GS25고촌캐슬점',
 'GS25고촌현대점',
 'GS25고현타운점',
 'GS25곤지암리조트2호점',
 'GS25곤지암리조트점',
 'GS25공덕대우점',
 'GS25공덕삼성점',
 'GS25공덕제니스점',
 'GS25공덕파크자이점',
 'GS25공도그랑블점',
 'GS25공릉라이프점',
 'GS25공릉삼익점',
 'GS25공릉청솔점',
 'GS25공릉화랑점',
 'GS25공릉효성점',
 'GS25공주우남점',
 'GS25공주웅진점',
 'GS25공주월송점',
 'GS25공주중앙점',
 'GS25공주현대점',
 'GS25공항로캐슬점',
 'GS25과천래미안점',
 'GS25과천삼성점',
 'GS25과천센트럴점',
 'GS25과천자이점',
 'GS25관교삼환점',
 'GS25관교한신점',
 'GS25관대장마트점',
 'GS25관산그린점',
 'GS25관악대원점',
 'GS25관악배수지점',
 'GS25관악법원단지점',
 'GS25관악보라매점',
 'GS25관악세봉점',
 'GS25관악스카이점',
 'GS25관악스타힐스점',
 'GS25관악아미움점',
 'GS25관악원앙점',
 'GS25관악장원(빨래방)점',
 'GS25관악장원점',
 'GS25관악한빛점',
 'GS25관악해바라기점',
 'GS25관저7단지점',
 'GS25관저9단지점',
 'GS25관저대자연점',
 'GS25관저리슈빌점',
 'GS25관저예미지점',
 'GS25관저천년나무점',
 'GS25관평네오미점',
 'GS25관평비즈센터점',
 'GS25관평세이점',
 'GS25관평파밀리에점',
 'GS25광교62단지점',
 'GS25광교대학로점',
 'GS25광교래미안점',
 'GS25광교메디톡스점',
 'GS25광교산자이점',
 'GS25광교센타점',
 'GS25광교아울렛점',
 'GS25광교원천점',
 'GS25광교중앙로점',
 'GS25광교중앙점',
 'GS25광교중흥점',
 'GS25광교하나점',
 'GS25광교호반점',
 'GS25광덕온누리점',
 'GS25광명M클러스터점',
 'GS25광명녹원점',
 'GS25광명센트럴자이점',
 'GS25광명써밋점',
 'GS25광명아크포레점',
 'GS25광명철산점',
 'GS25광명충현점',
 'GS25광명파크자이점',
 'GS25광명한사랑점',
 'GS25광명현진점',
 'GS25광명휴먼시아점',
 'GS25광안스위첸점',
 'GS25광안역1번점',
 'GS25광안유림점',
 'GS25광양제품부두점',
 'GS25광운문화관점',
 'GS25광장삼성점',
 'GS25광장학산점',
 'GS25광주SK뷰점',
 'GS25광주고산점',
 'GS25광주곤지암점',
 'GS25광주광여로점',
 'GS25광주금교점',
 'GS25광주금부점',
 'GS25광주노대점',
 'GS25광주대림점',
 'GS25광주도천점',
 'GS25광주동막점',
 'GS25광주매월점',
 'GS25광주문형점',
 'GS25광주미라클점',
 'GS25광주삼백점',
 'GS25광주삼성점',
 'GS25광주서방점',
 'GS25광주선운점',
 'GS25광주신시청점',
 'GS25광주쌍령현대점',
 'GS25광주양산유탑점',
 'GS25광주클리닉점',
 'GS25광주플래티넘점',
 'GS25광주호반점',
 'GS25광진더클래식점',
 'GS25광진마루점',
 'GS25광진아차산역',
 'GS25광평푸르지오점',
 'GS25광혜원목화점',
 'GS25괘릉휴게소점',
 'GS25괴정고개점',
 'GS25괴정오성점',
 'GS25교대상록점',
 'GS25교동삼거리점',
 'GS25교동주공점',
 'GS25교문대우점',
 'GS25교직원공제회점',
 'GS25교통대생활관점',
 'GS25교하도서관점',
 'GS25교하본점',
 'GS25교하사랑점',
 'GS25구남동원점',
 'GS25구드래공원점',
 'GS25구래마스터점',
 'GS25구래본점',
 'GS25구래탑점',
 'GS25구래푸르지오점',
 'GS25구래호수점',
 'GS25구래힐점',
 'GS25구례중앙점',
 'GS25구로래미안점',
 'GS25구로럭키점',
 'GS25구로미래점',
 'GS25구로사거리점',
 'GS25구로연지점',
 'GS25구로유앤아이점',
 'GS25구로제일점',
 'GS25구로지타워몰점',
 'GS25구로천왕점',
 'GS25구로철길점',
 'GS25구로타운점',
 'GS25구로하나점',
 'GS25구로행복점',
 'GS25구로현대점',
 'GS25구리갈매점',
 'GS25구리대명점',
 'GS25구리데시앙점',
 'GS25구리부자점',
 'GS25구미4공단점',
 'GS25구미고아대로점',
 'GS25구미공단점',
 'GS25구미구평부영점',
 'GS25구미구평사랑점',
 'GS25구미뜨란채점',
 'GS25구미문성지점',
 'GS25구미봉곡드림점',
 'GS25구미사곡타운점',
 'GS25구미산단점',
 'GS25구미산동점',
 'GS25구미상모한울점',
 'GS25구미송동로점',
 'GS25구미신당점',
 'GS25구미옥계더힐점',
 'GS25구미점보점',
 'GS25구미중흥점',
 'GS25구미진평주공점',
 'GS25구미차병원점',
 'GS25구미파크점',
 'GS25구미형곡서로점',
 'GS25구미황실점',
 'GS25구서롯데2단지점',
 'GS25구서롯데캐슬점',
 'GS25구서역점',
 'GS25구성래미안점',
 'GS25구영우미린점',
 'GS25구월아트뷰점',
 'GS25구월중앙점',
 'GS25구월프라자점',
 'GS25구의타운점',
 'GS25구일우성점',
 'GS25구지디에트르점',
 'GS25구지청아람점',
 'GS25구파발점',
 'GS25구평자유점',
 'GS25국일관점',
 'GS25군산나눔점',
 'GS25군산더샵점',
 'GS25군산랜드마크점',
 'GS25군산메트로점',
 'GS25군산송정점',
 'GS25군산오션점',
 'GS25군산월명점',
 'GS25군산의료원본점',
 'GS25군산지곡점',
 'GS25군산클래스점',
 'GS25군산푸르지오점',
 'GS25군포고점',
 'GS25군포대야미점',
 'GS25군포번영점',
 'GS25군포삼익점',
 'GS25군포설악점',
 'GS25군포스카이점',
 'GS25군포용호점',
 'GS25궁동로데오점',
 'GS25궁동우신점',
 'GS25권선빌리지점',
 'GS25권선삼천리점',
 'GS25권선아이파크점',
 'GS25권선최강점',
 'GS25그라시움샘터점',
 'GS25금강로하스점',
 'GS25금강서희점',
 'GS25금곡로드점',
 'GS25금곡삼익점',
 'GS25금곡신성점',
 'GS25금곡자이점',
 'GS25금곡주공점',
 'GS25금당대광점',
 'GS25금당우미점',
 'GS25금산대원점',
 'GS25금암나래점',
 'GS25금오공대점',
 'GS25금오그린빌점',
 'GS25금오브래뉴점',
 'GS25금오신도점',
 'GS25금왕테크노밸리점',
 'GS25금정AK점',
 'GS25금정주공점',
 'GS25금천구청점',
 'GS25금천벽산타운점',
 'GS25금천사랑점',
 'GS25금천센트럴점',
 'GS25금천스타즈점',
 'GS25금천우림점',
 'GS25금천장자점',
 'GS25금천해가든점',
 'GS25금천현대점',
 'GS25금촌2동귀빈점',
 'GS25금촌사랑점',
 'GS25금촌원앙점',
 'GS25금촌초교점',
 'GS25금촌팜스프링점',
 'GS25금촌한별점',
 'GS25금호극동점',
 'GS25금호로자이점',
 'GS25금호시영점',
 'GS25금호역점',
 'GS25기산래미안점',
 'GS25기산뷰파크점',
 'GS25기장고교점',
 'GS25기장대로점',
 'GS25기장서부점',
 'GS25기흥도서관점',
 'GS25기흥밸리점',
 'GS25기흥보라마을점',
 'GS25기흥상하점',
 'GS25기흥서천점',
 'GS25기흥써니점',
 'GS25기흥파크뷰점',
 'GS25기흥풍림점',
 'GS25기흥한양점',
 'GS25기흥해링턴나점',
 'GS25기흥힉스점',
 'GS25길동하이브점',
 'GS25길음뉴타운점',
 'GS25길음동부점',
 'GS25길음래미안',
 'GS25길음센터피스점',
 'GS25길음역점',
 'GS25김제대방점',
 'GS25김제주공점',
 'GS25김천남면점',
 'GS25김천대기숙사점',
 'GS25김천대월드비전점',
 'GS25김천대흥점',
 'GS25김천부곡드림점',
 'GS25김천시청대로점',
 'GS25김천신부곡점',
 'GS25김천실라점',
 'GS25김천아포대로점',
 'GS25김천율곡점',
 'GS25김천자이점',
 'GS25김천지례점',
 'GS25김천천년나무점',
 'GS25김포리버시티점',
 'GS25김포마송점',
 'GS25김포무지개점',
 'GS25김포스위트점',
 'GS25김포우남점',
 'GS25김포우미린점',
 'GS25김포초당점',
 'GS25김포타운점',
 'GS25김포탑점',
 'GS25김포프라자점',
 'GS25김포학운점',
 'GS25김포향산점',
 'GS25김해삼계서희점',
 'GS25김해아이스퀘어점',
 'GS25김해이편한점',
 'GS25김해푸르지오점',
 'GS25김해활천대박점',
 'GS25꿈에그린2호점',
 'GS25나눔구평점',
 'GS25나눔김포감정점',
 'GS25나눔동탄스타점',
 'GS25나눔마송점',
 'GS25나눔부평힐스점',
 'GS25나눔신평점',
 'GS25나눔위례호반점',
 'GS25나운청솔점',
 'GS25나인파크점',
 'GS25나주달무리점',
 'GS25나주달빛마을점',
 'GS25낙안캐슬점',
 'GS25남가좌창덕점',
 'GS25남구도화점',
 'GS25남구로점',
 'GS25남구문학점',
 'GS25남구숭의점',
 'GS25남동청능대로점',
 'GS25남동청류지산점',
 'GS25남동충전소점',
 'GS25남동탄타운점',
 'GS25남동현대점',
 'GS25남사봉무로점',
 'GS25남사북리점',
 'GS25남산삼성점',
 'GS25남산현대점',
 'GS25남산휴먼점',
 'GS25남서울오토점',
 'GS25남악베아체점',
 'GS25남악부영점',
 'GS25남악사랑점',
 'GS25남악센트레빌점',
 'GS25남악신동아점',
 'GS25남악에드가점',
 'GS25남악채움점',
 'GS25남악회룡점',
 'GS25남양가운점',
 'GS25남양주공점',
 'GS25남양주대림점',
 'GS25남양주도곡점',
 'GS25남양주동부점',
 'GS25남양주본점',
 'GS25남양주세무서점',
 'GS25남양주신우점',
 'GS25남양주퇴계원점',
 'GS25남양타운점',
 'GS25남원더라우점',
 'GS25남이천IC점',
 'GS25남창역점',
 'GS25남천금호점',
 'GS25남촌중앙점',
 'GS25남촌풍림점',
 'GS25남통이편한점',
 'GS25남평강변점',
 'GS25남평리버시티점',
 'GS25남한산성점',
 'GS25남해남양점',
 'GS25남해대로점',
 'GS25남현으뜸점',
 'GS25낭월사랑점',
 'GS25낭월제일점',
 'GS25내각창조점',
 'GS25내당점',
 'GS25내동굿모닝점',
 'GS25내동롯데점',
 'GS25내동한진점',
 'GS25내외대우점',
 'GS25내유중앙점',
 'GS25내유최고점',
 'GS25내포모아엘가점',
 'GS25내포상록점',
 'GS25내포스타클래스점',
 'GS25내포시현점',
 'GS25내포아너스빌점',
 'GS25내포아르페온점',
 'GS25내포중흥클래스점',
 'GS25노량진수산시장점',
 'GS25노블파크점',
 'GS25노원스타점',
 'GS25노원아이파크점',
 'GS25노원웰빙점',
 'GS25노원포레나점',
 'GS25노은광장점',
 'GS25노은미르점',
 'GS25노형에비뉴점',
 'GS25노형한빛점',
 'GS25녹번본점',
 'GS25녹번파크점',
 'GS25녹번푸르지오점',
 'GS25녹번현대점',
 'GS25녹번힐스점',
 'GS25녹양행복점',
 'GS25녹양휴먼시아점',
 'GS25녹천본점',
 'GS25논산강산점',
 'GS25논산송림점',
 'GS25논산수린나점',
 'GS25논산주공점',
 'GS25논산퍼스트점',
 'GS25논산휴먼시아점',
 'GS25논현꿈에그린점',
 'GS25논현다연점',
 'GS25논현본점',
 'GS25논현사리울점',
 'GS25논현소래점',
 'GS25논현숲속점',
 'GS25논현스카이점',
 'GS25논현신영점',
 'GS25논현청능점',
 'GS25논현최강점',
 'GS25논현하늘소점',
 'GS25논현해피점',
 'GS25논현향촌점',
 'GS25뉴가재울삼성점',
 'GS25뉴계룡삼진점',
 'GS25뉴고대민주광장점',
 'GS25뉴공주의료원점',
 'GS25뉴광주삼동역점',
 'GS25뉴금천유진점',
 'GS25뉴김포걸포동점',
 'GS25뉴남포역점',
 'GS25뉴내발산점',
 'GS25뉴대구각산점',
 'GS25뉴대구상인점',
 'GS25뉴대구운동장점',
 'GS25뉴대전인동점',
 'GS25뉴동안산병원점',
 'GS25뉴동탄캐슬점',
 'GS25뉴마곡14단지점',
 'GS25뉴부산시청점',
 'GS25뉴북면중앙점',
 'GS25뉴상동아크로점',
 'GS25뉴서귀포의료원점',
 'GS25뉴서울CC점',
 'GS25뉴세종모닝점',
 'GS25뉴소담수자인점',
 'GS25뉴송파스타힐스점',
 'GS25뉴시흥대로점',
 'GS25뉴오창비발디점',
 'GS25뉴완도터미널점',
 'GS25뉴우송센터점',
 'GS25뉴을지로입구점',
 'GS25뉴자양대동점',
 'GS25뉴전주탄소점',
 'GS25뉴제천대원대점',
 'GS25뉴첨단지구점',
 'GS25뉴청당부영점',
 'GS25뉴충무로명보점',
 'GS25뉴카이스트점',
 'GS25뉴탄현제니스점',
 'GS25뉴평창파크팰리스점',
 'GS25뉴평화미소점',
 'GS25뉴포항해운센타점',
 'GS25뉴하대동진점',
 'GS25능곡휴먼시아점',
 'GS25능동사랑점',
 'GS25능동이너매스점',
 'GS25다가그랑블점',
 'GS25다대노을점',
 'GS25다대포현대점',
 'GS25다사주공점',
 'GS25다산리코빌점',
 'GS25다산부영점',
 'GS25다산센트럴파크점',
 'GS25다산에일린점',
 'GS25다산채움점',
 'GS25다산파크점',
 'GS25다원가좌두산점',
 'GS25다원김포자이점',
 'GS25다원송도점',
 'GS25다원은여울점',
 'GS25다정제일점',
 'GS25다정한신점',
 'GS25단양가곡점',
 'GS25단원선부점',
 'GS25달동주공점',
 'GS25달맞이길점',
 'GS25달빛마을4단지점',
 'GS25달산원룸점',
 'GS25달서강산점',
 'GS25달서상인점',
 'GS25달성건영점',
 'GS25달성옥포점',
 'GS25달성청아람점',
 'GS25달성현풍로점',
 'GS25달성현풍점',
 'GS25답십리동아점',
 'GS25답십리역점',
 'GS25답십리우성점',
 'GS25답십리청마루점',
 'GS25당감태화현대점',
 'GS25당리제일점',
 'GS25당산SK점',
 'GS25당산강변점',
 'GS25당산계룡점',
 'GS25당산래미안점',
 'GS25당산쉐르빌점',
 'GS25당산양평점',
 'GS25당산효성점',
 'GS25당정센터점',
 'GS25당진동광점',
 'GS25당진로드점',
 'GS25당진부경점',
 'GS25당진석문주공점',
 'GS25당진석문천년점',
 'GS25당진세한대점',
 'GS25당진수청중흥점',
 'GS25당진한성필점',
 'GS25당진힐스테이트점',
 'GS25대가대기숙사점',
 'GS25대곡다솜점',
 'GS25대곡역래미안점',
 'GS25대곡풍경채점',
 'GS25대공원리프트점',
 'GS25대공원월드점',
 'GS25대곶대능점',
 'GS25대구M월드점',
 'GS25대구검단대로점',
 'GS25대구경대로점',
 'GS25대구구암센터점',
 'GS25대구국우점',
 'GS25대구남산점',
 'GS25대구내당광장점',
 'GS25대구내당희망점',
 'GS25대구노원대로점',
 'GS25대구대베스트점',
 'GS25대구도남점',
 'GS25대구명덕로점',
 'GS25대구보건대점',
 'GS25대구복현이편한점',
 'GS25대구복현태왕점',
 'GS25대구북구유림점',
 'GS25대구북구해링턴점',
 'GS25대구북비산점',
 'GS25대구비산그린점',
 'GS25대구비산대로점',
 'GS25대구비산센터점',
 'GS25대구비산희망점',
 'GS25대구사수LH점',
 'GS25대구사수점',
 'GS25대구사수행복점',
 'GS25대구산격대로점',
 'GS25대구산격센타점',
 'GS25대구산격희망점',
 'GS25대구서성로점',
 'GS25대구선수촌점',
 'GS25대구성당로점',
 'GS25대구시티센터점',
 'GS25대구에일린점',
 'GS25대구역점',
 'GS25대구연경동화점',
 'GS25대구죽전점',
 'GS25대구칠곡미래점',
 'GS25대구칠곡부영점',
 'GS25대구칠곡태왕점',
 'GS25대구컨벤션센터점',
 'GS25대구평리서도점',
 'GS25대구평리센터점',
 'GS25대구평리중앙점',
 'GS25대구함지점',
 'GS25대구혁신LH점',
 'GS25대덕7단지점',
 'GS25대동휴먼시아점',
 'GS25대림쌍용점',
 'GS25대림우성점',
 'GS25대림제일점',
 'GS25대림춘혜점',
 'GS25대림파밀리에점',
 'GS25대명대덕점',
 'GS25대명빌리지점',
 'GS25대명캠프점',
 'GS25대방덕산2차점',
 'GS25대방승화점',
 'GS25대방현대점',
 'GS25대부바다점',
 'GS25대부펜션타운점',
 'GS25대소이안점',
 'GS25대신푸르지오2차점',
 'GS25대연롯데점',
 'GS25대우그린점',
 'GS25대장본점',
 'GS25대장으뜸점',
 'GS25대장중앙점',
 'GS25대저생태공원점',
 'GS25대전구봉점',
 'GS25대전동성점',
 'GS25대전맑은아침점',
 'GS25대전메이드점',
 'GS25대전목양점',
 'GS25대전서문로점',
 'GS25대전석촌점',
 'GS25대전송림점',
 'GS25대전어울림점',
 'GS25대전에코포레점',
 'GS25대전엑슬루점',
 'GS25대전열매점',
 'GS25대전오룡점',
 'GS25대전월평점',
 'GS25대전해링턴점',
 'GS25대전현충로점',
 'GS25대정한신점',
 'GS25대진대사랑점',
 'GS25대청병원점',
 'GS25대촌오네뜨점',
 'GS25대치SK타운점',
 'GS25대치삼성타운점',
 'GS25대치오토웨이점',
 'GS25대화신우점',
 'GS25대화장성점',
 'GS25더블유스퀘어점',
 'GS25덕계금광점',
 'GS25덕례덕진점',
 'GS25덕명네오미점',
 'GS25덕산주공점',
 'GS25덕산한천점',
 'GS25덕양성사점',
 ...]

In [106]:
addr_

['강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)',
 '경기 광명시 일직로43, GIDC광명역 G244호 (일직동 514)',
 '서울 영등포구 은행로64, GS칼텍스內편의점(여의도동 10-1)',
 '경북 구미시 수출대로337, 1층 동락원기숙사관리동  (임수동 401-3)',
 '경기 파주시 월롱면 엘씨디로201, 1층 매점 (덕은리 1253)',
 '경기 파주시 월롱면 엘씨디로231, G/H동 3층 (덕은리 1251)',
 '서울 종로구 새문안로58, 지하2층 (신문로2가 92, LG광화문빌딩)',
 '서울 강서구 마곡중앙10로10, 지하1층 (마곡동 770, 엘지사이언스파크)',
 '경기 평택시 진위면 엘지로222, (R1동(연구동)) (청호리 19-1, 엘지전자(주))',
 '서울 용산구 한강대로32, 지하1층 (한강로3가 65-228, 엘지유플러스)',
 '경기 이천시 마장면 지산로167-72, 1층 일부 (해월리 165-1)',
 '경북 구미시 수출대로168, LG전자 구미1공장 내  (공단동 191-5)',
 '경기 안양시 동안구 엘에스로127, 지하1층 (호계동 1026-6, LS타워)',
 '경기 성남시 분당구 대왕판교로644번길12, 지하1층 (삼평동 668, (주)엔씨소프트판교RD센터)',
 '서울 강동구 구천면로200, 강동지사 4층 (천호동 419-3, 한국마사회)',
 '서울 강동구 구천면로200, 마사회 강동지사 5층 (천호동 419-3)',
 '경기 성남시 분당구 황새울로311번길37, , 마사회 분당지사 3층 (서현동 259-1)',
 '경기 과천시 주암동렛츠런파크서울 해피빌 구관 4층 남단',
 '경기 과천시 경마공원대로107, 렛츠런파크서울 해피빌 3층 북단 (주암동 685)',
 '경기 과천시 주암동렛츠런파크서울 해피빌 구관 4층 북단',
 '서울 강남구 테헤란로416, 마사회선릉지사 7층 (대치동 890-8, 연봉빌딩)',
 '경기 안산시 단원구 삼일로310, 9층 GS25 R안산9 (선부동 1077)',
 '인천 연수구 벚꽃로114, 5층 일부 (연수동 592, 브랫슬)',
 '인천 연수구 벚꽃로114, 6층 일부 (연수동 592, 브랫슬)',
 '경기 고양시 일산동구 중앙로1275번길60-19, 4층 일부 (장항동 756-4)',
 '경기 고양시 일산동구 중앙로1275번길60-19, 5층 일부 (장항동 756-4)',
 '경기 고양시 일산동구 중앙로1275번길60-19, 6층 일부 (장항동 756-4, 로데오 메탈릭타워 II)',
 '제주 제주시 애월읍 평화로2144, 예시장 (유수암리 1206)',
 '서울 성북구 종암로지하 1, 6호선 고려대역 지하철역사 (종암동 29-18)',
 '서울 마포구 백범로지하 200, 지하1층 (공덕동 439, 공덕역)',
 '서울 마포구 독막로지하 165, 6호 호선 광흥창역 (창전동 145-17)',
 '서울 은평구 연서로지하 137-1, 6호선 구산역 지하1층 1001호 (구산동)',
 '서울 용산구 녹사평대로지하 195, 지하 (용산동4가 4)',
 '서울 마포구 대흥로지하 85, 6호 호선 대흥역 (대흥동 128-1)',
 '서울 성북구 화랑로지하 243, 지하철 역사 (석관동 349-8, 6호선)',
 '서울 중랑구 신내로지하 232, 지하철역사내 (신내동 643-1, 6호선)',
 '서울 용산구 한강대로지하 185, 지하3층 (한강로1가 228-1, 6호선 삼각지역)',
 '서울 마포구 독막로지하 85, 6호 호선 상수역 (상수동 309-10)',
 '서울 은평구 수색로지하 175, 6호선 디지털미디어시티역 지하1층 (증산동 223-25)',
 '서울 성북구 화랑로지하 157, 지하철 6호선 상월곡역 역사 내 (상월곡동 26-1)',
 '서울 노원구 화랑로지하 347-1, 월계동 석계역 6호선 (월계동 25-2)',
 '서울 성북구 인촌로지하 89, 6호선 지하철 역사 내 (안암동5가 146-1)',
 '서울 은평구 통일로지하 849, 6호선 연신내역 지하1층 1001호  (갈현동)',
 '서울 성북구 월곡로지하 107, 6호선 월곡역 역사 (하월곡동 35-1)',
 '서울 은평구 증산로지하 477, 지하2층 2001호(6호선 응암역) (역촌동 85-41)',
 '서울 용산구 이태원로지하 177, 이태원역 B1 1001호 (이태원동 119-23)',
 '서울 은평구 증산로지하 306, 6호선 증산역 지하1층 1001호 (증산동 199-8)',
 '서울 용산구 이태원로지하 287, 지하1층 (한남동 726-494, 6호선 한강진역)',
 '서울 마포구 양화로지하 45, 6호선 지하1층 편의점  (합정동)',
 '서울 노원구 화랑로지하 510, 지하철 역사 내 (공릉동 285-2)',
 '서울 용산구 백범로지하 287, 6호선 효창공원앞역 지하1층 (효창동)',
 '서울 송파구 송파대로지하 257, 8호선 지하철 역사 (가락동 184-23)',
 '서울 강동구 올림픽로지하 550, 8호선 지하철 역사 내 (성내동)',
 '경기 성남시 수정구 산성대로지하 445, 8호선 지하철 역사 내 (단대동)',
 '경기 성남시 수정구 산성대로지하 365, 단대오거리역 지하 GS25 (신흥동 2467)',
 '서울 송파구 올림픽로지하 383, 신천동 8호선 지하철 역사 (신천동 19)',
 '서울 송파구 장지동56번지 8호선 지하철 역사 내부',
 '서울 송파구 장지동600 8호선지하철역사 내',
 '경기 성남시 수정구 수정로지하 365, 8호선 산성역 역사 내 (신흥동)',
 '서울 송파구 송파대로지하 439, 8호선 지하철 역사 (석촌동 209)',
 '경기 성남시 수정구 산성대로203, 8호선 수진역 역사 내 (수진동)',
 '경기 성남시 수정구 산성대로지하 204-2, 8호선 신흥역 역사 내 (신흥동)',
 '서울 강동구 올림픽로지하 776, 지하철 8호선 암사역 역사 내 (암사동 501)',
 '서울 강서구 개화동로8길38, 내 지하층 (개화동 388-1, 개화역사)',
 '서울 강서구 방화동로지하 30 (공항동 산20-2, 공항시장역내)',
 '서울 서초구 신반포로지하 17, 구반포역 역사 내 (반포동 817)',
 '서울 영등포구 국회대로지하 758, 지하철역 (여의도동 1-6)',
 '서울 동작구 노량진로지하 238, 노들역 역사 내 (본동 475-1)',
 '서울 영등포구 양평로지하 40, 당산역 내부  (당산동6가 227-1)',
 '서울 강남구 봉은사로지하 601, , 9호선봉은사역 내 (삼성동 111-8)',
 '서울 서초구 사평대로지하 285 (반포동 128-7)',
 '서울 영등포구 의사당대로지하 166 (여의도동 5-6)',
 '서울 송파구 송파대로지하 439, 지하철9호선 석촌역 (석촌동 209)',
 '서울 영등포구 양평로지하 124, 선유도역 내부 (양평동5가 66-1)',
 '서울 송파구 송파동3, 지하철 9호선 송파나루역',
 '서울 강남구 봉은사로지하 102, 9호선 신논현역 지하 상가 (역삼동)',
 '서울 서초구 신반포로지하 105, 신반포역 역사 내 (반포동 128-1)',
 '서울 강남구 봉은사로지하 201, 지하 1층 926-1호  (논현동 279-165, 9호선 언주역)',
 '서울 영등포구 의사당대로지하 101 (여의도동 2-6)',
 '서울 송파구 방이동88-26 지하철9호선 올림픽공원역 B1층',
 '서울 송파구 올림픽로지하 23, 9호선 종합운동장역 역사 (잠실동 122)',
 '서울 강동구 둔촌동6-3 9호선 중앙보훈병원역 B1층',
 '서울 송파구 위례성대로51, 지하철9호선 한성백제역 지하1층 (방이동 88-21)',
 '서울 동작구 현충로지하 90, 9호선 흑석역 역사내 (흑석동 4)',
 '울산 울주군 삼남면 반구대로158(방기리 59-20)',
 '경기 평택시 포승읍 서동대로524, SK항만주유소 (신영리 413-11)',
 '서울 금천구 벚꽃로309, 7호선 가산디지털단지역 내 상가 3002 (가산동 468-4)',
 '서울 강남구 삼성동1 7호선강남구청역내',
 '서울 강남구 강남대로390, 지하1층 9호 (역삼동 825, 미진프라자)',
 '서울 강남구 강남대로390, 지하3층 (역삼동 825, 신분당선)',
 '서울 광진구 능동로지하 110, 지하3층 X-22,23호 (화양동 6-3)',
 '서울 서초구 반포동19-3 7호선고속버스터미널',
 '서울 마포구 마포대로지하 92, 지하3층 (도화동 25-13, 공덕역)',
 '서울 노원구 동일로지하 1074, 내 (공릉동 385-4, 7호선공릉역)',
 '인천 중구 공항동로135번길86, 자하1층  (운서동 2844-7, 공항화물청사역)',
 '경기 수원시 영통구 대학로55, 1층 광교역사 내 상가 (이의동 740-1, 지상)',
 '경기 광명시 오리로지하 980, 7호선 광명사거리역 GS25S광명사거리역점 (광명동 158-211)',
 '서울 광진구 능동로277, 지하1층 (군자동 1-9, 군자역내)',
 '인천 부평구 길주로지하 623, 내  (삼산동 466, 굴포천역)',
 '서울 강서구 하늘길지하 77, 내 (방화동 886, 김포공항역사)',
 '경기 부천시 길주로지하 626, 까치울역 GS25 (춘의동 3-1)',
 '서울 구로구 도림로지하 7, 7호선 남구로역 내 상가 1001 (구로동 801-95)',
 '서울 동작구 사당로14가길19, 사당동, 7호선 남성역 내 (사당동 250-1)',
 '서울 서초구 서초대로지하 103 (방배동 874-16, 7호선내방역내)',
 '서울 강남구 학동로지하 102, 지하1층, GS25 S논현역점(논현역 상가1004) (논현동 279-67)',
 '대전 서구 한밭대로지하 744, 대전도시철도 1호선 정부청사역 구내상가 지하 1층 (둔산동 1515-1)',
 '서울 영등포구 양평로지하 40, 내선 8번  (당산동6가 227-1)',
 '서울 영등포구 양평로지하 40, 외선7번 (당산동6가 227-1)',
 '서울 영등포구 도림로지하 137, 7호 호선 대림역 (대림동 1050-17)',
 '대전 서구 계룡로지하 644, 지하1층 (용문동 262)',
 '경기 용인시 수지구 신수로지하 760, 내 상가 (동천동 323-4, 동천역사)',
 '서울 마포구 성암로지하 184, 지하 상가 (상암동 1140, 디지털미디어시티역사)',
 '서울 강서구 마곡중앙로지하 135, 공항철도 마곡나루역 지하 1층 (마곡동 373-14)',
 '서울 강남구 남부순환로지하 2744, 매봉역내 333-03호 (도곡동 179-2)',
 '서울 서초구 매헌로지하 116, 지하층 매장 2호 (양재동 233-2)',
 '서울 성동구 동호로지하 104, 324-09호 (금호동4가)',
 '서울 중랑구 겸재로171-5, 면목역 지하1층 GS25 S면목역점 (면목동 120-17)',
 '서울 서초구 신반포로지하 241, 반포역 상가1054 (잠원동 103)',
 '부산 수영구 수영로지하 576, 지하구내층  (광안동 205, 도시철도 광안역)',
 '부산 동래구 중앙대로1414, 지하철 명륜역 (온천동 489-4)',
 '부산 해운대구 해운대로지하 396, 벡스코지하철역 (우동 1086-3)',
 '부산 해운대구 해운대로지하 626, 지하철 해운대역 (우동 656)',
 '경기 부천시 원미구 길주로지하 202, 중동 7호선부천시청역내 (중동 1243, 부천시청역)',
 '서울 중랑구 사가정로지하 393, 지하철 7호선 사가정역 (면목동 495)',
 '인천 부평구 길주로지하 713, 삼산동 7호선삼산체육관역내 (삼산2동 466, 삼산체육관역 7호선)',
 '서울 동작구 상도로지하 272, 상도역내 지하 1층 (상도1동 702-1)',
 '경기 부천시 원미구 길주로지하 104, 상동 7호선상동역내 (상동 633, 상동역)',
 '서울 중랑구 망우로297, 상봉역 7호선 지하2층 GS25 S상봉역점 (상봉동 100-9)',
 '경기 용인시 수지구 광교중앙로지하 312, 상현역사 내 상가 (상현동 502-10)',
 '부산 부산진구 중앙대로지하 730, 서면역구내 (부전동 573-1)',
 '서울 용산구 청파로378, 지하3층 (동자동 43-205, 한국철도공사)',
 '경기 용인시 수지구 수지로지하 134, 내 상가 (성복동 720-6, 성복역사)',
 '경기 용인시 수지구 풍덕천동1045 수지구청역사 내 상가',
 '서울 동작구 상도로지하 378, 7호선 숭실대입구역 내 상가 1001 (상도동)',
 '서울 동작구 상도로지하 76, 7호선 신대방삼거리역 내 상가 1001 (대방동 406-10)',
 '경기 부천시 원미구 길주로지하 314, 중동 7호선신중동역내 (중1동 1140-6, 신중동역)',
 '경남 양산시 강변로441, 양산역구내임대상가 2층 D204 (중부동 475-1)',
 '서울 서초구 양재동12-1 신분당선양재역내 B1-27',
 '서울 서초구 남부순환로지하 2585, B3-41호  (서초2동 1366-9, 신분당선양재역내)',
 '서울 광진구 능동로지하 210, 어린이대공원 역 상가1001 (화양동 164-1, 세종대)',
 '부산 연제구 중앙대로지하 1101, 연산지하철 역사내 (연산동 1515-1)',
 '서울 구로구 온수동73 7호선온수역내',
 '서울 중랑구 용마산로지하 227, 용마산역 상가1001 (면목동 1316-5)',
 '서울 동작구 사당로지하 310, 7호선內(사당2동 144-4)',
 '부산 해운대구 해운대로지하 820, 장산지하철역 (좌동 1491)',
 '서울 동작구 상도로지하 188, 장승배기 역사 내 (상도동 26-20)',
 '경기 성남시 분당구 성남대로지하 333, 신분당선 정자역 지하1층 GS25 S정자역점 (정자동 95-1)',
 '서울 송파구 올림픽로지하 23, 2호선 종합운동장역 지하상가 4호 (잠실동)',
 '서울 노원구 중계동512 7호선역사',
 '서울 광진구 능동로415-1, 7호 호선중곡역내  (중곡3동 167-1)',
 '서울 서초구 청계산로지하 179, 청계산입구역 지하1층 GS25 S청계산역점 (신원동 270-25)',
 '인천 서구 에코로151, 1층 공항철도 청라국제도시역 (청라동 7-2)',
 '경기 부천시 원미구 길주로지하 406, 춘의동 7호선춘의역사내 (춘의동 145, 춘의역)',
 '경기 성남시 분당구 판교역로지하 160, 지하1층 GS25 S판교역점 (백현동 19-2)',
 '서울 노원구 동일로지하 1196, 지하1층 GS25 (하계동 273-5)',
 '서울 마포구 양화로지하 188, B2F R01호 (동교동 190-1)',
 '충북 청주시 흥덕구 가경로140, 월드마트 (가경동 1510)',
 '경기 여주시 가남읍 설가로869, 외 1필지 (태평리 476)',
 '경기 여주시 가남읍 경충대로1472-33, 외 1필지 상가9호10호11호12호 (신해리 620-17)',
 '경기 포천시 가산면 정금로188, GS25가산정교점 (정교리 240-5)',
 '부산 부산진구 엄광로68, 상가 146호, 116호 (가야동 669-9)',
 '부산 부산진구 가야대로572번길18, 1층 GS25 가야플러스점 (가야동 297-2)',
 '서울 강서구 허준로47, 상가(가양1동 1461, 가양도시개발공사아파트)',
 '서울 강서구 양천로418, 1층 일부 (등촌동 10-14)',
 '서울 강서구 양천로57길10-20,  상가 104호(가양2동 1480-5, 이스타빌)',
 '서울 강서구 화곡로68길15, , 22번지  103호 (등촌동 628-7, 아벨테크노지식산업센터)',
 '대전 서구 가장로106, 삼성래미안아파트 재해리상가동 101호  (가장동 55, 삼성래미안아파트)',
 '인천 서구 봉오재1로36, 상가동 102호,102호 (신현동 306-1, 엘에이치루원시티센트럴타운)',
 '인천 서구 봉오재3로11, 상가1동 106호 107호 (가정동 603-1, 루원제일풍경채아파트)',
 '인천 서구 건지로334번길22, 1층전체 (가좌3동 193-2, 한마음교회)',
 '경기 고양시 일산서구 가좌3로45, 상가동 101,102호 (가좌동 1089, 가좌마을)',
 '인천 서구 가정로107-1, 1층 일부 (가좌동 146-21)',
 '경기 고양시 일산서구 가좌1로8, 상가 101~2(가좌동 1087, 가좌마을)',
 '인천 서구 원적로47번길35, 신현대아파트 상가동 104,105,106 (가좌동 217)',
 '경기 고양시 일산서구 가좌2로20, 상가동 1층 112호 (가좌동 1086, 가좌마을6단지)',
 '인천 서구 건지로402, 외2필지 403동 101호 (가좌2동 7, 한신휴플러스)',
 '인천 서구 장고개로337번길16,  종합상가 401동 114호(가좌2동 11, 한신)',
 '경기 성남시 수정구 성남대로1342, 가천관 2층 (복정동 620-2, 가천대학교)',
 '경기 가평군 하면신상리 131-1번지',
 '경기 가평군 하면 현창로38번길10(현리 264-32)',
 '경남 창원시 마산합포구 가포본동5길37, 상가 101호, 102호 (가포동 58-2)',
 '경기 김포시 통진읍 율마로235, 가동 1층 (가현리 430-5)',
 '대구 동구 반야월북로123, 상가동 105호 (각산동 905, 각산태영데시앙)',
 '인천 남동구 풀무로20, 1층 전체 (간석동 77)',
 '인천 남동구 남동대로860, , 상가4동 제107호 (간석동 939-1)',
 '인천 남동구 경인로617, 오피앙B 제1층101호(간석4동 249-5)',
 '인천 남동구 경인로524번길24, 1층 8,9,13,14,15,17,18,19호 (간석동 519-4)',
 '대전 서구 대덕대로161번길13, 1층상가전체(갈마2동 1034)',
 '경기 구리시 갈매중앙로132, 상가동 1층 108호  (갈매동 77, LH이스트힐)',
 '경기 구리시 갈매중앙로16, 상가동 106호 (갈매동 산101-1, 대우푸르지오아파트)',
 '인천 부평구 주부토로261,  외1필지 1층 105호(갈산1동 169-16)',
 '인천 부평구 갈월동로34,  상가동 101호 (갈산동 369, 한국아파트)',
 '서울 은평구 연서로17길46-1, 1층 우측상가 (갈현동 497-13)',
 '경남 창원시 의창구 북면 감계로342, 부상가 101호,102호 (감계리 232-1, 창원감계아내에코프리미엄2차)',
 '경남 창원시 의창구 북면 감계로233, 상가동 304호 (감계리 225-1, 감계힐스테이트)',
 '충북 음성군 감곡면 오향로31, 상가동 105, 106호 (오향리 1181)',
 '부산 남구 무민사로13, 지하1층 (감만동 500-2, 판테라오피스텔)',
 '부산 남구 우암로26번길8, GS25감만현대점 (감만동 258-5)',
 '경기 하남시 감일순환로140, 하남감일스윗시티 7단지 상가동 101호, 102호 (감일동 524)',
 '충남 논산시 강경읍 계백로149, 1층 소매점 (대흥리 2-15)',
 '서울 강남구 테헤란로129, 강남N타워 GF층 7호 (역삼동 648-17)',
 '서울 영등포구 신길로1, 1층 일부 (대림1동 948-1, 강남성심병원)',
 '서울 강남구 밤고개로21길25, 상가동 지상1층 103호, 104호 (자곡동 361)',
 '서울 강남구 강남대로98길17, 지하1층 (역삼동 620-9, 시티힐빌딩)',
 '서울 강남구 봉은사로48길32, 지하1층 2호 (역삼동 690-29)',
 '서울 강남구 자곡로180, 111-2호 (자곡동 651, 강남유탑유블레스오피스텔)',
 '서울 강남구 봉은사로170, 상가 107호 (역삼동 605-17)',
 '서울 강동구 풍성로106, 102-1호 (성내동 120-60)',
 '울산 북구 동해안로1583, 1층 GS25강동스마일비치점 (산하동 517-1)',
 '서울 강동구 고덕로80길123, 고덕센트럴아이파크 1상가 108호 (상일동 131)',
 '서울 강동구 천호대로1057, 105,6호(천호3동 451-20, 오피스텔트레벨)',
 '서울 강동구 고덕로140, 상가동1층119-2,120-1  (암사동 413-3, 현대대림아파트)',
 '강원 강릉시 교동광장로138-13, 교동현대2차아파트 제상가동 제101호 (교동 1767)',
 '강원 강릉시 하평길55-1, 송정주공아파트 제상가동 제101호, 제102호 (포남동 1293-5)',
 '강원 강릉시 경강로2539번길22, 상가동 104, 105호 (견소동 289, 송정해변신도브래뉴아파트)',
 '강원 강릉시 죽헌길7, 1층 학생복지관 (지변동 123,강릉원주대학교)',
 '강원 강릉시 범일로645, 상가동 103,104호 (내곡동 469, 내곡동현대아파트)',
 '강원 강릉시 토성로51, 지하1층 (홍제동 122)',
 '강원 강릉시 강변로72, 상가동 102, 103호 (회산동 605, 강릉회산LH천년나무2단지)',
 '서울 강북구 도봉로20가길40, 1층 코너 (미아동 135-8, 준타워)',
 '서울 강북구 한천로132길84, 외 1필지(466-23) (번동 466-22)',
 '서울 강서구 마곡중앙10로70, B1F (마곡동 789)',
 '서울 강서구 강서로16길22, 1층 일부 (화곡동 341-31)',
 '서울 강서구 화곡로68길148, 1층 이마트24 강서등촌점 (등촌동 636-60)',
 '서울 강서구 강서로46길47, 1층 일부 (내발산동 706-5, 동산빌딩)',
 '서울 강서구 강서로56나길110, 1층 상가동  (등촌동 691-3, 부영아파트)',
 '서울 강서구 양천로583,  상가 113호(염창동 240-21, 우림블루나인)',
 '서울 강서구 양천로10길38, 신마곡벽산블루밍APT 105동 상가 107호 (방화동 537-5)',
 '서울 강서구 양천로30길32, 1층 남쪽에서 첫번째 점포 (마곡동 326-19)',
 '서울 강서구 강서로242, 상가동 1층 103호 (화곡동 1165-1, 강서힐스테이트)',
 '강원 춘천시 강원대학길1, 이룸관동1층  (효자동 192-1, 강원대학교)',
 '서울 강동구 고덕로98길160, 상가동 103호,104호 (상일동 28, 강동리엔파크14단지)',
 '서울 강동구 아리수로93가길77, 상가동 104,105호 (강일동 215, 강동리버스트6단지)',
 '서울 강동구 고덕로97길29, 상가 101,102호 (강일동 699, 강일리버파크)',
 '서울 강동구 아리수로94길72, 102호 강일리버파크 8단지상가  (강일동, 강일리버파크8단지아파트)',
 '서울 강동구 아리수로97길68,  상가 101호(강일동 668, 강일리버파크2단지)',
 '제주 서귀포시 강정동192, 1층 101,102호',
 '인천 강화군 선원면 중앙로274-2, 제상가동 1층 102,103,104호 (창리 663-1)',
 '인천 강화군 내가면 해안서로892, 1층,2층일부 (외포리 547-31)',
 '부산 부산진구 엄광로19, GS25 개금큰시장점 (개금동 615-17)',
 '부산 부산진구 가야대로450, 상가동 202호 (개금동 875, 금강펜테리움더스퀘어아파트)',
 '서울 구로구 개봉로17나길33, 1층 일부호 (개봉동 323-33)',
 '서울 구로구 경인로382, 제2상감동 106,107호 (개봉동 476)',
 '충북 청주시 서원구 신율로52, B상가 106호, 107호 (개신동 613)',
 '서울 강남구 영동대로22, 상가 826동 S1B1-0102호 (일원동 611-1)',
 '서울 강남구 논현로16길6, 1층 일부 (개포동 1227-11)',
 '서울 강남구 개포로264, 상가 A동 108호 (개포동 656-4, 개포래미안포레스트)',
 '서울 강서구 개화동로23길35, 1층 여주슈퍼 (방화동 646-101)',
 '경남 거제시 상동1길39-1, 상가동 103호 (상동동 72-2)',
 '경남 거제시 제산로86, 상가동 103,104호 (양정동 800)',
 '경남 거제시 거제대로3697-25, 상가 101호, 107호 (옥포동 233)',
 '경남 거제시 장평로6길22, 상가동 101호 (장평동 14, 성원아파트)',
 '경남 거제시 문동1길42, 301동 101,102,103호 (문동동)',
 '경남 거제시 제산로2-5, 상가 112동 101호 (양정동 943, 삼성쉐르빌)',
 '경남 거제시 거제면 거제남서로3466, 상가 1층 104호 (서정리 731-37, 청목아델하임)',
 '경남 거제시 문동동353-7번지 현대아이파크2차 2단지상가 106호',
 '경남 거제시 아주로73-17, 지하1층 (아주동 1201-10)',
 '경남 거제시 해명로49, GS25거제자이점 (수월동 1086)',
 '경남 거제시 상동3길15, 상가 402동 101호 (상동동 110, 거제힐스테이트)',
 '경남 거창군 거창읍 거함대로4길33, 상가 101, 102호 (김천리 99-3)',
 '경남 거창군 거창읍 송정2길33, 상가동 104호 105호 (송정리 1097)',
 '서울 광진구 화양동 195-17',
 '전남 장흥군 장흥읍 북부로3, 상가동 1층 101호 (장흥건산2휴먼시아) (건산리 810)',
 '경기 김포시 걸포1로11, 상가동 제지하1층 104호 (걸포동 1558)',
 '경기 김포시 걸포2로83, 상가동 137호, 138호 (걸포동 264-4, 한강메트로자이1단지)',
 '경기 김포시 걸포2로83, 상가동 106호,107호 (걸포동 264-4, 한강메트로자이1단지)',
 '인천 서구 이음3로220, 상가 3동 302,303,304호 (원당동 1096, 인천검단엘에이치20단지)',
 '인천 서구 오류동검단일반산업단지에스2-15블럭 올림픽프라자 101',
 '인천 서구 바리미로23, 105호 지에스25 검단솔보 (원당동 1033-10)',
 '인천 서구 이음5로39, 근린생활시설2동 지09호 (원당동)',
 '인천 서구 원당대로685번길32, 상가동 107,108,109호 (마전동 1053-1)',
 '인천 서구 이음5로65, 상가 109. 110호 (원당동, 검단금호어울림센트럴)',
 '인천 서구 완정로33번길5, 1층 101-1호 (마전동 1017-1)',
 '인천 서구 검단로419, 라동 107호 (왕길동 273-5, 원흥아파트)',
 '인천 서구 완정로117번길41, 6롯트 (왕길동 665-6, 동경빌딩)',
 '경기 양주시 남면 검준길28, 가동1층1,2,3,4호(상수리 475-1)',
 '서울 서대문구 경기대로9길50, 지하1층(충정로3가 1-35)',
 '경기 남양주시 진접읍 금곡리 383경복대창조관1004~5',
 '대구 북구 대학로80, 도서관 앞건물 1층 (산격동 1370-1, 경북대학교)',
 '경북 군위군 군위읍 경북대로3088, 2000휴게소 (무성리 42-1)',
 '대구 북구 대학로80, 진리관 1층 (산격동 1370-1, 경북대학교)',
 '대구 북구 대학로80, BTL생활관 첨성관 (산격동 1370-1)',
 '경북 경산시 삼성현로91길10, 101호 상가 (사동 297,부영팰리스2차)',
 '경북 경산시 진량읍 일연로747, 이안경산진량APT 상가 203동 108,109호 (선화리 1990)',
 '경북 경산시 장산로4길7, 101,102호 (옥곡동 86-9)',
 '경북 경산시 진량읍 선항6길30, 110동 103호 GS25경산호반점 (선화리 2206, 경산진량호반베르디움더포레스트)',
 '경남 진주시 진주대로501, 가좌캠퍼스 2차BTL생활관내 (가좌동 900)',
 '경남 진주시 진주대로501, 기숙사 내 (가좌동 900, 경상대학교)',
 '경북 구미시 산동면 강동로724-12, 1층 (인덕리 36-3,경운대글로벌관)',
 '경북 구미시 산동면 강동로730, 13호관 2층 (인덕리 171-3)',
 '경기 의정부시 평화로449, 동맥집 (의정부동 369-7)',
 '서울 마포구 신촌로4길18, 1층 코너면 (동교동 176-1)',
 '경북 경주시 대안길21, 이마트 (동천동 601-4)',
 '경북 경주시 진현로23, 상가 207호, 208호 (진현동 834-19, 두산위브)',
 '경북 경주시 양북면 동해안로1355 (봉길리 24-2)',
 '경북 경주시 유림로33번길10, 상가동 102호, 103호 (황성동 643-6)',
 '경북 경주시 경감로627, 라동(천군동 157-16)',
 '강원 강릉시 해안로536, 라카이샌드파인리조트 (안현동 89-87)',
 '강원 강릉시 경포로463번안길15, 1층 101,102호 (저동 4-22, 경포현대아파트)',
 '강원 강릉시 해안로501, 17,18,19호 (안현동 94-143)',
 '경기 용인시 기흥구 덕영대로1732, 공학관 (서천동 1)',
 '서울 종로구 송월길155, 상가동 1층 4123호 (교북동 12-1, 경희궁자이)',
 '경기 용인시 기흥구 덕영대로1732, 제2기숙사(서천동 1, 경희대학교)',
 '서울 동대문구 경희대로26, 경희대학교 서울캠퍼스 공공기숙사 지상1층 (회기동 1-5)',
 '서울 동대문구 이문로3길66, 외 1필지  1층 (회기동 103-220)',
 '경기 용인시 기흥구 덕영대로1732, 극제대학관 (서천동 1)',
 '경기 용인시 기흥구 덕영대로1732, 전자정보대학관 (서천동 1)',
 '경기 용인시 기흥구 덕영대로1732, 국제.경영대학관 (서천동 1)',
 '경기 용인시 기흥구 덕영대로1732, 체육대학관 (서천동 1)',
 '충남 계룡시 두마면 대실남북로82, 상가 101호 (농소리 969, LH4단지)',
 '충남 계룡시 엄사면 엄사중앙로65-9,  상가 101호(엄사리 367, 신성)',
 '충남 계룡시 엄사면 번영로113-32, 상가 112,113호 (엄사리 587,단지)',
 '충남 계룡시 엄사면 엄사중앙로66, A상가 101호 (엄사리 282, 성원아파트경비실)',
 '광주 동구 중앙로358, 상가 147호 148호 (계림동 100-11)',
 '대구 달서구 신당동신당로 3',
 '인천 계양구 계양대로36, 1층 일부 (작전동 423-3)',
 '인천 계양구 황어로115번길13, 상가동 지1층 지1,지2호 (장기동 131-10)',
 '인천 계양구 용종로23, 상가동 1층 115호 (계산동 1084-3, 은행마을태산아파트)',
 '인천 계양구 용종로124, 상가동 1층 107호 (병방동 433-1, 학마을한진아파트)',
 '인천 계양구 새벌로133번길6, 현대3차아파트 상가동 103,104,105호 (효성동 280-5)',
 '경기 부천시 역곡로482번길37, 코너호 (고강동 377-5)',
 '경기 부천시 오정구 고리울로52번길49, 102,103호(고강본동 400)',
 '경기 안산시 단원구 적금로123, 지하1층 (고잔동 516)',
 '서울 성북구 안암로145, 고려대학교 중앙광장 109C호 (안암동5가 1-2)',
 '세종 조치원읍 세종로2511, 1층 101호 세종캠퍼스 호익플라자 (서창리 208, 고려대학교)',
 '경기 평택시 고덕면 고덕갈평9길84, 1층 코너 (여염리 4172-4)',
 '경기 평택시 고덕면 고덕여염5길194, 1층 코너 (여염리 4590-5, 골든빌31)',
 '서울 강동구 고덕로385, 상가 127, 128호 (고덕동 212, 고덕그라시움아파트)',
 '경기 평택시 고덕면 고덕갈평5길32, 108호 (여염리 4229-1, 그랜드메디컬타워)',
 '경기 평택시 고덕면 고덕로335 (좌교리 433-65)',
 '경기 평택시 고덕여염12길142, 1층 상가 (고덕동 2074-6)',
 '경기 평택시 고덕면 고덕여염10길72, 102호,103호 (여염리 4486-2)',
 '경기 평택시 고덕면 고덕여염12길183, 101호 (여염리 4427-1)',
 '경기 평택시 고덕면 고덕갈평3로50, 상가 101호 (여염리 4198-1, 평택고덕센트레빌엔에이치에프3단지)',
 '서울 강동구 고덕로380, 근린생활시설 2동 101-2호 (상일동 121)',
 '경기 평택시 고덕면 고덕중앙로290, 1층 143호,144호 (여염리 4391-2)',
 '경기 평택시 고덕면 고덕중앙로218, 110호 (여염리 4318-1, 우성메디컬)',
 '경기 평택시 고덕면 고덕중앙로320, 1층 104호 (여염리 4388-1, 원희캐슬고덕지식산업센터)',
 '경기 평택시 고덕면 고덕국제대로152, 상가동 102,103호 (여염리 4313-2, 고덕신도시자연앤자이)',
 '경기 평택시 고덕면 함박산7길29, GS25고덕중앙점 (좌교리)',
 '경기 평택시 고덕면 고덕여염11길113, 1층 101호 (여염리 4409-10)',
 '경기 평택시 고덕면 효덕새싹길31, 좌측 2칸 (궁리 72-1)',
 '경기 평택시 고덕면 고덕여염9길22, 116호 (여염리 4507-3, 고덕헤리움비즈타워2차)',
 '경기 평택시 고덕면 고덕국제대로179, 상가동 110호 (여염리 4242-2, 고덕제일풍경채)',
 '경기 평택시 고덕면 효덕새싹길55, 단지내상가 B동 103호,104호,111호 (궁리)',
 '경기 평택시 고덕면 고덕여염6길12, 101호 (여염리 101)',
 '경기 평택시 고덕면 고덕국제1로50, 835동 104호 (좌교리 0, 호반써밋고덕신도시)',
 '경기 평택시 함박산4길9, GS25고덕호수공원점 (고덕동)',
 '경기 수원시 팔달구 고등로8, 수원고등C1아파트 상가 102호 (고등동 215-53)',
 '경북 고령군 고령읍 우륵로35(연조리 123-2)',
 '경기 용인시 처인구 경안천로112, 상가동 101호 (고림동 1005, 고림지구양우내안애에듀파크)',
 '경기 용인시 처인구 임원로26-1, 지층 102호 (고림동 193, 대림르첸시아)',
 '경기 고양시 일산동구 고봉로770번길5, 나동, 1층 (설문동 706-31)',
 '경기 의정부시 서광로186, 상가동 (산곡동 0, 쌍용더플래티넘아파트)',
 '경기 의정부시 월유로13, 고산공공주택지구 상업시설 5-2 지석프라자 103호 (산곡동)',
 '경기 의정부시 서광로169, 상가동 (산곡동 676, 대광로제비앙더퍼스트아파트)',
 '경기 수원시 권선구 고현로5번길25, 상가동 101호 (고색동 306-1, 거산아파트)',
 '경기 수원시 권선구 오목천로152번길60, 109,110호 (고색동 948)',
 '경남 고성군 고성읍 동외로37-3, 102,103호 (동외리 580-1, 대동남산임대아파트)',
 '강원 고성군 간성읍 남천길24, 상가동 지하1층 B101,102호 (신안리 620)',
 '부산 서구 감천로262, GS25고신의과대학점 (암남동 41-1)',
 '충북 제천시 고암로14길13, 상가2동 107,108호 (고암동 1250)',
 '경기 양주시 고암길219, 상가동 101호 (고암동 583, 하늘빛마을주공7단지)',
 '경기 고양시 일산동구 경의로329, 백마마을상가동 120호, 121호일부 (마두동 717)',
 '경기 고양시 일산동구 고봉로795, 외6필지 101호 (설문동 703)',
 '경기 고양시 덕양구 원당로69번길14, 1층 일부 (주교동 583-7)',
 '경기 고양시 덕양구 지축4로33, GS25 고양지축점 (지축동)',
 '경기 고양시 덕양구 성사동95-1 일대, 서울문산간 고속도로 휴게소 서울방향',
 '경기 고양시 덕양구 성사동95-1일대, 서울문산간 고속도로 휴게소 문산방향',
 '경기 양주시 고읍북로118, 상가동 105,106호 (만송동 700, 은빛마을휴먼시아)',
 '경기 양주시 고읍북로28-8, 103,104호 (만송동 697, 은빛마을유승한내들)',
 '경기 양주시 고읍남로94, 상가동 101,102호 (광사동 717, 양주고읍LH13단지아파트)',
 '경기 안산시 단원구 광덕동로39, 113,114호 (고잔동 775-4)',
 '경기 안산시 단원구 보배2길18, 101, 102호 (고잔동 506-4)',
 '인천 남동구 호구포로50, 1층 M14호 (고잔동 736-4, LI지식산업센터)',
 '경기 안산시 단원구 광덕2로74, 상가동 104,105호 (초지동 730, 그린빌주공12단지아파트)',
 '경기 안산시 상록구 광덕4로460, 상가 101호 (사1동 1536, 푸른마을5단지)',
 '전북 고창군 고창읍 성산로19,  상가 103호(읍내리 1222, 휴먼시아아파트)',
 '서울 구로구 중앙로12길12,  상가 101호(고척1동 320, 센츄리)',
 '경기 김포시 고촌읍 김포대로332, 상가 105호, 106호 (신곡리 532-124)',
 '경기 김포시 고촌읍 수기로67-39, 107, 108호  (신곡리 1256, 수기마을힐스테이트2단지)',
 '경기 오산시 동부대로338번길32, 1층 일부호 (고현동 12-27)',
 '경기 광주시 도척면 도척윗로278, GS25곤지암리조트2호점 (도웅리 534)',
 '경기 광주시 도척면 도척윗로278, GS25곤지암리조트점 (도웅리 534)',
 '서울 마포구 백범로199,  102호 -A (신공덕동 167, 대우매트로디오빌)',
 '서울 마포구 마포대로115-8, 108, 109호 (공덕동 371, 공덕삼성아파트)',
 '서울 마포구 마포대로7길23, 지층 (공덕동 373-9)',
 '서울 마포구 공덕동446-34번지 공덕파크자이 상가102동 16호',
 '경기 안성시 공도읍 양기길26, 근린생활 상가동 106호,107호 (양기리 306-33)',
 '서울 노원구 섬밭로125, 상가동 104호,108호 (공릉동 715)',
 '서울 노원구 동일로1116, 1층 상가동 (공릉동 714)',
 '서울 노원구 노원로1가길10, 상가 101,102호 (공릉2동 91, 청솔아파트)',
 '서울 노원구 화랑로51길17, 상가 101호 (공릉동 111, 화랑타운아파트)',
 '서울 노원구 화랑로556, 상가동 1층 105호 (공릉동 742, 효성아파트)',
 '충남 공주시 한적2길51-12,  상가 106호 (금흥동 602, 우남퍼스트빌)',
 '충남 공주시 백제문화로2139,  상가 101호 (웅진동 243, 시영아파트)',
 '충남 공주시 무령로600-25, A3블럭 단지내상가 102호, 103호, 104호 (월송동 619)',
 '충남 공주시 무령로208, 외 2필지(중동 147-83)',
 '충남 공주시 신금1길72, 103,104호 (신관동 1, 새뜸현대3차아파트)',
 '서울 강서구 공항대로382,  상가 107호(화곡동 1145, 우장산롯데캐슬)',
 '경기 과천시 별양로28, 1층 1086,1087호 (원문동 4, 래미안 슈르)',
 '경기 과천시 별양로12, 1005, 1006호  (원문동 4, 래미안슈르 C상가)',
 '경기 과천시 별양로163, 상가 1층 101호 (별양동 3, 래미안과천센트럴스위트아파트)',
 '경기 과천시 별양로142, 과천자이아파트 단지내상가 116-2호, 117호 (별양동 52)',
 '인천 미추홀구 문화로27, 상가동 101호, 105호 (관교동 13-10)',
 '인천 남구 경원대로715 (주안8동 1193-5)',
 '강원 강릉시 범일로579번길21, 청도B/D A동2,3호(내곡동 314-14)',
 '경기 고양시 덕양구 통일로802번길71, 상가 101,102호 (관산동 996)',
 '서울 관악구 인헌16길47, 지하1층 (봉천동 180-422, 새진아파트)',
 '서울 관악구 난곡로26길89, 지하1층 (신림동 646-273)',
 '서울 관악구 법원단지21길2, 1층 B02호 (난곡동 610-140)',
 '서울 관악구 보라매로3길17, 101~102호(보라매동 702-108)',
 '서울 관악구 관악로125, 상가 101호 (청룡동 1591-2, 삼우아파트)',
 '서울 관악구 서원6길1, 지층 (신림동 409-33)',
 '서울 관악구 청림3길10, 1층 1-5호 (봉천동 10-4, 서희스타힐스아파트)',
 '서울 관악구 장군봉1길16, 상가동 101호 (봉천동 1522-30, 청룡동금강아미움아파트)',
 '서울 관악구 남부순환로218길46,  지층 B1호(청룡동 878-1)',
 '서울 관악구 대학길84, 1층,지층 (대학동 253-3)',
 '서울 관악구 대학길84, 1층,지층 (대학동 253-3)',
 '서울 관악구 봉천로455, 외1필지(중앙동 873-43)',
 '서울 관악구 보라매로6길33, 2,3호 (봉천동 1500, 지하상가)',
 '대전 서구 관저로48, 분산상가동 101호 (관저동 1144, 구봉마을7단지)',
 '대전 서구 관저서로24, 상가동 103호,104호 (관저동 1154-2)',
 '대전 서구 관저북로52, 106,107호  (관저1동 990, 대자연마을아파트상가)',
 '대전 서구 관저동로90번길15, 아파트상가동 103호,104호 (관저동 1420)',
 '대전 서구 관저중로33, 상가동 105호 (관저동 1579, 관저예미지 명가의 풍경)',
 '대전 서구 구봉산북로212, 상가동 101호103호 (관저동 1599, LH천년나무)',

In [106]:
driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=GS2538%EC%84%A0%ED%9C%B4%EA%B2%8C%EC%86%8C%EC%A0%90')

In [101]:
driver.close()

### 법정동 수집_ver1: 네이버 검색

In [ ]:
# 66 : GS25S9국회의사당역점 -> 정보가 없어서 따로 검색해야 함
# GS25S광교역점 :  addr_ = driver.find_element_by_class_name('_3DQBL').text 이게 없음

In [171]:
# 법정동 수집
a = []

driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=GS2538%EC%84%A0%ED%9C%B4%EA%B2%8C%EC%86%8C%EC%A0%90')

for corp in tqdm(df['매장명']):
    # 매장 검색   
    search = driver.find_element_by_id('nx_query')
    search.clear()
    search.send_keys(corp)
    search_button = driver.find_element_by_class_name('bt_search').click()

    time.sleep(1)
    
    addr_ = []
    try :
        addr_ = driver.find_element_by_class_name('_3DQBL').text
        
        if type(addr_) == str:
            a.append(addr_)
        else:
            # 매장이 두 개 뜨면 그 중 첫번째꺼 선택함
            select = driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/span/a').click()
            a.append(driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/div/div[2]').text)
        
    except :# NoSuchElementException
        print(corp)
        pass   
    
    time.sleep(1)

driver.close()

  0%|▎                                                                             | 12/3731 [00:29<2:30:39,  2.43s/it]

GS25LS타워점

  2%|█▎                                                                            | 62/3731 [02:31<2:29:51,  2.45s/it]

GS25S8암사역점

  2%|█▍                                                                            | 66/3731 [02:41<2:31:02,  2.47s/it]

GS25S9국회의사당역점

  2%|█▋                                                                            | 79/3731 [03:16<2:31:23,  2.49s/it]

KeyboardInterrupt:

In [174]:
a

['전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '주소\n경기도 광명시 일직로 43 GIDC광명역 G244호지번경기도 광명시 일직동 514 GIDC광명역 G244호\n영업시간\n24시간 영업연중무휴',
 '전화\n02-3775-0976\n주소\n서울특별시 영등포구 은행로 64지번서울특별시 영등포구 여의도동 10-1',
 '주소\n경상북도 구미시 수출대로 337 1층 동락원기숙사관리동 (임수동 401-3)지번경상북도 구미시 임수동 401-3',
 '주소\n경기도 파주시 월롱면 엘씨디로 201 1층 (덕은리 1253)지번경기도 파주시 월롱면 덕은리 1253',
 '전화\n031-933-1004\n주소\n경기도 파주시 월롱면 엘씨디로 231 G/H동 3층 (덕은리 1251)지번경기도 파주시 월롱면 덕은리 1251',
 '전화\n1644-5425\n주소\n서울특별시 종로구 새문안로 58 지하2층 (신문로2가 92, LG광화문빌딩)지번서울특별시 종로구 신문로2가 92',
 '전화\n1644-5425\n주소\n서울특별시 강서구 마곡중앙10로 10지번서울특별시 강서구 마곡동 770',
 '전화\n031-8066-5909\n주소\n경기도 평택시 진위면 엘지로 222지번경기도 평택시 진위면 청호리 1',
 '전화\n1644-5425\n주소\n서울특별시 용산구 한강대로 32지번서울특별시 용산구 한강로3가 65-228',
 '전화\n031-630-6665\n주소\n경기도 이천시 마장면 지산로 167-72 1층 일부지번경기도 이천시 마장면 해월리 165-1\n영업시간\n영업 중23:00에 영업 종료',
 '전화\n054-469-0849\n주소\n경상북도 구미시 수출대로 168 LG전자 구미1공장 내지번경상북도 구미시 공단동 191-5',
 '전화\n031-706-4815\n주소\n경기도 성남시 분당구 대왕판교로644번길 12 지하1층지번경기도 성남시 분당구 삼평동 668 지하1층',
 '전화\n1644-5425\n주소\n서울특별시 강동구 구천면로 200 강동지사 4층 (천호동 419-3, 한국마사회)지번서울특별시 강동구 천호동 419-3',
 '전화\n1644-5425\n주소\n서울특별시 강동구 구천면로 200 마사회 강동지사 5층 (천호동 419-3)지번서울특별시 강동구 천호동 419-3',
 '전화\n1644-5425\n주소\n경기도 성남시 분당구 황새울로311번길 37지번경기도 성남시 분당구 서현동 259-1',
 '전화\n1644-5425\n주소\n경기도 과천시 경마공원대로 107지번경기도 과천시 주암동 685',
 '전화\n1644-5425\n주소\n경기도 과천시 경마공원대로 107지번경기도 과천시 주암동 685',
 '전화\n1644-5425\n주소\n경기도 과천시 경마공원대로 107지번경기도 과천시 주암동 685',
 '전화\n1644-5425\n주소\n서울특별시 강남구 테헤란로 416지번서울특별시 강남구 대치동 890-8',
 '전화\n1644-5425\n주소\n경기도 안산시 단원구 삼일로 310지번경기도 안산시 단원구 선부동 1077',
 '전화\n1644-5425\n주소\n인천광역시 연수구 벚꽃로 114 5층 일부 (연수동 592, 브랫슬)지번인천광역시 연수구 연수동 592',
 '전화\n1644-5425\n주소\n인천광역시 연수구 벚꽃로 114지번인천광역시 연수구 연수동 592 6층',
 '전화\n1644-5425\n주소\n경기도 고양시 일산동구 중앙로1275번길 60-19지번경기도 고양시 일산동구 장항동 756-4',
 '전화\n1644-5425\n주소\n경기도 고양시 일산동구 중앙로1275번길 60-19지번경기도 고양시 일산동구 장항동 756-4',
 '전화\n031-907-3156\n주소\n경기도 고양시 일산동구 중앙로1275번길 60-19 6층 일부지번경기도 고양시 일산동구 장항동 756-4',
 '전화\n1644-5425\n주소\n제주특별자치도 제주시 애월읍 평화로 2144 예시장지번제주특별자치도 제주시 애월읍 유수암리 1206',
 '전화\n02-929-3286\n주소\n서울특별시 성북구 종암로 1 고려대역지번서울특별시 성북구 종암동 29-18 (지하 1)',
 '전화\n02-717-1316\n주소\n서울특별시 마포구 백범로 200 공덕역지번서울특별시 마포구 공덕동 439 (지하 200)\n영업시간\n영업 중23:30에 영업 종료',
 '전화\n02-336-7874\n주소\n지번서울특별시 마포구 창전동 243-3',
 '전화\n1644-5425\n주소\n서울특별시 은평구 연서로 137-1지번서울특별시 은평구 구산동 1',
 '전화\n1644-5425\n주소\n서울특별시 용산구 녹사평대로 195지번서울특별시 용산구 용산동2가 7-99',
 '전화\n1644-5425\n주소\n서울특별시 마포구 대흥로 85지번서울특별시 마포구 대흥동 128-1',
 '전화\n1644-5425\n주소\n지번서울특별시 성북구 장위동 64-119',
 '전화\n1644-5425\n주소\n서울특별시 중랑구 신내로 232 봉화산역지번서울특별시 중랑구 신내동 643-1 6호선 지하철 역사 내',
 '전화\n1644-5425\n주소\n서울특별시 용산구 한강대로 185지번서울특별시 용산구 한강로1가 263',
 '전화\n02-332-2971\n주소\n서울특별시 마포구 독막로 85 상수역지번서울특별시 마포구 상수동 309-10',
 '전화\n02-303-6181\n주소\n서울특별시 은평구 수색로 지하 175지번서울특별시 은평구 증산동 223-26 6호선 DMC역 지하1층',
 '전화\n02-911-4022\n주소\n서울특별시 성북구 화랑로 157지번서울특별시 성북구 상월곡동 26-1',
 '주소\n지번서울특별시 성북구 석관동 375-37',
 '전화\n02-3291-1008\n주소\n지번서울특별시 성북구 안암동5가 101-84 (지하 89)',
 '전화\n02-356-8774\n주소\n서울특별시 은평구 통일로 849 (지하 1층 1001호)지번서울특별시 은평구 불광동 397',
 '전화\n1644-5425\n주소\n지번서울특별시 성북구 하월곡동 95',
 '전화\n1644-5425\n주소\n서울특별시 은평구 증산로 477지번서울특별시 은평구 신사동 22-15',
 '전화\n1644-5425\n주소\n서울특별시 용산구 이태원로 177지번서울특별시 용산구 이태원동 119-23',
 '전화\n1644-5425\n주소\n서울특별시 은평구 증산로 306지번서울특별시 은평구 증산동 199-8',
 '주소\n서울특별시 용산구 이태원로 지하 287 6호선 한강진역지번서울특별시 용산구 한남동 726-494 (지하 287, 지하1층)',
 '전화\n02-323-2109\n주소\n서울특별시 마포구 양화로 45 합정역지번서울특별시 마포구 서교동 490 6호선 지하1층\n영업시간\n영업 중23:30에 영업 종료',
 '전화\n02-975-5302\n주소\n서울특별시 노원구 화랑로 지하 510 화랑대역 6호선지번서울특별시 노원구 공릉동 285-2 (지하 510)',
 '전화\n02-717-3595\n주소\n서울특별시 용산구 백범로 287 (지하 1층)지번서울특별시 용산구 효창동 75-1',
 '전화\n02-407-4687\n주소\n서울특별시 송파구 송파대로 257지번서울특별시 송파구 가락동 184-23\n영업시간\n영업 중23:30에 영업 종료',
 '전화\n02-476-7472\n주소\n서울특별시 송파구 올림픽로 550 강동구청역지번서울특별시 송파구 풍납동 319 (올림픽로 지하 550, 8호선 지하철 내)',
 '전화\n031-735-3587\n주소\n경기도 성남시 수정구 산성대로 445지번경기도 성남시 수정구 단대동 95-5',
 '전화\n031-733-7133\n주소\n경기도 성남시 수정구 산성대로 365 단대오거리역지번경기도 성남시 수정구 신흥동 6949',
 '전화\n02-3432-1611\n주소\n서울특별시 송파구 올림픽로 383 몽촌토성역지번서울특별시 송파구 신천동 19 (지하 383)',
 '전화\n02-401-4448\n주소\n서울특별시 송파구 송파대로 179 문정역 지하철 역사내부지번서울특별시 송파구 문정동 119-4',
 '전화\n02-402-5668\n주소\n지번서울특별시 송파구 장지동 600-1 8호선지하철역사 내',
 '전화\n1644-5425\n주소\n경기도 성남시 수정구 수정로 365지번경기도 성남시 수정구 창곡동 7-5',
 '전화\n02-415-4165\n주소\n서울특별시 송파구 송파대로 지하 439 석촌역지번서울특별시 송파구 석촌동 209 (지하 439)',
 '전화\n031-753-4634\n주소\n경기도 성남시 수정구 산성대로 203 8호선 수진역 역사 내지번경기도 성남시 수정구 수진동 2204',
 '전화\n1644-5425\n주소\n경기도 성남시 수정구 산성대로 280 신흥역사내지번경기도 성남시 수정구 신흥동 2467',
 '주소\n서울특별시 강서구 개화동로8길 38지번서울특별시 강서구 개화동 388-1',
 '전화\n02-2656-0703\n주소\n서울특별시 강서구 방화동로 30지번서울특별시 강서구 공항동 산20-2',
 '주소\n서울특별시 서초구 신반포로 17지번서울특별시 서초구 반포동 817',
 '주소\n서울특별시 동작구 노량진로 238지번서울특별시 동작구 본동 475-1',
 '주소\n서울특별시 영등포구 양평로 40지번서울특별시 영등포구 당산동6가 227-1',
 '전화\n02-554-3393\n주소\n서울특별시 강남구 봉은사로 지하 601 봉은사역지번서울특별시 강남구 삼성동 172 봉은사역',
 '전화\n02-2656-0724\n주소\n서울특별시 서초구 사평대로 285지번서울특별시 서초구 반포동 128-7',
 '주소\n서울특별시 영등포구 의사당대로 166지번서울특별시 영등포구 여의도동 5-6',
 '전화\n1644-5425\n주소\n서울특별시 송파구 송파대로 439지번서울특별시 송파구 석촌동 209',
 '전화\n02-2656-0712\n주소\n서울특별시 영등포구 양평로 124 선유도역 3,4,5,6번 출구 B2층지번서울특별시 영등포구 양평동5가 66-1 선유도역 3,4,5,6번 출구 B2층',
 '전화\n02-420-1504\n주소\n지번서울특별시 송파구 송파동 3 지하철 9호선 송파나루역',
 '전화\n02-2656-0725\n주소\n서울특별시 강남구 봉은사로 102지번서울특별시 강남구 역삼동 800',
 '전화\n02-2656-0722\n주소\n서울특별시 서초구 신반포로 105지번서울특별시 서초구 반포동 128-1',
 '전화\n02-567-5142\n주소\n서울특별시 강남구 봉은사로 지하 201 언주역지하 1층 926-1지번서울특별시 강남구 논현동 279-165',
 '전화\n02-2656-0715\n주소\n서울특별시 영등포구 의사당대로 101지번서울특별시 영등포구 여의도동 2-6',
 '전화\n1644-5425\n주소\n지번서울특별시 송파구 방이동 88-26']

In [150]:
# 지번으로 자르기
a[0].split('지번')

['전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소', '강원도 양양군 현북면 잔교리 41-10']

In [134]:
search = driver.find_element_by_id('nx_query')
search.clear()
search.send_keys('GS25S강남구청역점')
search_button = driver.find_element_by_class_name('bt_search').click()

In [153]:
addr_ = []

In [157]:
type(addr_)

list

In [156]:
addr_ = driver.find_element_by_class_name('_3DQBL').text

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"._3DQBL"}
  (Session info: chrome=103.0.5060.114)

In [155]:
type(addr_) == str

False

In [140]:
type(driver.find_element_by_class_name('_3DQBL').text) == str

True

In [139]:
type(driver.find_element_by_class_name('_3DQBL').text)

str

In [158]:
driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/span/a').click()

In [159]:
driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/div/div[2]').text

'지번서울특별시 강동구 암사동 501복사우\n우편번호\n05264복사'

In [118]:
# 매장이 두 개 뜨면 그 중 첫번째꺼 선택함
driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/span/a').click()
driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/div/div[2]').text

'지번서울특별시 강남구 삼성동 111-44 7호선 강남구청역 내복사우\n우편번호\n06099복사'

In [160]:
# 매장 검색   
search = driver.find_element_by_id('nx_query')
search.clear()
search.send_keys('GS25S8암사역점')
search_button = driver.find_element_by_class_name('bt_search').click()

time.sleep(1)

In [ ]:
a = []

In [164]:
addr_ = []
try :
    addr_ = driver.find_element_by_class_name('_3DQBL').text
    
except :# NoSuchElementException
    if type(addr_) == str:
        a.append(addr_)
    else:
        # 매장이 두 개 뜨면 그 중 첫번째꺼 선택함
        select = driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/span/a').click()
        a.append(driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/div/div[2]').text)

    print(corp)
    pass

GS25S9신반포역점

In [ ]:
# 법정동 수집
a = []

driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=GS2538%EC%84%A0%ED%9C%B4%EA%B2%8C%EC%86%8C%EC%A0%90')

for corp in tqdm(df['매장명']):
    # 매장 검색   
    if corp == 'GS25S9국회의사당역점':
        pass
    else:
        search = driver.find_element_by_id('nx_query')
        search.clear()
        search.send_keys(corp)
        search_button = driver.find_element_by_class_name('bt_search').click()

        time.sleep(1)
    
    addr_ = []
    try :
        addr_ = driver.find_element_by_class_name('_3DQBL').text
        
    except :# NoSuchElementException
        if type(addr_) == str:
            a.append(addr_)
        else:
            # 매장이 두 개 뜨면 그 중 첫번째꺼 선택함
            select = driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/span/a').click()
            a.append(driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/div/div[2]').text)
        
        print(corp)
        pass   
    
    time.sleep(1)

driver.close()

['전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '주소\n경기도 광명시 일직로 43 GIDC광명역 G244호지번경기도 광명시 일직동 514 GIDC광명역 G244호\n영업시간\n24시간 영업연중무휴',
 '전화\n02-3775-0976\n주소\n서울특별시 영등포구 은행로 64지번서울특별시 영등포구 여의도동 10-1',
 '주소\n경상북도 구미시 수출대로 337 1층 동락원기숙사관리동 (임수동 401-3)지번경상북도 구미시 임수동 401-3',
 '주소\n경기도 파주시 월롱면 엘씨디로 201 1층 (덕은리 1253)지번경기도 파주시 월롱면 덕은리 1253',
 '전화\n031-933-1004\n주소\n경기도 파주시 월롱면 엘씨디로 231 G/H동 3층 (덕은리 1251)지번경기도 파주시 월롱면 덕은리 1251',
 '전화\n1644-5425\n주소\n서울특별시 종로구 새문안로 58 지하2층 (신문로2가 92, LG광화문빌딩)지번서울특별시 종로구 신문로2가 92',
 '전화\n1644-5425\n주소\n서울특별시 강서구 마곡중앙10로 10지번서울특별시 강서구 마곡동 770',
 '전화\n031-8066-5909\n주소\n경기도 평택시 진위면 엘지로 222지번경기도 평택시 진위면 청호리 1',
 '전화\n1644-5425\n주소\n서울특별시 용산구 한강대로 32지번서울특별시 용산구 한강로3가 65-228',
 '전화\n031-630-6665\n주소\n경기도 이천시 마장면 지산로 167-72 1층 일부지번경기도 이천시 마장면 해월리 165-1\n영업시간\n영업 중23:00에 영업 종료',
 '전화\n054-469-0849\n주소\n경상북도 구미시 수출대로 168 LG전자 구미1공장 내지번경상북도 구미시 공단동 191-5',
 '전화\n031-706-4815\n주소\n경기도 성남시 분당구 대왕판교로644번길 12 지하1층지번경기도 성남시 분당구 삼평동 668 지하1층',
 '전화\n1644-5425\n주소\n서울특별시 강동구 구천면로 200 강동지사 4층 (천호동 419-3, 한국마사회)지번서울특별시 강동구 천호동 419-3',
 '전화\n1644-5425\n주소\n서울특별시 강동구 구천면로 200 마사회 강동지사 5층 (천호동 419-3)지번서울특별시 강동구 천호동 419-3',
 '전화\n1644-5425\n주소\n경기도 성남시 분당구 황새울로311번길 37지번경기도 성남시 분당구 서현동 259-1',
 '전화\n1644-5425\n주소\n경기도 과천시 경마공원대로 107지번경기도 과천시 주암동 685',
 '전화\n1644-5425\n주소\n경기도 과천시 경마공원대로 107지번경기도 과천시 주암동 685',
 '전화\n1644-5425\n주소\n경기도 과천시 경마공원대로 107지번경기도 과천시 주암동 685',
 '전화\n1644-5425\n주소\n서울특별시 강남구 테헤란로 416지번서울특별시 강남구 대치동 890-8',
 '전화\n1644-5425\n주소\n경기도 안산시 단원구 삼일로 310지번경기도 안산시 단원구 선부동 1077',
 '전화\n1644-5425\n주소\n인천광역시 연수구 벚꽃로 114 5층 일부 (연수동 592, 브랫슬)지번인천광역시 연수구 연수동 592',
 '전화\n1644-5425\n주소\n인천광역시 연수구 벚꽃로 114지번인천광역시 연수구 연수동 592 6층',
 '전화\n1644-5425\n주소\n경기도 고양시 일산동구 중앙로1275번길 60-19지번경기도 고양시 일산동구 장항동 756-4',
 '전화\n1644-5425\n주소\n경기도 고양시 일산동구 중앙로1275번길 60-19지번경기도 고양시 일산동구 장항동 756-4',
 '전화\n031-907-3156\n주소\n경기도 고양시 일산동구 중앙로1275번길 60-19 6층 일부지번경기도 고양시 일산동구 장항동 756-4',
 '전화\n1644-5425\n주소\n제주특별자치도 제주시 애월읍 평화로 2144 예시장지번제주특별자치도 제주시 애월읍 유수암리 1206',
 '전화\n02-929-3286\n주소\n서울특별시 성북구 종암로 1 고려대역지번서울특별시 성북구 종암동 29-18 (지하 1)',
 '전화\n02-717-1316\n주소\n서울특별시 마포구 백범로 200 공덕역지번서울특별시 마포구 공덕동 439 (지하 200)\n영업시간\n영업 중23:30에 영업 종료',
 '전화\n02-336-7874\n주소\n지번서울특별시 마포구 창전동 243-3',
 '전화\n1644-5425\n주소\n서울특별시 은평구 연서로 137-1지번서울특별시 은평구 구산동 1',
 '전화\n1644-5425\n주소\n서울특별시 용산구 녹사평대로 195지번서울특별시 용산구 용산동2가 7-99',
 '전화\n1644-5425\n주소\n서울특별시 마포구 대흥로 85지번서울특별시 마포구 대흥동 128-1',
 '전화\n1644-5425\n주소\n지번서울특별시 성북구 장위동 64-119',
 '전화\n1644-5425\n주소\n서울특별시 중랑구 신내로 232 봉화산역지번서울특별시 중랑구 신내동 643-1 6호선 지하철 역사 내',
 '전화\n1644-5425\n주소\n서울특별시 용산구 한강대로 185지번서울특별시 용산구 한강로1가 263',
 '전화\n02-332-2971\n주소\n서울특별시 마포구 독막로 85 상수역지번서울특별시 마포구 상수동 309-10',
 '전화\n02-303-6181\n주소\n서울특별시 은평구 수색로 지하 175지번서울특별시 은평구 증산동 223-26 6호선 DMC역 지하1층',
 '전화\n02-911-4022\n주소\n서울특별시 성북구 화랑로 157지번서울특별시 성북구 상월곡동 26-1',
 '주소\n지번서울특별시 성북구 석관동 375-37',
 '전화\n02-3291-1008\n주소\n지번서울특별시 성북구 안암동5가 101-84 (지하 89)',
 '전화\n02-356-8774\n주소\n서울특별시 은평구 통일로 849 (지하 1층 1001호)지번서울특별시 은평구 불광동 397',
 '전화\n1644-5425\n주소\n지번서울특별시 성북구 하월곡동 95',
 '전화\n1644-5425\n주소\n서울특별시 은평구 증산로 477지번서울특별시 은평구 신사동 22-15',
 '전화\n1644-5425\n주소\n서울특별시 용산구 이태원로 177지번서울특별시 용산구 이태원동 119-23',
 '전화\n1644-5425\n주소\n서울특별시 은평구 증산로 306지번서울특별시 은평구 증산동 199-8',
 '주소\n서울특별시 용산구 이태원로 지하 287 6호선 한강진역지번서울특별시 용산구 한남동 726-494 (지하 287, 지하1층)',
 '전화\n02-323-2109\n주소\n서울특별시 마포구 양화로 45 합정역지번서울특별시 마포구 서교동 490 6호선 지하1층\n영업시간\n영업 중23:30에 영업 종료',
 '전화\n02-975-5302\n주소\n서울특별시 노원구 화랑로 지하 510 화랑대역 6호선지번서울특별시 노원구 공릉동 285-2 (지하 510)',
 '전화\n02-717-3595\n주소\n서울특별시 용산구 백범로 287 (지하 1층)지번서울특별시 용산구 효창동 75-1',
 '전화\n02-407-4687\n주소\n서울특별시 송파구 송파대로 257지번서울특별시 송파구 가락동 184-23\n영업시간\n영업 중23:30에 영업 종료',
 '전화\n02-476-7472\n주소\n서울특별시 송파구 올림픽로 550 강동구청역지번서울특별시 송파구 풍납동 319 (올림픽로 지하 550, 8호선 지하철 내)',
 '전화\n031-735-3587\n주소\n경기도 성남시 수정구 산성대로 445지번경기도 성남시 수정구 단대동 95-5',
 '전화\n031-733-7133\n주소\n경기도 성남시 수정구 산성대로 365 단대오거리역지번경기도 성남시 수정구 신흥동 6949',
 '전화\n02-3432-1611\n주소\n서울특별시 송파구 올림픽로 383 몽촌토성역지번서울특별시 송파구 신천동 19 (지하 383)',
 '전화\n02-401-4448\n주소\n서울특별시 송파구 송파대로 179 문정역 지하철 역사내부지번서울특별시 송파구 문정동 119-4',
 '전화\n02-402-5668\n주소\n지번서울특별시 송파구 장지동 600-1 8호선지하철역사 내',
 '전화\n1644-5425\n주소\n경기도 성남시 수정구 수정로 365지번경기도 성남시 수정구 창곡동 7-5',
 '전화\n02-415-4165\n주소\n서울특별시 송파구 송파대로 지하 439 석촌역지번서울특별시 송파구 석촌동 209 (지하 439)',
 '전화\n031-753-4634\n주소\n경기도 성남시 수정구 산성대로 203 8호선 수진역 역사 내지번경기도 성남시 수정구 수진동 2204',
 '전화\n1644-5425\n주소\n경기도 성남시 수정구 산성대로 280 신흥역사내지번경기도 성남시 수정구 신흥동 2467',
 '주소\n서울특별시 강서구 개화동로8길 38지번서울특별시 강서구 개화동 388-1',
 '전화\n02-2656-0703\n주소\n서울특별시 강서구 방화동로 30지번서울특별시 강서구 공항동 산20-2',
 '주소\n서울특별시 서초구 신반포로 17지번서울특별시 서초구 반포동 817',
 '주소\n서울특별시 동작구 노량진로 238지번서울특별시 동작구 본동 475-1',
 '주소\n서울특별시 영등포구 양평로 40지번서울특별시 영등포구 당산동6가 227-1',
 '전화\n02-554-3393\n주소\n서울특별시 강남구 봉은사로 지하 601 봉은사역지번서울특별시 강남구 삼성동 172 봉은사역',
 '전화\n02-2656-0724\n주소\n서울특별시 서초구 사평대로 285지번서울특별시 서초구 반포동 128-7',
 '주소\n서울특별시 영등포구 의사당대로 166지번서울특별시 영등포구 여의도동 5-6',
 '전화\n1644-5425\n주소\n서울특별시 송파구 송파대로 439지번서울특별시 송파구 석촌동 209',
 '전화\n02-2656-0712\n주소\n서울특별시 영등포구 양평로 124 선유도역 3,4,5,6번 출구 B2층지번서울특별시 영등포구 양평동5가 66-1 선유도역 3,4,5,6번 출구 B2층',
 '전화\n02-420-1504\n주소\n지번서울특별시 송파구 송파동 3 지하철 9호선 송파나루역',
 '전화\n02-2656-0725\n주소\n서울특별시 강남구 봉은사로 102지번서울특별시 강남구 역삼동 800',
 '전화\n02-2656-0722\n주소\n서울특별시 서초구 신반포로 105지번서울특별시 서초구 반포동 128-1',
 '지번서울특별시 강동구 암사동 501복사']

In [183]:
# 법정동 수집
a = []

driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=GS2538%EC%84%A0%ED%9C%B4%EA%B2%8C%EC%86%8C%EC%A0%90')

for corp in tqdm(df['매장명']):
    # 매장 검색   
    if (corp == 'GS25S9국회의사당역점') or (corp == 'GS25S6상월곡역점'):
        pass
    else:
        search = driver.find_element_by_id('nx_query')
        search.clear()
        search.send_keys(corp)
        search_button = driver.find_element_by_class_name('bt_search').click()

        time.sleep(1)
    
    try :
        addr_ = driver.find_element_by_class_name('_3DQBL').text
        a.append(addr_)
        time.sleep(1)
        
    except :# NoSuchElementException
        # 매장이 두 개 뜨면 그 중 첫번째꺼 선택함
        select = driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/span/a').click()
        a.append(driver.find_element_by_xpath('//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/div/div[2]').text)
        print(corp)
        pass 
    
    time.sleep(1)

driver.close()

  0%|▎                                                                             | 12/3731 [00:41<3:36:50,  3.50s/it]

GS25LS타워점

  2%|█▎                                                                            | 62/3731 [03:30<3:27:59,  3.40s/it]

GS25S8암사역점

  2%|█▊                                                                            | 87/3731 [04:55<3:30:54,  3.47s/it]

GS25S강남구청역점

  3%|█▉                                                                            | 95/3731 [05:23<3:26:22,  3.41s/it]

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="loc-main-section-root"]/section/div/ul/li[1]/div[2]/div/div/div/div[2]"}
  (Session info: chrome=103.0.5060.114)

In [184]:
a

['전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '주소\n경기도 광명시 일직로 43 GIDC광명역 G244호지번경기도 광명시 일직동 514 GIDC광명역 G244호\n영업시간\n24시간 영업연중무휴',
 '전화\n02-3775-0976\n주소\n서울특별시 영등포구 은행로 64지번서울특별시 영등포구 여의도동 10-1',
 '주소\n경상북도 구미시 수출대로 337 1층 동락원기숙사관리동 (임수동 401-3)지번경상북도 구미시 임수동 401-3',
 '주소\n경기도 파주시 월롱면 엘씨디로 201 1층 (덕은리 1253)지번경기도 파주시 월롱면 덕은리 1253',
 '전화\n031-933-1004\n주소\n경기도 파주시 월롱면 엘씨디로 231 G/H동 3층 (덕은리 1251)지번경기도 파주시 월롱면 덕은리 1251',
 '전화\n1644-5425\n주소\n서울특별시 종로구 새문안로 58 지하2층 (신문로2가 92, LG광화문빌딩)지번서울특별시 종로구 신문로2가 92',
 '전화\n1644-5425\n주소\n서울특별시 강서구 마곡중앙10로 10지번서울특별시 강서구 마곡동 770',
 '전화\n031-8066-5909\n주소\n경기도 평택시 진위면 엘지로 222지번경기도 평택시 진위면 청호리 1',
 '전화\n1644-5425\n주소\n서울특별시 용산구 한강대로 32지번서울특별시 용산구 한강로3가 65-228',
 '전화\n031-630-6665\n주소\n경기도 이천시 마장면 지산로 167-72 1층 일부지번경기도 이천시 마장면 해월리 165-1\n영업시간\n영업 중23:00에 영업 종료',
 '전화\n054-469-0849\n주소\n경상북도 구미시 수출대로 168 LG전자 구미1공장 내지번경상북도 구미시 공단동 191-5',
 '지번경기도 안양시 동안구 호계동 1026-6복사',
 '전화\n031-706-4815\n주소\n경기도 성남시 분당구 대왕판교로644번길 12 지하1층지번경기도 성남시 분당구 삼평동 668 지하1층',
 '전화\n1644-5425\n주소\n서울특별시 강동구 구천면로 200 강동지사 4층 (천호동 419-3, 한국마사회)지번서울특별시 강동구 천호동 419-3',
 '전화\n1644-5425\n주소\n서울특별시 강동구 구천면로 200 마사회 강동지사 5층 (천호동 419-3)지번서울특별시 강동구 천호동 419-3',
 '전화\n1644-5425\n주소\n경기도 성남시 분당구 황새울로311번길 37지번경기도 성남시 분당구 서현동 259-1',
 '전화\n1644-5425\n주소\n경기도 과천시 경마공원대로 107지번경기도 과천시 주암동 685',
 '전화\n1644-5425\n주소\n경기도 과천시 경마공원대로 107지번경기도 과천시 주암동 685',
 '전화\n1644-5425\n주소\n경기도 과천시 경마공원대로 107지번경기도 과천시 주암동 685',
 '전화\n1644-5425\n주소\n서울특별시 강남구 테헤란로 416지번서울특별시 강남구 대치동 890-8',
 '전화\n1644-5425\n주소\n경기도 안산시 단원구 삼일로 310지번경기도 안산시 단원구 선부동 1077',
 '전화\n1644-5425\n주소\n인천광역시 연수구 벚꽃로 114 5층 일부 (연수동 592, 브랫슬)지번인천광역시 연수구 연수동 592',
 '전화\n1644-5425\n주소\n인천광역시 연수구 벚꽃로 114지번인천광역시 연수구 연수동 592 6층',
 '전화\n1644-5425\n주소\n경기도 고양시 일산동구 중앙로1275번길 60-19지번경기도 고양시 일산동구 장항동 756-4',
 '전화\n1644-5425\n주소\n경기도 고양시 일산동구 중앙로1275번길 60-19지번경기도 고양시 일산동구 장항동 756-4',
 '전화\n031-907-3156\n주소\n경기도 고양시 일산동구 중앙로1275번길 60-19 6층 일부지번경기도 고양시 일산동구 장항동 756-4',
 '전화\n1644-5425\n주소\n제주특별자치도 제주시 애월읍 평화로 2144 예시장지번제주특별자치도 제주시 애월읍 유수암리 1206',
 '전화\n02-929-3286\n주소\n서울특별시 성북구 종암로 1 고려대역지번서울특별시 성북구 종암동 29-18 (지하 1)',
 '전화\n02-717-1316\n주소\n서울특별시 마포구 백범로 200 공덕역지번서울특별시 마포구 공덕동 439 (지하 200)\n영업시간\n영업 중23:30에 영업 종료',
 '전화\n02-336-7874\n주소\n지번서울특별시 마포구 창전동 243-3',
 '전화\n1644-5425\n주소\n서울특별시 은평구 연서로 137-1지번서울특별시 은평구 구산동 1',
 '전화\n1644-5425\n주소\n서울특별시 용산구 녹사평대로 195지번서울특별시 용산구 용산동2가 7-99',
 '전화\n1644-5425\n주소\n서울특별시 마포구 대흥로 85지번서울특별시 마포구 대흥동 128-1',
 '전화\n1644-5425\n주소\n지번서울특별시 성북구 장위동 64-119',
 '전화\n1644-5425\n주소\n서울특별시 중랑구 신내로 232 봉화산역지번서울특별시 중랑구 신내동 643-1 6호선 지하철 역사 내',
 '전화\n1644-5425\n주소\n서울특별시 용산구 한강대로 185지번서울특별시 용산구 한강로1가 263',
 '전화\n02-332-2971\n주소\n서울특별시 마포구 독막로 85 상수역지번서울특별시 마포구 상수동 309-10',
 '전화\n02-303-6181\n주소\n서울특별시 은평구 수색로 지하 175지번서울특별시 은평구 증산동 223-26 6호선 DMC역 지하1층',
 '전화\n02-303-6181\n주소\n서울특별시 은평구 수색로 지하 175지번서울특별시 은평구 증산동 223-26 6호선 DMC역 지하1층',
 '주소\n지번서울특별시 성북구 석관동 375-37',
 '전화\n02-3291-1008\n주소\n지번서울특별시 성북구 안암동5가 101-84 (지하 89)',
 '전화\n02-356-8774\n주소\n서울특별시 은평구 통일로 849 (지하 1층 1001호)지번서울특별시 은평구 불광동 397',
 '전화\n1644-5425\n주소\n지번서울특별시 성북구 하월곡동 95',
 '전화\n1644-5425\n주소\n서울특별시 은평구 증산로 477지번서울특별시 은평구 신사동 22-15',
 '전화\n1644-5425\n주소\n서울특별시 용산구 이태원로 177지번서울특별시 용산구 이태원동 119-23',
 '전화\n1644-5425\n주소\n서울특별시 은평구 증산로 306지번서울특별시 은평구 증산동 199-8',
 '주소\n서울특별시 용산구 이태원로 지하 287 6호선 한강진역지번서울특별시 용산구 한남동 726-494 (지하 287, 지하1층)',
 '전화\n02-323-2109\n주소\n서울특별시 마포구 양화로 45 합정역지번서울특별시 마포구 서교동 490 6호선 지하1층\n영업시간\n영업 중23:30에 영업 종료',
 '전화\n02-975-5302\n주소\n서울특별시 노원구 화랑로 지하 510 화랑대역 6호선지번서울특별시 노원구 공릉동 285-2 (지하 510)',
 '전화\n02-717-3595\n주소\n서울특별시 용산구 백범로 287 (지하 1층)지번서울특별시 용산구 효창동 75-1',
 '전화\n02-407-4687\n주소\n서울특별시 송파구 송파대로 257지번서울특별시 송파구 가락동 184-23\n영업시간\n영업 중23:30에 영업 종료',
 '전화\n02-476-7472\n주소\n서울특별시 송파구 올림픽로 550 강동구청역지번서울특별시 송파구 풍납동 319 (올림픽로 지하 550, 8호선 지하철 내)',
 '전화\n031-735-3587\n주소\n경기도 성남시 수정구 산성대로 445지번경기도 성남시 수정구 단대동 95-5',
 '전화\n031-733-7133\n주소\n경기도 성남시 수정구 산성대로 365 단대오거리역지번경기도 성남시 수정구 신흥동 6949',
 '전화\n02-3432-1611\n주소\n서울특별시 송파구 올림픽로 383 몽촌토성역지번서울특별시 송파구 신천동 19 (지하 383)',
 '전화\n02-401-4448\n주소\n서울특별시 송파구 송파대로 179 문정역 지하철 역사내부지번서울특별시 송파구 문정동 119-4',
 '전화\n02-402-5668\n주소\n지번서울특별시 송파구 장지동 600-1 8호선지하철역사 내',
 '전화\n1644-5425\n주소\n경기도 성남시 수정구 수정로 365지번경기도 성남시 수정구 창곡동 7-5',
 '전화\n02-415-4165\n주소\n서울특별시 송파구 송파대로 지하 439 석촌역지번서울특별시 송파구 석촌동 209 (지하 439)',
 '전화\n031-753-4634\n주소\n경기도 성남시 수정구 산성대로 203 8호선 수진역 역사 내지번경기도 성남시 수정구 수진동 2204',
 '전화\n1644-5425\n주소\n경기도 성남시 수정구 산성대로 280 신흥역사내지번경기도 성남시 수정구 신흥동 2467',
 '지번서울특별시 강동구 암사동 501복사',
 '주소\n서울특별시 강서구 개화동로8길 38지번서울특별시 강서구 개화동 388-1',
 '전화\n02-2656-0703\n주소\n서울특별시 강서구 방화동로 30지번서울특별시 강서구 공항동 산20-2',
 '주소\n서울특별시 서초구 신반포로 17지번서울특별시 서초구 반포동 817',
 '주소\n서울특별시 서초구 신반포로 17지번서울특별시 서초구 반포동 817',
 '주소\n서울특별시 동작구 노량진로 238지번서울특별시 동작구 본동 475-1',
 '주소\n서울특별시 영등포구 양평로 40지번서울특별시 영등포구 당산동6가 227-1',
 '전화\n02-554-3393\n주소\n서울특별시 강남구 봉은사로 지하 601 봉은사역지번서울특별시 강남구 삼성동 172 봉은사역',
 '전화\n02-2656-0724\n주소\n서울특별시 서초구 사평대로 285지번서울특별시 서초구 반포동 128-7',
 '주소\n서울특별시 영등포구 의사당대로 166지번서울특별시 영등포구 여의도동 5-6',
 '전화\n1644-5425\n주소\n서울특별시 송파구 송파대로 439지번서울특별시 송파구 석촌동 209',
 '전화\n02-2656-0712\n주소\n서울특별시 영등포구 양평로 124 선유도역 3,4,5,6번 출구 B2층지번서울특별시 영등포구 양평동5가 66-1 선유도역 3,4,5,6번 출구 B2층',
 '전화\n02-420-1504\n주소\n지번서울특별시 송파구 송파동 3 지하철 9호선 송파나루역',
 '전화\n02-2656-0725\n주소\n서울특별시 강남구 봉은사로 102지번서울특별시 강남구 역삼동 800',
 '전화\n02-2656-0722\n주소\n서울특별시 서초구 신반포로 105지번서울특별시 서초구 반포동 128-1',
 '전화\n02-567-5142\n주소\n서울특별시 강남구 봉은사로 지하 201 언주역지하 1층 926-1지번서울특별시 강남구 논현동 279-165',
 '전화\n02-2656-0715\n주소\n서울특별시 영등포구 의사당대로 101지번서울특별시 영등포구 여의도동 2-6',
 '전화\n1644-5425\n주소\n지번서울특별시 송파구 방이동 88-26',
 '전화\n02-422-7975\n주소\n지번서울특별시 송파구 잠실동 123 종합운동장역',
 '전화\n1644-5425\n주소\n서울특별시 강동구 동남로 625지번서울특별시 강동구 둔촌동 8-1',
 '전화\n1644-5425\n주소\n서울특별시 송파구 위례성대로 29 한성백제역지번서울특별시 송파구 방이동 88-21',
 '전화\n02-2656-0719\n주소\n서울특별시 동작구 현충로 90지번서울특별시 동작구 흑석동 4',
 '전화\n052-254-0031\n주소\n울산광역시 울주군 삼남읍 반구대로 158지번울산광역시 울주군 삼남읍 방기리 59-20',
 '주소\n경기도 평택시 포승읍 서동대로 524지번경기도 평택시 포승읍 신영리 413-11',
 '전화\n02-865-2506\n주소\n서울특별시 금천구 벚꽃로 309지번서울특별시 금천구 가산동 468-4',
 '지번서울특별시 강남구 삼성동 111-44 7호선 강남구청역 내복사',
 '전화\n02-558-6042\n주소\n서울특별시 강남구 강남대로 390지번서울특별시 강남구 역삼동 825',
 '전화\n1644-5425\n주소\n서울특별시 강남구 강남대로 390지번서울특별시 강남구 역삼동 825',
 '전화\n1644-5425\n주소\n서울특별시 광진구 능동로 110 7호선 건대입구역지번서울특별시 광진구 화양동 4-20 7호선 건대입구역',
 '전화\n02-3481-2225\n주소\n서울특별시 서초구 신반포로 176 7호선고속버스터미널지번서울특별시 서초구 반포동 19-3',
 '주소\n서울특별시 마포구 마포대로 92지번서울특별시 마포구 도화동 25-13 공항철도공덕역B3',
 '전화\n1644-5425\n주소\n서울특별시 노원구 동일로 1074 공릉역 내지번서울특별시 노원구 공릉동 385-4',
 '주소\n인천광역시 중구 공항동로135번길 86지번인천광역시 중구 운서동 2844-7']

### 법정동 수집_ver2: 네이버 지도

In [96]:
driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://map.naver.com/v5/search')

In [95]:
driver.close()

In [98]:
search_box = driver.find_element_by_css_selector("div.input_box>input.input_search")
search_box.clear()
search_box.send_keys("GS25LS타워점")
search_box.send_keys(Keys.ENTER)

In [ ]:
# 네이버 지도 셀렉트 안됨 -> 다른 방법 필요
# 네이버 지도 접기

In [ ]:
# 법정동 수집
a = []

driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://map.naver.com/v5/?c=14140822.8653826,4508397.7630627,15,0,0,0,dh')
    
try :
    for corp in tqdm(corp_):
        # 매장 검색
        search_box = driver.find_element_by_css_selector("div.input_box>input.input_search")
        search_box.clear()
        search_box.send_keys("GS25LS타워점")
        search_box.send_keys(Keys.ENTER)

        time.sleep(1)
        
        # 매장 정보 가져오기
        js_script = "document.querySelector(\"body > app > layout > div > div.container > div.router-output > shrinkable-layout > search-layout > search-list > search-list-contents > perfect-scrollbar\").innerHTML"
        raw = driver.execute_script("return " + js_script)
        html = BeautifulSoup(raw, "html.parser")
        contents = html.select("div > div.ps-content > div > div > div .item_search")

        for s in contents:
            search_box_html = s.select_one(".search_box")
            name = search_box_html.select_one(".title_box .search_title .search_title_text").text
            address = search_box_html.select_one(".ng-star-inserted .address").text
except :# NoSuchElementException
    print(corp)
    pass   
    
    time.sleep(1)

driver.close()

In [113]:
a

['플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10',
 '플레이스\n내 업체 등록신규장소 등록\nGS25 38선휴게소점\n500m\n© NAVER Corp.\n지도보기\n지도 확대\n지도 축소\nGS25 38선휴게소점편의점\n거리뷰길찾기\n전화\n033-672-3838\n주소\n강원도 양양군 현북면 동해대로 1242 38휴게소지번강원도 양양군 현북면 잔교리 41-10']

# 마무리

### 데이터 가져오기

In [2]:
df_cu_ = pd.read_excel('./CU_세종까지 수정완료.xlsx')
df_cu_

,Unnamed: 0,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
0,0,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도 수원시 팔달구,경기도
1,1,BGF곤지암포켓점,경기도 광주시 곤지암읍 건업리 148번지,경기,광주시,곤지암읍,경기도 광주시 곤지암읍,경기도
2,2,BGF로지스용인점,경기도 용인시 기흥구 보정동 319번지 1층,경기,용인시,기흥구,경기도 용인시 기흥구,경기도
3,3,BGF사옥점,서울특별시 강남구 삼성동 141-10번지,서울,강남구,삼성동,서울특별시 강남구 삼성동,서울특별시
4,4,BGF양주포켓점,경기도 양주시 백석읍 복지리 153번지 2층,경기,양주시,백석읍,경기도 양주시 백석읍,경기도
...,...,...,...,...,...,...,...,...
16180,16180,419사거리점,서울특별시 강북구 우이동 72-144번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
16181,16181,63빌딩점,서울특별시 영등포구 여의도동 60번지 하,서울,영등포구,여의도동,서울특별시 영등포구 여의도동,서울특별시
16182,16182,6공단1호점,인천광역시 미추홀구 도화동 84-5번지,인천,미추홀구,도화동,인천광역시 미추홀구 도화동,인천광역시
16183,16183,6공단2호점,인천광역시 남구 도화동 53-77번지,인천,남구,도화동,인천광역시 남구 도화동,인천광역시
16184,16184,7번국도점,경상북도 울진군 후포면 후포리 917-18번지,경상,울진군,후포면,경상북도 울진군 후포면,경상북도

In [3]:
df_cu_ = df_cu_.drop(columns=['Unnamed: 0'])

In [4]:
df_cu_

,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
0,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도 수원시 팔달구,경기도
1,BGF곤지암포켓점,경기도 광주시 곤지암읍 건업리 148번지,경기,광주시,곤지암읍,경기도 광주시 곤지암읍,경기도
2,BGF로지스용인점,경기도 용인시 기흥구 보정동 319번지 1층,경기,용인시,기흥구,경기도 용인시 기흥구,경기도
3,BGF사옥점,서울특별시 강남구 삼성동 141-10번지,서울,강남구,삼성동,서울특별시 강남구 삼성동,서울특별시
4,BGF양주포켓점,경기도 양주시 백석읍 복지리 153번지 2층,경기,양주시,백석읍,경기도 양주시 백석읍,경기도
...,...,...,...,...,...,...,...
16180,419사거리점,서울특별시 강북구 우이동 72-144번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
16181,63빌딩점,서울특별시 영등포구 여의도동 60번지 하,서울,영등포구,여의도동,서울특별시 영등포구 여의도동,서울특별시
16182,6공단1호점,인천광역시 미추홀구 도화동 84-5번지,인천,미추홀구,도화동,인천광역시 미추홀구 도화동,인천광역시
16183,6공단2호점,인천광역시 남구 도화동 53-77번지,인천,남구,도화동,인천광역시 남구 도화동,인천광역시
16184,7번국도점,경상북도 울진군 후포면 후포리 917-18번지,경상,울진군,후포면,경상북도 울진군 후포면,경상북도

In [5]:
df_kt = pd.read_csv('./data/dp_frc_basexy_ftc_m_sum_202205.csv',sep='|')
df_kt

,base_ym,sido_cd,sido_nm,sig_cd,sig_nm,emd_cd,emd_nm,base_xycrd,ftc_cate2_cd,groth,...,aces,aces_avg,stbiz,stbiz_avg,prftb,prftb_avg,liqdt,liqdt_avg,mkt_perd,mkt_perd_avg
0,202205,27,대구광역시,27290,달서구,27290105,호림동,128.48635.841,B16,10.0,...,7.0,7.0,6.0,6.0,4,5,5.0,5.0,NaN,NaN
1,202205,11,서울특별시,11680,강남구,11680111,세곡동,127.09237.468,A11,4.0,...,4.0,4.0,6.0,6.0,8,6,4.0,3.0,NaN,NaN
2,202205,43,충청북도,43113,청주시 흥덕구,43113113,가경동,127.43236.626,A13,7.0,...,2.0,3.0,9.0,6.0,10,5,2.0,2.0,8.5,60.5
3,202205,41,경기도,41220,평택시,41220330,고덕면,127.04837.007,C07,5.0,...,8.0,5.0,7.0,6.0,5,5,6.0,5.0,NaN,NaN
4,202205,41,경기도,41461,용인시처인구,41461253,모현읍,127.16937.344,C07,7.0,...,5.0,5.0,5.0,5.0,6,5,5.0,5.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4379674,202205,26,부산광역시,26320,북구,26320102,화명동,129.02435.241,B04,9.0,...,7.0,2.0,3.0,5.0,5,5,6.0,2.0,12.6,190.1
4379675,202205,41,경기도,41190,부천시,41190110,소사본동,126.78937.479,A05,3.0,...,3.0,2.0,6.0,6.0,4,6,2.0,2.0,5.0,6.6
4379676,202205,11,서울특별시,11500,강서구,11500104,가양동,126.86237.562,C03,9.0,...,5.0,2.0,7.0,7.0,5,5,4.0,2.0,NaN,NaN
4379677,202205,29,광주광역시,29110,동구,29110112,남동,126.91935.144,B20,10.0,...,7.0,7.0,3.0,2.0,7,6,5.0,5.0,NaN,NaN
4379678,202205,50,제주특별자치도,50130,서귀포시,50130310,안덕면,126.32333.303,B03,4.0,...,8.0,7.0,3.0,4.0,2,5,6.0,5.0,2050.8,176.9

In [21]:
df_gs = pd.read_excel('./0. GS편의점_주소_및_매장명(매장_수정본).xlsx')
df_gs

,매장명,주소,지번주소,도로명주소,관할주민센터,우편번호,법정동,동,시도,군구,시군구동
0,GS252테크노파크점,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)",경기도 부천시 삼정동 365 부천테크노파크,경기도 부천시 석천로 345(삼정동),경기도 부천시 오정동,14501.0,삼정동 365,삼정동,경기,부천시,경기 부천시 삼정동
1,GS2538선휴게소점,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)",NaN,NaN,NaN,NaN,"잔교리 41-10, 38휴게소",잔교리,강원,양양군,강원 양양군 잔교리
2,GS25CBS점,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)",서울특별시 양천구 목동 917-1,서울특별시 양천구 목동서로 159-1(목동),서울특별시 양천구 목1동,7997.0,"목1동 917-1, CBS방송국1층",목1동,서울,양천구,서울 양천구 목1동
3,GS25CJ대전HUB점,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)",대전광역시 대덕구 문평동 140 대한통운,대전광역시 대덕구 대덕대로1447번길 39(문평동),대전광역시 대덕구 목상동,34301.0,문평동 140,문평동,대전,대덕구,대전 대덕구 문평동
4,GS25CJ덕양SUB점,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",경기도 고양시 일산동구 사리현동 151-1,경기도 고양시 일산동구 성현로 615(사리현동),경기도 고양시 일산동구 고봉동,10261.0,"사리현동 151-1, CJ대한통운",사리현동,경기,고양시,경기 고양시 사리현동
...,...,...,...,...,...,...,...,...,...,...,...
15744,GS25힐하우스점,경기 수원시 권선구 곡반정로19번길69(곡반정동 592-7),경기도 수원시 권선구 곡반정동 592-7,경기도 수원시 권선구 곡반정로19번길 69(곡반정동),경기도 수원시 권선구 곡선동,16672.0,곡반정동 592-7,곡반정동,경기,수원시,경기 수원시 곡반정동
15745,H&B여수충무점,"전남 여수시 진남상가길46, 1층 (충무동 499)",전라남도 여수시 충무동 499,전라남도 여수시 진남상가길 46(충무동),전라남도 여수시 충무동,59732.0,충무동 499,충무동,전남,여수시,전남 여수시 충무동
15746,S2상왕십리역점,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",NaN,NaN,NaN,NaN,"하왕십리동 946-14, 상왕십리역",하왕십리동,서울,성동구,서울 성동구 하왕십리동
15747,S4동작역점,"서울 동작구 현충로257, 431-02호 (동작동 327-1, 4호선 동작역 Do...",NaN,NaN,NaN,NaN,"동작동 327-1, 4호선 동작역 Dongjak s.t",동작동,서울,동작구,서울 동작구 동작동
15748,경희프라자점,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)",NaN,NaN,NaN,NaN,"회기동 1-5, 전면플라자",회기동,서울,동대문구,서울 동대문구 회기동

In [6]:
df_ = pd.read_excel('./0. 법정동별_편의점수(56).xlsx')
df_

           법정동코드            법정동 이름  편의점 수
0     1111010100     서울특별시 종로구 청운동      2
1     1111010200     서울특별시 종로구 신교동      1
2     1111010300     서울특별시 종로구 궁정동      0
3     1111010400     서울특별시 종로구 효자동      1
4     1111010500     서울특별시 종로구 창성동      1
...          ...               ...    ...
9662  5013011900  제주특별자치도 서귀포시 색달동      0
9663  5013025000  제주특별자치도 서귀포시 대정읍      1
9664  5013025900  제주특별자치도 서귀포시 성산읍      0
9665  5013031000  제주특별자치도 서귀포시 안덕면      0
9666  5013032000  제주특별자치도 서귀포시 표선면      0

[9667 rows x 3 columns]

In [86]:
df_cu = pd.read_excel('./0. CU_이름_수정본.xlsx')
df_cu

,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
0,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도 수원시 팔달구,경기도
1,BGF곤지암포켓점,경기도 광주시 곤지암읍 건업리 148번지,경기,광주시,곤지암읍,경기도 광주시 곤지암읍,경기도
2,BGF로지스용인점,경기도 용인시 기흥구 보정동 319번지 1층,경기,용인시,기흥구,경기도 용인시 기흥구,경기도
3,BGF사옥점,서울특별시 강남구 삼성동 141-10번지,서울,강남구,삼성동,서울특별시 강남구 삼성동,서울특별시
4,BGF양주포켓점,경기도 양주시 백석읍 복지리 153번지 2층,경기,양주시,백석읍,경기도 양주시 백석읍,경기도
...,...,...,...,...,...,...,...
16180,419사거리점,서울특별시 강북구 우이동 72-144번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
16181,63빌딩점,서울특별시 영등포구 여의도동 60번지 하,서울,영등포구,여의도동,서울특별시 영등포구 여의도동,서울특별시
16182,6공단1호점,인천광역시 미추홀구 도화동 84-5번지,인천,미추홀구,도화동,인천광역시 미추홀구 도화동,인천광역시
16183,6공단2호점,인천광역시 남구 도화동 53-77번지,인천,남구,도화동,인천광역시 남구 도화동,인천광역시
16184,7번국도점,경상북도 울진군 후포면 후포리 917-18번지,경상,울진군,후포면,경상북도 울진군 후포면,경상북도

In [24]:
# 데이터 확인
df_cu[100:2000]

,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
100,KTX서대구광장점,대구광역시 서구 상중이동 42-35번지,대구,서구,상중이동,대구 서구 상중이동,대구광역시
101,KT스마트메디타워점,대구광역시 중구 동인동2가 74-15번지 1층,대구,중구,동인동2가,대구 중구 동인동2가,대구광역시
102,KT지식센터점,서울특별시 영등포구 영등포동8가 92번지 1층 104호,서울,영등포구,영등포동8가,서울 영등포구 영등포동8가,서울특별시
103,LG로점,경기도 파주시 월롱면 덕은리 1015번지 1층,경기,파주시,월롱면,경기 파주시 월롱면,경기도
104,L창원지사3층점,경상남도 창원시 성산구 중앙동 101-2번지 대흥인터빌,경상,창원시,성산구,경상 창원시 성산구,경상남도
...,...,...,...,...,...,...,...
1995,구월캐슬점,인천광역시 남동구 구월동 24번지 롯데캐슬골드2단지아파트 1층 101호,인천,남동구,구월동,인천 남동구 구월동,인천광역시
1996,구월타운점,인천광역시 남동구 구월동 1132번지 1층,인천,남동구,구월동,인천 남동구 구월동,인천광역시
1997,구월태양점,인천광역시 남동구 구월4동 1279-17번지,인천,남동구,구월4동,인천 남동구 구월4동,인천광역시
1998,구월퍼스트점,인천광역시 남동구 구월동 1200-2번지 1층,인천,남동구,구월동,인천 남동구 구월동,인천광역시
1999,구월해피점,인천광역시 남동구 구월동 1163-13번지,인천,남동구,구월동,인천 남동구 구월동,인천광역시

In [15]:
df_gs['시도'] = df_gs['주소'].str.split(' ').str[0]

In [14]:
df_gs['주소'].str.split(' ').str[0]

0        경기
1        강원
2        서울
3        대전
4        경기
         ..
15747    서울
15748    서울
15749    서울
15750    서울
15751    경기
Name: 주소, Length: 15752, dtype: object

In [9]:
(df_gs['주소'].str.split(' ').str[0] == '경남').sum()

NameError: name 'df_gs' is not defined

In [18]:
# 엑셀 파일로 저장
df_gs.to_excel('./GS편의점_주소_및_매장명(최종).xlsx', index=False)
df_gs

,매장명,주소,지번주소,도로명주소,관할주민센터,우편번호,법정동,동,시도,군구,시군구동
0,GS252테크노파크점,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)",경기도 부천시 삼정동 365 부천테크노파크,경기도 부천시 석천로 345(삼정동),경기도 부천시 오정동,14501.0,삼정동 365,삼정동,경기,부천시,경기 부천시 삼정동
1,GS2538선휴게소점,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)",NaN,NaN,NaN,NaN,"잔교리 41-10, 38휴게소",잔교리,강원,양양군,강원 양양군 잔교리
2,GS25CBS점,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)",서울특별시 양천구 목동 917-1,서울특별시 양천구 목동서로 159-1(목동),서울특별시 양천구 목1동,7997.0,"목1동 917-1, CBS방송국1층",목1동,서울,양천구,서울 양천구 목1동
3,GS25CJ대전HUB점,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)",대전광역시 대덕구 문평동 140 대한통운,대전광역시 대덕구 대덕대로1447번길 39(문평동),대전광역시 대덕구 목상동,34301.0,문평동 140,문평동,대전,대덕구,대전 대덕구 문평동
4,GS25CJ덕양SUB점,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",경기도 고양시 일산동구 사리현동 151-1,경기도 고양시 일산동구 성현로 615(사리현동),경기도 고양시 일산동구 고봉동,10261.0,"사리현동 151-1, CJ대한통운",사리현동,경기,고양시,경기 고양시 사리현동
...,...,...,...,...,...,...,...,...,...,...,...
15747,S2상왕십리역점,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",NaN,NaN,NaN,NaN,"하왕십리동 946-14, 상왕십리역",하왕십리동,서울,성동구,서울 성동구 하왕십리동
15748,S4동작역점,"서울 동작구 현충로257, 431-02호 (동작동 327-1, 4호선 동작역 Do...",NaN,NaN,NaN,NaN,"동작동 327-1, 4호선 동작역 Dongjak s.t",동작동,서울,동작구,서울 동작구 동작동
15749,경희프라자점,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)",NaN,NaN,NaN,NaN,"회기동 1-5, 전면플라자",회기동,서울,동대문구,서울 동대문구 회기동
15750,나만의냉장고,서울 강남구 논현로508 (역삼동 679),서울특별시 강남구 역삼동 679 GS강남타워,서울특별시 강남구 논현로 508(역삼동),서울특별시 강남구 역삼1동,6141.0,역삼동 679,역삼동,서울,강남구,서울 강남구 역삼동
15751,샛별이PPL점,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)",NaN,NaN,NaN,NaN,죽당리 98-11,죽당리,경기,이천시,경기 이천시 죽당리

### 법정동 이름 가공

In [50]:
df_kt['sido_nm']

0            대구광역시
1            서울특별시
2             충청북도
3              경기도
4              경기도
            ...
4379674      부산광역시
4379675        경기도
4379676      서울특별시
4379677      광주광역시
4379678    제주특별자치도
Name: sido_nm, Length: 4379679, dtype: object

In [13]:
df_kt['법정동 이름'] = df_kt['sido_nm'] + ' ' + df_kt['sig_nm'] + ' ' + df_kt['emd_nm']

In [16]:
df_kt_ = df_kt[['emd_cd','법정동 이름']]

In [18]:
df_kt_

           emd_cd            법정동 이름
0        27290105     대구광역시 달서구 호림동
1        11680111     서울특별시 강남구 세곡동
2        43113113  충청북도 청주시 흥덕구 가경동
3        41220330       경기도 평택시 고덕면
4        41461253    경기도 용인시처인구 모현읍
...           ...               ...
4379674  26320102      부산광역시 북구 화명동
4379675  41190110      경기도 부천시 소사본동
4379676  11500104     서울특별시 강서구 가양동
4379677  29110112       광주광역시 동구 남동
4379678  50130310  제주특별자치도 서귀포시 안덕면

[4379679 rows x 2 columns]

In [314]:
df_kt['법정동 이름'] = df_kt['법정동 이름'][0].strip(' ')[:2] + ' ' + df_kt['sig_nm'] + ' ' + df_kt['emd_nm']

In [365]:
df_kt['법정동 이름']

0              대구 달서구 호림동
1              대구 강남구 세곡동
2          대구 청주시 흥덕구 가경동
3              대구 평택시 고덕면
4           대구 용인시처인구 모현읍
                ...
4379674         대구 북구 화명동
4379675       대구 부천시 소사본동
4379676        대구 강서구 가양동
4379677          대구 동구 남동
4379678       대구 서귀포시 안덕면
Name: 법정동 이름, Length: 4379679, dtype: object

In [313]:
df_kt['법정동 이름'][0].strip(' ')[:2]

'대구'

In [297]:
df_gs['법정동 이름'] = df_gs['시도'] + ' ' + df_gs['군구'] + ' ' + df_gs['동']

In [366]:
df_gs['법정동 이름']

0          경기 부천시 삼정동
1          강원 양양군 잔교리
2          서울 양천구 목1동
3          대전 대덕구 문평동
4         경기 고양시 사리현동
             ...
15747    서울 성동구 하왕십리동
15748      서울 동작구 동작동
15749     서울 동대문구 회기동
15750      서울 강남구 역삼동
15751      경기 이천시 죽당리
Name: 법정동 이름, Length: 15752, dtype: object

### 지역 가공

In [56]:
df_gs = df_gs[['매장명','시도','군구','동','시군구동','주소']]
df_gs

,매장명,시도,군구,동,시군구동,주소
0,GS252테크노파크점,경기,부천시,삼정동,경기 부천시 삼정동,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)"
1,GS2538선휴게소점,강원,양양군,잔교리,강원 양양군 잔교리,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)"
2,GS25CBS점,서울,양천구,목1동,서울 양천구 목1동,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)"
3,GS25CJ대전HUB점,대전,대덕구,문평동,대전 대덕구 문평동,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)"
4,GS25CJ덕양SUB점,경기,고양시,사리현동,경기 고양시 사리현동,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)"
...,...,...,...,...,...,...
15744,GS25힐하우스점,경기,수원시,곡반정동,경기 수원시 곡반정동,경기 수원시 권선구 곡반정로19번길69(곡반정동 592-7)
15745,H&B여수충무점,전남,여수시,충무동,전남 여수시 충무동,"전남 여수시 진남상가길46, 1층 (충무동 499)"
15746,S2상왕십리역점,서울,성동구,하왕십리동,서울 성동구 하왕십리동,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)"
15747,S4동작역점,서울,동작구,동작동,서울 동작구 동작동,"서울 동작구 현충로257, 431-02호 (동작동 327-1, 4호선 동작역 Do..."
15748,경희프라자점,서울,동대문구,회기동,서울 동대문구 회기동,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)"

In [89]:
df_kt = df_kt[['sido_nm','sig_nm','emd_nm','법정동 이름','emd_cd','ftc_cate2_cd']]

In [90]:
df_kt = df_kt[df_kt['ftc_cate2_cd'] == 'C06']

In [91]:
df_kt

         sido_nm   sig_nm emd_nm               법정동 이름    emd_cd ftc_cate2_cd
130         경상남도      함안군    가야읍         경상남도 함안군 가야읍  48730250          C06
176         충청북도      괴산군    문광면         충청북도 괴산군 문광면  43760350          C06
177        대구광역시      달서구    상인동        대구광역시 달서구 상인동  27290115          C06
202        대전광역시      대덕구    중리동        대전광역시 대덕구 중리동  30230109          C06
302          강원도      춘천시    죽림동          강원도 춘천시 죽림동  42110109          C06
...          ...      ...    ...                  ...       ...          ...
4379346    부산광역시      수영구    민락동        부산광역시 수영구 민락동  26500103          C06
4379404  세종특별자치시  세종특별자치시    연동면  세종특별자치시 세종특별자치시 연동면  36110320          C06
4379407    인천광역시      부평구    청천동        인천광역시 부평구 청천동  28237104          C06
4379505     전라남도      여수시    소호동         전라남도 여수시 소호동  46130131          C06
4379530      경기도      파주시    탄현면          경기도 파주시 탄현면  41480320          C06

[101853 rows x 6 columns]

In [59]:
df_cu['법정동 이름'] = df_cu['시도명'] + ' ' + df_cu['군구'] + ' ' + df_cu['동']
df_cu

,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
0,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도 수원시 팔달구,경기도
1,BGF곤지암포켓점,경기도 광주시 곤지암읍 건업리 148번지,경기,광주시,곤지암읍,경기도 광주시 곤지암읍,경기도
2,BGF로지스용인점,경기도 용인시 기흥구 보정동 319번지 1층,경기,용인시,기흥구,경기도 용인시 기흥구,경기도
3,BGF사옥점,서울특별시 강남구 삼성동 141-10번지,서울,강남구,삼성동,서울특별시 강남구 삼성동,서울특별시
4,BGF양주포켓점,경기도 양주시 백석읍 복지리 153번지 2층,경기,양주시,백석읍,경기도 양주시 백석읍,경기도
...,...,...,...,...,...,...,...
16180,419사거리점,서울특별시 강북구 우이동 72-144번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
16181,63빌딩점,서울특별시 영등포구 여의도동 60번지 하,서울,영등포구,여의도동,서울특별시 영등포구 여의도동,서울특별시
16182,6공단1호점,인천광역시 미추홀구 도화동 84-5번지,인천,미추홀구,도화동,인천광역시 미추홀구 도화동,인천광역시
16183,6공단2호점,인천광역시 남구 도화동 53-77번지,인천,남구,도화동,인천광역시 남구 도화동,인천광역시
16184,7번국도점,경상북도 울진군 후포면 후포리 917-18번지,경상,울진군,후포면,경상북도 울진군 후포면,경상북도

이름 다르게 들어간 지역 찾기

In [92]:
df_cu[df_cu['시도명'] == '인천']

Empty DataFrame
Columns: [corp_list, addr_list, 시도, 군구, 동, 법정동 이름, 시도명]
Index: []

밸류 바꾸기

In [93]:
df_cu.iloc[15054]['시도명'] = '경상북도'

법정동 이름 바꾸기

In [94]:
df_cu

,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
0,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도 수원시 팔달구,경기도
1,BGF곤지암포켓점,경기도 광주시 곤지암읍 건업리 148번지,경기,광주시,곤지암읍,경기도 광주시 곤지암읍,경기도
2,BGF로지스용인점,경기도 용인시 기흥구 보정동 319번지 1층,경기,용인시,기흥구,경기도 용인시 기흥구,경기도
3,BGF사옥점,서울특별시 강남구 삼성동 141-10번지,서울,강남구,삼성동,서울특별시 강남구 삼성동,서울특별시
4,BGF양주포켓점,경기도 양주시 백석읍 복지리 153번지 2층,경기,양주시,백석읍,경기도 양주시 백석읍,경기도
...,...,...,...,...,...,...,...
16180,419사거리점,서울특별시 강북구 우이동 72-144번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
16181,63빌딩점,서울특별시 영등포구 여의도동 60번지 하,서울,영등포구,여의도동,서울특별시 영등포구 여의도동,서울특별시
16182,6공단1호점,인천광역시 미추홀구 도화동 84-5번지,인천,미추홀구,도화동,인천광역시 미추홀구 도화동,인천광역시
16183,6공단2호점,인천광역시 남구 도화동 53-77번지,인천,남구,도화동,인천광역시 남구 도화동,인천광역시
16184,7번국도점,경상북도 울진군 후포면 후포리 917-18번지,경상,울진군,후포면,경상북도 울진군 후포면,경상북도

In [252]:
df_cu['법정동 이름'] = df_cu['시도명'] + ' ' + df_cu['군구'] + ' ' + df_cu['동']
df_cu

,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
0,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도 수원시 팔달구,경기도
1,BGF곤지암포켓점,경기도 광주시 곤지암읍 건업리 148번지,경기,광주시,곤지암읍,경기도 광주시 곤지암읍,경기도
2,BGF로지스용인점,경기도 용인시 기흥구 보정동 319번지 1층,경기,용인시,기흥구,경기도 용인시 기흥구,경기도
3,BGF사옥점,서울특별시 강남구 삼성동 141-10번지,서울,강남구,삼성동,서울특별시 강남구 삼성동,서울특별시
4,BGF양주포켓점,경기도 양주시 백석읍 복지리 153번지 2층,경기,양주시,백석읍,경기도 양주시 백석읍,경기도
...,...,...,...,...,...,...,...
16180,419사거리점,서울특별시 강북구 우이동 72-144번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
16181,63빌딩점,서울특별시 영등포구 여의도동 60번지 하,서울,영등포구,여의도동,서울특별시 영등포구 여의도동,서울특별시
16182,6공단1호점,인천광역시 미추홀구 도화동 84-5번지,인천,미추홀구,도화동,인천광역시 미추홀구 도화동,인천광역시
16183,6공단2호점,인천광역시 남구 도화동 53-77번지,인천,남구,도화동,인천광역시 남구 도화동,인천광역시
16184,7번국도점,경상북도 울진군 후포면 후포리 917-18번지,경상,울진군,후포면,경상북도 울진군 후포면,경상북도

In [253]:
df_cu.to_excel('./CU_이름_수정본.xlsx')

### KT

포맷 맞추기

In [19]:
df_kt_

           emd_cd            법정동 이름
0        27290105     대구광역시 달서구 호림동
1        11680111     서울특별시 강남구 세곡동
2        43113113  충청북도 청주시 흥덕구 가경동
3        41220330       경기도 평택시 고덕면
4        41461253    경기도 용인시처인구 모현읍
...           ...               ...
4379674  26320102      부산광역시 북구 화명동
4379675  41190110      경기도 부천시 소사본동
4379676  11500104     서울특별시 강서구 가양동
4379677  29110112       광주광역시 동구 남동
4379678  50130310  제주특별자치도 서귀포시 안덕면

[4379679 rows x 2 columns]

In [95]:
df_kt[df_kt['법정동 이름'] == '서울특별시 강북구 우이동']

        sido_nm sig_nm emd_nm         법정동 이름    emd_cd ftc_cate2_cd
97769     서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
247899    서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
294684    서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
340436    서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
449319    서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
470901    서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
933919    서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
1049830   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
1221650   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
1900865   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
2054054   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
2480192   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
2487525   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
2513739   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
2770380   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
2875668   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
3765006   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06
3842649   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06

In [96]:
df_kt_['emd_cd'] = df_kt_['emd_cd'].astype(str)

중복 제거

In [97]:
df_kt_ = df_kt_.drop_duplicates(subset='emd_cd')

In [101]:
df_kt_ = df_kt_[['법정동 이름','emd_cd']]
df_kt_

                법정동 이름    emd_cd
0        대구광역시 달서구 호림동  27290105
1        서울특별시 강남구 세곡동  11680111
2     충청북도 청주시 흥덕구 가경동  43113113
3          경기도 평택시 고덕면  41220330
4       경기도 용인시처인구 모현읍  41461253
...                ...       ...
5023     광주광역시 광산구 북산동  29200173
5024  경상남도 창원시 진해구 신흥동  48129104
5025     대전광역시 유성구 방현동  30200129
5026  경상남도 창원시 성산구 삼동동  48123139
5027   서울특별시 용산구 용산동1가  11170106

[5028 rows x 2 columns]

In [102]:
(df_kt_['emd_cd'].value_counts() >= 2).sum()

0

In [103]:
df_kt_[df_kt_['법정동 이름'] == '서울특별시 강북구 우이동']

             법정동 이름    emd_cd
2799  서울특별시 강북구 우이동  11305104

리인덱싱

In [104]:
# 리인덱싱
df_kt_ = df_kt_.reset_index(drop=True)

In [147]:
# 리인덱싱
df_cu = df_cu.reset_index(drop=True)

In [105]:
df_kt_.iloc[1549]['emd_cd']

'48250360'

In [106]:
df_kt_.iloc[3732]['emd_cd']

'46150121'

데이터 타입이 다른 법정동 코드는 두 개 다 존재함 -> 타입 변경 후 다시 중복 제거하기

In [107]:
df_kt_.info() # 5028

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5028 entries, 0 to 5027
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동 이름  5028 non-null   object
 1   emd_cd  5028 non-null   object
dtypes: object(2)
memory usage: 78.7+ KB

In [29]:
df_cu.info() # 16185

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16185 entries, 0 to 16184
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16185 non-null  int64
 1   corp_list   16185 non-null  object
 2   addr_list   16185 non-null  object
 3   시도          16185 non-null  object
 4   군구          16185 non-null  object
 5   동           16185 non-null  object
 6   법정동 이름      16185 non-null  object
 7   시도명         16185 non-null  object
dtypes: int64(1), object(7)
memory usage: 1011.7+ KB

In [198]:
df_kt_['emd_cd'] = df_kt_['emd_cd'].astype(str)

In [199]:
df_kt_ = df_kt_.drop_duplicates(subset='emd_cd')

In [30]:
df_kt_

        emd_cd            법정동 이름
0     27290105     대구광역시 달서구 호림동
1     11680111     서울특별시 강남구 세곡동
2     43113113  충청북도 청주시 흥덕구 가경동
3     41220330       경기도 평택시 고덕면
4     41461253    경기도 용인시처인구 모현읍
...        ...               ...
5023  29200173     광주광역시 광산구 북산동
5024  48129104  경상남도 창원시 진해구 신흥동
5025  30200129     대전광역시 유성구 방현동
5026  48123139  경상남도 창원시 성산구 삼동동
5027  11170106   서울특별시 용산구 용산동1가

[5028 rows x 2 columns]

### 밸류 값 일치하는 로 찾기

In [149]:
df_kt_[df_kt_['법정동 이름'] == '서울특별시 강북구 우이동']

     sido_nm sig_nm emd_nm         법정동 이름    emd_cd ftc_cate2_cd
1549   서울특별시    강북구    우이동  서울특별시 강북구 우이동  11305104          C06

In [150]:
df_cu[df_cu['법정동 이름'] == '서울특별시 강북구 우이동']

,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
7870,수유사랑점,서울특별시 강북구 우이동 564-15번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
10506,우이상아점,서울특별시 강북구 우이동 114-1번지 삼아그린맨션,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
10508,우이장학관점,서울특별시 강북구 우이동 16-6번지 1층,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
10509,우이푸르지오점,서울특별시 강북구 우이동 101-8번지 1층,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
16180,419사거리점,서울특별시 강북구 우이동 72-144번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시

In [163]:
df_cu['법정동 이름'][1] == df_kt_['법정동 이름']

0       False
1       False
2       False
3       False
4       False
        ...
9055    False
9056    False
9057    False
9066    False
9169    False
Name: 법정동 이름, Length: 5028, dtype: bool

In [152]:
df_kt_[df_cu['법정동 이름'][1] == df_kt_['법정동 이름']]

     sido_nm sig_nm emd_nm        법정동 이름    emd_cd ftc_cate2_cd
1090     경기도    광주시   곤지암읍  경기도 광주시 곤지암읍  41610259          C06

In [177]:
df_kt_[df_cu['법정동 이름'][1] == df_kt_['법정동 이름']]['emd_cd'].values[0]

'41610259'

In [162]:
type(df_kt_[df_cu['법정동 이름'][1] == df_kt_['법정동 이름']]['emd_cd'].values[0])

str

In [160]:
(df_cu['법정동 이름'][1] == df_kt_['법정동 이름']).sum()

1

In [118]:
df_kt_['법정동 이름'].__contains__(df_cu['법정동 이름'][0])

False

In [184]:
df_cu.index[df_kt_['법정동 이름'][1] == df_cu['법정동 이름']].tolist()

[]

In [132]:
df_kt_['법정동 이름'].values[10].__contains__(df_cu['법정동 이름'][0])

False

In [ ]:
a = []

In [178]:
for i in range(len(df_cu)):
    if (df_cu['법정동 이름'][i] == df_kt_['법정동 이름']):
         a.append(df_kt_[df_cu['법정동 이름'][i] == df_kt_['법정동 이름']]['emd_cd'].values[0]) # df_cu['code']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [39]:
df_gs.columns

Index(['매장명', '주소', '지번주소', '도로명주소', '관할주민센터', '우편번호', '법정동', '동', '시도', '군구',
       '시군구동'],
      dtype='object')

In [40]:
df_kt.columns
# 편의점 : 'ftc_cate2_cd' == 'C06'
# 법정동 이름 : sido_nm + sig_nm + emd_nm
# 법정동 코드 : emd_cd

Index(['base_ym', 'sido_cd', 'sido_nm', 'sig_cd', 'sig_nm', 'emd_cd', 'emd_nm',
       'base_xycrd', 'ftc_cate2_cd', 'groth', 'groth_avg', 'aces', 'aces_avg',
       'stbiz', 'stbiz_avg', 'prftb', 'prftb_avg', 'liqdt', 'liqdt_avg',
       'mkt_perd', 'mkt_perd_avg'],
      dtype='object')

In [41]:
df_kt.columns

Index(['base_ym', 'sido_cd', 'sido_nm', 'sig_cd', 'sig_nm', 'emd_cd', 'emd_nm',
       'base_xycrd', 'ftc_cate2_cd', 'groth', 'groth_avg', 'aces', 'aces_avg',
       'stbiz', 'stbiz_avg', 'prftb', 'prftb_avg', 'liqdt', 'liqdt_avg',
       'mkt_perd', 'mkt_perd_avg'],
      dtype='object')

In [302]:
df_gs.groupby(['법정동 이름']).size()

법정동 이름
강원 강릉시 강문동    4
강원 강릉시 강원     6
강원 강릉시 견소동    3
강원 강릉시 교1동    5
강원 강릉시 교2동    1
             ..
충북 충주시 용천리    1
충북 충주시 용포리    1
충북 충주시 지현동    3
충북 충주시 칠금동    5
충북 충주시 호암동    5
Length: 4725, dtype: int64

In [43]:
# 편의점만 조회
df_kt[df_kt['ftc_cate2_cd'] == 'C06']

### 병합

병합할 때 조인은 안됨 -> 조건 주고 새 컬럼에 값 추가하기

In [108]:
df_kt_

                법정동 이름    emd_cd
0        대구광역시 달서구 호림동  27290105
1        서울특별시 강남구 세곡동  11680111
2     충청북도 청주시 흥덕구 가경동  43113113
3          경기도 평택시 고덕면  41220330
4       경기도 용인시처인구 모현읍  41461253
...                ...       ...
5023     광주광역시 광산구 북산동  29200173
5024  경상남도 창원시 진해구 신흥동  48129104
5025     대전광역시 유성구 방현동  30200129
5026  경상남도 창원시 성산구 삼동동  48123139
5027   서울특별시 용산구 용산동1가  11170106

[5028 rows x 2 columns]

In [32]:
df_cu_

,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
0,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도 수원시 팔달구,경기도
1,BGF곤지암포켓점,경기도 광주시 곤지암읍 건업리 148번지,경기,광주시,곤지암읍,경기도 광주시 곤지암읍,경기도
2,BGF로지스용인점,경기도 용인시 기흥구 보정동 319번지 1층,경기,용인시,기흥구,경기도 용인시 기흥구,경기도
3,BGF사옥점,서울특별시 강남구 삼성동 141-10번지,서울,강남구,삼성동,서울특별시 강남구 삼성동,서울특별시
4,BGF양주포켓점,경기도 양주시 백석읍 복지리 153번지 2층,경기,양주시,백석읍,경기도 양주시 백석읍,경기도
...,...,...,...,...,...,...,...
16180,419사거리점,서울특별시 강북구 우이동 72-144번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
16181,63빌딩점,서울특별시 영등포구 여의도동 60번지 하,서울,영등포구,여의도동,서울특별시 영등포구 여의도동,서울특별시
16182,6공단1호점,인천광역시 미추홀구 도화동 84-5번지,인천,미추홀구,도화동,인천광역시 미추홀구 도화동,인천광역시
16183,6공단2호점,인천광역시 남구 도화동 53-77번지,인천,남구,도화동,인천광역시 남구 도화동,인천광역시
16184,7번국도점,경상북도 울진군 후포면 후포리 917-18번지,경상,울진군,후포면,경상북도 울진군 후포면,경상북도

In [85]:
df_cu

,Unnamed: 0,corp_list,addr_list,시도,군구,동,법정동 이름,시도명
0,0,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도 수원시 팔달구,경기도
1,1,BGF곤지암포켓점,경기도 광주시 곤지암읍 건업리 148번지,경기,광주시,곤지암읍,경기도 광주시 곤지암읍,경기도
2,2,BGF로지스용인점,경기도 용인시 기흥구 보정동 319번지 1층,경기,용인시,기흥구,경기도 용인시 기흥구,경기도
3,3,BGF사옥점,서울특별시 강남구 삼성동 141-10번지,서울,강남구,삼성동,서울특별시 강남구 삼성동,서울특별시
4,4,BGF양주포켓점,경기도 양주시 백석읍 복지리 153번지 2층,경기,양주시,백석읍,경기도 양주시 백석읍,경기도
...,...,...,...,...,...,...,...,...
16180,16180,419사거리점,서울특별시 강북구 우이동 72-144번지,서울,강북구,우이동,서울특별시 강북구 우이동,서울특별시
16181,16181,63빌딩점,서울특별시 영등포구 여의도동 60번지 하,서울,영등포구,여의도동,서울특별시 영등포구 여의도동,서울특별시
16182,16182,6공단1호점,인천광역시 미추홀구 도화동 84-5번지,인천,미추홀구,도화동,인천광역시 미추홀구 도화동,인천광역시
16183,16183,6공단2호점,인천광역시 남구 도화동 53-77번지,인천,남구,도화동,인천광역시 남구 도화동,인천광역시
16184,16184,7번국도점,경상북도 울진군 후포면 후포리 917-18번지,경상,울진군,후포면,경상북도 울진군 후포면,경상북도

In [35]:
# df_cu 병합
df_concat = pd.merge(df_kt_, df_cu, on='법정동 이름', how='inner')
df_concat

,emd_cd,법정동 이름,Unnamed: 0,corp_list,addr_list,시도,군구,동,시도명
0,27290105,대구광역시 달서구 호림동,4902,모다아울렛대구점,대구광역시 달서구 호림동 16-1번지 모다아울렛 1층,대구,달서구,호림동,대구광역시
1,11680111,서울특별시 강남구 세곡동,7296,세곡리엔점,서울특별시 강남구 세곡동 516번지 세곡리엔파크3단지,서울,강남구,세곡동,서울특별시
2,11680111,서울특별시 강남구 세곡동,7297,세곡지웰점,서울특별시 강남구 세곡동 587번지,서울,강남구,세곡동,서울특별시
3,11680111,서울특별시 강남구 세곡동,7298,세곡푸르지오점,"서울특별시 강남구 세곡동 533 세곡푸르지오아파트상가 1층, 101호",서울,강남구,세곡동,서울특별시
4,41220330,경기도 평택시 고덕면,14719,평택고덕골드점,경기도 평택시 고덕면 여염리 4414-1 1층,경기,평택시,고덕면,경기도
...,...,...,...,...,...,...,...,...,...
12392,42110106,강원도 춘천시 중앙로3가,14162,춘천중앙로점,강원도 춘천시 중앙로3가 66-14번지,강원,춘천시,중앙로3가,강원도
12393,44210110,충청남도 서산시 죽성동,6837,서산죽성삼성점,충청남도 서산시 죽성동 79-1번지 1층,충청,서산시,죽성동,충청남도
12394,48310103,경상남도 거제시 두모동,681,거제대우점,경상남도 거제시 두모동 376-3번지,경상,거제시,두모동,경상남도
12395,41610113,경기도 광주시 목동,1543,광주목동점,경기도 광주시 목동 162번지,경기,광주시,목동,경기도
12396,26140115,부산광역시 서구 아미동1가,6625,서구토성역점,부산광역시 서구 아미동1가 21-3번지,부산,서구,아미동1가,부산광역시

In [463]:
df_cu = pd.read_excel('./CU_세종까지 수정완료.xlsx')

In [109]:
# df_cu 병합
df_concat_outer = pd.merge(df_kt_, df_cu, on='법정동 이름', how='outer')
df_concat_outer

,법정동 이름,emd_cd,corp_list,addr_list,시도,군구,동,시도명
0,대구광역시 달서구 호림동,27290105,모다아울렛대구점,대구광역시 달서구 호림동 16-1번지 모다아울렛 1층,대구,달서구,호림동,대구광역시
1,서울특별시 강남구 세곡동,11680111,세곡리엔점,서울특별시 강남구 세곡동 516번지 세곡리엔파크3단지,서울,강남구,세곡동,서울특별시
2,서울특별시 강남구 세곡동,11680111,세곡지웰점,서울특별시 강남구 세곡동 587번지,서울,강남구,세곡동,서울특별시
3,서울특별시 강남구 세곡동,11680111,세곡푸르지오점,"서울특별시 강남구 세곡동 533 세곡푸르지오아파트상가 1층, 101호",서울,강남구,세곡동,서울특별시
4,충청북도 청주시 흥덕구 가경동,43113113,청주가경대원점,충청북도 청주시 흥덕구 가경동 1511번지 대원아파트,충청,청주시,흥덕구,충청북도
...,...,...,...,...,...,...,...,...
18707,부산광역시 북구 화명1동,NaN,화명유림점,부산광역시 북구 화명1동 749번지 화명유림,부산,북구,화명1동,부산광역시
18708,대구광역시 수성구 황금1동,NaN,황금캐슬5단지점,대구광역시 수성구 황금1동 365번지 캐슬골드파크,대구,수성구,황금1동,대구광역시
18709,광주광역시 남구 송암동,NaN,효천시티점,광주광역시 남구 송암동 효천1지구 B-2블럭 시티프라디움 근린생활상가시설 1동 10...,광주,남구,송암동,광주광역시
18710,광주광역시 남구 송암동,NaN,효천중흥점,광주광역시 남구 송암동 530번지 효천중흥에스클래스,광주,남구,송암동,광주광역시
18711,세종특별자치시 고운동 산94번지,NaN,힐스테이트고운점,세종특별자치시 고운동 산94번지,세종,고운동,산94번지,세종특별자치시

In [ ]:
# 법정동 코드가 없는 지역
# 광주광역시 남구 송암동

In [125]:
df_concat_outer[df_concat_outer['시도명'] == '세종특별자치시']

,법정동 이름,emd_cd,corp_list,addr_list,시도,군구,동,시도명
17692,세종특별자치시 조치원읍 신흥리,NaN,뉴조치원신흥점,세종특별자치시 조치원읍 신흥리 269번지 1층,세종,조치원읍,신흥리,세종특별자치시
17707,세종특별자치시 장군면 금암리,NaN,다와국제관점,세종특별자치시 장군면 금암리 179-3번지,세종,장군면,금암리,세종특별자치시
17708,세종특별자치시 장군면 금암리,NaN,다와물산점,세종특별자치시 장군면 금암리 180-1 본관동 1층,세종,장군면,금암리,세종특별자치시
17709,세종특별자치시 장군면 금암리,NaN,다와한국영상대학교점,세종특별자치시 장군면 금암리 180-1번지 한국영상대학 창의관동 1층,세종,장군면,금암리,세종특별자치시
17710,세종특별자치시 장군면 금암리,NaN,세종영상대점,세종특별자치시 장군면 금암리 192번지,세종,장군면,금암리,세종특별자치시
...,...,...,...,...,...,...,...,...
18630,세종특별자치시 조치원읍 죽림리,NaN,조치원파밀리에점,세종특별자치시 조치원읍 죽림리 393번지 조치원신동아파밀리에,세종,조치원읍,죽림리,세종특별자치시
18631,세종특별자치시 조치원읍 평리,NaN,조치원평리점,세종특별자치시 조치원읍 평리 23-1번지 1층,세종,조치원읍,평리,세종특별자치시
18632,세종특별자치시 조치원읍 정리,NaN,조치원행복점,세종특별자치시 조치원읍 정리 102-5번지,세종,조치원읍,정리,세종특별자치시
18665,세종특별자치시 나성동 361-37번지,NaN,캘러웨이세종스타점,세종특별자치시 나성동 361-37번지,세종,나성동,361-37번지,세종특별자치시
18711,세종특별자치시 고운동 산94번지,NaN,힐스테이트고운점,세종특별자치시 고운동 산94번지,세종,고운동,산94번지,세종특별자치시

In [110]:
df_concat_outer = df_concat_outer.drop_duplicates(subset='corp_list')

In [69]:
# 리인덱싱
df_concat_outer = df_concat_outer.reset_index(drop=True)

In [70]:
df_concat_outer

,emd_cd,법정동 이름,Unnamed: 0,corp_list,addr_list,시도,군구,동,시도명
0,27290105,대구광역시 달서구 호림동,4902.0,모다아울렛대구점,대구광역시 달서구 호림동 16-1번지 모다아울렛 1층,대구,달서구,호림동,대구광역시
1,11680111,서울특별시 강남구 세곡동,7296.0,세곡리엔점,서울특별시 강남구 세곡동 516번지 세곡리엔파크3단지,서울,강남구,세곡동,서울특별시
2,11680111,서울특별시 강남구 세곡동,7297.0,세곡지웰점,서울특별시 강남구 세곡동 587번지,서울,강남구,세곡동,서울특별시
3,11680111,서울특별시 강남구 세곡동,7298.0,세곡푸르지오점,"서울특별시 강남구 세곡동 533 세곡푸르지오아파트상가 1층, 101호",서울,강남구,세곡동,서울특별시
4,43113113,충청북도 청주시 흥덕구 가경동,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
16098,NaN,부산광역시 북구 화명1동,15837.0,화명유림점,부산광역시 북구 화명1동 749번지 화명유림,부산,북구,화명1동,부산광역시
16099,NaN,대구광역시 수성구 황금1동,16082.0,황금캐슬5단지점,대구광역시 수성구 황금1동 365번지 캐슬골드파크,대구,수성구,황금1동,대구광역시
16100,NaN,광주광역시 남구 송암동,16139.0,효천시티점,광주광역시 남구 송암동 효천1지구 B-2블럭 시티프라디움 근린생활상가시설 1동 10...,광주,남구,송암동,광주광역시
16101,NaN,광주광역시 남구 송암동,16140.0,효천중흥점,광주광역시 남구 송암동 530번지 효천중흥에스클래스,광주,남구,송암동,광주광역시
16102,NaN,세종특별자치시 고운동 산94번지,16178.0,힐스테이트고운점,세종특별자치시 고운동 산94번지,세종,고운동,산94번지,세종특별자치시

데이터를 병합하면 소실 값이 발생함 -> 법정동 이름이 잘못된 데이터가 있는지 확인 -> 수정 완료 ->그래도 데이터가 모두 돌아오지 않음

cu(16185) - merge(12397) = 3788 개는 법정동 코드가 없음 -> 주소가 형식과 다르게 들어감 -> 파악 후 수정하기

In [118]:
df_concat_outer.isnull().sum()

법정동 이름          0
emd_cd       3772
corp_list       1
addr_list       1
시도              1
군구              1
동               1
시도명             1
dtype: int64

In [72]:
df_concat_outer[df_concat_outer['corp_list'] == '청주가경대원점']['emd_cd'] = 43113113

In [80]:
df_concat_outer[df_concat_outer['corp_list'] == '청주가경대원점']['emd_cd'] = df_concat_outer.iloc[4]['emd_cd']

In [81]:
df_concat_outer[df_concat_outer['corp_list'] == '청주가경대원점']['emd_cd']

12608    NaN
Name: emd_cd, dtype: object

In [78]:
df_concat_outer.iloc[12608]['emd_cd'] = df_concat_outer.iloc[4]['emd_cd']

In [82]:
df_concat_outer.iloc[4]['emd_cd']

'43113113'

In [83]:
df_concat_outer.iloc[4]['법정동 이름']

'충청북도 청주시 흥덕구 가경동'

In [51]:
df_concat_outer[df_concat_outer['corp_list'].isnull()]

,emd_cd,법정동 이름,Unnamed: 0,corp_list,addr_list,시도,군구,동,시도명
4,43113113,충청북도 청주시 흥덕구 가경동,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 주소 잘못 들어간 매장 수정

In [117]:
df_concat_outer[df_concat_outer['emd_cd'].isnull()]

,법정동 이름,emd_cd,corp_list,addr_list,시도,군구,동,시도명
14925,경기도 수원시 팔달구,NaN,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도
14926,경기도 수원시 팔달구,NaN,경기도청점,경기도 수원시 팔달구 고등동 3-5번지,경기,수원시,팔달구,경기도
14927,경기도 수원시 팔달구,NaN,고등웰빙점,경기도 수원시 팔달구 고등동 71-1번지,경기,수원시,팔달구,경기도
14928,경기도 수원시 팔달구,NaN,동수원사거리점,경기도 수원시 팔달구 인계동 939번지 신동아파스텔,경기,수원시,팔달구,경기도
14929,경기도 수원시 팔달구,NaN,매교사거리점,경기도 수원시 팔달구 매교동 77-40번지,경기,수원시,팔달구,경기도
...,...,...,...,...,...,...,...,...
18707,부산광역시 북구 화명1동,NaN,화명유림점,부산광역시 북구 화명1동 749번지 화명유림,부산,북구,화명1동,부산광역시
18708,대구광역시 수성구 황금1동,NaN,황금캐슬5단지점,대구광역시 수성구 황금1동 365번지 캐슬골드파크,대구,수성구,황금1동,대구광역시
18709,광주광역시 남구 송암동,NaN,효천시티점,광주광역시 남구 송암동 효천1지구 B-2블럭 시티프라디움 근린생활상가시설 1동 10...,광주,남구,송암동,광주광역시
18710,광주광역시 남구 송암동,NaN,효천중흥점,광주광역시 남구 송암동 530번지 효천중흥에스클래스,광주,남구,송암동,광주광역시
18711,세종특별자치시 고운동 산94번지,NaN,힐스테이트고운점,세종특별자치시 고운동 산94번지,세종,고운동,산94번지,세종특별자치시

In [115]:
df_concat_outer[df_concat_outer['emd_cd'].isnull()].index

Int64Index([14925, 14926, 14927, 14928, 14929, 14930, 14931, 14932, 14933,
            14934,
            ...
            18702, 18703, 18704, 18705, 18706, 18707, 18708, 18709, 18710,
            18711],
           dtype='int64', length=3772)

주소 수정

In [121]:
df_concat_outer['법정동 이름'][18712]

KeyError: 18712

In [123]:
df_concat_outer['법정동 이름'][14925]

'경기도 수원시 팔달구'

In [122]:
df_concat_outer[df_concat_outer['emd_cd'].isnull()]['addr_list'].str.split(' ')[14925][3]

'매산로1가'

In [481]:
list_ = []
for index in tqdm(df_concat_outer[df_concat_outer['emd_cd'].isnull()].index):
    if index == 18337 & index == 18341 & index == 18356 & index == 18666 & index == 18712:
        pass
    else:
        list_.append(index)
        
list_

100%|█████████████████████████████████████████████████████████████████████████| 3788/3788 [00:00<00:00, 1948494.43it/s]

[14925,
 14926,
 14927,
 14928,
 14929,
 14930,
 14931,
 14932,
 14933,
 14934,
 14935,
 14936,
 14937,
 14938,
 14939,
 14940,
 14941,
 14942,
 14943,
 14944,
 14945,
 14946,
 14947,
 14948,
 14949,
 14950,
 14951,
 14952,
 14953,
 14954,
 14955,
 14956,
 14957,
 14958,
 14959,
 14960,
 14961,
 14962,
 14963,
 14964,
 14965,
 14966,
 14967,
 14968,
 14969,
 14970,
 14971,
 14972,
 14973,
 14974,
 14975,
 14976,
 14977,
 14978,
 14979,
 14980,
 14981,
 14982,
 14983,
 14984,
 14985,
 14986,
 14987,
 14988,
 14989,
 14990,
 14991,
 14992,
 14993,
 14994,
 14995,
 14996,
 14997,
 14998,
 14999,
 15000,
 15001,
 15002,
 15003,
 15004,
 15005,
 15006,
 15007,
 15008,
 15009,
 15010,
 15011,
 15012,
 15013,
 15014,
 15015,
 15016,
 15017,
 15018,
 15019,
 15020,
 15021,
 15022,
 15023,
 15024,
 15025,
 15026,
 15027,
 15028,
 15029,
 15030,
 15031,
 15032,
 15033,
 15034,
 15035,
 15036,
 15037,
 15038,
 15039,
 15040,
 15041,
 15042,
 15043,
 15044,
 15045,
 15046,
 15047,
 15048,
 15049,
 15050,
 15051,
 15052,
 15053,
 15054,
 15055,
 15056,
 15057,
 15058,
 15059,
 15060,
 15061,
 15062,
 15063,
 15064,
 15065,
 15066,
 15067,
 15068,
 15069,
 15070,
 15071,
 15072,
 15073,
 15074,
 15075,
 15076,
 15077,
 15078,
 15079,
 15080,
 15081,
 15082,
 15083,
 15084,
 15085,
 15086,
 15087,
 15088,
 15089,
 15090,
 15091,
 15092,
 15093,
 15094,
 15095,
 15096,
 15097,
 15098,
 15099,
 15100,
 15101,
 15102,
 15103,
 15104,
 15105,
 15106,
 15107,
 15108,
 15109,
 15110,
 15111,
 15112,
 15113,
 15114,
 15115,
 15116,
 15117,
 15118,
 15119,
 15120,
 15121,
 15122,
 15123,
 15124,
 15125,
 15126,
 15127,
 15128,
 15129,
 15130,
 15131,
 15132,
 15133,
 15134,
 15135,
 15136,
 15137,
 15138,
 15139,
 15140,
 15141,
 15142,
 15143,
 15144,
 15145,
 15146,
 15147,
 15148,
 15149,
 15150,
 15151,
 15152,
 15153,
 15154,
 15155,
 15156,
 15157,
 15158,
 15159,
 15160,
 15161,
 15162,
 15163,
 15164,
 15165,
 15166,
 15167,
 15168,
 15169,
 15170,
 15171,
 15172,
 15173,
 15174,
 15175,
 15176,
 15177,
 15178,
 15179,
 15180,
 15181,
 15182,
 15183,
 15184,
 15185,
 15186,
 15187,
 15188,
 15189,
 15190,
 15191,
 15192,
 15193,
 15194,
 15195,
 15196,
 15197,
 15198,
 15199,
 15200,
 15201,
 15202,
 15203,
 15204,
 15205,
 15206,
 15207,
 15208,
 15209,
 15210,
 15211,
 15212,
 15213,
 15214,
 15215,
 15216,
 15217,
 15218,
 15219,
 15220,
 15221,
 15222,
 15223,
 15224,
 15225,
 15226,
 15227,
 15228,
 15229,
 15230,
 15231,
 15232,
 15233,
 15234,
 15235,
 15236,
 15237,
 15238,
 15239,
 15240,
 15241,
 15242,
 15243,
 15244,
 15245,
 15246,
 15247,
 15248,
 15249,
 15250,
 15251,
 15252,
 15253,
 15254,
 15255,
 15256,
 15257,
 15258,
 15259,
 15260,
 15261,
 15262,
 15263,
 15264,
 15265,
 15266,
 15267,
 15268,
 15269,
 15270,
 15271,
 15272,
 15273,
 15274,
 15275,
 15276,
 15277,
 15278,
 15279,
 15280,
 15281,
 15282,
 15283,
 15284,
 15285,
 15286,
 15287,
 15288,
 15289,
 15290,
 15291,
 15292,
 15293,
 15294,
 15295,
 15296,
 15297,
 15298,
 15299,
 15300,
 15301,
 15302,
 15303,
 15304,
 15305,
 15306,
 15307,
 15308,
 15309,
 15310,
 15311,
 15312,
 15313,
 15314,
 15315,
 15316,
 15317,
 15318,
 15319,
 15320,
 15321,
 15322,
 15323,
 15324,
 15325,
 15326,
 15327,
 15328,
 15329,
 15330,
 15331,
 15332,
 15333,
 15334,
 15335,
 15336,
 15337,
 15338,
 15339,
 15340,
 15341,
 15342,
 15343,
 15344,
 15345,
 15346,
 15347,
 15348,
 15349,
 15350,
 15351,
 15352,
 15353,
 15354,
 15355,
 15356,
 15357,
 15358,
 15359,
 15360,
 15361,
 15362,
 15363,
 15364,
 15365,
 15366,
 15367,
 15368,
 15369,
 15370,
 15371,
 15372,
 15373,
 15374,
 15375,
 15376,
 15377,
 15378,
 15379,
 15380,
 15381,
 15382,
 15383,
 15384,
 15385,
 15386,
 15387,
 15388,
 15389,
 15390,
 15391,
 15392,
 15393,
 15394,
 15395,
 15396,
 15397,
 15398,
 15399,
 15400,
 15401,
 15402,
 15403,
 15404,
 15405,
 15406,
 15407,
 15408,
 15409,
 15410,
 15411,
 15412,
 15413,
 15414,
 15415,
 15416,
 15417,
 15418,
 15419,
 15420,
 15421,
 15422,
 15423,
 15424,
 15425,
 15426,
 15427,
 15428,
 15429,
 15430,
 15431,
 15432,
 15433,
 15434,
 15435,
 15436,
 15437,
 15438,
 15439,
 15440,
 15441,
 15442,
 15443,
 15444,
 15445,
 15446,
 15447,
 15448,
 15449,
 15450,
 15451,
 15452,
 15453,
 15454,
 15455,
 15456,
 15457,
 15458,
 15459,
 15460,
 15461,
 15462,
 15463,
 15464,
 15465,
 15466,
 15467,
 15468,
 15469,
 15470,
 15471,
 15472,
 15473,
 15474,
 15475,
 15476,
 15477,
 15478,
 15479,
 15480,
 15481,
 15482,
 15483,
 15484,
 15485,
 15486,
 15487,
 15488,
 15489,
 15490,
 15491,
 15492,
 15493,
 15494,
 15495,
 15496,
 15497,
 15498,
 15499,
 15500,
 15501,
 15502,
 15503,
 15504,
 15505,
 15506,
 15507,
 15508,
 15509,
 15510,
 15511,
 15512,
 15513,
 15514,
 15515,
 15516,
 15517,
 15518,
 15519,
 15520,
 15521,
 15522,
 15523,
 15524,
 15525,
 15526,
 15527,
 15528,
 15529,
 15530,
 15531,
 15532,
 15533,
 15534,
 15535,
 15536,
 15537,
 15538,
 15539,
 15540,
 15541,
 15542,
 15543,
 15544,
 15545,
 15546,
 15547,
 15548,
 15549,
 15550,
 15551,
 15552,
 15553,
 15554,
 15555,
 15556,
 15557,
 15558,
 15559,
 15560,
 15561,
 15562,
 15563,
 15564,
 15565,
 15566,
 15567,
 15568,
 15569,
 15570,
 15571,
 15572,
 15573,
 15574,
 15575,
 15576,
 15577,
 15578,
 15579,
 15580,
 15581,
 15582,
 15583,
 15584,
 15585,
 15586,
 15587,
 15588,
 15589,
 15590,
 15591,
 15592,
 15593,
 15594,
 15595,
 15596,
 15597,
 15598,
 15599,
 15600,
 15601,
 15602,
 15603,
 15604,
 15605,
 15606,
 15607,
 15608,
 15609,
 15610,
 15611,
 15612,
 15613,
 15614,
 15615,
 15616,
 15617,
 15618,
 15619,
 15620,
 15621,
 15622,
 15623,
 15624,
 15625,
 15626,
 15627,
 15628,
 15629,
 15630,
 15631,
 15632,
 15633,
 15634,
 15635,
 15636,
 15637,
 15638,
 15639,
 15640,
 15641,
 15642,
 15643,
 15644,
 15645,
 15646,
 15647,
 15648,
 15649,
 15650,
 15651,
 15652,
 15653,
 15654,
 15655,
 15656,
 15657,
 15658,
 15659,
 15660,
 15661,
 15662,
 15663,
 15664,
 15665,
 15666,
 15667,
 15668,
 15669,
 15670,
 15671,
 15672,
 15673,
 15674,
 15675,
 15676,
 15677,
 15678,
 15679,
 15680,
 15681,
 15682,
 15683,
 15684,
 15685,
 15686,
 15687,
 15688,
 15689,
 15690,
 15691,
 15692,
 15693,
 15694,
 15695,
 15696,
 15697,
 15698,
 15699,
 15700,
 15701,
 15702,
 15703,
 15704,
 15705,
 15706,
 15707,
 15708,
 15709,
 15710,
 15711,
 15712,
 15713,
 15714,
 15715,
 15716,
 15717,
 15718,
 15719,
 15720,
 15721,
 15722,
 15723,
 15724,
 15725,
 15726,
 15727,
 15728,
 15729,
 15730,
 15731,
 15732,
 15733,
 15734,
 15735,
 15736,
 15737,
 15738,
 15739,
 15740,
 15741,
 15742,
 15743,
 15744,
 15745,
 15746,
 15747,
 15748,
 15749,
 15750,
 15751,
 15752,
 15753,
 15754,
 15755,
 15756,
 15757,
 15758,
 15759,
 15760,
 15761,
 15762,
 15763,
 15764,
 15765,
 15766,
 15767,
 15768,
 15769,
 15770,
 15771,
 15772,
 15773,
 15774,
 15775,
 15776,
 15777,
 15778,
 15779,
 15780,
 15781,
 15782,
 15783,
 15784,
 15785,
 15786,
 15787,
 15788,
 15789,
 15790,
 15791,
 15792,
 15793,
 15794,
 15795,
 15796,
 15797,
 15798,
 15799,
 15800,
 15801,
 15802,
 15803,
 15804,
 15805,
 15806,
 15807,
 15808,
 15809,
 15810,
 15811,
 15812,
 15813,
 15814,
 15815,
 15816,
 15817,
 15818,
 15819,
 15820,
 15821,
 15822,
 15823,
 15824,
 15825,
 15826,
 15827,
 15828,
 15829,
 15830,
 15831,
 15832,
 15833,
 15834,
 15835,
 15836,
 15837,
 15838,
 15839,
 15840,
 15841,
 15842,
 15843,
 15844,
 15845,
 15846,
 15847,
 15848,
 15849,
 15850,
 15851,
 15852,
 15853,
 15854,
 15855,
 15856,
 15857,
 15858,
 15859,
 15860,
 15861,
 15862,
 15863,
 15864,
 15865,
 15866,
 15867,
 15868,
 15869,
 15870,
 15871,
 15872,
 15873,
 15874,
 15875,
 15876,
 15877,
 15878,
 15879,
 15880,
 15881,
 15882,
 15883,
 15884,
 15885,
 15886,
 15887,
 15888,
 15889,
 15890,
 15891,
 15892,
 15893,
 15894,
 15895,
 15896,
 15897,
 15898,
 15899,
 15900,
 15901,
 15902,
 15903,
 15904,
 15905,
 15906,
 15907,
 15908,
 15909,
 15910,
 15911,
 15912,
 15913,
 15914,
 15915,
 15916,
 15917,
 15918,
 15919,
 15920,
 15921,
 15922,
 15923,
 15924,
 ...]

In [482]:
list_e = pd.DataFrame({'list_error':list_})
list_e

      list_error
0          14925
1          14926
2          14927
3          14928
4          14929
...          ...
3783       18708
3784       18709
3785       18710
3786       18711
3787       18712

[3788 rows x 1 columns]

In [484]:
list_e.to_excel('./df_cu_에러나는 애들.xlsx')

In [476]:
for index in tqdm(df_concat_outer[df_concat_outer['emd_cd'].isnull()].index):
    try:
        if index == 18337 & index == 18341 & index == 18356 & index == 18666 & index == 18712:
            pass
        else:
            df_concat_outer['법정동 이름'][index] = df_concat_outer['법정동 이름'][index] + ' ' + df_concat_outer[df_concat_outer['emd_cd'].isnull()]['addr_list'].str.split(' ')[index][3]
    except:
        print(index)
        pass

 91%|██████████████████████████████████████████████████████████████████████▋       | 3430/3788 [00:39<00:03, 96.62it/s]

18337
18341
18342

 91%|███████████████████████████████████████████████████████████████████████       | 3450/3788 [00:39<00:03, 94.32it/s]

18357

100%|██████████████████████████████████████████████████████████████████████████████| 3788/3788 [00:43<00:00, 87.82it/s]

18712

세종시는 따로 처리 필요

In [ ]:
# index : 18337, 18341, 18356, 18666, 18712

In [399]:
df_concat_outer['법정동 이름'][18712] = df_concat_outer['법정동 이름'][18712].split(' ')[0] + ' ' + df_concat_outer['법정동 이름'][18712].split(' ')[1]

In [124]:
df_concat_outer['corp_list'][18712]

KeyError: 18712

In [ ]:
# 세종대로점, 세종디펠리체점, 세종스마트허브점, 캘러웨이세종스타점, 힐스테이트고운점

In [113]:
df_cu[df_cu['corp_list'] == '세종대로점']['법정동 이름']

7322    세종특별자치시 소정면 33-2번지
Name: 법정동 이름, dtype: object

In [451]:
df_cu[df_cu['corp_list'] == '힐스테이트고운점']['법정동 이름'].str.split(' ')[16178]

['세종특별자치시', '고운동', '산94번지']

In [453]:
df_cu.iloc[16178]['법정동 이름'] = df_cu[df_cu['corp_list'] == '힐스테이트고운점']['법정동 이름'].str.split(' ')[16178][0] + ' ' + df_cu[df_cu['corp_list'] == '힐스테이트고운점']['법정동 이름'].str.split(' ')[16178][1]

In [112]:
df_cu.iloc[16178]['법정동 이름']

'세종특별자치시 고운동 산94번지'

In [457]:
df_cu.to_excel('./CU_세종_NaN값들까지 수정완료.xlsx')

In [ ]:
# 광주광역시 남구 송암동 : 법정동 코드 없음

In [370]:
df_concat_outer

,emd_cd,법정동 이름,corp_list,addr_list,시도,군구,동,시도명
0,27290105,대구광역시 달서구 호림동,모다아울렛대구점,대구광역시 달서구 호림동 16-1번지 모다아울렛 1층,대구,달서구,호림동,대구광역시
1,11680111,서울특별시 강남구 세곡동,세곡리엔점,서울특별시 강남구 세곡동 516번지 세곡리엔파크3단지,서울,강남구,세곡동,서울특별시
2,11680111,서울특별시 강남구 세곡동,세곡지웰점,서울특별시 강남구 세곡동 587번지,서울,강남구,세곡동,서울특별시
3,11680111,서울특별시 강남구 세곡동,세곡푸르지오점,"서울특별시 강남구 세곡동 533 세곡푸르지오아파트상가 1층, 101호",서울,강남구,세곡동,서울특별시
4,43113113,충청북도 청주시 흥덕구 가경동,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
18708,NaN,부산광역시 북구 화명1동,화명유림점,부산광역시 북구 화명1동 749번지 화명유림,부산,북구,화명1동,부산광역시
18709,NaN,대구광역시 수성구 황금1동,황금캐슬5단지점,대구광역시 수성구 황금1동 365번지 캐슬골드파크,대구,수성구,황금1동,대구광역시
18710,NaN,광주광역시 남구 송암동,효천시티점,광주광역시 남구 송암동 효천1지구 B-2블럭 시티프라디움 근린생활상가시설 1동 10...,광주,남구,송암동,광주광역시
18711,NaN,광주광역시 남구 송암동,효천중흥점,광주광역시 남구 송암동 530번지 효천중흥에스클래스,광주,남구,송암동,광주광역시
18712,NaN,세종특별자치시 고운동 산94번지,힐스테이트고운점,세종특별자치시 고운동 산94번지,세종,고운동,산94번지,세종특별자치시

매장 조회

In [277]:
df_concat_outer[df_concat_outer['corp_list'] == 'AK수원점']

,emd_cd,법정동 이름,corp_list,addr_list,시도,군구,동,시도명
14925,NaN,경기도 수원시 팔달구,AK수원점,경기도 수원시 팔달구 매산로1가 18번지 외 11필지 수원민자역사 제1호,경기,수원시,팔달구,경기도

주소 조회

In [281]:
df_concat_outer[df_concat_outer['법정동 이름'] == '부산광역시 북구 화명1동']

,emd_cd,법정동 이름,corp_list,addr_list,시도,군구,동,시도명
18708,NaN,부산광역시 북구 화명1동,화명유림점,부산광역시 북구 화명1동 749번지 화명유림,부산,북구,화명1동,부산광역시

값 수정

In [ ]:
df_cu.iloc[15054]['시도명'] = '경상북도'

In [282]:
df_kt_[df_kt_['법정동 이름'] == '경기도 수원시 팔달구 고등동']

        emd_cd           법정동 이름
1934  41115137  경기도 수원시 팔달구 고등동

In [215]:
df_concat.groupby('법정동 이름').value_counts()

법정동 이름        emd_cd    corp_list   addr_list                                  시도  군구   동    시도명
강원도 강릉시 강동면   42150340  강릉안인발전소점    강원도 강릉시 강동면 149,(하시동리)                     강원  강릉시  강동면  강원도     1
                        썬크루즈리조트점    강원도 강릉시 강동면 정동진리 50-10번지 썬크루즈리조트           강원  강릉시  강동면  강원도     1
                        정동진모래시계점    강원도 강릉시 강동면 정동진리 3-2번지                     강원  강릉시  강동면  강원도     1
                        정동진으뜸점      강원도 강릉시 강동면 정동진리 299-8번지                   강원  강릉시  강동면  강원도     1
                        강릉안인점       강원도 강릉시 강동면 안인리 558-21번지                   강원  강릉시  강동면  강원도     1
                                                                                                    ..
충청북도 충주시 호암동  43130107  충주호암빌딩점     충청북도 충주시 호암동 695-8번지 1층 107호               충청  충주시  호암동  충청북도    1
                        충주호암스퀘어점    충청북도 충주시 호암동 1212번지                        충청  충주시  호암동  충청북도    1
                        충주호암중앙점     충청북도 충주시 호암동 101-1번지 1층                    충청  충주시  호암동  충청북도    1
                        충주호암하트리움점   충청북도 충주시 호암동 522번지                         충청  충주시  호암동  충청북도    1
                        충주호암힐데스하임점  충청북도 충주시 호암동 1191번지 힐데스하임 B1층 A동 109,110호  충청  충주시  호암동  충청북도    1
Length: 12329, dtype: int64

In [188]:
df_concat.drop_duplicates(subset='corp_list')

,법정동 이름,emd_cd,corp_list,addr_list,시도,군구,동,시도명
0,경상남도 함안군 가야읍,48730250,가야아라점,"경상남도 함안군 가야읍 말산리 460-20번지 아라빌딩 101 1층 101, 103호",경상,함안군,가야읍,경상남도
1,경상남도 함안군 가야읍,48730250,함안IC점,경상남도 함안군 가야읍 도항리 254-105번지,경상,함안군,가야읍,경상남도
2,경상남도 함안군 가야읍,48730250,함안가야도항점,경상남도 함안군 가야읍 도항리 321-2번지 1층,경상,함안군,가야읍,경상남도
3,경상남도 함안군 가야읍,48730250,함안군청정문점,경상남도 함안군 가야읍 말산리 203-4번지,경상,함안군,가야읍,경상남도
4,경상남도 함안군 가야읍,48730250,함안노블리안점,경상남도 함안군 가야읍 말산리 23번지 태완노블리안아파트,경상,함안군,가야읍,경상남도
...,...,...,...,...,...,...,...,...
12392,부산광역시 영도구 대교동2가,26200102,영도중앙점,부산광역시 영도구 대교동2가 94번지 영도메디칼빌딩,부산,영도구,대교동2가,부산광역시
12393,부산광역시 중구 남포동1가,26110136,남포롯데점,부산광역시 중구 남포동1가 29번지,부산,중구,남포동1가,부산광역시
12394,경기도 부천시 계수동,41190116,부천대2호점,경기도 부천시 계수동 791번지 부천대학교 제2캠퍼스2동 B1층 기숙사동,경기,부천시,계수동,경기도
12395,경기도 안성시 동본동,41550106,안성동본동점,경기도 안성시 동본동 23번지,경기,안성시,동본동,경기도
12396,부산광역시 서구 아미동1가,26140115,서구토성역점,부산광역시 서구 아미동1가 21-3번지,부산,서구,아미동1가,부산광역시

In [369]:
# 병합
df_concat_ = pd.merge(df_gs, df_kt, on='법정동 이름', how='inner')
df_concat_

,매장명,동,시도,군구,법정동 이름,법정동주소,sido_nm,sig_nm,emd_nm,emd_cd
0,GS25G대구대림공단점,호림동,대구,달서구,대구 달서구 호림동,대구 달서구 호림동 482-2,대구광역시,달서구,호림동,27290105
1,GS25G대구대림공단점,호림동,대구,달서구,대구 달서구 호림동,대구 달서구 호림동 482-2,대구광역시,달서구,호림동,27290105
2,GS25G대구대림공단점,호림동,대구,달서구,대구 달서구 호림동,대구 달서구 호림동 482-2,대구광역시,달서구,호림동,27290105
3,GS25G대구대림공단점,호림동,대구,달서구,대구 달서구 호림동,대구 달서구 호림동 482-2,대구광역시,달서구,호림동,27290105
4,GS25G대구대림공단점,호림동,대구,달서구,대구 달서구 호림동,대구 달서구 호림동 482-2,대구광역시,달서구,호림동,27290105
...,...,...,...,...,...,...,...,...,...,...
820306,GS25혁신산단점,상매동,대구,동구,대구 동구 상매동,대구 동구 상매동 505-10,대구광역시,동구,상매동,27140121
820307,GS25혁신산단점,상매동,대구,동구,대구 동구 상매동,대구 동구 상매동 505-10,대구광역시,동구,상매동,27140121
820308,GS25혁신산단점,상매동,대구,동구,대구 동구 상매동,대구 동구 상매동 505-10,대구광역시,동구,상매동,27140121
820309,GS25혁신산단점,상매동,대구,동구,대구 동구 상매동,대구 동구 상매동 505-10,대구광역시,동구,상매동,27140121
820310,GS25혁신산단점,상매동,대구,동구,대구 동구 상매동,대구 동구 상매동 505-10,대구광역시,동구,상매동,27140121

In [318]:
df_concat_.iloc[0]

매장명                           GS25G대구대림공단점
주소              대구 달서구 달서대로403 (호림동 482-2)
지번주소                   대구광역시 달서구 호림동 482-2
도로명주소              대구광역시 달서구 달서대로 403(호림동)
관할주민센터                       대구광역시 달서구 신당동
우편번호                               42714.0
법정동                              호림동 482-2
동                                      호림동
시도                                      대구
군구                                     달서구
시군구동                            대구 달서구 호림동
법정동 이름                          대구 달서구 호림동
base_ym                             202205
sido_cd                                 27
sido_nm                              대구광역시
sig_cd                               27290
sig_nm                                 달서구
emd_cd                            27290105
emd_nm                                 호림동
base_xycrd                   128.48635.841
ftc_cate2_cd                           B16
groth                                 10.0
groth_avg                             10.0
aces                                   7.0
aces_avg                               7.0
stbiz                                  6.0
stbiz_avg                              6.0
prftb                                    4
prftb_avg                                5
liqdt                                  5.0
liqdt_avg                              5.0
mkt_perd                               NaN
mkt_perd_avg                           NaN
Name: 0, dtype: object

In [337]:
df_concat_.columns

Index(['매장명', '주소', '지번주소', '도로명주소', '관할주민센터', '우편번호', '법정동', '동', '시도', '군구',
       '시군구동', '법정동 이름', '법정동주소', 'base_ym', 'sido_cd', 'sido_nm', 'sig_cd',
       'sig_nm', 'emd_cd', 'emd_nm', 'base_xycrd', 'ftc_cate2_cd', 'groth',
       'groth_avg', 'aces', 'aces_avg', 'stbiz', 'stbiz_avg', 'prftb',
       'prftb_avg', 'liqdt', 'liqdt_avg', 'mkt_perd', 'mkt_perd_avg'],
      dtype='object')

In [370]:
df_concat_.drop_duplicates(subset='매장명')

,매장명,동,시도,군구,법정동 이름,법정동주소,sido_nm,sig_nm,emd_nm,emd_cd
0,GS25G대구대림공단점,호림동,대구,달서구,대구 달서구 호림동,대구 달서구 호림동 482-2,대구광역시,달서구,호림동,27290105
344,GS25달서희성점,호림동,대구,달서구,대구 달서구 호림동,대구 달서구 호림동 19,대구광역시,달서구,호림동,27290105
688,GS25대구호림점,호림동,대구,달서구,대구 달서구 호림동,대구 달서구 호림동 14,대구광역시,달서구,호림동,27290105
1032,GS25호림공단점,호림동,대구,달서구,대구 달서구 호림동,대구 달서구 호림동 11-17,대구광역시,달서구,호림동,27290105
1376,GS25G황금캐슬점,지산동,대구,수성구,대구 수성구 지산동,대구 수성구 지산동 932,대구광역시,수성구,지산동,27260112
...,...,...,...,...,...,...,...,...,...,...
818505,GS25중구반월점,덕산동,대구,중구,대구 중구 덕산동,"대구 중구 덕산동 88, 메트로센타",대구광역시,중구,덕산동,27110112
818634,GS25파동센타점,파동,대구,수성구,대구 수성구 파동,대구 수성구 파동 196-8,대구광역시,수성구,파동,27260110
819451,GS25팔공서촌점,중대동,대구,동구,대구 동구 중대동,대구 동구 중대동 384,대구광역시,동구,중대동,27140142
819838,GS25포정점,포정동,대구,중구,대구 중구 포정동,대구 중구 포정동 9-5,대구광역시,중구,포정동,27110143
820053,GS25혁신산단점,상매동,대구,동구,대구 동구 상매동,대구 동구 상매동 505-10,대구광역시,동구,상매동,27140121

In [373]:
df_concat_[['emd_cd','법정동 이름','매장명','법정동주소']]

          emd_cd      법정동 이름           매장명             법정동주소
0       27290105  대구 달서구 호림동  GS25G대구대림공단점  대구 달서구 호림동 482-2
1       27290105  대구 달서구 호림동  GS25G대구대림공단점  대구 달서구 호림동 482-2
2       27290105  대구 달서구 호림동  GS25G대구대림공단점  대구 달서구 호림동 482-2
3       27290105  대구 달서구 호림동  GS25G대구대림공단점  대구 달서구 호림동 482-2
4       27290105  대구 달서구 호림동  GS25G대구대림공단점  대구 달서구 호림동 482-2
...          ...         ...           ...               ...
820306  27140121   대구 동구 상매동     GS25혁신산단점  대구 동구 상매동 505-10
820307  27140121   대구 동구 상매동     GS25혁신산단점  대구 동구 상매동 505-10
820308  27140121   대구 동구 상매동     GS25혁신산단점  대구 동구 상매동 505-10
820309  27140121   대구 동구 상매동     GS25혁신산단점  대구 동구 상매동 505-10
820310  27140121   대구 동구 상매동     GS25혁신산단점  대구 동구 상매동 505-10

[820311 rows x 4 columns]

In [372]:
df_concat_[['emd_cd','법정동 이름','매장명','법정동주소']].drop_duplicates(subset='매장명')

          emd_cd      법정동 이름           매장명                법정동주소
0       27290105  대구 달서구 호림동  GS25G대구대림공단점     대구 달서구 호림동 482-2
344     27290105  대구 달서구 호림동     GS25달서희성점        대구 달서구 호림동 19
688     27290105  대구 달서구 호림동     GS25대구호림점        대구 달서구 호림동 14
1032    27290105  대구 달서구 호림동     GS25호림공단점     대구 달서구 호림동 11-17
1376    27260112  대구 수성구 지산동    GS25G황금캐슬점       대구 수성구 지산동 932
...          ...         ...           ...                  ...
818505  27110112   대구 중구 덕산동     GS25중구반월점  대구 중구 덕산동 88, 메트로센타
818634  27260110   대구 수성구 파동     GS25파동센타점      대구 수성구 파동 196-8
819451  27140142   대구 동구 중대동     GS25팔공서촌점        대구 동구 중대동 384
819838  27110143   대구 중구 포정동       GS25포정점        대구 중구 포정동 9-5
820053  27140121   대구 동구 상매동     GS25혁신산단점     대구 동구 상매동 505-10

[454 rows x 4 columns]

### 병합2

In [346]:
df_gs = df_gs.drop(columns=['지번주소','우편번호','관할주민센터','법정동','시군구동','도로명주소','주소'])

In [374]:
df_gs # 15752 개

,매장명,동,시도,군구,법정동 이름,법정동주소
0,GS252테크노파크점,삼정동,경기,부천시,경기 부천시 삼정동,경기 부천시 삼정동 365
1,GS2538선휴게소점,잔교리,강원,양양군,강원 양양군 잔교리,"강원 양양군 잔교리 41-10, 38휴게소"
2,GS25CBS점,목1동,서울,양천구,서울 양천구 목1동,"서울 양천구 목1동 917-1, CBS방송국1층"
3,GS25CJ대전HUB점,문평동,대전,대덕구,대전 대덕구 문평동,대전 대덕구 문평동 140
4,GS25CJ덕양SUB점,사리현동,경기,고양시,경기 고양시 사리현동,"경기 고양시 사리현동 151-1, CJ대한통운"
...,...,...,...,...,...,...
15747,S2상왕십리역점,하왕십리동,서울,성동구,서울 성동구 하왕십리동,"서울 성동구 하왕십리동 946-14, 상왕십리역"
15748,S4동작역점,동작동,서울,동작구,서울 동작구 동작동,"서울 동작구 동작동 327-1, 4호선 동작역 Dongjak s.t"
15749,경희프라자점,회기동,서울,동대문구,서울 동대문구 회기동,"서울 동대문구 회기동 1-5, 전면플라자"
15750,나만의냉장고,역삼동,서울,강남구,서울 강남구 역삼동,서울 강남구 역삼동 679
15751,샛별이PPL점,죽당리,경기,이천시,경기 이천시 죽당리,경기 이천시 죽당리 98-11

In [376]:
df_gs.columns

Index(['매장명', '동', '시도', '군구', '법정동 이름', '법정동주소'], dtype='object')

In [377]:
df_kt.columns

Index(['법정동 이름', 'sido_nm', 'sig_nm', 'emd_nm', 'emd_cd'], dtype='object')

In [350]:
df_kt = df_kt[['법정동 이름','sido_nm','sig_nm','emd_nm','emd_cd']]

In [375]:
df_kt

                 법정동 이름  sido_nm   sig_nm emd_nm    emd_cd
0            대구 달서구 호림동    대구광역시      달서구    호림동  27290105
1            대구 강남구 세곡동    서울특별시      강남구    세곡동  11680111
2        대구 청주시 흥덕구 가경동     충청북도  청주시 흥덕구    가경동  43113113
3            대구 평택시 고덕면      경기도      평택시    고덕면  41220330
4         대구 용인시처인구 모현읍      경기도   용인시처인구    모현읍  41461253
...                 ...      ...      ...    ...       ...
4379674       대구 북구 화명동    부산광역시       북구    화명동  26320102
4379675     대구 부천시 소사본동      경기도      부천시   소사본동  41190110
4379676      대구 강서구 가양동    서울특별시      강서구    가양동  11500104
4379677        대구 동구 남동    광주광역시       동구     남동  29110112
4379678     대구 서귀포시 안덕면  제주특별자치도     서귀포시    안덕면  50130310

[4379679 rows x 5 columns]

### 데이터 프레임 값 비교

In [353]:
df_kt['법정동 이름'][0] == df_gs['법정동 이름'][0]

False

In [ ]:
[[gs for gs in df_gs['법정동 이름']] for kt in df_kt['법정동 이름']]

In [ ]:
for i in range(len(df_gs['법정동 이름'])):
    if (df_gs['법정동 이름'][i] == df_kt['법정동 이름'][j]):
        df_gs['법정동 코드'][i] = df_kt['emd_cd']

In [383]:
df_kt['법정동 이름'][4379677].__contains__('대구 동구 남동')

True

In [386]:
type(df_gs['법정동 이름'])

pandas.core.series.Series

In [384]:
list_ = []
for i in df_gs['법정동 이름'][:5]:
    for j in range(len(df_kt['법정동 이름'])):
        if df_kt['법정동 이름'][j].__contains__(i):
            list_.append(i)

list_

[]

In [360]:
list_ = []
for i in range(len(df_gs['법정동 이름'])):
    for j in range(len(df_indicator=법정동 이름'])):
        if (df_gs['법정동 이름'][i] == df_kt['법정동 이름'][j]):
            list_.append(df_kt['emd_cd'])
            
list_

KeyboardInterrupt:

In [362]:
list_

[0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104
 4379677    29110112
 4379678    50130310
 Name: emd_cd, Length: 4379679, dtype: object,
 0          27290105
 1          11680111
 2          43113113
 3          41220330
 4          41461253
              ...
 4379674    26320102
 4379675    41190110
 4379676    11500104

In [388]:
np.array_equal(df_gs['법정동 이름'], df_kt['법정동 이름'])

False

In [389]:
# 데이터 프레임 교집합
df = pd.merge(df_gs, df_kt, how='inner', indicator=True)

In [390]:
df

            법정동 이름 _merge
0       대구 달서구 호림동   both
1       대구 달서구 호림동   both
2       대구 달서구 호림동   both
3       대구 달서구 호림동   both
4       대구 달서구 호림동   both
...            ...    ...
820306   대구 동구 상매동   both
820307   대구 동구 상매동   both
820308   대구 동구 상매동   both
820309   대구 동구 상매동   both
820310   대구 동구 상매동   both

[820311 rows x 2 columns]

In [392]:
# gs 매장 법정동 개수 : 113개
gs_법정동 = df.drop_duplicates()
gs_법정동

              법정동 이름 _merge
0         대구 달서구 호림동   both
1376      대구 수성구 지산동   both
22016   대구 수성구 수성동1가   both
27950      대구 동구 각산동   both
33626     대구 달서구 장기동   both
...              ...    ...
818505     대구 중구 덕산동   both
818634     대구 수성구 파동   both
819451     대구 동구 중대동   both
819838     대구 중구 포정동   both
820053     대구 동구 상매동   both

[113 rows x 2 columns]

In [397]:
df_gs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15752 entries, 0 to 15751
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   매장명     15752 non-null  object
 1   동       15752 non-null  object
 2   시도      15752 non-null  object
 3   군구      15752 non-null  object
 4   법정동 이름  15752 non-null  object
 5   법정동주소   15752 non-null  object
dtypes: object(6)
memory usage: 738.5+ KB

In [398]:
df_kt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4379679 entries, 0 to 4379678
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   법정동 이름   object
 1   sido_nm  object
 2   sig_nm   object
 3   emd_nm   object
 4   emd_cd   object
dtypes: object(5)
memory usage: 167.1+ MB

In [399]:
df_gs_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4395431 entries, 0 to 4379678
Data columns (total 10 columns):
 #   Column   Dtype
---  ------   -----
 0   매장명      object
 1   동        object
 2   시도       object
 3   군구       object
 4   법정동 이름   object
 5   법정동주소    object
 6   sido_nm  object
 7   sig_nm   object
 8   emd_nm   object
 9   emd_cd   object
dtypes: object(10)
memory usage: 368.9+ MB

In [394]:
# 데이터 프레임 차집합
df_gs_ = df_gs.append(df_kt)
df_test = df_gs.drop_duplicates(subset=['매장명'], keep=False)
df_test

,매장명,동,시도,군구,법정동 이름,법정동주소
0,GS252테크노파크점,삼정동,경기,부천시,경기 부천시 삼정동,경기 부천시 삼정동 365
1,GS2538선휴게소점,잔교리,강원,양양군,강원 양양군 잔교리,"강원 양양군 잔교리 41-10, 38휴게소"
2,GS25CBS점,목1동,서울,양천구,서울 양천구 목1동,"서울 양천구 목1동 917-1, CBS방송국1층"
3,GS25CJ대전HUB점,문평동,대전,대덕구,대전 대덕구 문평동,대전 대덕구 문평동 140
4,GS25CJ덕양SUB점,사리현동,경기,고양시,경기 고양시 사리현동,"경기 고양시 사리현동 151-1, CJ대한통운"
...,...,...,...,...,...,...
15747,S2상왕십리역점,하왕십리동,서울,성동구,서울 성동구 하왕십리동,"서울 성동구 하왕십리동 946-14, 상왕십리역"
15748,S4동작역점,동작동,서울,동작구,서울 동작구 동작동,"서울 동작구 동작동 327-1, 4호선 동작역 Dongjak s.t"
15749,경희프라자점,회기동,서울,동대문구,서울 동대문구 회기동,"서울 동대문구 회기동 1-5, 전면플라자"
15750,나만의냉장고,역삼동,서울,강남구,서울 강남구 역삼동,서울 강남구 역삼동 679
15751,샛별이PPL점,죽당리,경기,이천시,경기 이천시 죽당리,경기 이천시 죽당리 98-11

In [115]:
# 리스트 비교
list(set(df_cu['법정동 이름']) - set(df_kt['법정동 이름']))

['제주특별자치도 제주시 이도2동',
 '인천광역시 남구 숭의동',
 '대구광역시 달서구 월성1동',
 '서울특별시 동작구 사당2동',
 '서울특별시 서대문구 충현동',
 '대구광역시 서구 비산4동',
 '인천광역시 서구 가정1동',
 '세종특별자치시 아름동 1703번지',
 '경상북도 김천시 자산동',
 '대구광역시 중구 대봉1동',
 '세종특별자치시 연기면 눌왕리',
 '서울특별시 강북구 인수동',
 '경기도 고양시 일산서구',
 '대구광역시 서구 내당4동',
 '경기도 김포시 김포1동',
 '부산광역시 동래구 복산동',
 '전라남도 순천시 덕연동',
 '부산광역시 중구 동광동',
 '광주광역시 남구 방림1동',
 '세종특별자치시 보람동 722번지',
 '대구광역시 달성군 유가면',
 '경상북도 구미시 양포동',
 '대구광역시 남구 대명10동',
 '경기도 양주시 양주2동',
 '경기도 화성시 동탄5동',
 '전라북도 전주시 덕진구',
 '충청남도 홍성군 홍북면',
 '세종특별자치시 새롬동 새롬중앙로',
 '광주광역시 동구 충장동',
 '부산광역시 연제구 거제1동',
 '세종특별자치시 조치원읍 신흥리',
 '대구광역시 수성구 범어3동',
 '인천광역시 남동구 장수서창동',
 '경기도 부천시 오정구',
 '강원도 태백시 황연동',
 '강원도 춘천시 효자3동',
 '부산광역시 남구 대연3동',
 '울산광역시 동구 대송동',
 '광주광역시 남구 송암동',
 '경기도 안산시 단원구',
 '서울특별시 영등포구 문래동',
 '서울특별시 중랑구 망우본동',
 '세종특별자치시 연서면 봉암리',
 '대전광역시 서구 관저1동',
 '세종특별자치시 아름동 1293번지',
 '강원도 춘천시 강남동',
 '인천광역시 남구 주안동',
 '경북 포항시 남구',
 '경기도 부천시 심곡1동',
 '경기도 의정부시 자금동',
 '부산광역시 부산진구 전포2동',
 '부산광역시 부산진구 부암1동',
 '부산광역시 동래구 온천1동',
 '경기도 고양시 덕양구',
 '울산광역시 북구 농소3동',
 '경기도 의정부시 송산2동',
 '광주광역시 남구 사직동',
 '광주광역시 동구 산수2동',
 '인천광역시 남구 주안2동',
 '광주광역시 남구 백운2동',
 '경상북도 경산시 압량면',
 '서울특별시 서초구 서초1동',
 '전라북도 전주시 효자3동',
 '부산광역시 사상구 주례2동',
 '인천광역시 미추홀구 학익1동',
 '충청남도 아산시 온양2동',
 '경상남도 창원시 의창구',
 '전라남도 목포시 연산백련로',
 '대전광역시 서구 갈마2동',
 '충청남도 천안시 동남구',
 '서울특별시 노원구 상계6동',
 '서울특별시 마포구 망원1동',
 '경상북도 김천시 대곡동',
 '경상남도 창원시 명곡동',
 '제주특별자치도 제주시 화북동',
 '울산광역시 중구 복산2동',
 '인천광역시 남구 숭의1,3동',
 '충청남도 아산시 온양6동',
 '세종특별자치시 어진동 581번지',
 '서울특별시 노원구 월계3동',
 '세종특별자치시 나성동 361-37번지',
 '부산광역시 금정구 구서1동',
 '충청북도 진천군 덕산면',
 '인천광역시 서구 가정3동',
 '경북 포항시 북구',
 '경기도 의정부시 가능3동',
 '대전광역시 동구 가양2동',
 '대구광역시 남구 봉덕1동',
 '세종특별자치시 어진동 656번지',
 '대구광역시 수성구 황금1동',
 '세종특별자치시 아름동 1329번지',
 '서울특별시 도봉구 창5동',
 '대전광역시 서구 도마2동',
 '서울특별시 노원구 월계1동',
 '서울특별시 양천구 목2동',
 '경기도 의정부시 호원1동',
 '부산광역시 수영구 망미1동',
 '경기도 의정부시 의정부1동',
 '울산광역시 남구 신정2동',
 '충청북도 충주시 목행.용탄동',
 '서울특별시 금천구 독산3동',
 '제주특별자치도 제주시 용담2동',
 '서울특별시 성북구 돈암1동',
 '세종특별자치시 조치원읍 죽림리',
 '대전광역시 서구 월평2동',
 '경기도 안양시 만안구',
 '세종특별자치시 어진동 686번지',
 '인천광역시 남구 주안1동',
 '대구광역시 달서구 이곡1동',
 '인천광역시 남구 문학동',
 '부산광역시 동래구 안락1동',
 '광주광역시 남구 봉선2동',
 '부산광역시 사상구 주례3동',
 '경상남도 양산시 중앙동',
 '서울특별시 성동구 왕십리2동',
 '서울특별시 강남구 역삼2동',
 '세종특별자치시 나성동 790번지',
 '대구광역시 수성구 범어2동',
 '경기도 수원시 권선구',
 '부산광역시 영도구 청학2동',
 '서울특별시 금천구 독산2동',
 '서울특별시 강북구 삼각산동',
 '세종특별자치시 아름동 산41번지',
 '울산광역시 울주군 청량면',
 '서울특별시 노원구 하계1동',
 '부산광역시 부산진구 개금1동',
 '부산광역시 사상구 모라1동',
 '세종특별자치시 소정면 33-2번지',
 '세종특별자치시 종촌동 686번지',
 '경기도 성남시 중원구',
 '대구광역시 달서구 송현2동',
 '경기도 구리시 동구동',
 '서울특별시 구로구 개봉3동',
 '서울특별시 성북구 동선동',
 '인천광역시 연수구 옥련1동',
 '전라북도 전주시 완산구',
 '경기도 수원시 장안구',
 '인천광역시 남구 용현동',
 '서울특별시 구로구 구로5동',
 '전라남도 순천시 왕조1동',
 '세종특별자치시 금남면 용포리',
 '경기도 시흥시 정왕1동',
 '대구광역시 달서구 상인3동',
 '부산광역시 중구 남포동',
 '경기도 고양시 흥도동',
 '인천광역시 남동구 논현1동',
 '서울특별시 관악구 청룡동',
 '서울특별시 송파구 가락본동',
 '경기도 의정부시 신곡2동',
 '서울특별시 중랑구 양원역로',
 '서울특별시 노원구 상계3.4동',
 '서울특별시 용산구 이태원2동',
 '강원도 강릉시 성덕동',
 '서울특별시 강서구 화곡8동',
 '부산광역시 남구 문현1동',
 '경기도 하남시 덕풍3동',
 '경기도 안산시 상록구',
 '세종특별자치시 연기면 390-6번지',
 '경기도 동두천시 불현동',
 '경상북도 영천시 중앙동',
 '서울특별시 양천구 목1동',
 '경기도 화성시 새솔동',
 '서울특별시 종로구 종로5.6가동',
 '경기도 구리시 교문1동',
 '부산광역시 해운대구 반송1동',
 '세종특별자치시 도담동 660번지',
 '울산광역시 중구 반구1동',
 '대전광역시 서구 둔산2동',
 '서울특별시 양천구 목3동',
 '부산광역시 연제구 거제4동',
 '서울특별시 노원구 상계2동',
 '서울특별시 서대문구 홍제2동',
 '세종특별자치시 새롬동 763번지',
 '경기도 양주시 양주1동',
 '울산광역시 남구 야음장생포동',
 '울산광역시 동구 남목2동',
 '부산광역시 동래구 명장2동',
 '경상북도 영주시 가흥1동',
 '세종특별자치시 소정면 소정리',
 '서울특별시 양천구 신정4동',
 '세종특별자치시 나성동 504번지',
 '인천광역시 연수구 송도3동',
 '경기도 의정부시 의정부3동',
 '대구광역시 중구 삼덕동',
 '경기도 화성시 동탄4동',
 '경상북도 상주시 동성동',
 '경기도 시흥시 연성동',
 '서울특별시 노원구 상계5동',
 '경상북도 포항시 남구',
 '경기도 구리시 수택3동',
 '대구광역시 수성구 범어1동',
 '경기도 평택시 송북동',
 '대구광역시 달서구 이곡2동',
 '제주특별자치도 제주시 삼양동',
 '대구광역시 남구 봉덕3동',
 '대전광역시 동구 가양1동',
 '세종특별자치시 종촌동 652번지',
 '충청북도 청주시 흥덕구',
 '서울특별시 은평구 신사2동',
 '인천광역시 부평구 청천2동',
 '대구광역시 수성구 범물2동',
 '세종특별자치시 종촌동 697번지',
 '서울특별시 성북구 길음1동',
 '인천광역시 서구 가좌3동',
 '세종특별자치시 고운동 1729번지',
 '경기도 여주시 여흥동',
 '경기도 시흥시 정왕본동',
 '충청북도 청주시 상당구',
 '서울특별시 도봉구 창4동',
 '부산광역시 서구 동대신3동',
 '경기도 남양주시 퇴계원면',
 '서울특별시 노원구 공릉1동',
 '경기도 여주시 능서면',
 '경상남도 김해시 장유3동',
 '부산광역시 해운대구 반여1동',
 '경기도 화성시 동탄8동',
 '제주특별자치도 서귀포시 대천동',
 '서울특별시 성동구 금호1가동',
 '경기도 의왕시 내손1동',
 '세종특별자치시 고운동 1706번지',
 '서울특별시 도봉구 방학2동',
 '세종특별자치시 연기면 연기리',
 '인천광역시 미추홀구 용현3동',
 '경기도 의왕시 내손2동',
 '강원도 강릉시 교2동',
 '경기도 성남시 수정구',
 '인천광역시 서구 가좌4동',
 '대구광역시 서구 평리3동',
 '대구광역시 남구 대명9동',
 '경기도 파주시 운정1동',
 '부산광역시 해운대구 중1동',
 '경기도 고양시 일산동구',
 '서울특별시 강북구 수유1동',
 '광주광역시 광산구 송정2동',
 '대구광역시 달서구 용산2동',
 '대구광역시 수성구 고산1동',
 '서울특별시 동작구 상도4동',
 '인천광역시 서구 검단5동',
 '서울특별시 도봉구 쌍문1동',
 '대구광역시 수성구 만촌3동',
 '제주특별자치도 제주시 일도2동',
 '부산광역시 강서구 명지국제3로',
 '세종특별자치시 나성동 713번지',
 '부산광역시 영도구 동삼1동',
 '강원도 홍천군 동면',
 '전라북도 익산시 영등1동',
 '울산광역시 남구 대현동',
 '세종특별자치시 연기면 해밀리',
 '경상북도 울릉군 현포리',
 '세종특별자치시 대평동 567-1번지',
 '울산광역시 남구 신정1동',
 '서울특별시 동대문구 답십리2동',
 '부산광역시 부산진구 범천2동',
 '경기도 화성시 동탄면',
 '서울특별시 은평구 불광2동',
 '대구광역시 수성구 수성1가동',
 '부산광역시 동래구 사직1동',
 '서울특별시 성북구 보문동',
 '경기도 동두천시 소요동',
 '강원도 춘천시 후평2동',
 '부산광역시 부산진구 개금3동',
 '대구광역시 달성군 옥포면',
 '경기도 시흥시 정왕4동',
 '강원도 강릉시 경포동',
 '충청북도 청주시 청원구',
 '대전광역시 유성구 온천2동',
 '서울특별시 강서구 화곡4동',
 '경기도 수원시 팔달구',
 '서울특별시 성북구 정릉2동',
 '경상남도 김해시 장유1동',
 '경기도 남양주시 가운동',
 '서울특별시 서대문구 남가좌1동',
 '서울특별시 노원구 하계2동',
 '서울특별시 강북구 번1동',
 '경기도 부천시 소사구',
 '부산광역시 수영구 광안2동',
 '세종특별자치시 장군면 금암리',
 '경상남도 김해시 내외동',
 '서울특별시 강북구 수유2동',
 '경상북도 안동시 중구동',
 '대구광역시 수성구 수성4가동',
 '대전광역시 중구 문화1동',
 '경상북도 상주시 계림동',
 '강원도 강릉시 포남2동',
 '울산광역시 울주군 삼남면',
 '서울특별시 서대문구 홍은2동',
 '경상북도 문경시 점촌3동',
 '부산광역시 부산진구 당감2동',
 '충청남도 아산시 온양3동',
 '서울특별시 강서구 화곡1동',
 '세종특별자치시 한솔동 947번지',
 '인천광역시 계양구 작전2동',
 '인천광역시 서구 석남2동',
 '부산광역시 북구 화명1동',
 '부산광역시 부산진구 전포1동',
 '경기도 파주시 운정3동',
 '경기도 의정부시 송산3동',
 '인천광역시 서구 가좌1동',
 '경상북도 구미시 신평1동',
 '경기도 양주시 회천1동',
 '대전광역시 서구 월평1동',
 '경상남도 창원시 가음정동',
 '부산광역시 금정구 장전1동',
 '경상북도 상주시 북문동',
 '인천광역시 서구 석남1동',
 '세종특별자치시 어진동 671번지',
 '경상북도 안동시 서구동',
 '서울특별시 노원구 월계2동',
 '서울특별시 노원구 공릉2동',
 '부산광역시 부산진구 부전1동',
 '경기도 화성시 동탄6동',
 '강원도 양구군 남면',
 '인천광역시 부평구 산곡2동',
 '경기도 안성시 안성2동',
 '경기도 용인시 기흥구',
 '경기도 하남시 미사2동',
 '부산광역시 연제구 연산1동',
 '경기도 광명시 하안2동',
 '광주광역시 북구 건국동',
 '대구광역시 북구 태전1동',
 '경기도 동두천시 생연1동',
 '인천광역시 서구 신현원창동',
 '대구광역시 수성구 고산2동',
 '서울특별시 노원구 상계1동',
 '인천광역시 서구 청라2동',
 '경상북도 안동시 강남동',
 '부산광역시 해운대구 우1동',
 '경기도 안양시 평촌동',
 '경기도 군포시 군포1동',
 '경기도 구리시 수택2동',
 '경기도 파주시 금촌1동',
 '경기 파주시 개성시',
 '인천광역시 남구 학익2동',
 '전라북도 전주시 효자4동',
 '강원도 강릉시 중앙동',
 '경기도 수원시 영통구',
 '세종특별자치시 소담동 37-8번지',
 '세종특별자치시 조치원읍 서창리',
 '서울특별시 양천구 신월4동',
 '세종특별자치시 연동면 응암리',
 '경기도 안성시 안성3동',
 '강원도 춘천시 신사우동',
 '인천광역시 서구 석남3동',
 '충청북도 청주시 서원구',
 '인천광역시 부평구 삼산2동',
 '부산광역시 연제구 연산3동',
 '경기도 의정부시 송산1동',
 '인천광역시 부평구 부평6동',
 '인천광역시 부평구 부평1동',
 '서울특별시 서대문구 홍은1동',
 '서울특별시 광진구 능동로209',
 '세종특별자치시 다정동 9-7번지',
 '세종특별자치시 장군면 도계리',
 '서울특별시 동작구 사당3동',
 '세종특별자치시 도담동 848번지',
 '강원도 춘천시 후평3동',
 '서울특별시 양천구 신월3동',
 '세종특별자치시 소담동 304번지',
 '경기도 용인시 처인구',
 '인천광역시 서구 검암경서동',
 '서울특별시 양천구 신정7동',
 '경기도 의정부시 가능1동',
 '대구광역시 달성군 현풍면',
 '인천광역시 부평구 십정2동',
 '경기도 양주시 회천4동',
 '서울특별시 구로구 개봉2동',
 '인천광역시 남동구 논현고잔동',
 '경상북도 안동시 송하동',
 '부산광역시 서구 서대신3동',
 '세종특별자치시 종촌동 640번지',
 '서울특별시 용산구 한강로동',
 '대구광역시 달서구 두류1.2동',
 '세종특별자치시 소담동 308번지',
 '세종특별자치시 한솔동 361-81번지',
 '경상북도 구미시 산동면',
 '세종특별자치시 한솔동 1045번지',
 '경상남도 창원시 성주동',
 '서울특별시 도봉구 창3동',
 '인천광역시 남구 관교동',
 '충청남도 당진시 당진3동',
 '서울특별시 마포구 성산2동',
 '경상북도 포항시 북구',
 '서울특별시 성동구 성수1가2동',
 '서울특별시 도봉구 창1동',
 '경상남도 사천시 동서동',
 '경상남도 양산시 서창동',
 '서울특별시 도봉구 쌍문4동',
 '서울특별시 마포구 대흥로',
 '세종특별자치시 나성동 730번지',
 '서울특별시 구로구 고척1동',
 '경상남도 거제시 상문동',
 '인천광역시 남구 학익동',
 '대구광역시 달서구 송현1동',
 '경기도 포천시 포천동',
 '경기도 중원구 여수동',
 '서울특별시 마포구 서강동',
 '대전광역시 동구 신인동',
 '울산광역시 남구 신정5동',
 '서울특별시 강남구 역삼1동',
 '부산광역시 동래구 온천2동',
 '대구광역시 수성구 황금2동',
 '세종특별자치시 조치원읍 신안리',
 '부산광역시 부산진구 양정1동',
 '부산광역시 사하구 다대1동',
 '부산광역시 부산진구 부전2동',
 '서울특별시 중랑구 면목3.8동',
 '경기도 광명시 광명5동',
 '부산광역시 동래구 사직2동',
 '서울특별시 서초구 반포3동',
 '경기도 안양시 동안구',
 '세종특별자치시 한솔동 974번지',
 '경상남도 창원시 성산구',
 '대전광역시 대덕구 회덕동',
 '서울특별시 서대문구 남가좌2동',
 '서울특별시 강서구 화곡2동',
 '경기도 하남시 신장2동',
 '전라북도 전주시 평화2동',
 '대구광역시 달서구 상인2동',
 '전라북도 전주시 중화산1동',
 '서울특별시 용산구 청파동',
 '경기도 양주시 회천2동',
 '인천광역시 남구 도화동',
 '경상남도 창원시 마산회원구',
 '세종특별자치시 어진동 178-331번지',
 '부산광역시 연제구 거제3동',
 '서울특별시 동대문구 답십리1동',
 '서울특별시 도봉구 도봉2동',
 '경상북도 김천시 대신동',
 '경기도 부천시 원미구',
 '광주광역시 북구 운암3동',
 '세종특별자치시 조치원읍 정리',
 '서울특별시 구로구 오류1동',
 '충청남도 아산시 온양1동',
 '대구광역시 달서구 용산1동',
 '인천광역시 남동구 간석3동',
 '세종특별자치시 전의면 읍내리',
 '서울특별시 양천구 신월5동',
 '세종특별자치시 고운동 산94번지',
 '강원도 강릉시 포남1동',
 '경기도 여주시 중앙동',
 '부산광역시 강서구 가덕도동',
 '부산광역시 기장군 일광면',
 '경상남도 창원시 마산합포구',
 '서울특별시 강북구 송중동',
 '경기도 오산시 세마동',
 '경기도 과천시 지식정보타운',
 '경상남도 김해시 장유2동',
 '대구광역시 수성구 수성2.3가동',
 '충청남도 아산시 온양4동',
 '대구광역시 남구 대명11동',
 '인천광역시 남동구 간석4동',
 '대전광역시 서구 관저2동',
 '강원도 강릉시 강남동',
 '경상남도 거제시 옥포2동',
 '경상남도 창원시 진해구',
 '서울특별시 관악구 은천동',
 '경상북도 고령군 고령읍',
 '부산광역시 중구 중앙동',
 '인천광역시 부평구 부평4동',
 '세종특별자치시 대평동 147-1번지',
 '대전광역시 동구 산내동',
 '서울특별시 도봉구 창2동',
 '경기도 파주시 운정2동',
 '세종특별자치시 조치원읍 침산리',
 '서울특별시 강북구 수유3동',
 '울산광역시 북구 농소2동',
 '부산광역시 동래구 안락2동',
 '서울특별시 노원구 상계8동',
 '세종특별자치시 조치원읍 원리',
 '대전광역시 중구 은행선화동',
 '세종특별자치시 고운동 1403번지',
 '경기도 의정부시 의정부2동',
 '부산광역시 수영구 광안1동',
 '대구광역시 달서구 상인1동',
 '울산광역시 남구 수암동',
 '인천광역시 남구 주안6동',
 '세종특별자치시 부강면 부강리',
 '서울특별시 종로구 종로1.2.3.4가동',
 '부산광역시 중구 부평동',
 '세종특별자치시 전의면 동교리',
 '대구광역시 남구 봉덕2동',
 '서울특별시 동작구 상도3동',
 '인천광역시 남동구 구월1동',
 '세종특별자치시 조치원읍 평리',
 '경상남도 진주시 성북동',
 '부산광역시 서구 동대신2동',
 '충청남도 천안시 서북구',
 '세종특별자치시 장군면 봉안리',
 '경기도 평택시 청북면',
 '부산광역시 중구 보수동',
 '세종특별자치시 도담동 845번지',
 '경상북도 영천시 동부동',
 '경상북도 구미시 원평1동',
 '서울특별시 노원구 중계2.3동',
 '강원도 동해시 북삼동',
 '부산광역시 해운대구 반여4동',
 '경기도 부천시 역곡1동',
 '전라남도 화순군 북면',
 '인천광역시 남구 숭의2동',
 '경기도 용인시 수지구',
 '경기도 성남시 분당구',
 '경기도 구리시 수택1동',
 '경기도 시흥시 정왕3동',
 '세종특별자치시 소정면 운당리',
 '인천광역시 서구 검단1동',
 '경기도 파주시 법흥리',
 '부산광역시 사하구 하단1동',
 '인천광역시 남동구 만수5동',
 '서울특별시 중랑구 중화1동',
 '서울특별시 구로구 고척2동',
 '서울특별시 성북구 안암동',
 '강원도 강릉시 교1동',
 '서울특별시 양천구 신정3동',
 '경기도 시흥시 정왕2동',
 '서울특별시 은평구 신사1동',
 '충청남도 서산시 동문2동',
 '경기도 의정부시 신곡1동',
 '서울특별시 영등포구 여의동',
 '대구광역시 서구 상중이동',
 '세종특별자치시 종촌동 672-1번지',
 '경기도 평택시 비전1동',
 '경상남도 양산시 양주동',
 '부산광역시 연제구 연산8동',
 '인천광역시 남동구 구월4동',
 '부산광역시 부산진구 양정2동',
 '대구광역시 수성구 고산3동',
 '세종특별자치시 보람동 626-2번지',
 '전라남도 여수시 만덕동',
 '제주특별자치도 제주시 아라동',
 '세종특별자치시 연서면 월하리',
 '부산광역시 중구 영주1동',
 '부산광역시 부산진구 가야2동',
 '경상북도 영주시 가흥2동',
 '경기도 화성시 동탄7동',
 '부산광역시 사하구 괴정1동']

In [117]:
# 리스트 교집합 가능
list(df_cu['법정동 이름']) & list(df_kt['법정동 이름'])

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [ ]:
# 리스트 중복제거
a = set(a) # set은 중복허용 안됨
a = list(a)

In [207]:
df_kt_['법정동 이름'].value_counts() >= 2

대구광역시 달서구 호림동      False
부산광역시 중구 창선동2가     False
대전광역시 동구 효평동       False
경상북도 안동시 송천동       False
경기도 여주시 상동         False
                   ...
부산광역시 기장군 기장읍      False
전라남도 해남군 현산면       False
경상북도 상주시 화남면       False
전라남도 화순군 능주면       False
서울특별시 용산구 용산동1가    False
Name: 법정동 이름, Length: 5028, dtype: bool