In [1]:
import numpy as np
import pandas as pd

# 숫자처리
pd.options.display.float_format = '{:.5f}'.format

### 데이터 열기

In [11]:
df_gs = pd.read_excel('./GS편의점_주소_및_매장명(원본).xlsx')
df_gs

                매장명                                               매장주소
0       GS252테크노파크점             경기 부천시 오정구 석천로345,  300동 114호(삼정동 365)
1       GS2538선휴게소점     강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)
2          GS25CBS점             서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)
3      GS25CJ대전HUB점                  대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)
4      GS25CJ덕양SUB점            경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)
...             ...                                                ...
15747      S2상왕십리역점  서울 성동구 왕십리로지하 374, 207-02호  (하왕십리동 946-14, 상왕십리역)
15748        S4동작역점  서울 동작구 현충로257, 431-02호  (동작동 327-1, 4호선 동작역 Do...
15749        경희프라자점       서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)
15750        나만의냉장고                            서울 강남구 논현로508 (역삼동 679)
15751       샛별이PPL점          경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)

[15752 rows x 2 columns]

In [12]:
# 파일로 저장
df_gs.to_csv('./GS편의점_주소_및_매장명(원본)_.csv', index=False, encoding='utf-8')
df_gs

                매장명                                               매장주소
0       GS252테크노파크점             경기 부천시 오정구 석천로345,  300동 114호(삼정동 365)
1       GS2538선휴게소점     강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)
2          GS25CBS점             서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)
3      GS25CJ대전HUB점                  대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)
4      GS25CJ덕양SUB점            경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)
...             ...                                                ...
15747      S2상왕십리역점  서울 성동구 왕십리로지하 374, 207-02호  (하왕십리동 946-14, 상왕십리역)
15748        S4동작역점  서울 동작구 현충로257, 431-02호  (동작동 327-1, 4호선 동작역 Do...
15749        경희프라자점       서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)
15750        나만의냉장고                            서울 강남구 논현로508 (역삼동 679)
15751       샛별이PPL점          경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)

[15752 rows x 2 columns]

In [3]:
df_kt= pd.read_csv('./data/dp_frc_basexy_ftc_m_sum_202205.csv',sep='|')
df_kt

C:\Users\USER\AppData\Local\Temp\ipykernel_13484\3783235875.py:1: DtypeWarning: Columns (1,3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_kt= pd.read_csv('./data/dp_frc_basexy_ftc_m_sum_202205.csv',sep='|')

,base_ym,sido_cd,sido_nm,sig_cd,sig_nm,emd_cd,emd_nm,base_xycrd,ftc_cate2_cd,groth,...,aces,aces_avg,stbiz,stbiz_avg,prftb,prftb_avg,liqdt,liqdt_avg,mkt_perd,mkt_perd_avg
0,202205,27,대구광역시,27290,달서구,27290105,호림동,128.48635.841,B16,10.00000,...,7.00000,7.00000,6.00000,6.00000,4,5,5.00000,5.00000,NaN,NaN
1,202205,11,서울특별시,11680,강남구,11680111,세곡동,127.09237.468,A11,4.00000,...,4.00000,4.00000,6.00000,6.00000,8,6,4.00000,3.00000,NaN,NaN
2,202205,43,충청북도,43113,청주시 흥덕구,43113113,가경동,127.43236.626,A13,7.00000,...,2.00000,3.00000,9.00000,6.00000,10,5,2.00000,2.00000,8.50000,60.50000
3,202205,41,경기도,41220,평택시,41220330,고덕면,127.04837.007,C07,5.00000,...,8.00000,5.00000,7.00000,6.00000,5,5,6.00000,5.00000,NaN,NaN
4,202205,41,경기도,41461,용인시처인구,41461253,모현읍,127.16937.344,C07,7.00000,...,5.00000,5.00000,5.00000,5.00000,6,5,5.00000,5.00000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4379674,202205,26,부산광역시,26320,북구,26320102,화명동,129.02435.241,B04,9.00000,...,7.00000,2.00000,3.00000,5.00000,5,5,6.00000,2.00000,12.60000,190.10000
4379675,202205,41,경기도,41190,부천시,41190110,소사본동,126.78937.479,A05,3.00000,...,3.00000,2.00000,6.00000,6.00000,4,6,2.00000,2.00000,5.00000,6.60000
4379676,202205,11,서울특별시,11500,강서구,11500104,가양동,126.86237.562,C03,9.00000,...,5.00000,2.00000,7.00000,7.00000,5,5,4.00000,2.00000,NaN,NaN
4379677,202205,29,광주광역시,29110,동구,29110112,남동,126.91935.144,B20,10.00000,...,7.00000,7.00000,3.00000,2.00000,7,6,5.00000,5.00000,NaN,NaN
4379678,202205,50,제주특별자치도,50130,서귀포시,50130310,안덕면,126.32333.303,B03,4.00000,...,8.00000,7.00000,3.00000,4.00000,2,5,6.00000,5.00000,2050.80000,176.90000

In [8]:
df_kt[['sido_nm','sig_nm','emd_nm','emd_cd']]

         sido_nm   sig_nm emd_nm    emd_cd
0          대구광역시      달서구    호림동  27290105
1          서울특별시      강남구    세곡동  11680111
2           충청북도  청주시 흥덕구    가경동  43113113
3            경기도      평택시    고덕면  41220330
4            경기도   용인시처인구    모현읍  41461253
...          ...      ...    ...       ...
4379674    부산광역시       북구    화명동  26320102
4379675      경기도      부천시   소사본동  41190110
4379676    서울특별시      강서구    가양동  11500104
4379677    광주광역시       동구     남동  29110112
4379678  제주특별자치도     서귀포시    안덕면  50130310

[4379679 rows x 4 columns]

In [9]:
df_kt['sido_nm'] + ' ' + df_kt['sig_nm'] + ' ' + df_kt['emd_nm']

0             대구광역시 달서구 호림동
1             서울특별시 강남구 세곡동
2          충청북도 청주시 흥덕구 가경동
3               경기도 평택시 고덕면
4            경기도 용인시처인구 모현읍
                 ...
4379674        부산광역시 북구 화명동
4379675        경기도 부천시 소사본동
4379676       서울특별시 강서구 가양동
4379677         광주광역시 동구 남동
4379678    제주특별자치도 서귀포시 안덕면
Length: 4379679, dtype: object

In [14]:
df_2 = pd.read_excel('./복사본 법정동별_편의점수(56).xlsx')
df_2

           법정동코드            법정동 이름  편의점 수
0     1111010100     서울특별시 종로구 청운동      2
1     1111010200     서울특별시 종로구 신교동      1
2     1111010300     서울특별시 종로구 궁정동      0
3     1111010400     서울특별시 종로구 효자동      1
4     1111010500     서울특별시 종로구 창성동      1
...          ...               ...    ...
9662  5013011900  제주특별자치도 서귀포시 색달동      0
9663  5013025000  제주특별자치도 서귀포시 대정읍      1
9664  5013025900  제주특별자치도 서귀포시 성산읍      0
9665  5013031000  제주특별자치도 서귀포시 안덕면      0
9666  5013032000  제주특별자치도 서귀포시 표선면      0

[9667 rows x 3 columns]

### 전체 데이터 파악

In [16]:
df_gs

                매장명                                               매장주소
0       GS252테크노파크점             경기 부천시 오정구 석천로345,  300동 114호(삼정동 365)
1       GS2538선휴게소점     강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)
2          GS25CBS점             서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)
3      GS25CJ대전HUB점                  대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)
4      GS25CJ덕양SUB점            경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)
...             ...                                                ...
15747      S2상왕십리역점  서울 성동구 왕십리로지하 374, 207-02호  (하왕십리동 946-14, 상왕십리역)
15748        S4동작역점  서울 동작구 현충로257, 431-02호  (동작동 327-1, 4호선 동작역 Do...
15749        경희프라자점       서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)
15750        나만의냉장고                            서울 강남구 논현로508 (역삼동 679)
15751       샛별이PPL점          경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)

[15752 rows x 2 columns]

In [69]:
# 전체 그룹 개수 확인
df.groupby(['시도']).value_counts()

시도  매장명          매장주소                                            군구   동
강원  GS2538선휴게소점  강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)  양양군  현북면    1
    GS25화천만능점    강원 화천군 상서면 신월동로8 (봉오리 492-13)                   화천군  상서면    1
    GS25화천본점     강원 화천군 화천읍 화천새싹길5(아리 245-7)                     화천군  화천읍    1
    GS25화천사내점    강원 화천군 사내면 수피령로25 (사창리 396-4)                   화천군  사내면    1
    GS25화천상서점    강원 화천군 상서면 영서로7752-1 (산양리 512-41)               화천군  상서면    1
                                                                            ..
충북  GS25가경자이점    충북 청주시 흥덕구 서현로32, 1층 106호 (가경동 644-5)           청주시  흥덕구    1
    GS25가경파크점    충북 청주시 흥덕구 풍산로25번길28(가경동 1388)                  청주시  흥덕구    1
    GS25가경프라임점   충북 청주시 흥덕구 강서로119(강서동 479)                      청주시  흥덕구    1
    GS25가경하나점    충북 청주시 흥덕구 경산로4 (가경동 1461-1)                    청주시  흥덕구    1
    GS25흥덕진양점    충북 청주시 흥덕구 사운로259, 1층 근린상가 (운천동 677-1)          청주시  흥덕구    1
Length: 15736, dtype: int64

In [8]:
# 조건 검색
df.groupby('매장명').get_group('GS25CBS점')

   Unnamed: 0       매장명                                    매장주소
2           2  GS25CBS점  서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)

In [9]:
# 그룹별 개수
df.groupby('매장명').size()

매장명
GS252테크노파크점     1
GS2538선휴게소점     1
GS25CBS점        1
GS25CJ대전HUB점    1
GS25CJ덕양SUB점    1
               ..
S2상왕십리역점        1
S4동작역점          1
경희프라자점          1
나만의냉장고          1
샛별이PPL점         1
Length: 15733, dtype: int64

In [10]:
# 특정 그룹 개수
df.groupby('매장명').size()['GS252테크노파크점']

1

### 상세주소 쪼개기

In [43]:
df['시도'] = df['매장주소'].str.split(' ').str[0]
df

                매장명                                               매장주소  시도
0       GS252테크노파크점             경기 부천시 오정구 석천로345,  300동 114호(삼정동 365)  경기
1       GS2538선휴게소점     강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)  강원
2          GS25CBS점             서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)  서울
3      GS25CJ대전HUB점                  대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)  대전
4      GS25CJ덕양SUB점            경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)  경기
...             ...                                                ...  ..
15747      S2상왕십리역점  서울 성동구 왕십리로지하 374, 207-02호  (하왕십리동 946-14, 상왕십리역)  서울
15748        S4동작역점  서울 동작구 현충로257, 431-02호  (동작동 327-1, 4호선 동작역 Do...  서울
15749        경희프라자점       서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)  서울
15750        나만의냉장고                            서울 강남구 논현로508 (역삼동 679)  서울
15751       샛별이PPL점          경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)  경기

[15752 rows x 3 columns]

In [44]:
df['군구'] = df['매장주소'].str.split(' ').str[1]
df['동'] = df['매장주소'].str.split(' ').str[2]
df

,매장명,매장주소,시도,군구,동
0,GS252테크노파크점,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)",경기,부천시,오정구
1,GS2538선휴게소점,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)",강원,양양군,현북면
2,GS25CBS점,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)",서울,양천구,목동서로159-1
3,GS25CJ대전HUB점,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)",대전,대덕구,"대덕대로1447번길39,"
4,GS25CJ덕양SUB점,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",경기,고양시,일산동구
...,...,...,...,...,...
15747,S2상왕십리역점,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",서울,성동구,왕십리로지하
15748,S4동작역점,"서울 동작구 현충로257, 431-02호 (동작동 327-1, 4호선 동작역 Do...",서울,동작구,"현충로257,"
15749,경희프라자점,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)",서울,동대문구,"경희대로23,"
15750,나만의냉장고,서울 강남구 논현로508 (역삼동 679),서울,강남구,논현로508
15751,샛별이PPL점,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)",경기,이천시,부발읍

In [60]:
df2_sido = df_2['법정동 이름'].str.split('').str[1] + df_2['법정동 이름'].str.split('').str[2]
df2_sido

0       서울
1       서울
2       서울
3       서울
4       서울
        ..
9662    제주
9663    제주
9664    제주
9665    제주
9666    제주
Name: 법정동 이름, Length: 9667, dtype: object

In [61]:
df_sido = df['매장주소'].str.split(' ').str[0]

### 데이터 매칭

In [ ]:
# 문제점
# 현북면 에 편의점 수가 0개인데, 해당 주소지에는 gs편의점이 조회됨 -> 어느 데이터를 따를 것인가 -> 있는거 추가하는 걸로?
# 기존 데이터는 지번인데, 편의점 사이트에서 제공한 주소는 도로명주소임 -> 네이버 지도에서 주소 검색해서 지번을 가져올 수 있지만 오래걸림 -> ?

In [62]:
# 시도 매칭
if df2_sido[0] == df_sido[2]:
    print('a')

a

### 그룹바이

In [ ]:
# 한 건물에 cu, gs 같이 있는 경우, 여러 편의점이 있는 경우가 있음 -> 일단 주소별로 묶기 -> 지역별로 나누기?

In [65]:
# 시도 군구별 개수는 가능 -> 동별은 어찌함?
df['시도'].value_counts()

경기       4302
서울       3072
경남        999
부산        880
인천        862
경북        760
충남        740
강원        638
대구        598
충북        500
전북        439
대전        435
전남        403
제주        371
광주        328
울산        324
세종         97
부산광역시       2
제주특별자       2
Name: 시도, dtype: int64

In [64]:
df['군구'].value_counts()

서구             424
북구             343
중구             337
수원시            331
화성시            327
              ...
달빛로80,           1
남세종로357,         1
새롬중앙로62-15,      1
갈매로480           1
다솜로290,          1
Name: 군구, Length: 278, dtype: int64