In [1]:
import time
from tqdm import tqdm

import requests
import urllib
from urllib.request import urlopen
from html_table_parser import parser_functions

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.support.select import Select

DF명, XPath 수정 후 사용

In [129]:
# 법정동명, 법정동 코드 가져오기
def get_text():
    bcode.append(driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li').get_attribute('data-bcode'))
    corp_nm.append(df_open['점포명'][i])
    sido    = driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li').get_attribute('data-sido')    # 시도
    sigungu = driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li').get_attribute('data-sigungu') # 군구
    bname   = driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li').get_attribute('data-bname2')  # 법정동
    lgdng_nm_list.append(sido + ' ' + sigungu + ' ' + bname)
    lgdng_full_nm_list.append(driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li/dl/dd[1]/span/button/span[1]').text)

In [130]:
# 주소 검색
def search():
    miss_index = []
    for i in tqdm(df_open.index):
        searchByName = driver.find_element_by_xpath('//*[@id="region_name"]')                        # 검색창 선택
        searchByName.clear()                                                                         # 기존 입력 삭제
        
        time.sleep(1)
        
        searchByName.send_keys(df_open['주소전체'][i])                                               # 검색어 입력
        click = driver.find_element_by_xpath('//*[@id="searchForm"]/fieldset/div/button[2]').click() # 검색 버튼 클릭
        
        time.sleep(1)
        
        try:
            get_text()                                                                                # 주소 가져오기
        except:
            miss_index.append(i)
            pass

In [ ]:
# 기본 틀
driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://postcode.map.daum.net/search?origin=https%3A%2F%2Fdev.cremao.co.kr&indaum=off&banner=on&ubl=on&mode=transmit&vt=layer&amr=on&amj=on&ani=off&sd=off&fi=on&fc=on&plrg=&plrgt=1.5&hmb=off&heb=off&asea=off&smh=off&zo=on&us=on&msi=10&ahs=off&whas=500&sm=on&a51=off&theme=BODY.bg_FFFFFF-SEARCH.bg_FFFFFF.placeHolder_bbbbbb.bottomLine_858585-LOGO.text_888888.logoTextDividingLine_cccccc&bit=0&sit=0&sgit=0&sbit=0&pit=0&mit=0&lcit=0&zn=Y&fullpath=%2Fmain')

# 주소 수집
bcode = []              # 법정동 코드
corp_nm = []            # 매장명
lgdng_nm_list = []      # 법정동 명
lgdng_full_nm_list = [] # 법정동 전체 주소
search()

driver.close()

# 저장
df = pd.DataFrame({'corp_nm':corp_nm, 'lgdng_nm_list':lgdng_nm_list,'lgdng_full_nm_list':lgdng_full_nm_list})
df.to_excel('./법정동주소.xlsx', index=False)

 20%|████████████████▏                                                                | 86/429 [03:08<12:30,  2.19s/it]

###### 제대로 안 담겼을 때
* 각각 나눠서 파악

In [102]:
corp_nm = pd.DataFrame({'corp_nm':corp_nm})
lgdng_nm = pd.DataFrame({'lgdng_nm_list':lgdng_nm_list, 'lgdng_full_nm_list':lgdng_full_nm_list})

ValueError: If using all scalar values, you must pass an index

In [103]:
corp_nm

     corp_nm
0    오산원동대림점
1     병점스테이점
2     정남만년로점
3    화성남양양우점
4      안양미도점
..       ...
424  부안하이스트점
425  제주외도부영점
426  서귀포신천리점
427  서귀포신산리점
428  제주시민회관점

[429 rows x 1 columns]

In [101]:
lgdng_nm.to_excel('./test.xlsx', index= False)

###### test

In [104]:
driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://postcode.map.daum.net/search?origin=https%3A%2F%2Fdev.cremao.co.kr&indaum=off&banner=on&ubl=on&mode=transmit&vt=layer&amr=on&amj=on&ani=off&sd=off&fi=on&fc=on&plrg=&plrgt=1.5&hmb=off&heb=off&asea=off&smh=off&zo=on&us=on&msi=10&ahs=off&whas=500&sm=on&a51=off&theme=BODY.bg_FFFFFF-SEARCH.bg_FFFFFF.placeHolder_bbbbbb.bottomLine_858585-LOGO.text_888888.logoTextDividingLine_cccccc&bit=0&sit=0&sgit=0&sbit=0&pit=0&mit=0&lcit=0&zn=Y&fullpath=%2Fmain')

### ?

In [15]:
DF = pd.read_excel('./test.xlsx')
DF

        lgdng_nm_list           lgdng_full_nm_list
0          경기도 오산시 원동               경기도 오산시 원동 900
1         경기도 화성시 병점동            경기도 화성시 병점동 374-5
2         경기도 화성시 정남면       경기도 화성시 정남면 괘랑리 305-11
3         경기도 화성시 남양읍       경기도 화성시 남양읍 남양리 2294-9
4         경기도 안양시 만안구        경기도 안양시 만안구 안양동 371-6
..                ...                          ...
420      전라북도 부안군 부안읍       전라북도 부안군 부안읍 서외리 446-3
421  제주특별자치도 제주시 외도일동      제주특별자치도 제주시 외도일동 550-10
422  제주특별자치도 서귀포시 성산읍  제주특별자치도 서귀포시 성산읍 신천리 220-10
423  제주특별자치도 서귀포시 성산읍   제주특별자치도 서귀포시 성산읍 신산리 607-2
424  제주특별자치도 제주시 이도일동      제주특별자치도 제주시 이도일동 1527-3

[425 rows x 2 columns]

In [16]:
DF.loc[df[df['법정동코드'].isnull()].index]

     lgdng_nm_list                        lgdng_full_nm_list
7   서울특별시 관악구 서림3길                  서울특별시 관악구 서림3길 18 (그린원룸)
22    인천광역시 서구 가정로  인천광역시 서구 가정로 437 (루원시티 SK Leaders' VIEW)
58    강원도 삼척시 동해대로           강원도 삼척시 동해대로 4360 (일성 트루엘 시그니처)
94    대구광역시 북구 동북로                 대구광역시 북구 동북로 241 (복현아이파크)

In [ ]:
df_kt = pd.read_csv('./data/dp_frc_bldg_ftc_pred_slng_m_sum_202205.csv',sep='|')

In [7]:
df_code = pd.read_csv('./data/법정동코드.csv')
df_code = df_code.rename(columns={'법정동명':'lgdng_nm_list'})
df = pd.merge(DF, df_code, on='lgdng_nm_list', how='left')
df[df['법정동코드'].isnull()].index

In [14]:
df_kt[df_kt['rn'].str.contains('가정로', na=False)]

,base_ym,bd_mgt_sn,sido_cd,sido_nm,sig_cd,sig_nm,emd_cd,emd_nm,rn_cd,rn,buld_mnnm,buld_slno,ftc_cate2_cd,pred_slng_amt
5073,202205,1123010400100460037026343,11,서울특별시,11230,동대문구,11230104,전농동,4115169,사가정로13길,18,3,A13,11679975.18
5074,202205,1123010400100460037026343,11,서울특별시,11230,동대문구,11230104,전농동,4115169,사가정로13길,18,3,B11,6769732.33
5075,202205,1123010400100460037026343,11,서울특별시,11230,동대문구,11230104,전농동,4115169,사가정로13길,18,3,B15,7372936.21
5076,202205,1123010400100460037026343,11,서울특별시,11230,동대문구,11230104,전농동,4115169,사가정로13길,18,3,A05,32596009.87
5077,202205,1123010400100460037026343,11,서울특별시,11230,동대문구,11230104,전농동,4115169,사가정로13길,18,3,C03,10265521.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58768379,202205,2826010900102880003005043,28,인천광역시,28260,서구,28260109,신현동,4268043,가정로351번길,17,0,C04,3190585.72
58768380,202205,2826010900102880003005043,28,인천광역시,28260,서구,28260109,신현동,4268043,가정로351번길,17,0,B10,100만원 미만
58768381,202205,2826010900102880003005043,28,인천광역시,28260,서구,28260109,신현동,4268043,가정로351번길,17,0,B04,1737368.24
58768382,202205,2826010900102880003005043,28,인천광역시,28260,서구,28260109,신현동,4268043,가정로351번길,17,0,B13,100만원 미만
58768383,202205,2826010900102880003005043,28,인천광역시,28260,서구,28260109,신현동,4268043,가정로351번길,17,0,B12,4274578.21

In [10]:
df_kt['lgdng_nm_list'] = df_kt['sido_nm'] + ' ' + df_kt['sig_nm'] + ' ' + df_kt['lgdng_nm_list']

,base_ym,bd_mgt_sn,sido_cd,sido_nm,sig_cd,sig_nm,emd_cd,emd_nm,rn_cd,rn,buld_mnnm,buld_slno,ftc_cate2_cd,pred_slng_amt
0,202205,1156010300100940250033726,11,서울특별시,11560,영등포구,11560103,영등포동2가,4154412,버드나루로12나길,28,0,C01,4587401.19
1,202205,1156010300100940250033726,11,서울특별시,11560,영등포구,11560103,영등포동2가,4154412,버드나루로12나길,28,0,A04,32468842.46
2,202205,1156010300100940250033726,11,서울특별시,11560,영등포구,11560103,영등포동2가,4154412,버드나루로12나길,28,0,A10,34027600.28
3,202205,1156010300100940250033726,11,서울특별시,11560,영등포구,11560103,영등포동2가,4154412,버드나루로12나길,28,0,A11,43316766.15
4,202205,1156010300100940250033726,11,서울특별시,11560,영등포구,11560103,영등포동2가,4154412,버드나루로12나길,28,0,B10,5470478.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58776136,202205,4812725028100390000060848,48,경상남도,48127,창원시 마산회원구,48127250,내서읍,4790115,삼계2길,24,0,B08,100만원 미만
58776137,202205,4812725028100390000060848,48,경상남도,48127,창원시 마산회원구,48127250,내서읍,4790115,삼계2길,24,0,B12,10266674.83
58776138,202205,4812725028100390000060848,48,경상남도,48127,창원시 마산회원구,48127250,내서읍,4790115,삼계2길,24,0,A15,10473593.25
58776139,202205,4812725028100390000060848,48,경상남도,48127,창원시 마산회원구,48127250,내서읍,4790115,삼계2길,24,0,A14,15105307.10
58776140,202205,4812725028100390000060848,48,경상남도,48127,창원시 마산회원구,48127250,내서읍,4790115,삼계2길,24,0,A04,9006663.15