In [2]:
import datetime
import psycopg2
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("./집합.csv" , low_memory=False)

df['base_ym'] = datetime.datetime.now().strftime("%Y%m")

In [4]:
df.head(2)

,commercial_wide_area,cname,sido,plat_area,arch_area,tot_area,bc_rat,vl_rat,building_structure,main_purps_nm,...,selling_monthly_rent_sum_3rd,selling_monthly_rent_3rd,admin_cost_3rd,admin_actual_cost_3rd,vacant_3,current_contract_date,current_contract_term,first_current_contract_date,invest_calculation_amt,base_ym
0,NaN,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,판매시설,...,1십만원 초과 5십만원 이하,3000,1십만원 이하,1십만원 초과 5십만원 이하,0,2018,13~24개월,2016년 1월 이후,480000,202212
1,NaN,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,판매시설,...,1백만원 초과 5백만원 이하,16200,1십만원 이하,1십만원 이하,1,0,0,0,2510000,202212

In [5]:
# df = df.drop(['Unnamed: 0'], axis = 1)

In [6]:
# 컬럼 순서 바꾸기
col_list = df.columns.tolist()
new_col_list = col_list[-1:] + col_list[:-1]
df = df[new_col_list]

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
# 특수문자 처리
df = df.replace("%","", regex=True)
df = df.replace(" ","", regex=True)

# null
df = df.replace({np.nan: None})

In [9]:
df.tail(2)

,base_ym,commercial_wide_area,cname,sido,plat_area,arch_area,tot_area,bc_rat,vl_rat,building_structure,main_purps_nm,ground_floor,under_ground_floor,useapr_day,elevator_gb,parking_area,land_use,subway_distance,bus_distance,main_crossroad,conversion_rate,traditional_market_gb,typical_floor,invest_floor,tenant_usage_status,business_type_large,business_type_small,net_leasable_area,common_area,sum_area,owner_ho,owner_type,contract_deposit_1st,contract_monthly_rent_sum_1st,contract_monthly_rent_1st,selling_deposit_1st,selling_monthly_rent_sum_1st,selling_monthly_rent_1st,admin_cost_1st,admin_actual_cost_1st,vacant_1,contract_deposit_2nd,contract_monthly_rent_sum_2nd,contract_monthly_rent_2nd,selling_deposit_2nd,selling_monthly_rent_sum_2nd,selling_monthly_rent_2nd,admin_cost_2nd,admin_actual_cost_2nd,vacant_2,contract_deposit_3rd,contract_monthly_rent_sum_3rd,contract_monthly_rent_3rd,selling_deposit_3rd,selling_monthly_rent_sum_3rd,selling_monthly_rent_3rd,admin_cost_3rd,admin_actual_cost_3rd,vacant_3,current_contract_date,current_contract_term,first_current_contract_date,invest_calculation_amt
20472,202212,None,충주자유시장,충청북도충주시,1000㎡초과10000㎡이하,330㎡초과1000㎡이하,1000㎡초과10000㎡이하,70초과80이하,300초과400이하,철근콘크리트구조,제1종근린생활시설,6~10층,지하1~5층,1996~2000년,설치,100㎡이하,일반상업지역,없음,10,200,8초과10이하,-,1,1층,임대계약면적,Q,863.0,66㎡초과100㎡이하,33㎡이하,100㎡초과330㎡이하,1,법인,1천만원초과5천만원이하,1백만원초과5백만원이하,10000원/㎡초과30000원/㎡이하,1천만원초과5천만원이하,1백만원초과5백만원이하,18800,1십만원이하,1십만원이하,0,1천만원초과5천만원이하,1백만원초과5백만원이하,10000원/㎡초과30000원/㎡이하,1천만원초과5천만원이하,1백만원초과5백만원이하,18800,1십만원이하,1십만원이하,0,1천만원초과5천만원이하,1백만원초과5백만원이하,10000원/㎡초과30000원/㎡이하,1천만원초과5천만원이하,1백만원초과5백만원이하,18800,1십만원이하,1십만원이하,0,2017,13~24개월,2016년1월이후,2860000
20473,202212,None,충주자유시장,충청북도충주시,1000㎡초과10000㎡이하,330㎡초과1000㎡이하,1000㎡초과10000㎡이하,70초과80이하,300초과400이하,철근콘크리트구조,제1종근린생활시설,6~10층,지하1~5층,1996~2000년,설치,100㎡이하,일반상업지역,없음,10,200,8초과10이하,-,1,지하1층,공실면적,J,591.0,33㎡이하,33㎡이하,33㎡이하,1,법인,0,0,0,1백만원초과5백만원이하,1십만원이하,3400,1십만원이하,1십만원이하,1,0,0,0,1백만원초과5백만원이하,1십만원이하,3400,1십만원이하,1십만원이하,1,0,0,0,1백만원초과5백만원이하,1십만원이하,3400,1십만원이하,1십만원이하,1,0,0,0,550000

In [17]:
### 3. DB INSERT
table = 'm1.aggregate_bld10'

# DB Connect
conn = psycopg2.connect(
    host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port=5439,
    dbname='dev',
    user='awsuser',
    password='cremaoAdmin1234qwer!!'
)

In [11]:
# df['base_ym']

In [12]:
# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)
    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

In [15]:
# Create a list of tuples from the dataframe values
tuples = [tuple(x) for x in df.to_numpy()]
# print(tuples)

# Comma-separated dataframe columns
cols = ','.join(list(df.columns))
# print(cols)

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# SQL query to execute
cursor = conn.cursor()
values = [cursor.mogrify(val, tup).decode('utf8') for tup in
          tuples]

query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)
# print(query)

try:
    cursor.execute(query, tuples)
    conn.commit()
except (Exception, psycopg2.DatabaseError) as error:
    print("Error: %s" % error)
    conn.rollback()
    cursor.close()
cursor.close()


# row count
print('Done')

Error: Statement is too large. Statement Size: 23242353 bytes. Maximum Allowed: 16777216 bytes

Done

In [18]:

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    while True:
        try:
            conn = psycopg2.connect(
                host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
                port=5439,
                dbname='dev',
                user='awsuser',
                password='cremaoAdmin1234qwer!!'
            )
            break
        except Exception as err:
            pass

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    tmp = pd.DataFrame()
    
    
# row count
print(len(df))

print('Done')

20474
Done