In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./per_floor_utility_ratio_db.csv')

In [3]:
df = df.drop(columns=['Unnamed: 0'])

In [4]:
df

,district_name,buld_gbn,floor_gbn,research_date,ratio_1b,ratio_1f,ratio_2f,ratio_3f,ratio_4f,ratio_5f,ratio_6f,ratio_11f,level_no_out
0,광화문,1,0,201901,29.523230,100.0,65.973998,58.788873,58.264324,58.629245,60.553385,67.474475,3
1,광화문,1,1,201901,37.500664,100.0,40.161934,37.871423,35.967582,37.292761,35.514995,NaN,3
2,광화문,1,2,201901,29.344986,100.0,67.214142,59.642578,59.172607,59.484525,61.173619,67.245746,3
3,광화문,2,1,201901,40.311512,100.0,48.253730,25.347186,21.651499,18.474950,20.805183,NaN,3
4,동대문,1,1,201901,37.451073,100.0,65.825984,58.483667,57.830284,56.600529,60.943456,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10974,창원월영동,3,1,202202,14.102186,100.0,39.371120,23.798808,19.482757,16.540577,15.496875,NaN,3
10975,창원의창구청,3,1,202202,19.320760,100.0,39.255914,34.878359,32.121797,NaN,NaN,NaN,3
10976,서귀포도심,4,1,202202,53.286604,100.0,40.673910,NaN,NaN,NaN,NaN,NaN,3
10977,중앙사거리,4,1,202202,NaN,100.0,51.511627,NaN,NaN,NaN,NaN,NaN,3
10978,수원역,4,1,202202,NaN,100.0,55.820247,NaN,NaN,NaN,NaN,NaN,3

In [13]:
df_202202 = df[df['research_date'] == 202202]

In [37]:
df_202202 = df_202202.reset_index(drop=True)

In [6]:
# 년, 분기로 나누고, 기존 날짜 컬럼 삭제
df['base_year'] = df['research_date'].astype(str).str[:4].astype(int)
df['base_quarter'] = df['research_date'].astype(str).str[-1:]
df['base_year'] = df['base_year'].astype(int)
df['base_quarter'] = df['base_quarter'].astype(int)

df = df.drop(columns=['research_date'])

In [7]:
df

,district_name,buld_gbn,floor_gbn,ratio_1b,ratio_1f,ratio_2f,ratio_3f,ratio_4f,ratio_5f,ratio_6f,ratio_11f,level_no_out,base_year,base_quarter
0,광화문,1,0,29.523230,100.0,65.973998,58.788873,58.264324,58.629245,60.553385,67.474475,3,2019,1
1,광화문,1,1,37.500664,100.0,40.161934,37.871423,35.967582,37.292761,35.514995,NaN,3,2019,1
2,광화문,1,2,29.344986,100.0,67.214142,59.642578,59.172607,59.484525,61.173619,67.245746,3,2019,1
3,광화문,2,1,40.311512,100.0,48.253730,25.347186,21.651499,18.474950,20.805183,NaN,3,2019,1
4,동대문,1,1,37.451073,100.0,65.825984,58.483667,57.830284,56.600529,60.943456,NaN,3,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10974,창원월영동,3,1,14.102186,100.0,39.371120,23.798808,19.482757,16.540577,15.496875,NaN,3,2022,2
10975,창원의창구청,3,1,19.320760,100.0,39.255914,34.878359,32.121797,NaN,NaN,NaN,3,2022,2
10976,서귀포도심,4,1,53.286604,100.0,40.673910,NaN,NaN,NaN,NaN,NaN,3,2022,2
10977,중앙사거리,4,1,NaN,100.0,51.511627,NaN,NaN,NaN,NaN,NaN,3,2022,2
10978,수원역,4,1,NaN,100.0,55.820247,NaN,NaN,NaN,NaN,NaN,3,2022,2

In [8]:
df_cmt = pd.read_csv('./quarterly_commercial_area_data_202209141230.csv')

In [57]:
type(df_202202['base_year'][0])

str

In [56]:
type(df_cmt['base_year'][0])

numpy.int64

In [9]:
# 병합
df_f = pd.merge(df,df_cmt, how='right', on=['district_name','base_year','base_quarter'])

In [11]:
# 병합 완성본
df_f.to_csv('./quarterly_commercial_area_data_201901~202202.csv', index=False, encoding='utf-8')

### per_floor_utility_ratio

In [19]:
df = pd.read_csv('./per_floor_utility_ratio_202209131449.csv')

In [20]:
df

,region_cd,region_nm,buld_gbn,floor_gbn,research_date,ratio_1b,ratio_1f,ratio_2f,ratio_3f,ratio_4f,ratio_5f,ratio_6f,ratio_11f,level_no_out
0,0000000,전체,1,0,201901,40.746862,100.0,59.783056,51.768170,50.709460,51.238921,55.515003,77.033302,1
1,0000000,전체,1,1,201901,37.762963,100.0,55.982847,46.216405,44.747003,43.384801,43.346696,NaN,1
2,0000000,전체,1,2,201901,36.936937,100.0,61.730913,53.281847,52.790895,53.982138,52.937381,61.656561,1
3,0000000,전체,2,1,201901,35.477690,100.0,43.810399,35.598138,36.708021,37.848170,41.158977,NaN,1
4,0000000,전체,3,1,201901,30.541175,100.0,38.978501,32.307383,29.584558,28.123643,28.868391,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12558,4800N244,창원월영동,3,1,202202,14.102186,100.0,39.371120,23.798808,19.482757,16.540577,15.496875,NaN,3
12559,4800N245,창원의창구청,3,1,202202,19.320760,100.0,39.255914,34.878359,32.121797,NaN,NaN,NaN,3
12560,5000102,서귀포도심,4,1,202202,53.286604,100.0,40.673910,NaN,NaN,NaN,NaN,NaN,3
12561,5000Y20N060,중앙사거리,4,1,202202,NaN,100.0,51.511627,NaN,NaN,NaN,NaN,NaN,3
12562,7000153,수원역,4,1,202202,NaN,100.0,55.820247,NaN,NaN,NaN,NaN,NaN,3

In [21]:
df['region_nm'].drop_duplicates()

0               전체
6               서울
10             광화문
14             동대문
18             남대문
           ...
11719          영통역
11736        증평광장로
11801          배방읍
11825    밀양원도심/삼문동
11830          평거동
Name: region_nm, Length: 396, dtype: object

In [22]:
df = df.rename(columns={'region_cd':'emd_cd','region_nm':'emd_nm'})

In [12]:
df.to_csv('./per_floor_utility_ratio.csv', encoding='utf-8', index=False)

In [23]:
df

,emd_cd,emd_nm,buld_gbn,floor_gbn,research_date,ratio_1b,ratio_1f,ratio_2f,ratio_3f,ratio_4f,ratio_5f,ratio_6f,ratio_11f,level_no_out
0,0000000,전체,1,0,201901,40.746862,100.0,59.783056,51.768170,50.709460,51.238921,55.515003,77.033302,1
1,0000000,전체,1,1,201901,37.762963,100.0,55.982847,46.216405,44.747003,43.384801,43.346696,NaN,1
2,0000000,전체,1,2,201901,36.936937,100.0,61.730913,53.281847,52.790895,53.982138,52.937381,61.656561,1
3,0000000,전체,2,1,201901,35.477690,100.0,43.810399,35.598138,36.708021,37.848170,41.158977,NaN,1
4,0000000,전체,3,1,201901,30.541175,100.0,38.978501,32.307383,29.584558,28.123643,28.868391,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12558,4800N244,창원월영동,3,1,202202,14.102186,100.0,39.371120,23.798808,19.482757,16.540577,15.496875,NaN,3
12559,4800N245,창원의창구청,3,1,202202,19.320760,100.0,39.255914,34.878359,32.121797,NaN,NaN,NaN,3
12560,5000102,서귀포도심,4,1,202202,53.286604,100.0,40.673910,NaN,NaN,NaN,NaN,NaN,3
12561,5000Y20N060,중앙사거리,4,1,202202,NaN,100.0,51.511627,NaN,NaN,NaN,NaN,NaN,3
12562,7000153,수원역,4,1,202202,NaN,100.0,55.820247,NaN,NaN,NaN,NaN,NaN,3

In [14]:
# region_cd 삭제 (우리 데이터와 매칭할 수 있는 코드가 아님)
df = df.drop(columns=['emd_cd'])

In [30]:
# 시도 전체 기준 데이터 제외 (동단위 데이터만 추출)
df = df[~df['emd_cd'].str.contains('00000')]

In [32]:
df = df.rename(columns={'emd_nm':'district_name'})

In [33]:
df

,emd_cd,district_name,buld_gbn,floor_gbn,research_date,ratio_1b,ratio_1f,ratio_2f,ratio_3f,ratio_4f,ratio_5f,ratio_6f,ratio_11f,level_no_out
10,0111113,광화문,1,0,201901,29.523230,100.0,65.973998,58.788873,58.264324,58.629245,60.553385,67.474475,3
11,0111113,광화문,1,1,201901,37.500664,100.0,40.161934,37.871423,35.967582,37.292761,35.514995,NaN,3
12,0111113,광화문,1,2,201901,29.344986,100.0,67.214142,59.642578,59.172607,59.484525,61.173619,67.245746,3
13,0111113,광화문,2,1,201901,40.311512,100.0,48.253730,25.347186,21.651499,18.474950,20.805183,NaN,3
14,0111116,동대문,1,1,201901,37.451073,100.0,65.825984,58.483667,57.830284,56.600529,60.943456,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12558,4800N244,창원월영동,3,1,202202,14.102186,100.0,39.371120,23.798808,19.482757,16.540577,15.496875,NaN,3
12559,4800N245,창원의창구청,3,1,202202,19.320760,100.0,39.255914,34.878359,32.121797,NaN,NaN,NaN,3
12560,5000102,서귀포도심,4,1,202202,53.286604,100.0,40.673910,NaN,NaN,NaN,NaN,NaN,3
12561,5000Y20N060,중앙사거리,4,1,202202,NaN,100.0,51.511627,NaN,NaN,NaN,NaN,NaN,3
12562,7000153,수원역,4,1,202202,NaN,100.0,55.820247,NaN,NaN,NaN,NaN,NaN,3

### commercial_area

In [17]:
df_c = pd.read_csv('./commercial_area_202209131518.csv')

In [305]:
df[~df['district_name'].isin(df_c['district_name'])].drop_duplicates('district_name')

,emd_cd,district_name,buld_gbn,floor_gbn,research_date,ratio_1b,ratio_1f,ratio_2f,ratio_3f,ratio_4f,ratio_5f,ratio_6f,ratio_11f,level_no_out
50,0199000,기타,1,1,201901,31.640359,100.0,52.346697,40.282894,38.832053,36.554648,35.707067,NaN,2
227,1600931,제주,2,1,201901,34.933518,100.0,48.468681,40.605837,39.759722,47.569222,54.306634,NaN,3

In [306]:
df.to_csv('./per_floor_utility_ratio_dw.csv')

In [299]:
df_c[df_c['district_name'].str.contains('영등포')]

,id,created_at,updated_at,district_name,polygon_area,sido_cd
190,1827,2022-08-04 07:27:54,2022-08-04 07:27:54,영등포역,MULTIPOLYGON (((126.90855715360483 37.52833994...,11

In [289]:
df[df['district_name'].str.contains('청주')]

,emd_cd,district_name,buld_gbn,floor_gbn,research_date,ratio_1b,ratio_1f,ratio_2f,ratio_3f,ratio_4f,ratio_5f,ratio_6f,ratio_11f,level_no_out
144,1000971,청주,2,1,201901,17.779014,100.0,37.696829,20.335003,12.723313,14.282732,NaN,NaN,3
313,4300103,청주,4,1,201901,17.958401,100.0,36.425281,NaN,NaN,NaN,NaN,NaN,3
316,4300115,청주고속버스터미널,3,1,201901,NaN,100.0,40.583642,33.294443,31.793734,26.296353,31.770286,NaN,3
528,1000971,청주,2,1,201902,17.740207,100.0,37.652391,20.278327,12.619039,14.310660,NaN,NaN,3
697,4300103,청주,4,1,201902,17.906070,100.0,36.124357,NaN,NaN,NaN,NaN,NaN,3
700,4300115,청주고속버스터미널,3,1,201902,NaN,100.0,39.967463,32.788936,31.311011,25.897096,30.849857,NaN,3
912,1000971,청주,2,1,201903,17.680823,100.0,37.637245,20.256337,12.627838,14.320639,NaN,NaN,3
1081,4300103,청주,4,1,201903,20.559680,100.0,38.684531,NaN,NaN,NaN,NaN,NaN,3
1084,4300115,청주고속버스터미널,3,1,201903,NaN,100.0,40.027087,32.837851,31.357722,25.935730,30.895879,NaN,3
1296,1000971,청주,2,1,201904,17.632224,100.0,37.657193,20.255520,12.602797,14.279928,NaN,NaN,3
1465,4300103,청주,4,1,201904,20.403771,100.0,39.202258,NaN,NaN,NaN,NaN,NaN,3
1468,4300115,청주고속버스터미널,3,1,201904,NaN,100.0,39.763442,32.621559,31.151179,27.627571,30.692378,NaN,3
1691,1000971,청주,2,1,202001,20.144086,100.0,36.485315,20.727156,12.576701,12.077491,NaN,NaN,3
1869,4300103,청주,4,1,202001,15.480134,100.0,44.528723,NaN,NaN,NaN,NaN,NaN,3
1872,4300115,청주고속버스터미널,3,1,202001,NaN,100.0,41.492663,37.617977,34.659450,31.809776,34.040939,NaN,3
2096,1000971,청주,2,1,202002,20.144755,100.0,36.522350,20.719458,12.550345,12.047484,NaN,NaN,3
2274,4300103,청주,4,1,202002,15.651690,100.0,46.382666,NaN,NaN,NaN,NaN,NaN,3
2277,4300115,청주고속버스터미널,3,1,202002,NaN,100.0,41.474134,37.603365,34.659520,31.792857,34.009853,NaN,3
2501,1000971,청주,2,1,202003,20.135160,100.0,36.523170,20.675462,12.453398,11.914716,NaN,NaN,3
2679,4300103,청주,4,1,202003,15.728710,100.0,46.082968,NaN,NaN,NaN,NaN,NaN,3
2682,4300115,청주고속버스터미널,3,1,202003,NaN,100.0,41.384944,37.526890,34.616212,31.719037,33.904810,NaN,3
2906,1000971,청주,2,1,202004,20.123434,100.0,36.518215,20.647285,12.393584,11.852381,NaN,NaN,3
3084,4300103,청주,4,1,202004,15.767082,100.0,45.937868,NaN,NaN,NaN,NaN,NaN,3
3087,4300115,청주고속버스터미널,3,1,202004,NaN,100.0,41.347323,37.497200,34.616208,31.684711,33.841841,NaN,3
3323,1000971,청주성안길,2,1,202101,19.918133,100.0,36.703879,20.811757,12.806827,12.033010,NaN,NaN,3
3531,4300103,청주성안길,4,1,202101,15.019768,100.0,45.496823,NaN,NaN,NaN,NaN,NaN,3
3534,4300115,청주고속버스터미널,3,1,202101,NaN,100.0,41.213358,37.626084,34.169776,31.860403,31.802680,NaN,3
3773,1000971,청주성안길,2,1,202102,19.940670,100.0,36.726648,20.815817,12.804312,12.039572,NaN,NaN,3
3981,4300103,청주성안길,4,1,202102,15.010040,100.0,45.532391,NaN,NaN,NaN,NaN,NaN,3
3984,4300115,청주고속버스터미널,3,1,202102,NaN,100.0,41.072248,37.545803,34.150678,31.759306,31.619351,NaN,3
4223,1000971,청주성안길,2,1,202103,19.920059,100.0,36.823431,20.696578,12.781684,12.027770,NaN,NaN,3
4431,4300103,청주성안길,4,1,202103,15.133732,100.0,45.623996,NaN,NaN,NaN,NaN,NaN,3
4434,4300115,청주고속버스터미널,3,1,202103,NaN,100.0,41.489696,37.847769,34.215933,32.845293,31.615870,NaN,3
4673,1000971,청주성안길,2,1,202104,19.907986,100.0,36.847922,20.690292,12.730854,11.956969,NaN,NaN,3
4881,4300103,청주성안길,4,1,202104,15.189067,100.0,45.603902,NaN,NaN,NaN,NaN,NaN,3
4884,4300115,청주고속버스터미널,3,1,202104,NaN,100.0,39.384957,37.843681,34.223836,32.852697,31.609764,NaN,3
5132,1000971,청주성안길,2,1,202201,21.210831,100.0,37.980638,21.767127,13.800911,12.470186,NaN,NaN,3
5344,4300103,청주성안길,4,1,202201,13.371896,100.0,42.299114,NaN,NaN,NaN,NaN,NaN,3
5347,4300115,청주고속버스터미널,3,1,202201,NaN,100.0,39.768527,36.953193,34.058851,33.287562,31.457400,NaN,3
5595,1000971,청주성안길,2,1,202202,21.216888,100.0,37.991484,21.773343,13.804852,12.473747,NaN,NaN,3
5807,4300103,청주성안길,4,1,202202,13.436980,100.0,42.504992,NaN,NaN,NaN,NaN,NaN,3
5810,4300115,청주고속버스터미널,3,1,202202,NaN,100.0,39.793189,36.976109,34.079972,33.308205,31.476907,NaN,3
6258,4300116,청주지방법원,3,1,201901,NaN,100.0,38.921990,28.042954,19.031837,19.414190,17.725806,NaN,3
6693,4300116,청주지방법원,3,1,201902,NaN,100.0,38.885845,28.125469,19.158370,19.543265,17.740613,NaN,3
7129,4300116,청주지방법원,3,1,201903,NaN,100.0,38.646767,28.170005,19.233125,19.619522,17.721169,NaN,3
7565,4300116,청주지방법원,3,1,201904,NaN,100.0,38.425581,28.290716,19.360357,19.749309,17.764020,NaN,3
8025,4300116,청주지방법원,3,1,202001,NaN,100.0,39.533149,31.863283,26.754404,25.969838,25.075753,NaN,3
8487,4300116,청주지방법원,3,1,202002,NaN,100.0,39.526809,31.860434,26.730747,25.998063,25.055069,NaN,3
8949,4300116,청주지방법원,3,1,202003,NaN,100.0,39.419411,31.767579,26.567535,25.921901,24.944886,NaN,3
9411,4300116,청주지방법원,3,1,202004,NaN,100.0,39.351435,31.678649,26.470273,25.892670,24.818798,NaN,3
9913,4300116,청주지방법원,3,1,202101,NaN,100.0,41.212343,30.268942,27.925387,27.641939,24.306297,NaN,3
10424,4300116,청주지방법원,3,1,202102,NaN,100.0,41.179073,30.219856,27.872791,27.866393,24.302583,NaN,3
10935,4300116,청주지방법원,3,1,202103,NaN,100.0,41.241142,30.504383,28.135220,28.128762,24.423942,NaN,3
11446,4300116,청주지방법원,3,1,202104,NaN,100.0,41.247526,30.490137,28.139575,28.133116,24.427722,NaN,3
11970,4300116,청주지방법원,3,1,202201,NaN,100.0,43.074831,34.927130,30.901612,28.069109,24.254568,NaN,3
12494,4300116,청주지방법원,3,1,202202,NaN,100.0,43.131047,34.932006,30.948165,28.111395,24.291107,NaN,3

In [302]:
# 이름 변경
idx = df[df['district_name']=='영등포'].index
df['district_name'].loc[idx] = '영등포역'
df.loc[idx]

C:\Users\duPar\AppData\Local\Temp\ipykernel_14584\473883954.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['district_name'].loc[idx] = '영등포역'

,emd_cd,district_name,buld_gbn,floor_gbn,research_date,ratio_1b,ratio_1f,ratio_2f,ratio_3f,ratio_4f,ratio_5f,ratio_6f,ratio_11f,level_no_out
46,0117N17,영등포역,2,1,201901,30.263422,100.0,45.451824,35.019124,31.670619,30.391437,45.831263,NaN,2
176,1117N114,영등포역,4,1,201901,104.331312,100.0,71.805934,NaN,NaN,NaN,NaN,NaN,2
430,0117N17,영등포역,2,1,201902,30.195553,100.0,45.204037,34.922798,31.730773,30.335592,45.794617,NaN,2
560,1117N114,영등포역,4,1,201902,103.994785,100.0,72.463276,NaN,NaN,NaN,NaN,NaN,2
814,0117N17,영등포역,2,1,201903,30.048354,100.0,45.041920,34.833543,31.595167,29.932881,45.245966,NaN,2
944,1117N114,영등포역,4,1,201903,103.676768,100.0,73.290758,NaN,NaN,NaN,NaN,NaN,2
1198,0117N17,영등포역,2,1,201904,30.028606,100.0,44.692462,34.822229,31.606047,30.497468,45.624973,NaN,2
1328,1117N114,영등포역,4,1,201904,103.226981,100.0,72.972797,NaN,NaN,NaN,NaN,NaN,2
1583,0117N17,영등포역,2,1,202001,31.426461,100.0,45.171698,34.434473,32.016778,31.234349,32.273257,NaN,2
1725,1117N114,영등포역,4,1,202001,95.076256,100.0,65.139455,NaN,NaN,NaN,NaN,NaN,2
1988,0117N17,영등포역,2,1,202002,31.749121,100.0,45.307663,34.585193,32.179901,31.648141,33.046622,NaN,2
2130,1117N114,영등포역,4,1,202002,95.129608,100.0,65.021626,NaN,NaN,NaN,NaN,NaN,2
2393,0117N17,영등포역,2,1,202003,31.748638,100.0,45.294834,34.668384,32.312969,31.778633,33.205774,NaN,2
2535,1117N114,영등포역,4,1,202003,95.164840,100.0,65.030401,NaN,NaN,NaN,NaN,NaN,2
2798,0117N17,영등포역,2,1,202004,31.883967,100.0,45.468343,34.832276,32.411270,31.895578,33.366430,NaN,2
2940,1117N114,영등포역,4,1,202004,95.030023,100.0,64.944125,NaN,NaN,NaN,NaN,NaN,2
3209,0117N17,영등포역,2,1,202101,33.664579,100.0,47.331817,36.548067,34.438762,33.230312,33.914898,NaN,2
3358,1117N114,영등포역,4,1,202101,94.595033,100.0,66.076814,NaN,NaN,NaN,NaN,NaN,2
3659,0117N17,영등포역,2,1,202102,33.815080,100.0,47.512780,36.767070,34.575504,33.328261,33.967621,NaN,2
3808,1117N114,영등포역,4,1,202102,95.003022,100.0,66.356124,NaN,NaN,NaN,NaN,NaN,2
4109,0117N17,영등포역,2,1,202103,33.832796,100.0,47.508836,36.548228,34.476241,33.234373,34.095210,NaN,2
4258,1117N114,영등포역,4,1,202103,95.189571,100.0,66.513456,NaN,NaN,NaN,NaN,NaN,2
4559,0117N17,영등포역,2,1,202104,33.786656,100.0,47.530324,36.533184,34.486082,33.234490,34.081814,NaN,2
4708,1117N114,영등포역,4,1,202104,94.089862,100.0,66.600658,NaN,NaN,NaN,NaN,NaN,2
5011,0117N17,영등포역,2,1,202201,35.795129,100.0,48.369588,36.414049,34.023897,32.874237,34.387639,NaN,2
5167,1117N114,영등포역,4,1,202201,90.961825,100.0,64.834417,NaN,NaN,NaN,NaN,NaN,2
5474,0117N17,영등포역,2,1,202202,35.957325,100.0,48.552091,36.646025,34.255266,32.999685,34.483946,NaN,2
5630,1117N114,영등포역,4,1,202202,90.767537,100.0,64.325298,NaN,NaN,NaN,NaN,NaN,2
6089,1117N198,영등포역,3,1,201901,33.051383,100.0,53.261571,43.934966,36.082377,32.695496,36.491787,NaN,2
6524,1117N198,영등포역,3,1,201902,33.085293,100.0,53.309187,43.805537,36.626377,32.468454,36.391682,NaN,2
6959,1117N198,영등포역,3,1,201903,33.033025,100.0,53.361038,43.792935,36.616934,32.464077,36.237919,NaN,2
7395,1117N198,영등포역,3,1,201904,33.021360,100.0,53.468657,43.777471,36.611511,32.452613,36.215190,NaN,2
7842,1117N198,영등포역,3,1,202001,32.250046,100.0,56.592812,43.728107,36.467623,32.998602,35.920962,NaN,2
8304,1117N198,영등포역,3,1,202002,32.252870,100.0,56.619620,43.742962,36.481364,33.010078,35.912974,NaN,2
8766,1117N198,영등포역,3,1,202003,32.223555,100.0,56.610984,43.747273,36.467386,32.977867,36.010113,NaN,2
9228,1117N198,영등포역,3,1,202004,32.219622,100.0,56.626707,43.676507,36.446928,33.023764,36.066102,NaN,2
9712,1117N198,영등포역,3,1,202101,28.302635,100.0,54.144187,43.269326,35.378982,32.150335,35.150800,NaN,2
10223,1117N198,영등포역,3,1,202102,28.273607,100.0,54.181802,43.291644,35.353535,32.170119,35.181566,NaN,2
10734,1117N198,영등포역,3,1,202103,28.289119,100.0,54.231081,43.305858,35.368425,32.187867,35.232767,NaN,2
11245,1117N198,영등포역,3,1,202104,28.292734,100.0,54.193393,43.405102,35.369427,32.264403,35.195442,NaN,2
11763,1117N198,영등포역,3,1,202201,28.949043,100.0,55.286111,44.286992,36.614130,32.214960,35.495570,NaN,2
12287,1117N198,영등포역,3,1,202202,28.951798,100.0,55.228901,44.280400,36.623974,32.211619,35.487077,NaN,2

In [318]:
idx = df[df['district_name']=='제주'].index

In [319]:
len(idx)

16

In [320]:
df = df.drop(idx,axis=0)
# df.loc[idx]

In [323]:
df = df.drop(columns=['emd_cd'])

In [325]:
df.to_csv('./per_floor_utility_ratio_db.csv')

In [326]:
df

,district_name,buld_gbn,floor_gbn,research_date,ratio_1b,ratio_1f,ratio_2f,ratio_3f,ratio_4f,ratio_5f,ratio_6f,ratio_11f,level_no_out
10,광화문,1,0,201901,29.523230,100.0,65.973998,58.788873,58.264324,58.629245,60.553385,67.474475,3
11,광화문,1,1,201901,37.500664,100.0,40.161934,37.871423,35.967582,37.292761,35.514995,NaN,3
12,광화문,1,2,201901,29.344986,100.0,67.214142,59.642578,59.172607,59.484525,61.173619,67.245746,3
13,광화문,2,1,201901,40.311512,100.0,48.253730,25.347186,21.651499,18.474950,20.805183,NaN,3
14,동대문,1,1,201901,37.451073,100.0,65.825984,58.483667,57.830284,56.600529,60.943456,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12558,창원월영동,3,1,202202,14.102186,100.0,39.371120,23.798808,19.482757,16.540577,15.496875,NaN,3
12559,창원의창구청,3,1,202202,19.320760,100.0,39.255914,34.878359,32.121797,NaN,NaN,NaN,3
12560,서귀포도심,4,1,202202,53.286604,100.0,40.673910,NaN,NaN,NaN,NaN,NaN,3
12561,중앙사거리,4,1,202202,NaN,100.0,51.511627,NaN,NaN,NaN,NaN,NaN,3
12562,수원역,4,1,202202,NaN,100.0,55.820247,NaN,NaN,NaN,NaN,NaN,3